<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Add Role Master</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Role Master</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <div class="card">
        <form [formGroup]="AddRoleMasterFormGroup" class="form-horizontal">
          <div class="card">
            <div class="card-body">
              <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="txtRoleName" class="form-label">Role Name <span style="color:red;">*</span></label>
                  <input type="text" class="form-control" id="txtRoleName" name="txtRoleName" formControlName="txtRoleName" [(ngModel)]="request.RoleName">

                  <div *ngIf="isSubmitted&&form.txtRoleName.errors" class="text-danger">
                    <p *ngIf="form.txtRoleName.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="chkActiveStatus" class="form-label">Status</label>
                  <div class="form-check form-switch d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" id="Active" [(ngModel)]="request.ActiveStatus" formControlName="chkActiveStatus">
                  </div>
                </div>

                <div class="card-footer text-end">
                  <button type="submit" (click)="SaveData()" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                  <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>


      <div class="card mb-0">
        <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
          <b><i class="bi bi-table"></i> Add Role Master List </b>
          <div class="d-flex align-items-center">
            <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
              <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
              <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
            </div>
            <div class="d-flex align-items-center table-filter mr-15">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="tabellist">
              <thead>
                <tr>
                  <th>
                    Sr.No.
                  </th>
                  <th>
                   Role Name
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of AddRoleMasterList| tableSearchFilter:searchText;let idx=index; ">
                  <td>
                    {{idx+1}}
                  </td>
                  <td>
                    {{row.RoleName}}
                  </td>
                  <td>
                    {{row.ActiveDeactive}}
                  </td>
                  <td>
                    <div class="d-flex">
                      <button type="button" (click)="Edit_OnClick(row.RoleID)" [attr.disabled]="isDisabledGrid ? true : null" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" (click)="DelAddRoleMasterDetail(row.RoleID)"><i class="fa fa-trash-o"></i></button>
                      <button title="Set User Role Right" type="button" class="btn btn-secondary" (click)="SetUserRoleRights(row.RoleID)"><i class="bi bi-gear"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<span style="margin-left:20px !important;cursor:pointer !important" (click)="open(mymodal,'0')" title="View Deatils">
  Open MD
</span>

<ng-template #mymodal let-modal style="width:1024px !important">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Voucher Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0rem !important;">
    <div class="fixTableHead" style="height: auto !important;">
      <table id="LedgerEntryDetails_RoomDetails" class="table table-bordered table-striped dataTable dtr-inline table-head-fixed text-nowrap">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Voucher Date</th>
            <th>Particular</th>
            <th>Voucher Type</th>
            <th>Voucher No.</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
          </tr>
        </thead>
         
      </table>
      <br />
    </div>



  </div>
</ng-template>
