<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Guidelines/Requirements</h3>
    </div>

    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Guidelines</a></li>
          <li class="breadcrumb-item active" aria-current="page">Post Basic BS.c (N) College Of Nursing</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12  d-flex justify-content-center TopStripedMenuBar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb TopStripedMenu">
          <li class="breadcrumb-item active">
            <a routerLink="../postbasicbscncollegeofnursing">Post Basic BS.c (N) College Of Nursing</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="../openbscncollegeofnursing">Open BSc (N) College Of Nursing</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="../mscnursingprogramme">MSc Nursing Programme</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="../gnmschoolofnursing">GNM School Of Nursing</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-capitalize">
        guidelines and minimum requirements to establish post
        basic B.Sc. (n) college of nursing
      </h3>
    </div>
    <div class="col-md-12">
      <div class="tabUl1 d-block w-100">
        <ul>
          <li class="tabs-Link tabComplete">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="LandInformation1">
              <i class="bi bi-house-door"></i>
              <span>Land Information</span>
            </a>
          </li>
          <li class="tabs-Link tabOnProcess">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="Facility1">
              <i class="bi bi-emoji-smile"></i>
              <span>Facility</span>
            </a>
          </li>
          <li class="tabs-Link tabActive">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="RequiredDocument1">
              <i class="bi bi-card-checklist"></i>
              <span>Required Document</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="RoomDetails1">
              <i class="fa fa-building-o"></i>
              <span>Room Details</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="OtherInformation1">
              <i class="bi bi-card-list"></i>
              <span>Other Information</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="BuildingDocuments1">
              <i class="bi bi-hospital"></i>
              <span>Building Documents</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="StaffDetails1">
              <i class="bi bi-people"></i>
              <span>Staff Details</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="AcademicInformation1">
              <i class="bi bi-file-earmark-text"></i>
              <span>Academic Information</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="OLD_NOC_Details1">
              <i class="fa fa-copy"></i>
              <span>OLD NOC Details</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="OtherDocument1">
              <i class="fa fa-file-o"></i>
              <span>Other Document</span>
            </a>
          </li>
          <li class="tabs-Link">
            <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="FarmLandDetails1">
              <i class="bi bi-stack"></i>
              <span>Farm Land Details</span>
            </a>
          </li>

        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="card tabCard1 mb-0" id="LandInformation1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Land Information</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card tabCard1 d-none mb-0" id="Facility1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Facility</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card tabCard1 d-none mb-0" id="RequiredDocument1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Required Document</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card d-none tabCard1 mb-0" id="RoomDetails1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Room Details</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card d-none tabCard1 mb-0" id="OtherInformation1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Other Information</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card tabCard1 d-none mb-0" id="BuildingDocuments1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Building Documents</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card tabCard1 d-none mb-0" id="StaffDetails1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Staff Details</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card d-none tabCard1 mb-0" id="AcademicInformation1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Academic Information</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card d-none tabCard1 mb-0" id="OLD_NOC_Details1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; OLD NOC Details</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>

      <div class="card d-none tabCard1 mb-0" id="OtherDocument1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Other Document</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <div class="card d-none tabCard1 mb-0" id="FarmLandDetails1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Farm Land Details</b>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
