<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-7 d-flex justify-content-start align-items-center flex-wrap">
      <h3 class="me-2">Statistics Preview</h3>( <span style="color:forestgreen;font-size:12px;font-weight:600">{{CollegeName}}</span> )
    </div>
    <div class="col-md-5 d-flex justify-content-end align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Statistics</a></li>
          <li class="breadcrumb-item active" aria-current="page">Statistics Preview</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">


      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i> Basic Details</b>
            </div>
            <div class="card-body">
              <app-basic-details></app-basic-details>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i> Basic Details</b>
            </div>
            <div class="card-body">
              <app-basic-details></app-basic-details>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Officers Details</b>
            </div>
            <div class="card-body">
              <app-officers-details></app-officers-details>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Address</b>
            </div>
            <div class="card-body">
              <app-address></app-address>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Residential Facility</b>
            </div>
            <div class="card-body">
              <app-residential-facility></app-residential-facility>
            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Regional Centers</b>
            </div>
            <div class="card-body">
              <app-regional-centers></app-regional-centers>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Off-Shore Center</b>
            </div>
            <div class="card-body">
              <app-off-shore-center></app-off-shore-center>
            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Faculty</b>
            </div>
            <div class="card-body">
              <app-faculty></app-faculty>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-table"></i>Department</b>
            </div>
            <div class="card-body">
              <app-dtestatistics-department></app-dtestatistics-department>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College'  || SelectedCollegeEntryType=='Polytechnic'  || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span *ngIf="SelectedCollegeEntryType=='University'"> Regular Mode</span>
                <span *ngIf="SelectedCollegeEntryType=='College'"> Details of Programme</span>
                <span *ngIf="SelectedCollegeEntryType=='Polytechnic'">Regular Programme Details</span>
                <span *ngIf="SelectedCollegeEntryType=='Standalone'">Regular Programme Details</span>
              </b>
            </div>
            <div class="card-body">
              <app-regular-mode></app-regular-mode>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span *ngIf="SelectedCollegeEntryType=='University'">Distance Mode</span>
                <span *ngIf="SelectedCollegeEntryType=='Polytechnic'">Distance Programme Details</span>
                <span *ngIf="SelectedCollegeEntryType=='Standalone'">Distance Programme Details</span>
              </b>
            </div>
            <div class="card-body">
              <app-distance-mode></app-distance-mode>
            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span *ngIf="SelectedCollegeEntryType=='University'"> Student Enrollment Regular Mode</span>
                <span *ngIf="SelectedCollegeEntryType=='College'"> Details of Student Enrollment</span>
                <span *ngIf="SelectedCollegeEntryType=='Polytechnic'"> Regular Student Enrollment</span>
                <span *ngIf="SelectedCollegeEntryType=='Standalone'"> Regular Student Enrollment</span>
              </b>
            </div>
            <div class="card-body">
              <app-student-enrollment-regular-mode></app-student-enrollment-regular-mode>
            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="SelectedDepartmentID==4  && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntry_StatisticsEntryData['StudentEnrlDistanceMode']==0"></span>
                <span *ngIf="SelectedCollegeEntryType=='University'">Student Enrollment Distance Mode</span>
                <span *ngIf="SelectedCollegeEntryType=='Polytechnic'">Distance Student Enrollment</span>
                <span *ngIf="SelectedCollegeEntryType=='Standalone'">Distance Student Enrollment</span>
              </b>
            </div>
            <div class="card-body">
              <app-student-enrollment-distance-mode></app-student-enrollment-distance-mode>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Other Minority Breakup</span>
              </b>
            </div>
            <div class="card-body">
              <!--<app-student-enrollment-regular-mode></app-student-enrollment-regular-mode>-->
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Distance Other Minority Breakup</span>
              </b>
            </div>
            <div class="card-body">
              <!--<app-student-enrollment-regular-mode></app-student-enrollment-regular-mode>-->
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Regional Centre Distance Mode</span>
              </b>
            </div>
            <div class="card-body">
              <app-regional-centre-distance-mode></app-regional-centre-distance-mode>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Pvt. External Mode</span>
              </b>
            </div>
            <div class="card-body">
              <app-private-external-mode></app-private-external-mode>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span *ngIf="SelectedCollegeEntryType=='University'">Regu Foreign Stu Enrolment</span>
                <span *ngIf="SelectedCollegeEntryType=='College' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone'">Foreign Student Enrollment</span>
              </b>
            </div>
            <div class="card-body">
              <app-regular-foreign-student-enrolment></app-regular-foreign-student-enrolment>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College'  || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span *ngIf="SelectedCollegeEntryType=='University'">Examination Results Regular</span>
                <span *ngIf="SelectedCollegeEntryType=='College'">Examination Result</span>
                <span *ngIf="SelectedCollegeEntryType=='Polytechnic'">Regular Examination Result</span>
                <span *ngIf="SelectedCollegeEntryType=='Standalone'">Regular Examination Result</span>
              </b>
            </div>
            <div class="card-body">
              <app-examination-results-regular></app-examination-results-regular>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span *ngIf="SelectedCollegeEntryType=='University'">Examination Results Distance</span>
                <span *ngIf="SelectedCollegeEntryType=='Polytechnic'">Distance Examination Results</span>
                <span *ngIf="SelectedCollegeEntryType=='Standalone'">Distance Examination Results</span>
              </b>
            </div>
            <div class="card-body">
              <app-examination-results-distance></app-examination-results-distance>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Exam Results Regional Center</span>
              </b>
            </div>
            <div class="card-body">
              <app-exam-results-regional-center></app-exam-results-regional-center>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Exam Results Pvt. External</span>
              </b>
            </div>
            <div class="card-body">
              <app-exam-results-private-external></app-exam-results-private-external>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4 && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' ||   SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Placement Details</span>
              </b>
            </div>
            <div class="card-body">
              <app-placement-details></app-placement-details>
            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="SelectedDepartmentID==4  && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' ||   SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Teaching Staff</span>
              </b>
            </div>
            <div class="card-body">
              <app-dtestatistics-staff></app-dtestatistics-staff>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4  && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' ||   SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Non Teaching</span>
              </b>
            </div>
            <div class="card-body">
              <app-dtestatistics-non-teaching></app-dtestatistics-non-teaching>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4  && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' ||   SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Financial Details</span>
              </b>
            </div>
            <div class="card-body">
              <app-financial-details></app-financial-details>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="SelectedDepartmentID==4  && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' ||   SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Infrastructure Details</span>
              </b>
            </div>
            <div class="card-body">
              <app-infrastructure-details></app-infrastructure-details>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="SelectedDepartmentID==4  && (SelectedCollegeEntryType=='University' || SelectedCollegeEntryType=='College' ||   SelectedCollegeEntryType=='Polytechnic' || SelectedCollegeEntryType=='Standalone')">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Scholarship,Fellowship,Loan,Acc</span>
              </b>
            </div>
            <div class="card-body">
              <app-scholarship-fellowship-loan-acc></app-scholarship-fellowship-loan-acc>
            </div>
          </div>
        </div>
      </div>

      <div class="row"*ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType=='University'">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <b>
                <i class="bi bi-table"></i>
                <span>Regulatory Information</span>
              </b>
            </div>
            <div class="card-body">
              <app-regulatory-information></app-regulatory-information>
            </div>
          </div>
        </div>
      </div>
       

    </div>
  </div>
</div>
