<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Defaulter College</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Defaulter College</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">

  <div class="card">
    <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
      <b><i class="bi bi-table"></i>Status wise Application Count</b>
      <div class="d-flex align-items-center table-filter mr-15">
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2" *ngFor="let row of ApplicationCountList let idx=index;">
          <b>{{row.ApplicationStatus}} : - </b>{{row.TotalApplication}}
        </div>
      </div>
    </div>

  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <b><i class="bi bi-table"></i> Search Defaulter</b>
      <div class="d-flex d-flex justify-content-end align-items-center">
        <button class="btn btn-outline-dark btn-sm ms-3" type="button" onclick="js_FilterCollapse(this)"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="cardBodyCollape" style="display:none">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
            <label for="ddlSearchbyApplicationStatus" class="form-label">Search By Application Status:</label>
            <select class="form-select" id="ddlSearchbyApplicationStatus" name="ddlSearchbyApplicationStatus" [(ngModel)]="request.ApplicationStatus">
              <option value="All">All</option>
              <option value="Pending">Pending</option>
              <option value="Approve">Approve</option>
              <option value="Reject">Reject</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button type="submit" (click)="GetApplicationList()" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Search</button>
       </div>
    </div>
  </div>
  <div class="card mb-0">
    <div class="card-header">
      <b><i class="bi bi-table"></i> Defaulter College List </b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3 searchbox">
          <i class="bi bi-search search"></i>
          <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" id="txtsearchText" name="txtsearchText" />

        </div>
      </div>
    </div>
    <div class="table-responsive" style="height: calc(100vh - 250px) !important;">
      <table class="table table-hover table-striped-columns">
        <thead>
          <tr>
            <th>Action</th>
            <th>Sr. No.</th>
            <th>Status</th>
            <th>Have you ever applied on NOC portal</th>
            <th>क्या आप PNOC प्राप्त हैं</th>
            <th>Last Application Number</th>
            <th>Submitted Application Date</th>
            <th>College Name</th>
            <th *ngIf="sSOLoginDataModel.RoleID==10">Level 1 Officer</th>

          </tr>
        </thead>
        <tbody *ngIf="DefaulterCollegeListData !=null && DefaulterCollegeListData.length>0">

          <tr *ngFor="let row of DefaulterCollegeListData  | tableSearchFilter:searchText; let idx=index;">
            <td>
              <button type="button" class="btn btn-sm btn-primary" title="View Details" (click)="ViewDetails(mymodaldetails,row.RequestID)"><i class="fa fa-eye"></i></button>
              <button *ngIf="sSOLoginDataModel.RoleID==19" type="button" class="btn btn-sm btn-info" title="Add Penalty" (click)="OpenPenaltyModel(Penaltymodel,row.RequestID)"><i class="fa fa-edit"></i></button>
              <button *ngIf="sSOLoginDataModel.RoleID==10 && row.ApplicationStatus!='Pending'" type="button" class="btn btn-sm btn-info" title="View Penalty" (click)="OpenPenaltyModel(Penaltymodel,row.RequestID)"><i class="fa fa-eye"></i></button>
            </td>
            <td>{{idx+1}}</td>
            <td>{{row.ApplicationStatus}}</td>
            <td>{{row.EverAppliedNOC}}</td>
            <td>{{row.IsPNOC}}</td>
            <td>{{row.LastApplicationNo}}</td>
            <td>{{row.LastApplicationSubmittedDate}}</td>
            <td>{{row.CollegeName}}</td>
            <td *ngIf="sSOLoginDataModel.RoleID==10">{{row.LevelOneOfficer}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
<!--model-->
<ng-template #mymodaldetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-applynocpayment-title" style="font-size: 17px; font-weight: 600 !important;">
      Defaulter College Request Details
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-loader></app-loader>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <b>Personal Detail</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-4 float-end">
            <input type="button" value="Preview Download PDF" class="btn btn-sm btn-primary" (click)="btnSavePDF_Click()" />
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns text-left" id="DefaulterPersonalDetails" #content>
              <thead>
                <tr>
                  <td colspan="3" style="font-weight: 800;font-size: 18px;">
                    <b><i class="bi bi-table"></i>&nbsp;Personal Detail</b>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label>Division :- {{DefaulterCollegeDetailsData.DivisionName}}</label>
                  </td>
                  <td>
                    <label>District :- {{DefaulterCollegeDetailsData.DistrictName}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Have you ever applied on NOC portal :- {{DefaulterCollegeDetailsData.EverAppliedNOC}}</label>
                  </td>
                  <td>
                    <label *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='Yes'">Last Application Number :- {{DefaulterCollegeDetailsData.LastApplicationNo}}</label>
                    <br /><label *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='Yes'">Submitted Application Date  :- {{DefaulterCollegeDetailsData.LastApplicationSubmittedDate}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Are you a PNOC recipient? :- {{DefaulterCollegeDetailsData.IsPNOC}}</label>
                  </td>
                  <td>
                    <label *ngIf="DefaulterCollegeDetailsData.IsPNOC=='Yes'">Are any of your cases operated in the TNOC level? :- {{DefaulterCollegeDetailsData.CaseOperatedTNOCLevel}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>What is the last session of TNOC for the subjects receiving no-objection? :- {{DefaulterCollegeDetailsData.LastSessionOfTNOC}}</label>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='No'">
                  <td>
                    <label>College Name :- {{DefaulterCollegeDetailsData.CollegeName}}</label>
                  </td>
                  <td>
                    <!--<label>College Name in Hindi :- {{DefaulterCollegeDetailsData.CollegeNameHi}}</label>-->
                  </td>
                </tr>
                <tr *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='No'">
                  <td>
                    <label>College Email Address :- {{DefaulterCollegeDetailsData.CollegeEmail}}</label>
                  </td>
                  <td>
                    <label>College Mobile Number :- {{DefaulterCollegeDetailsData.CollegeMobileNo}}</label>
                  </td>
                </tr>
                <tr *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='No'">
                  <td>
                    <label>College Type :- {{DefaulterCollegeDetailsData.CollegeType}}</label>
                  </td>
                  <td>
                    <label>University Name :- {{DefaulterCollegeDetailsData.UniversityName}}</label>
                  </td>
                </tr>
                <tr *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='No'">
                  <td>
                    <label>College Level :- {{DefaulterCollegeDetailsData.CollegeLevel}}</label>
                  </td>
                  <td>
                    <label>Establishment Year :- {{DefaulterCollegeDetailsData.EstablishmentYear}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>If any case pending for NOC? :- {{DefaulterCollegeDetailsData.PendingCaseNOC}}</label>
                  </td>
                  <td>
                    <label *ngIf="DefaulterCollegeDetailsData.PendingCaseNOC=='Yes'">
                      Upload pending case related document(Only pdf/image file.)(Max.Size 2MB) :-
                      <a *ngIf="!DefaulterCollegeDetailsData.PendingCaseDoc.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" data-caption="Image 10" title="click here to zoom">
                        <img src="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                      </a>
                      <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.PendingCaseDoc.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>{{DefaulterCollegeDetailsData.PendingCaseDoc_DisName}}
                    </label>
                  </td>
                </tr>


                <tr>
                  <td>
                    <label>
                      First Noc(Only pdf/image file.):-
                      <a *ngIf="!DefaulterCollegeDetailsData.FirstNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" data-caption="Image 10" title="click here to zoom">
                        <img src="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                      </a>
                      <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.FirstNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>{{DefaulterCollegeDetailsData.FirstNOCDoc_DisName}}
                    </label>
                  </td>
                  <td>
                    <label>
                      Last Noc(Only pdf/image file.):-
                      <a *ngIf="!DefaulterCollegeDetailsData.LastNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" data-caption="Image 10" title="click here to zoom">
                        <img src="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                      </a>
                      <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LastNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>{{DefaulterCollegeDetailsData.LastNOCDoc_DisName}}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>
                      Latest Affiliation of University/Proof of Latest Affiliation:-
                      <a *ngIf="!DefaulterCollegeDetailsData.LatestAffiliationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" data-caption="Image 10" title="click here to zoom">
                        <img src="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                      </a>
                      <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LatestAffiliationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>{{DefaulterCollegeDetailsData.LatestAffiliationDoc_DisName}}
                    </label>
                  </td>
                  <td>
                    <label>
                      Result of last session (copy of TR of first year university result of each course running in college) :-
                      <a *ngIf="!DefaulterCollegeDetailsData.ResultLastSessionDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" data-caption="Image 10" title="click here to zoom">
                        <img src="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                      </a>
                      <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.ResultLastSessionDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>{{DefaulterCollegeDetailsData.ResultLastSessionDoc_DisName}}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>
                      Proof of Examinations form filled by students for last session :-
                      <a *ngIf="!DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" data-caption="Image 10" title="click here to zoom">
                        <img src="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                      </a>
                      <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDoc_DisName}}
                    </label>
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--<div class="card-body">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-4 float-end">
        <input type="button" value="Preview Download PDF" class="btn btn-sm btn-primary" (click)="btnSavePDF_Click()" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
        <label for="ddlDivisionID" class="form-label">Division </label>
        <input class="form-control" id="ddlDivisionID" name="ddlDivisionID" disabled [(ngModel)]="DefaulterCollegeDetailsData.DivisionName">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
        <label for="ddlDistrictID" class="form-label">District </label>
        <input class="form-control" id="ddlDistrictID" name="ddlDistrictID" disabled [(ngModel)]="DefaulterCollegeDetailsData.DistrictName">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
        <label for="ddlEverAppliedNOC" class="form-label">Have you ever applied on NOC portal/क्या आपने कभी NOC पोर्टल पर आवेदन किया है? </label>
        <input class="form-control" id="ddlEverAppliedNOC" name="ddlEverAppliedNOC" disabled [(ngModel)]="DefaulterCollegeDetailsData.EverAppliedNOC">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='Yes'">
        <label for="txtLastApplicationNo" class="form-label">Last Application Number </label>
        <input class="form-control" id="txtLastApplicationNo" name="txtLastApplicationNo" disabled [(ngModel)]="DefaulterCollegeDetailsData.LastApplicationNo">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='Yes'">
        <label for="txtLastApplicationSubmittedDate" class="form-label">Submitted Application Date </label>
        <input class="form-control" id="txtLastApplicationSubmittedDate" name="txtLastApplicationSubmittedDate" disabled [(ngModel)]="DefaulterCollegeDetailsData.LastApplicationSubmittedDate">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
        <label for="ddlIsPNOC" class="form-label">क्या आप PNOC प्राप्त हैं? </label>
        <input class="form-control" id="ddlIsPNOC" name="ddlIsPNOC" disabled [(ngModel)]="DefaulterCollegeDetailsData.IsPNOC">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.IsPNOC=='Yes'">
        <label for="ddlCaseOperatedTNOCLevel" class="form-label">क्या आपका कोई प्रकरण TNOC स्तर में संचालित है? </label>
        <input class="form-control" id="ddlCaseOperatedTNOCLevel" name="ddlCaseOperatedTNOCLevel" disabled [(ngModel)]="DefaulterCollegeDetailsData.CaseOperatedTNOCLevel">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.IsPNOC=='Yes'||DefaulterCollegeDetailsData.IsPNOC=='No'">
        <label for="ddlLastSessionOfTNOCID" class="form-label">अनापत्ति प्राप्त संचालित विषयों की TNOC का अन्तिम सत्र क्या है? </label>
        <input class="form-control" id="ddlLastSessionOfTNOCID" name="ddlLastSessionOfTNOCID" disabled [(ngModel)]="DefaulterCollegeDetailsData.LastSessionOfTNOC">

      </div>

      <div class="row" *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='No'">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="txtCollegeNameEn" maxlength="200" class="form-label">College Name</label>
          <input class="form-control" id="txtCollegeNameEn" name="txtCollegeNameEn" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeName">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="txtCollegeNameHi" maxlength="200" class="form-label">College Name in Hindi </label>
          <input class="form-control" id="txtCollegeNameHi" name="txtCollegeNameHi" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeNameHi">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="txtEmail" class="form-label">College Email Address </label>
          <input class="form-control" id="txtEmail" name="txtEmail" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeEmail">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="txtMobileNumber" class="form-label">College Mobile Number </label>
          <input class="form-control" id="txtMobileNumber" name="txtMobileNumber" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeMobileNo">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="ddlCollegeTypeID" class="form-label">Select College Type </label>
          <input class="form-control" id="ddlCollegeTypeID" name="ddlCollegeTypeID" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeType">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="ddlUniversityID" class="form-label">
            University Name
          </label>
          <input class="form-control" id="ddlUniversityID" name="ddlUniversityID" disabled [(ngModel)]="DefaulterCollegeDetailsData.UniversityName">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="ddlPresentCollegeStatus" class="form-label">Present Status of College </label>
          <input class="form-control" id="ddlPresentCollegeStatus" name="ddlPresentCollegeStatus" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegePresentStatus">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="ddlCollegeLevelID" class="form-label">College Level </label>
          <input class="form-control" id="ddlCollegeLevelID" name="ddlCollegeLevelID" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeLevel">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="ddlEstablishmentYearID" class="form-label">Establishment Year</label>
          <input class="form-control" id="ddlEstablishmentYearID" name="ddlEstablishmentYearID" disabled [(ngModel)]="DefaulterCollegeDetailsData.EstablishmentYear">
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label for="ddlPendingCaseNOC" class="form-label">If any case pending for NOC? </label>
          <input class="form-control" id="ddlPendingCaseNOCID" name="ddlPendingCaseNOCID" disabled [(ngModel)]="DefaulterCollegeDetailsData.PendingCaseNOC">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.PendingCaseNOC=='Yes'">
          <label class="form-label">Upload pending case related document(Only pdf/image file.)(Max.Size 2MB):</label>
          <div class="clearfix"></div>
          <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.PendingCaseDoc.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label">First Noc(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
          <div class="clearfix"></div>
          <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.FirstNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label">Last Noc(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
          <div class="clearfix"></div>
          <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LastNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label">Latest Affiliation of University/Proof of Latest Affiliation(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
          <div class="clearfix"></div>
          <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LatestAffiliationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label">Result of session 2022-23(copy of TR of first year university result of each course running in college)(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
          <div class="clearfix"></div>
          <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.ResultLastSessionDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label">Proof of Examinations form filled by students for session 2023-24(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
          <div class="clearfix"></div>
          <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
        </div>

      </div>
    </div>
  </div>-->
    </div>
  </div>
</ng-template>
<ng-template #Penaltymodel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-applynocpayment-title" style="font-size: 17px; font-weight: 600 !important;">
      Add Defaulter College Penalty
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-loader></app-loader>
    <div class="row" *ngIf="DefaulterCollegePenaltyList.length<=0">

      <div class="col-sm-12 col-12 mb-3">
        <label for="DefaulterApproveReject" class="form-label" style="margin-right:15px">Approve / Reject : </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="DefaulterApproveReject" id="DefaulterApprove" value="Approve" [(ngModel)]="requestPenalty.ApproveReject">
          <label class="form-check-label" for="DefaulterApprove">Approve</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="DefaulterApproveReject" id="DefaulterReject" value="Reject" [(ngModel)]="requestPenalty.ApproveReject">
          <label class="form-check-label" for="DefaulterReject">Reject</label>
        </div>
        <p *ngIf="FormSubmit&&requestPenalty.ApproveReject==''" class="text-danger"><i aria-hidden="true"></i> This field is required .!</p>
      </div>
      <div class="col-sm-12 col-12 mb-3">
        <label for="txtRemark" class="form-label">Reason for {{requestPenalty.ApproveReject}}<span style="color:red;">*</span></label>
        <textarea id="txtRemark" class="form-control" [(ngModel)]="requestPenalty.Penaltyfor"></textarea>
        <p *ngIf="FormSubmit&&requestPenalty.Penaltyfor==''" class="text-danger"><i aria-hidden="true"></i> This field is required .!</p>
      </div>
      <div class="col-lg-12 col-sm-12 col-12 mb-3" *ngIf="requestPenalty.ApproveReject=='Approve'">
        <label for="txtPenaltyamount" class="form-label">Penalty Amount<span style="color:red;">*</span></label>
        <input autocomplete="off" type="text" maxlength="10" [(ngModel)]="requestPenalty.PenaltyAmount" class="form-control" id="txtPenaltyamount" name="txtPenaltyamount" (keypress)="numberOnly($event)">
        <p *ngIf="FormSubmit&&requestPenalty.ApproveReject=='Approve'&&  requestPenalty.PenaltyAmount.toString()==''" class="text-danger"><i aria-hidden="true"></i> This field is required .!</p>
        <p *ngIf="FormSubmit&& requestPenalty.PenaltyAmount==0 && requestPenalty.ApproveReject=='Approve'" class="text-danger"><i aria-hidden="true"></i> Penalty Amount grater then zero .!</p>
      </div>
      <div class="col-sm-12 col-12 mb-3">
        <label class="form-label">Upload {{requestPenalty.ApproveReject}} Order Copy(Only pdf file.)(Max.Size 2MB):<!--<span style="color:red;">*</span>--></label>
        <div class="d-flex">
          <input type="file" style="display:none;" class="form-control" id="fuPenaltyDoc" name="fuPenaltyDoc" (change)="onFilechange($event)">
          <label class="btn upload" for="fuPenaltyDoc">
            <span class="filename">Choose file</span>
            {{requestPenalty.PenaltyDoc === '' ? 'No File Choosen' : requestPenalty.PenaltyDoc_DisName}}
          </label>
          <div class="btn-group" *ngIf="requestPenalty.PenaltyDoc != ''">
            <a class="btn btn-outline-primary" target="_blank" href="{{requestPenalty.PenaltyDocPath}}"><i class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(requestPenalty.PenaltyDoc)"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
        <!--<p *ngIf="FormSubmit&&requestPenalty.PenaltyDoc === '' " class="text-danger"><i aria-hidden="true"></i> This field is required .!</p>-->
      </div>

      <div class="col-12 text-end mt-4">
        <button type="submit" id="btnPenaltySave" (click)="SaveData()" class="btn btn-success"> Save</button>
        &nbsp;<button type="submit" (click)="Reset()" class="btn btn-secondary"> Cancel</button>
      </div>
    </div>


    <div class="table-responsive" *ngIf="DefaulterCollegePenaltyList.length>0">
      <table class="table table-hover table-striped-columns">
        <thead>
          <tr>
            <th style="width:5%">Sr. No.</th>
            <th>Reason for {{ApplicationStatus}}</th>
            <th>Penalty Amount</th>
            <th>{{ApplicationStatus}} Order Copy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of DefaulterCollegePenaltyList; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.Penaltyfor}}</td>
            <!--<td>{{row.ApplicationStatus}}</td>-->
            <td>{{row.PenaltyAmount}}</td>
            <td>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.PenaltyDocPath.includes('.pdf')" data-fancybox="gallery" href="{{row.PenaltyDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </td>
            <!--<td>
    <button type="submit" (click)="EditDefaulterCollegePenalty(row.PenaltyID)" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
    <button type="submit" (click)="DeleteDefaulterCollegePenalty(row.PenaltyID)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
  </td>-->
          </tr>
          <tr *ngIf="DefaulterCollegePenaltyList.length==0">
            <td colspan="10" class="text-center text-danger">No Data Found!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
