<form class="form-horizontal">
  <div class="card mb-0">
    <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
      <b>
        <i class="bi bi-table"></i>&nbsp;Foreign Student Enrollment (As per current session)
      </b>
      <div class="d-flex align-items-center">
        <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
        </div>
        <div class="d-flex align-items-center table-filter mr-15">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 mb-3">
          <label class="form-label">Whether Foreign Student Enrolled In the institution</label>

          <input class="form-control form-control-sm" id="txtForeignStudentEnrolledInTheinstitution"
                 [(ngModel)]="request.ForeignStudentEnrolledInTheinstitution" maxlength="6"
                 type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />

        </div>
        <div class="col-lg-6 col-md-6 col-12 mb-3">
          <label class="form-label">Approved Intake Capacity of International Students</label>
          <input class="form-control form-control-sm" id="txtApprovedIntakeCapacityOfInternationalStudents"
                 [(ngModel)]="request.ApprovedIntakeCapacityOfInternationalStudents" maxlength="6"
                 type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered tableHeaderTH tableHeaderTHMiddel tableLastclmFixed mb-0">
              <thead>
                <tr>
                  <th width="60px">S.No</th>
                  <th class="text-center">Country</th>
                  <th class="text-center">Faculty/School</th>
                  <th class="text-center">Department/Centre</th>
                  <th class="text-center">Discipline</th>
                  <th class="text-center">Method of Admission</th>
                  <th class="text-center">No. of Students Enrolled (Total)</th>
                  <th class="text-center">No. of Students Enrolled (Girls)</th>
                  <th class="text-center">No. of Students Staying in Institutions Hostel</th>
                  <th class="text-center">Broad Discipline Group</th>
                  <th class="text-center">Broad Discipline Group Category</th>
                  <th class="text-center">Method of Admission</th>
                  <th width="100px" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of this.request.RegularForeignStudentEnrolment ;let idx=index;">
                  <td>{{idx+1}}</td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtCountry{{idx}}"
                           [(ngModel)]="row.Country" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtFaculty_School{{idx}}"
                           [(ngModel)]="row.Faculty_School" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtDepartment_Centre{{idx}}"
                           [(ngModel)]="row.Department_Centre" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtDiscipline{{idx}}"
                           [(ngModel)]="row.Discipline" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtMethod_of_Admission{{idx}}"
                           [(ngModel)]="row.Method_of_Admission" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width100px" id="txtNo_of_Students_Enrolled_Total{{idx}}"
                           [(ngModel)]="row.No_of_Students_Enrolled_Total" maxlength="6"
                           type="number" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width100px" id="txtNo_of_Students_Enrolled_Girls{{idx}}"
                           [(ngModel)]="row.No_of_Students_Enrolled_Girls" maxlength="6"
                           type="number" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width100px" id="txtNo_of_Students_Staying_in_Institutions_Hostel{{idx}}"
                           [(ngModel)]="row.No_of_Students_Staying_in_Institutions_Hostel" maxlength="6"
                           type="number" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtBroad_Discipline_Group{{idx}}"
                           [(ngModel)]="row.Broad_Discipline_Group" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtBroad_DisciplineGroup_Category{{idx}}"
                           [(ngModel)]="row.Broad_DisciplineGroup_Category" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input class="form-control form-control-sm width200px" id="txtMethod_of_Admission2{{idx}}"
                           [(ngModel)]="row.Method_of_Admission2" maxlength="200" type="text" [ngModelOptions]="{standalone: true}" />
                  </td>

                  <td>
                    <div class="d-flex justify-content-center">
                      <button type="button" id="btnEdit_{{idx}}" class="btn btn-sm btn-primary
                      " *ngIf="idx==(request.RegularForeignStudentEnrolment.length-1)"
                              (click)="btnAdd_Click(row,idx)" [attr.disabled]="isDisabledGrid ? true : null" title="Add">
                        <i class="fa fa-plus"></i>
                      </button>

                      <button type="button" class="btn btn-sm btn-danger" title="Delete" *ngIf="(request.RegularForeignStudentEnrolment.length-1)!=0"
                              (click)="btnDelete_Click(idx)">
                        <i class="fa fa-trash" [attr.disabled]="isDisabledGrid ? true : null"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card-footer text-end">
      <button type="button" (click)="SaveData()" class="btn btn-success">Save Draft</button>
    </div>
  </div>
</form>


