<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Apply Noc</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Entity</a></li>
          <li class="breadcrumb-item active" aria-current="page">Apply Noc</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="ApplyNocParameterForm" class="form-horizontal">
            <div class="row">

              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="ddlCollege" class="form-label">College <span style="color:red">*</span></label>
                  <select class="form-select" id="ddlCollege" name="ddlCollege" (change)="College_ddlChange($event)" formControlName="ddlCollege" [(ngModel)]="request.CollegeID">
                    <option value="0">--Select--</option>
                    <option *ngFor="let item of CollegeList_ddl" value="{{item.CollegeID}}">{{item.CollegeName}}</option>
                  </select>
                  <div *ngIf="isSubmitted&&form.ddlCollege.errors" class="text-danger">
                    <p *ngIf="!form.ddlCollege.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="rbApplicationType" style="margin-top:15px;">Application Type <span style="color:red">*</span></label>
                  <div class="clearfix"></div>
                  <div class="form-check form-check-inline" *ngFor="let item of ApplicationTypeList">
                    <input class="form-check-input" type="radio" name="rbApplicationType" id="rbApplicationType_{{item.ID}}" value="{{item.ID}}" formControlName="rbApplicationType" [(ngModel)]="request.ApplicationTypeID">
                    <label class="form-check-label" for="rbApplicationType_{{item.ID}}">{{item.Name}}</label>
                  </div>
                  <div *ngIf="isSubmitted&&form.rbApplicationType.errors" class="text-danger">
                    <p *ngIf="form.rbApplicationType.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ApplyNocParameterMasterList_ddl.length>0">
                <label for="">Noc for</label>
                <div class="clearfix"></div>
                <div class="form-check form-check-inline" *ngFor="let item of ApplyNocParameterMasterList_ddl">
                  <input class="form-check-input" type="checkbox" name="cbNocFor" id="cbNocFor_{{item.ApplyNocID}}" value="{{item.ApplyNocID}}" formControlName="cbNocFor" #SelectedApplyNocForID (change)="ApplyNocFor_cbChange($event,SelectedApplyNocForID.value,item)" [(ngModel)]="item.IsChecked" [attr.checked]="item.IsChecked">
                  <label class="form-check-label" for="cbNocFor_{{item.ApplyNocID}}">{{item.ApplyNocFor}}</label>
                </div>
                <div *ngIf="isSubmitted&&form.cbNocFor.errors" class="text-danger">
                  <p *ngIf="form.cbNocFor.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
            </div>
          </form>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <!--TNOC Extension-->
            <div class="card" *ngIf="ApplyNocParameterMasterList_TNOCExtension != null">
              <div class="card-header">
                <b>{{ApplyNocParameterMasterList_TNOCExtension.ApplyNocFor}} : {{ApplyNocParameterMasterList_TNOCExtension.FeeAmount}}</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped-columns">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Course</th>
                          <th>Subject</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplyNocParameterMasterList_TNOCExtension.ApplyNocParameterCourseList;let idx=index;">
                          <td>{{idx+1}}</td>
                          <td>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" name="cbCourse_TNOCExtension_{{idx+1}}" id="cbCourse_TNOCExtension_{{idx+1}}" value="{{item.CourseID}}" [(ngModel)]="item.IsChecked"
                                     #SelectedcbCourseID_TNOCExtension (change)="cbCourse_TNOCExtension_change($event,SelectedcbCourseID_TNOCExtension.value,item)">
                              <label class="form-check-label" for="cbCourse_TNOCExtension_{{item.CourseID}}">{{item.CourseName}}</label>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline" *ngFor="let item1 of item.ApplyNocParameterSubjectList;let idx=index;">
                              <input class="form-check-input" type="checkbox" name="cbSubject_TNOCExtension_{{idx+1}}_{{item1.SubjectID}}"
                                     id="cbSubject_TNOCExtension_{{idx+1}}_{{item1.SubjectID}}" value="{{item1.SubjectID}}"
                                     [attr.disabled]="true" [(ngModel)]="item1.IsChecked">
                              <label class="form-check-label" for="cbSubject_TNOCExtension_{{idx+1}}_{{item1.SubjectID}}">{{item1.SubjectName}}</label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->
            <!--Addition of New Seats(60)-->
            <div class="card" *ngIf="ApplyNocParameterMasterList_AdditionOfNewSeats60 != null">
              <div class="card-header">
                <b>{{ApplyNocParameterMasterList_AdditionOfNewSeats60.ApplyNocFor}} : {{ApplyNocParameterMasterList_AdditionOfNewSeats60.FeeAmount}}</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped-columns">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Course</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplyNocParameterMasterList_AdditionOfNewSeats60.ApplyNocParameterCourseList;let idx=index;">
                          <td>{{idx+1}}</td>
                          <td>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" name="cbCourse_AdditionOfNewSeats60" id="cbCourse_AdditionOfNewSeats60_{{item.CourseID}}" value="{{item.CourseID}}"  [(ngModel)]="item.IsChecked">
                              <label class="form-check-label" for="cbCourse_AdditionOfNewSeats60_{{item.CourseID}}">{{item.CourseName}}</label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->
          </div>
          <div class="card-footer" >
            <button type="button" class="btn btn-primary" (click)="SaveApplyNoc_click()" [attr.disabled]="isSave ? null : true" *ngIf="HasData()">Apply Noc</button>
            <button type="button" class="btn btn-danger" aria-label="Reset" (click)="ResetApplyNoc_click()" *ngIf="HasData()">Reset</button>
            <a class="btn btn-info" href="/applicationsummary/{{CollegeDepartmentID}}/{{request.CollegeID}}" target="_blank" aria-label="Preview Application" *ngIf="request.CollegeID>0">Preview Application</a>
          </div>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
              <h4 class="text-danger">Disclaimer:</h4>
              <ol class="text-danger">
                <li>Submit your application with appropriate option like- new course, new subject, tnoc, pnoc.</li>
                <li>Once the application is submitted you have to print challan or download.</li>
                <li>Once you did the payment you need to upload proof of payment (receipt) from applied noc, <a href="#"> Upload Reciept</a></li>
                <li>Note: here only those subjects or courses will be visible for which draft is complete.</li>
                <li>If NOC is for name change, location change, merger, coed to girl please fill details in <a href="#">College Amendment</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
