 <!--<app-loader></app-loader>-->
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Committee Master List</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Committee Master List</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <div class="card mb-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="bi bi-table"></i>&nbsp; Committee Master List</b>
          <div class="d-flex align-items-center">
            <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
              <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
              <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
            </div>
            <div class="d-flex align-items-center table-filter">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns" id="tabellist">
              <thead>
                <tr>
                  <th>Sr. No</th>
                  <th>Committee Type</th>
                  <th>Committee Name</th>
                  <th>Contact Number</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of CommitteeMasterList  | tableSearchFilter:searchText;let idx=index;">
                  <td>
                    {{idx+1}}
                  </td>
                  <td>
                    {{item.CommitteeType}}
                  </td>
                  <td>
                    {{item.CommitteeName}}
                  </td>
                  <td>
                    {{item.ContactNumber}}
                  </td>
                  <td>
                    <button type="button" title="Edit" class="btn btn-sm btn-info" routerLink="/committeemaster/{{item.CommitteeMasterID}}"><i class="fa fa-edit"></i></button>
                    <button type="button" title="View" class="btn btn-sm btn-info" (click)="OpenCommitteeMasterDetailsModel(item.CommitteeMasterID)"><i class="fa fa-eye"></i></button>
                    <button type="button" title="Delete" class="btn btn-sm btn-danger" (click)="DelCommitteeMasterDetail(item.CommitteeMasterID)"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                <tr *ngIf="CommitteeMasterList.length==0">
                  <td colspan="8" style="text-align:center;color:red">
                    No Data Found!!!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal" id="CommitteeMasterDetails" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Committee Master Details</h4>
                <button type="button" class="btn btn-danger" aria-label="Close" (click)="CloseCommitteeMasterDetailsModel()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="card mb-0">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <b>Member Details</b>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-striped-columns">
                          <thead>
                            <tr>
                              <th>Sr. No</th>
                              <th>Name Of Person</th>
                              <th>Mobile Number</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of request.CommitteeMemberDetailList let idx =index">
                              <td>
                                {{idx+1}}
                              </td>
                              <td>
                                {{item.NameOfPerson}}
                              </td>
                              <td>
                                {{item.MobileNumber}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
