<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Dashboards</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!--admin-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.RoleID==10">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards ">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Legal Entity</h4>
              <h2>{{dashboardDataModel.TotalLegalEntity}}</h2>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards ">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total College</h4>
              <h2>{{dashboardDataModel.TotalCollege}}</h2>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>


    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Application</h4>
              <h2>{{dashboardDataModel.TotalApplication}}</h2>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Application Pending</h4>
              <h2>{{dashboardDataModel.TotalApplicationPending}}</h2>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Application Reject</h4>
              <h2>{{dashboardDataModel.TotalApplicationReject}}</h2>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Application Completed</h4>
              <h2>{{dashboardDataModel.TotalApplicationCompleted}}</h2>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>

  </div>
</div>

<!--admin-->

<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.RoleID==0 || this.sSOLoginDataModel.RoleID==1">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards ">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total College</h4>
              <h2>{{dashboardDataModel.TotalCollege}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/totalcollege">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards ">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Draft Application</h4>
              <h2>{{dashboardDataModel.TotalDraftApplication}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/draftapplicationlist">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>


    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total NOC Application/Status</h4>
              <h2>{{dashboardDataModel.TotalApplyNocApplication}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/applynocapplicationdetail">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>

    <!--<div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards staticsCards4">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>NOC Issued</h4>
              <h2>{{dashboardDataModel.NOCIssued}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/nocissued">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>-->
    <!--<div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards staticsCards12">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Pending NOC</h4>
              <h2>{{dashboardDataModel.PendingNOC}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/deficiencymarked">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>-->
    <div class="col-lg-2 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.RoleID==0">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Total Legal Entity</h4>
              <h2>{{dashboardDataModel.TotalLegalEntity}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/totallegalentitypreview">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Reject Application</h4>
              <h2>{{dashboardDataModel.TotalRejectApplication}}</h2>
            </div>
          </div>
        </div>
        <a routerLink="/rejectedapplicationlist">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-body">
          <div class="">
            <div class="dashCardIcon">
              <i class="fa fa-bank"></i>
            </div>
            <div class="dashCardContent">
              <h4>Reverted Application</h4>
              <h2>{{dashboardDataModel.TotalRevertApplication}}</h2>
            </div>
          </div>
        </div>
        <a href="/revertedapplicationlist">View more <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9) &&this.sSOLoginDataModel.RoleID==2">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">

            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/applynocapplicationlist" style="background: none;">{{dashboardDataModel.Clerk_Pending}}</a>

              </h2>
            </div>

            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/documentscrutinyrejectedreport" style="background: none;"><h2>{{dashboardDataModel.Clerk_Rejected}}</h2></a>
            </div>

            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/documentscrutinycompletedreport" style="background: none;"><h2>{{dashboardDataModel.Clerk_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Section Officer Dashboard-->
<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9) && this.sSOLoginDataModel.RoleID==3">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">

            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/applynocapplicationlist" style="background: none;">{{dashboardDataModel.SectionOffs_Pending}}</a>
              </h2>
            </div>

            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/documentscrutinyrejectedreport" style="background: none;"><h2>{{dashboardDataModel.SectionOffs_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/documentscrutinycompletedreport" style="background: none;"><h2>{{dashboardDataModel.SectionOffs_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Section Officer Dashboard-->
<!--AssistantSecretary_Pending-->
<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9)  && this.sSOLoginDataModel.RoleID==5">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/applynocapplicationlist" style="background: none;">{{dashboardDataModel.AssistantSecretary_Pending}}</a>
              </h2>
            </div>

            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="documentscrutinyrejectedreport" style="background: none;"><h2>{{dashboardDataModel.AssistantSecretary_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/documentscrutinycompletedreport" style="background: none;"><h2>{{dashboardDataModel.AssistantSecretary_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--AssistantSecretary Pending-->
<!--JointSecretary Count-->
<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9)  && this.sSOLoginDataModel.RoleID==6">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/jointsecretaryapplicationlist" style="background: none;">{{dashboardDataModel.JointSecretary_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/jointsecretaryrejectedreport" style="background: none;"><h2>{{dashboardDataModel.JointSecretary_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/jointsecretarycompletedreport" style="background: none;"><h2>{{dashboardDataModel.JointSecretary_Completed}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Pending NOC</h4>
              <a href="/jointsecretarypendingnocreport" style="background: none;"><h2>{{dashboardDataModel.JointSecretary_ReleaseNOCPending}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Released NOC</h4>
              <a href="/issuednocreport" style="background: none;"><h2>{{dashboardDataModel.JointSecretary_ReleaseNOC}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--JointSecretary ending-->
<!--secretary Dashboard Count-->
<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9)  && this.sSOLoginDataModel.RoleID==7">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/secretaryapplicationlist" style="background: none;">{{dashboardDataModel.secretary_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/secretaryrejectedreport" style="background: none;"><h2>{{dashboardDataModel.secretary_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent  text-start">
              <h4>ScrutinyCommittee Forward</h4>
              <a href="/committeeforwardreport/Scrutiny" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Forward}}</h2></a>
            </div>
            <!--<div class="dashCardContent  text-start">
              <h4>RegistratCommittee Forward</h4>
              <a href="/committeeforwardreport/Registrat" style="background: none;"><h2>{{dashboardDataModel.RegistratCommittee_Forward}}</h2></a>
            </div>-->
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/secretarycompletedreport" style="background: none;"><h2>{{dashboardDataModel.secretary_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Clerk Dashboard Start-->
<!--Scrutiny Committee-->
<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9)  && this.sSOLoginDataModel.RoleID==8">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Inspection</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/commiteeinspection" style="background: none;">{{dashboardDataModel.ScrutinyCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/committeerejectedreport" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/committeecompletedreport" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Clerk Dashboard Start-->
<!--Registrar Committee-->
<div class="container-fluid mainContents" *ngIf="(this.sSOLoginDataModel.DepartmentID==6 || this.sSOLoginDataModel.DepartmentID==9)  && this.sSOLoginDataModel.RoleID==9">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Inspection</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/commiteeinspection" style="background: none;">{{dashboardDataModel.RegistratCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/committeerejectedreport" style="background: none;"><h2>{{dashboardDataModel.RegistratCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/committeecompletedreport" style="background: none;"><h2>{{dashboardDataModel.RegistratCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Registrar Committee-->
<!-- Animal Husbinadry Dashboard-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==2 &&(this.sSOLoginDataModel.RoleID ==12  || this.sSOLoginDataModel.RoleID ==13 || this.sSOLoginDataModel.RoleID ==6 || this.sSOLoginDataModel.RoleID ==14 ||  this.sSOLoginDataModel.RoleID ==15 || this.sSOLoginDataModel.RoleID ==25)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">

            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/applynocapplicationlistAH" style="background: none;">{{dashboardDataModel.Pending}}</a>
              </h2>
            </div>

            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/documentscrutinyrejectedreport" style="background: none;"><h2>{{dashboardDataModel.Rejected}}</h2></a>
            </div>

            <div class="dashCardContent  text-start" *ngIf="this.sSOLoginDataModel.RoleID==12 ||this.sSOLoginDataModel.RoleID==14 ||this.sSOLoginDataModel.RoleID==6">
              <!--||this.sSOLoginDataModel.RoleID==25-->
              <h4>Forward to Commitee</h4>
              <a href="/documentscrutinyForwardToCommiteereport" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Forward}}</h2></a>
            </div>

            <div class="dashCardContent" *ngIf="this.sSOLoginDataModel.RoleID!=12 && this.sSOLoginDataModel.RoleID !=14 && this.sSOLoginDataModel.RoleID !=6">
              <!--&& this.sSOLoginDataModel.RoleID != 25-->
              <h4>Completed</h4>
              <a href="/documentscrutinycompletedreport" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==2 && this.sSOLoginDataModel.RoleID==12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Pre Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AHPreVerificationDoneList/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AHPreVerificationDoneList/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AHPreVerificationDoneList/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==2 && (this.sSOLoginDataModel.RoleID==14 || this.sSOLoginDataModel.RoleID==6)">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Post Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AHPostVerificationDoneList/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AHPostVerificationDoneList/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AHPostVerificationDoneList/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==2 && this.sSOLoginDataModel.RoleID==15">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>NOC Application</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AHFinalVerificationDoneList/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AHFinalVerificationDoneList/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AHFinalVerificationDoneList/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==2 &&( this.sSOLoginDataModel.RoleID==14 || this.sSOLoginDataModel.RoleID==6 || this.sSOLoginDataModel.RoleID==15)">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>NOC Application</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AhFinalNocApplicationList/Pending" style="background: none;">{{dashboardDataModel.PendingNOC}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AhFinalNocApplicationList/Rejected" style="background: none;"><h2>{{dashboardDataModel.TotalRejectApplication}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AhFinalNocApplicationList/Completed" style="background: none;"><h2>{{dashboardDataModel.NOCIssued}}</h2></a>
            </div>
            <div class="dashCardContent" *ngIf="this.sSOLoginDataModel.RoleID==15">
              <h4>Forward To (DS/JS)</h4>
              <a href="/forwardedApplications" style="background: none;"><h2>{{dashboardDataModel.ApprovedAndForward}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--AH-PV COMMITTEE SECTION DASHBOARD START -->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==2 &&(this.sSOLoginDataModel.RoleID==18)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Pre Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AHinspectioncommitteephysicalverification/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AHinspectioncommitteephysicalverification/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AHinspectioncommitteephysicalverification/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==2 &&(this.sSOLoginDataModel.RoleID==21)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Post Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AHinspectioncommitteepostverification/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AHinspectioncommitteepostverification/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AHinspectioncommitteepostverification/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==2 &&(this.sSOLoginDataModel.RoleID==22)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Final Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AHinspectioncommitteefinalverification/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AHinspectioncommitteefinalverification/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AHinspectioncommitteefinalverification/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--Animal Husbinadry Dashboard end-->
<!--Nodal Officer DEC SECTION DASHBOARD START-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==3 && this.sSOLoginDataModel.RoleID==17">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <a href="/dceapplicationlist/Pending" style="background: none;"><h2> {{dashboardDataModel.Nodal_Pending}}</h2></a>

            </div>
            <!--<div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/dceapplicationlist/Rejected" style="background: none;"><h2>{{dashboardDataModel.Nodal_Rejected}}</h2></a>
            </div>-->
            <div class="dashCardContent  text-start">
              <h4>Reverted</h4>
              <a href="/dceapplicationlist/Revert" style="background: none;"><h2>{{dashboardDataModel.Nodal_Reverted}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/dceapplicationlist/Completed" style="background: none;"><h2>{{dashboardDataModel.Nodal_Completed}}</h2></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DCE SECTION DASHBOARD END-->
<!--DCE PV USERS SECTION DASHBOARD START -->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==3 && this.sSOLoginDataModel.RoleID==16">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Physical Inspection</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/inspectioncommitteephysicalverification/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <!--<div class="dashCardContent  text-start">
              <h4>Rejected</h4>

              <a href="/inspectioncommitteephysicalverification/Pending" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>-->
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/inspectioncommitteephysicalverification/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DCE SECTION DASHBOARD END-->
<!--DCE SECTION Level 1 DASHBOARD START-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==3 && this.sSOLoginDataModel.RoleID==19">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <a href="/dceapplicationlist/Pending" style="background: none;"><h2> {{dashboardDataModel.Pending}}</h2></a>

            </div>
            <div class="dashCardContent  text-start">
              <h4>Revert</h4>
              <a href="/dceapplicationlist/Revert" style="background: none;"><h2>{{dashboardDataModel.Revert}}</h2></a>

            </div>

            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/dceapplicationlist/Completed" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DCE SECTION DASHBOARD END-->
<!--DCE SECTION JointDirector/AssistantCommissioner DASHBOARD START-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==3 && (this.sSOLoginDataModel.RoleID==11 || this.sSOLoginDataModel.RoleID==23)">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <a href="/dceapplicationlist/Pending" style="background: none;"><h2> {{dashboardDataModel.Pending}}</h2></a>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Revert</h4>
              <a href="/dceapplicationreport/Revert" style="background: none;"><h2>{{dashboardDataModel.Revert}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/dceapplicationreport/Approve" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DEC SECTION DASHBOARD END-->
<!--DCE SECTION Commissioner/Secretary/minister DASHBOARD START-->
<div class="container-fluid mainContents" *ngIf="sSOLoginDataModel.DepartmentID==3 && (this.sSOLoginDataModel.RoleID==24 || this.sSOLoginDataModel.RoleID==7  || this.sSOLoginDataModel.RoleID==26)">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <a href="commissionerapplicationscrutinylist/Pending" style="background: none;"><h2> {{dashboardDataModel.Pending}}</h2></a>
            </div>
            <div class="dashCardContent text-start" *ngIf="this.sSOLoginDataModel.RoleID==7">
              <h4>Forward By Minister</h4>
              <a href="commissionerapplicationscrutinylist/Forward" style="background: none;"><h2> {{dashboardDataModel.secretary_Pending}}</h2></a>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="commissionerapplicationscrutinylist/Rejected" style="background: none;"><h2>{{dashboardDataModel.Rejected}}</h2></a>
            </div>
            <div class="dashCardContent  text-start" *ngIf="this.sSOLoginDataModel.RoleID!=26">
              <h4>Reverted</h4>
              <a href="commissionerapplicationscrutinylist/Revert" style="background: none;"><h2>{{dashboardDataModel.Revert}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="commissionerapplicationscrutinylist/Completed" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
            <div class="dashCardContent" *ngIf="this.sSOLoginDataModel.RoleID!=26">
              <h4>NOC Issued</h4>
              <a href="commissionerapplicationscrutinylist/NOCIssued" style="background: none;"><h2>{{dashboardDataModel.NOCIssued}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DEC SECTION DASHBOARD END-->
<!--Agriculture department Start-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==1 &&( this.sSOLoginDataModel.RoleID==29 || this.sSOLoginDataModel.RoleID ==11  || this.sSOLoginDataModel.RoleID ==12 || this.sSOLoginDataModel.RoleID ==24 || this.sSOLoginDataModel.RoleID ==27 ||  this.sSOLoginDataModel.RoleID ==28)">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">

            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/applynocapplicationlistAgri" style="background: none;">{{dashboardDataModel.Pending}}</a>
              </h2>
            </div>

            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/documentscrutinyrejectedreport" style="background: none;"><h2>{{dashboardDataModel.Rejected}}</h2></a>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Reverted</h4>
              <a href="/documentscrutinyrevertedreport" style="background: none;"><h2>{{dashboardDataModel.Revert}}</h2></a>
            </div>

            <div class="dashCardContent  text-start" *ngIf="this.sSOLoginDataModel.RoleID==29">
              <h4>Forward to Primary Commitee</h4>
              <a href="/AgriDsForwardToCommiteeList" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Forward}}</h2></a>
            </div>

            <div class="dashCardContent" *ngIf="this.sSOLoginDataModel.RoleID!=29">
              <h4>Completed</h4>
              <a href="/documentscrutinycompletedreport" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==1 && this.sSOLoginDataModel.RoleID==29">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Primary Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AgriPriVerificationDone/Pending" style="background: none;">{{dashboardDataModel.ScrutinyCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AgriPriVerificationDone/Rejected" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AgriPriVerificationDone/Completed" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Completed}}</h2></a>
            </div>
            <div class="dashCardContent  text-start" *ngIf="this.sSOLoginDataModel.RoleID==29">
              <h4>Forward to Physical Inspection Commitee</h4>
              <a href="/AgriPIForwardToCommiteeList" style="background: none;"><h2>{{dashboardDataModel.RegistratCommittee_Forward}}</h2></a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==1 && this.sSOLoginDataModel.RoleID==29">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Physical Inspection Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AgriPostVerificationDoneList/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AgriPostVerificationDoneList/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AgriPostVerificationDoneList/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.DepartmentID==1 && (this.sSOLoginDataModel.RoleID==27 || this.sSOLoginDataModel.RoleID==24)">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>NOC Application</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AgriPSNocApplicationList/Pending" style="background: none;">{{dashboardDataModel.PendingNOC}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AgriPSNocApplicationList/Rejected" style="background: none;"><h2>{{dashboardDataModel.TotalRejectApplication}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AgriPSNocApplicationList/Completed" style="background: none;"><h2>{{dashboardDataModel.NOCIssued}}</h2></a>
            </div>
            <div class="dashCardContent" *ngIf="this.sSOLoginDataModel.RoleID==27">
              <h4>Forward To Commissioner</h4>
              <a href="/AgriPSNocApplicationList/Forward To Commissioner" style="background: none;"><h2>{{dashboardDataModel.ApprovedAndForward}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==1 &&(this.sSOLoginDataModel.RoleID==8)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Primary Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/DSCommitteePrimaryVerification/Pending" style="background: none;">{{dashboardDataModel.ScrutinyCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/DSCommitteePrimaryVerification/Rejected" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/DSCommitteePrimaryVerification/Completed" style="background: none;"><h2>{{dashboardDataModel.ScrutinyCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==1 &&(this.sSOLoginDataModel.RoleID==16)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Physical Inspection Verification</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/AgriInsepctionPostVerification/Pending" style="background: none;">{{dashboardDataModel.PVCommittee_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent  text-start">
              <h4>Rejected</h4>
              <a href="/AgriInsepctionPostVerification/Rejected" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Rejected}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/AgriInsepctionPostVerification/Completed" style="background: none;"><h2>{{dashboardDataModel.PVCommittee_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Agriculture department end-->




<!--Start Medical Group 1 Department-->
<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==5 &&(this.sSOLoginDataModel.RoleID==7 || this.sSOLoginDataModel.RoleID==17)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Forwarded</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/nodalsecretaryapplicationlistmgone/Pending" style="background: none;">{{dashboardDataModel.Pending}}</a>
              </h2>
            </div>

            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/nodalsecretaryapplicationlistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.RoleID==7">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/osdapplicationlistmgone/Pending" style="background: none;">{{dashboardDataModel.secretary_Pending}}</a>
              </h2>
            </div>

            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/osdapplicationlistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.secretary_Completed}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Forwarded By Minister</h4>
              <a href="/forwardbyministerlistmgone/Pending" style="background: none;"><h2>{{dashboardDataModel.SectionOffs_Pending}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Forwarded to Joint Secretary / Deputy Secretary</h4>
              <a href="/forwardbyministerlistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.SectionOffs_Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==5 &&(this.sSOLoginDataModel.RoleID==2 || this.sSOLoginDataModel.RoleID==5 || this.sSOLoginDataModel.RoleID==30 )">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Document Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/documentscrutinylistmgone/Pending" style="background: none;">{{dashboardDataModel.Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/documentscrutinylistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==5 &&(this.sSOLoginDataModel.RoleID==31 || this.sSOLoginDataModel.RoleID==32)">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/osdapplicationlistmgone/Pending" style="background: none;">{{dashboardDataModel.Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent">
              <h4>Completed</h4>
              <a href="/osdapplicationlistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mainContents" *ngIf="this.sSOLoginDataModel.DepartmentID==5 &&(this.sSOLoginDataModel.RoleID==14 || this.sSOLoginDataModel.RoleID==6 )">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application Scrutiny</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/osdapplicationlistmgone/Pending" style="background: none;">{{dashboardDataModel.Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent">
              <h4>Reverted</h4>
              <a href="/osdapplicationlistmgone/Revert" style="background: none;"><h2>{{dashboardDataModel.Revert}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>Forwarded</h4>
              <a href="/osdapplicationlistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.Completed}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.RoleID==14">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>LOI</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Pending</h4>
              <h2>
                <a href="/generateloireportmgone/Pending" style="background: none;">{{dashboardDataModel.PendingNOC}}</a>
              </h2>
            </div>
            <div class="dashCardContent">
              <h4>LOI Generated</h4>
              <a href="/issuedloireportmgone" style="background: none;"><h2>{{dashboardDataModel.NOCIssued}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="this.sSOLoginDataModel.RoleID==6">
      <div class="card staticsCards">
        <div class="card-header text-center text-white" style="background: rgba(0, 0, 0, 0.2) !important;"><h5>Application LOI</h5></div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="dashCardContent text-start">
              <h4>Forwarded by Secretary</h4>
              <h2>
                <a href="/deputysecretarylistmgone/Pending" style="background: none;">{{dashboardDataModel.JointSecretary_Pending}}</a>
              </h2>
            </div>
            <div class="dashCardContent">
              <h4>Forwarded to Deputy Secretary</h4>
              <a href="/deputysecretarylistmgone/Completed" style="background: none;"><h2>{{dashboardDataModel.JointSecretary_Completed}}</h2></a>
            </div>
            <div class="dashCardContent">
              <h4>LOI Issued</h4>
              <a href="/issuedloireportmgone" style="background: none;"><h2>{{dashboardDataModel.NOCIssued}}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Medical Group 1 Department-->
