.statusCardsss h1 {
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}


.divSuccess {
  color: #88B04B;
}

.divFail {
  color: #cc5959;
}
.divAbsent {
  color: #e2be46;
}
.divPending {
  color: #f56435;
}



p {
  color: #404F5E;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}
.circleIcon {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: #F8FAF5;
}


i {
  font-size: 100px;
}

.card {
  background: white;
  padding:20px 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
}

label {
    font-weight:bold;
}

.checkmark {
  color: #88B04B !important
}

.statusAbsent {
  color: #e2be46 !important
}

.statusPendings {
    color:#f56435 !important
}

.checkmarkFail {
  color: #cc5959 !important
}
