<div class="card tabCard1 mb-0" id="LandDetails1">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp; Land Details </b>
  </div>



  <form [formGroup]="LandDetailForm" class="form-horizontal">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 ">
          <label>Select College</label>
          <select class="form-select" [(ngModel)]="request.CollegeID" id="ddlCollegeId" name="ddlCollegeId" formControlName="ddlCollegeId">
            <!--<option value="0" disabled>--Select--</option>-->
            <option *ngFor="let item of CollegeData"
                    value="{{item.CollegeID}}">
              {{item.CollegeName}}
            </option>
          </select>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="SelectedDepartmentID !=11">
          <label *ngIf="SelectedDepartmentID!=1">Land Area Situated In <span style="color:red;">*</span></label>
          <label *ngIf="SelectedDepartmentID==1">College Situated In <span style="color:red;">*</span></label>
          <select id="ddlLandAreaId" name="ddlLandAreaId" class="form-control" [(ngModel)]="request.LandAreaID" formControlName="ddlLandAreaId" (change)="GetLandSqureMeterMappingDetails(request.LandAreaID)">
            <option value="0" disabled>--Select--</option>
            <option *ngFor="let item of LandAreaData"
                    value="{{item.LandAreaID}}">
              {{item.LandAreaName}}
            </option>
          </select>
          <p class="mb-0 text-danger">( Land should be in the name of Society/Trust only.)</p>
          <div *ngIf="isSubmitted&&form.ddlLandAreaId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandAreaId.errors.DropdownValidators" class="mb-0"> This field is required .!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="SelectedDepartmentID==5">
          <label>
            Land Type <span style="color:red;">*</span>
          </label>
          <select id="ddlMedicalGroupOneLandType" name="ddlMedicalGroupOneLandType" class="form-control" [(ngModel)]="request.MedicalGroupOneLandTypeID" formControlName="ddlMedicalGroupOneLandType" (change)="MedicalGroupOneLandType_Onclick()">
            <option value="0" disabled>--Select--</option>
            <option *ngFor="let item of MedicalGroupOneLandType"
                    value="{{item.ID}}">
              {{item.Name}}
            </option>
          </select>
          <p *ngIf="isSubmitted&&request.MedicalGroupOneLandTypeID==0" class="text-danger"> This field is required .!</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="ShowLeaseDate&&SelectedDepartmentID==5">
          <label>
            Lease Date(DD/MM/YYYY) <span style="color:red;">*</span>
          </label>
          <input type="date" id="dtLeaseDate" name="dtLeaseDate" class="form-control" [(ngModel)]="request.LeaseDate" formControlName="dtLeaseDate" onkeypress="return false;" />
          <p *ngIf="isSubmitted&&ShowLeaseDate&&request.LeaseDate ==''" class="text-danger mb-0"><i aria-hidden="true"></i>This field is required .!</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 ">
          <label>
            Land Document Type <span style="color:red;">*</span>
          </label>
          <select id="ddlLandDocumentTypeId" name="ddlLandDocumentTypeId" class="form-control" [(ngModel)]="request.LandDocumentTypeID" formControlName="ddlLandDocumentTypeId">
            <option value="0">--Select--</option>
            <option *ngFor="let item of LandDocumentTypeData"
                    value="{{item.LandDocumentTypeID}}">
              {{item.LandDocumentTypeName}}
            </option>
          </select>
          <div *ngIf="isSubmitted&&form.ddlLandDocumentTypeId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandDocumentTypeId.errors.DropdownValidators" class="mb-0"> This field is required .!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 ">
          <label>
            Is Your Land converted to Institution/Education <span style="color:red;">*</span>
          </label>
          <select formControlName="ddlLandconvertedId" id="ddlLandconvertedId" [(ngModel)]="request.LandConvertedID" class="form-control"
                  #SeletedLandConvertedID (change)="GetLandDocuments(SeletedLandConvertedID.value,'No')">
            <option value="0">--Select--</option>
            <option *ngFor="let item of LandConversionData"
                    value="{{item.ID}}">
              {{item.Name}}
            </option>
          </select>
          <div *ngIf="isSubmitted&&form.ddlLandconvertedId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandconvertedId.errors.DropdownValidators" class="mb-0"> This field is required .!</p>
          </div>
        </div>
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="SelectedDepartmentID==5">
          <label>
            The name of the person from whom the land was purchased or allotted <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtNameOfLandPurchasedAllotted" class="form-control" [(ngModel)]="request.NameOfLandPurchasedAllotted" formControlName="txtNameOfLandPurchasedAllotted" (keypress)="alphaOnly($event)" />
          <p *ngIf="isSubmitted&&request.NameOfLandPurchasedAllotted==''" class="text-danger"> This field is required .!</p>
        </div>-->

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 " *ngIf="SelectedDepartmentID==6">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 ">
              <label>
                Land OwnerShip <span style="color:red;">*</span>
              </label>
              <select id="ddlLandOwnerShip" name="ddlLandOwnerShip" class="form-control" #SelectedLandOwnerShipID (change)="OnChangeLandOwnerShip(SelectedLandOwnerShipID.value)" [(ngModel)]="request.LandOwnerShipID" formControlName="ddlLandOwnerShip">
                <option value="0" disabled>--Select--</option>
                <option *ngFor="let item of lstLandOwnerShip"
                        value="{{item.ID}}">
                  {{item.Name}}
                </option>
              </select>
              <p *ngIf="isSubmitted&&request.LandOwnerShipID==0" class="text-danger"> This field is required .!</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="ShowSociety">
              <label>
                Society Member Name <span style="color:red;">*</span>
              </label>
              <select id="ddlSocietyMemberName" name="ddlSocietyMemberName" class="form-control" [(ngModel)]="request.SocietyMemberID" formControlName="ddlSocietyMemberName">
                <option value="0" disabled>--Select--</option>
                <option *ngFor="let item of lstSocietyMemberName"
                        value="{{item.SocietyID}}">
                  {{item.PersonName}}
                </option>
              </select>
              <p *ngIf="isSubmitted&&request.LandOwnerShipID>0 && LandOwnerShipNames=='Society Member'&& request.SocietyMemberID==0 " class="text-danger"> This field is required .!</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 "  *ngIf="ShowSociety">
              <label>
                From Lease Date <span style="color:red;">*</span>
              </label>
              <input type="date" id="dtFromLeaseDate" name="dtFromLeaseDate" class="form-control" [(ngModel)]="request.FromLeaseDate" formControlName="dtFromLeaseDate" onkeypress="return false;" />
              <p *ngIf="isSubmitted&&request.LandOwnerShipID>0 && LandOwnerShipNames=='Society Member'&& request.FromLeaseDate==''" class="text-danger"> This field is required .!</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 "  *ngIf="ShowSociety">
              <label>
                To Lease Date <span style="color:red;">*</span>
              </label>
              <input type="date" id="dtToLeaseDate" name="dtToLeaseDate" class="form-control" [(ngModel)]="request.ToLeaseDate" formControlName="dtToLeaseDate" onkeypress="return false;" />
              <p *ngIf="isSubmitted&&request.LandOwnerShipID>0 && LandOwnerShipNames=='Society Member'&& request.ToLeaseDate==''" class="text-danger"> This field is required .!</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="ShowSociety">
              <label>Lease Document  </label>
              <div class="d-flex">
                <input type="file" [(ngModel)]="request.LeaseDocument" [ngModelOptions]="{standalone: true}"  id="fileLeaseDocument" (input)="onFilechangeLease($event,'LeaseDocument')" class="form-control d-none" />
                <label class="btn upload" for="fileLeaseDocument" style="width:300px !important">
                  <span class="filename">Choose file</span>
                  {{request.LeaseDocument === '' ? 'No File Choosen' : request.Dis_LeaseDocument}}
                </label>
                <div class="btn-group" *ngIf="request.LeaseDocument !== ''">
                  <a class="btn btn-outline-primary" target="_blank" href="{{request.LeaseDocumentPath}}"><i class="fa fa-eye"></i></a>
                  <button type="button" class="btn btn-outline-danger" (click)="DeleteLeaseDoc(request.LeaseDocument)"><i class="fa fa-trash-o"></i></button>
                </div>

              </div>
              <div class="text-danger">
                <p *ngIf="isSubmitted&&request.LandOwnerShipID>0 && LandOwnerShipNames=='Society Member'&& request.LeaseDocument==''"> This field is required .!</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 "  *ngIf="ShowRent">
              <label>
                From Rent Date <span style="color:red;">*</span>
              </label>
              <input type="date" id="dtFromRentDate" name="dtFromRentDate" class="form-control" [(ngModel)]="request.FromRentDate" formControlName="dtFromRentDate" onkeypress="return false;" />
              <p *ngIf="isSubmitted&&request.LandOwnerShipID>0 && LandOwnerShipNames=='Rent'&& request.FromRentDate==''" class="text-danger"> This field is required .!</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 "  *ngIf="ShowRent">
              <label>
                To Rent Date <span style="color:red;">*</span>
              </label>
              <input type="date" id="dtToRentDate" name="dtToRentDate" class="form-control" [(ngModel)]="request.ToRentDate" formControlName="dtToRentDate" onkeypress="return false;" />
              <p *ngIf="isSubmitted&&request.LandOwnerShipID>0 && LandOwnerShipNames=='Rent'&& request.ToRentDate==''" class="text-danger"> This field is required .!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
          <label><strong>Detail of the Land (With Khasra No.): * </strong> </label>
          <table class="table table-bordered table-hover table-striped mb-4 mt-0" id="tabellist" #content>

            <tbody>
              <tr *ngFor="let item of request.CollegeLandTypeDetails let idx=index;">
                <td valign="top">
                  <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" name="cbLand_{{idx+1}}_{{item.LandTypeID}}"
                         id="cbLand_{{idx+1}}_{{item.LandTypeID}}" value="{{item.LandTypeID}}"
                         (change)="LandType_cbChange($event,item,idx)"
                         [(ngModel)]="item.IsLandSelected">
                </td>
                <td valign="top">
                  {{item.LandTypeName}}
                </td>
                <td>
                  <label class="d-block" id="basic-addon1">Area:</label>
                  <input type="text" style="width: 100px !important;" maxlength="10" (keyup)="CalculateTotalArea(item,idx)" class="form-control" [disabled]="!item.IsLandSelected" [ngModelOptions]="{standalone: true}" value="{{item.LandArea==0?'':item.LandArea}}" placeholder="Enter LandArea" id="txtLandArea{{idx}}" (keypress)="numbersOnly($event)" name="txtLandArea{{idx}}" [(ngModel)]="item.LandArea" autocomplete="off">
                  <div class="text-danger">
                    <p *ngIf="item.IsLandSelected && item.LandArea==0"> This field is required .!</p>
                  </div>
                </td>
                <td>
                  <label class="d-block" id="basic-addon1">Khasra No:</label>
                  <input type="text" class="form-control" [disabled]="!item.IsLandSelected" [ngModelOptions]="{standalone: true}" placeholder="Enter Khasra No" id="txtKhasraNo{{idx}}" name="txtKhasraNo{{idx}}" [(ngModel)]="item.KhasraNo" autocomplete="off">
                  <div class="text-danger">
                    <p *ngIf="item.IsLandSelected && item.KhasraNo==''"> This field is required .!</p>
                  </div>
                </td>
                <td *ngIf="ShowConversionOrderNo">
                  <div [hidden]="item.LandTypeName=='Agriculture'">
                    <label class="d-block" id="basic-addon1">Land Conversion Order No:</label>
                  </div>
                  <input type="text" id="txtLandConversionOrderNo{{idx}}" [hidden]="item.LandTypeName=='Agriculture'" [disabled]="!item.IsLandSelected" maxlength="50" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="item.LandConversionOrderNo" />
                  <div class="text-danger" [hidden]="item.LandTypeName=='Agriculture'">
                    <p *ngIf="item.IsLandSelected && item.LandConversionOrderNo=='' "> This field is required .!</p>
                  </div>
                </td>


                <td *ngIf="ShowConversionOrderNo">
                  <div [hidden]="item.LandTypeName=='Agriculture'"><label class="d-block" id="basic-addon1">Order Date:</label></div>
                  <input type="date" id="dtLandConversionOrderDate{{idx}}" [hidden]="item.LandTypeName=='Agriculture'" [disabled]="!item.IsLandSelected" [ngModelOptions]="{standalone: true}" name="dtLandConversionOrderDate{{idx}}" class="form-control" [(ngModel)]="item.LandConversionOrderDate" max="{{LandConversionMaxDate | date:'yyyy-MM-dd'}}" min="{{LandConversionMinDate | date:'yyyy-MM-dd'}}" onkeypress="return false;" />
                  <div class="text-danger" [hidden]="item.LandTypeName=='Agriculture'">
                    <p *ngIf="item.IsLandSelected && item.LandConversionOrderDate==''"> This field is required .!</p>
                  </div>
                </td>
                <td *ngIf="ShowConversionOrderNo">
                  <label *ngIf="item.LandTypeName=='Instituional' || item.LandTypeName=='Educational' ">Land Converstion Document  </label>
                  <label *ngIf="item.LandTypeName=='Agriculture' || item.LandTypeName=='Commercial' || item.LandTypeName=='Residencial' ">Title Document  </label>
                  <div class="d-flex">
                    <input type="file" [(ngModel)]="item.LandConverstionDocument" [ngModelOptions]="{standalone: true}" [disabled]="!item.IsLandSelected" id="fileLandDocument_{{idx}}" (input)="onFilechangeItem($event,item)" class="form-control d-none" />
                    <label class="btn upload" for="fileLandDocument_{{idx}}" style="width:300px !important">
                      <span class="filename">Choose file</span>
                      {{item.FileName === '' ? 'No File Choosen' : item.Dis_FileName}}
                    </label>
                    <div class="btn-group" *ngIf="item.FileName !== ''">
                      <a class="btn btn-outline-primary" target="_blank" href="{{item.FilePath}}"><i class="fa fa-eye"></i></a>
                      <button type="button" class="btn btn-outline-danger" (click)="DeleteImageItem(item)"><i class="fa fa-trash-o"></i></button>
                    </div>

                  </div>
                  <div class="text-danger">
                    <p *ngIf="item.IsLandSelected && item.FileName==''"> This field is required .!</p>
                  </div>


                  <div *ngIf="item.IsOtherDocument==true" class="mt-1">
                    <label>Combine Document  </label>
                    <div class="d-flex">
                      <input type="file" [(ngModel)]="item.OtherDocument" [ngModelOptions]="{standalone: true}" id="fileLandDocumentOther_{{idx}}" (input)="onFilechangeItemOther($event,item)" class="form-control d-none" />
                      <label class="btn upload" for="fileLandDocumentOther_{{idx}}">
                        <span class="filename">Choose file</span>
                        {{item.FileOtherName === '' ? 'No File Choosen' : item.Dis_OtherFileName}}
                      </label>

                      <div class="btn-group" *ngIf="item.FileOtherName !== ''">
                        <a class="btn btn-outline-primary" target="_blank" href="{{item.FileOtherPath}}"><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-outline-danger" (click)="DeleteImageOther(item)"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </div>
                    <div class="text-danger">
                      <p *ngIf="item.IsLandSelected && item.FileOtherName==''"> This field is required .!</p>
                    </div>

                  </div>

                </td>
                <td *ngIf="ShowConversionOrderNo" valign="middle">
                  <div class="d-flex">
                    <button type="button" *ngIf="item.IsOtherDocument==true" class="btn btn-sm btn-danger" title="Delete" (click)="DeleteLandDetails(idx)"><i class="fa fa-trash"></i></button>
                    <button type="button" *ngIf="item.IsOtherDocument==false" [disabled]="!item.IsLandSelected" class="btn btn-sm btn-success" title="Add More" (click)="AddMoreLandDetails(item)"><i class="fa fa-plus"></i>Add More</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 ">
          <label>
            Name of Owner of Land <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtLandOwnerName" class="form-control" [(ngModel)]="request.LandOwnerName" formControlName="txtLandOwnerName" (keypress)="alphaOnly($event)" />

          <div *ngIf="isSubmitted&&form.txtLandOwnerName.errors" class="text-danger">
            <p *ngIf="form.txtLandOwnerName.errors.required" class="mb-0"> This field is required .!</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 ">
          <label *ngIf="SelectedDepartmentID!=1">
            Land Area (in {{LandUnitType !=''?LandUnitType:UnitOfLand}}) <span style="color:red;">*</span>
          </label>
          <label *ngIf="SelectedDepartmentID==1">
            Converted Area (in {{LandUnitType !=''?LandUnitType:UnitOfLand}}) <span style="color:red;">*</span>
          </label>

          <input type="text" id="txtLandArea" class="form-control" [(ngModel)]="request.LandArea" formControlName="txtLandArea" (keypress)="numbersOnly($event)" />
          <p class="text-primary"><i aria-hidden="true"></i>Land area must be at least : {{RequiredLandAreaMsg}}</p>

          <div *ngIf="isSubmitted&&form.txtLandArea.errors" class="text-danger">
            <p *ngIf="form.txtLandArea.errors.required" class="mb-0">This field is required .!</p>
            <p *ngIf="form.txtLandArea.errors.min" class="mb-0">This field is required .!</p>

          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="SelectedDepartmentID==5">
          <label>
            Land Unit <span style="color:red;">*</span>
          </label>
          <select id="ddlMedicalGroupOneLandUnit" name="ddlMedicalGroupOneLandUnit" class="form-control" [(ngModel)]="request.MedicalGroupOneLandUnitID" formControlName="ddlMedicalGroupOneLandUnit">
            <option value="0" disabled>--Select--</option>
            <option *ngFor="let item of MedicalGroupOneLandUnit"
                    value="{{item.ID}}">
              {{item.Name}}
            </option>
          </select>
          <p *ngIf="isSubmitted&&request.MedicalGroupOneLandUnitID==0" class="text-danger"> This field is required .!</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngIf="ShowAffidavitDate">
          <label>
            Affidavit Date(DD/MM/YYYY) <span style="color:red;">*</span>
          </label>
          <input type="date" id="dtAffidavitDate" name="v" class="form-control" [(ngModel)]="request.AffidavitDate" formControlName="dtAffidavitDate" onkeypress="return false;" />
          <p *ngIf="isSubmitted&&request.AffidavitDate ==''" class="text-danger mb-0"><i aria-hidden="true"></i> {{AffidavitDateValidate}}</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 " *ngFor="let item of request.LandDetailDocument ; let idx =index">
          <label>
            {{item.DocumentName}}<span style="font-size:12px;">{{item.DisplayName}}</span> <span style="color:red;" *ngIf="item.IsMandatory">*</span>
          </label>
          <div class="d-flex">
            <input type="file" id="fileLandDocument_{{item.DID}}" class="form-control d-none" (input)="onFilechange($event,item)" />
            <label class="btn upload" for="fileLandDocument_{{item.DID}}">
              <span class="filename">Choose file</span>
              {{item.FileName === '' ? 'No File Choosen' : item.Dis_FileName}}
            </label>

            <div class="btn-group" *ngIf="item.FileName !== ''">
              <a class="btn btn-outline-primary" target="_blank" href="{{item.FilePath}}"><i class="fa fa-eye"></i></a>
              <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(item)"><i class="fa fa-trash-o"></i></button>
            </div>

          </div>
          <!--<p class="text-primay" *ngIf="item.DocumentName =='Land Document'">( Upload first and last page of land registered document )</p>-->
          <a class="text-primay" *ngIf="item.SampleDocument !=''&&item.DocumentName=='Land Title Certificate'" target="_blank" href="{{item.SampleDocument}}">(Download Annexure-13)</a>
          <a class="text-primay" *ngIf="item.SampleDocument !='' &&item.DocumentName=='Affidavit document for conversion'" target="_blank" href="{{item.SampleDocument}}">(Download Annexure-7)</a>
          <div *ngIf="isSubmitted&&item.IsMandatory==true&&item.FileName == ''" class="text-danger">
            <p>This field is required .!</p>
          </div>

        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button type="button" class="btn btn-primary" id="btnAddLandDetail" name="btnSave" (click)="AddLandDetails()"> Save</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="ResetControl()"> Reset</button>
    </div>
  </form>

  <div class="table-responsive" *ngIf="LandDetailsList.length>0">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>College</th>
          <th>Land Situated</th>
          <th>Land Doc Type</th>
          <th>Is Convereted</th>
          <th>Owner Name</th>
          <th>Land Area</th>
          <th *ngIf="SelectedDepartmentID==5">Land Type</th>
          <th *ngIf="SelectedDepartmentID==5">Lease Date</th>
          <th *ngIf="SelectedDepartmentID==6">Land OwnerShip</th>
          <th *ngIf="SelectedDepartmentID==5">Land Unit</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of  LandDetailsList; let idx =index">
          <td>{{idx+1}}</td>
          <td>{{item.CollegeName}}</td>
          <td>{{item.LandAreaSituatedName}}</td>
          <td>{{item.LandDocumentTypeName}}</td>
          <td>{{item.IsConvereted}}</td>
          <td>{{item.LandOwnerName}}</td>
          <td>{{item.LandArea}}</td>

          <td *ngIf="SelectedDepartmentID==5">{{item.MedicalGroupOneLandType}}</td>
          <td *ngIf="SelectedDepartmentID==5">{{item.MedicalGroupOneLandType=='Lease for 99 years'?item.LeaseDate:'NA'}}</td>
          <td *ngIf="SelectedDepartmentID==6">
            {{item.LandOwnerShipName}}       <br />
            <span *ngIf="item.LandOwnerShipName=='Society Member'">
              Society Member Name :  {{item.SocietyMemberName}}
              <br />
              From Lease Date :  {{item.FromLeaseDate}}
              <br />
              To Lease Date :  {{item.ToLeaseDate}}
              <br />
              Lease Document :  <a class="btn-outline-primary" target="_blank" href="{{item.LeaseDocumentPath}}" title="View Document"><i class="fa fa-eye"></i></a>
            </span>
            <span *ngIf="item.LandOwnerShipName=='Rent'">
              From Rent Date :  {{item.FromRentDate}}
              <br />
              To Rent Date :  {{item.ToRentDate}}
            </span>
          </td>
          <td *ngIf="SelectedDepartmentID==5">{{item.MedicalGroupOneLandUnit}}</td>
          <!--<td>{{item.BuildingHostelQuartersRoadArea}}</td>-->
          <td>
            <div class="d-flex">
              <button type="button" (click)="Edit_OnClick(item.LandDetailID)" title="Edit" class="btn btn-sm btn-info" [disabled]="isDisabledGrid" [hidden]="(QueryStringStatus=='R'&&item.Action=='Yes')"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-sm btn-danger" title="Delete" (click)="DeleteLandDetail(item.LandDetailID)" [disabled]="isDisabledGrid" [hidden]="QueryStringStatus=='R'"><i class="fa fa-trash"></i></button>
              <a href="javascript:void(0)" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-backdrop="false" data-bs-target="#ViewLandDetailDocument" (click)="ViewViewLandDetailDocumentByID(item.LandDetailID)"><i class="fa fa-eye"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">


    <div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
      <h4 class="text-danger">Disclaimer:</h4>
      <ol>
        <li *ngFor="let item of TermAndConditionData  let idx =index">
          {{item.TermAndConditionName}}
        </li>
      </ol>

    </div>
  </div>

</div>

<div class="modal fade" id="ViewLandDetailDocument" tabindex="-1" aria-labelledby="ViewLandDetailDocument" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Land Details Document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="ViewLandDetailDocument"><i class="fa fa-close"></i></button>
      </div>
      <div class="modal-body py-4">
        <div class="row" *ngIf="LandDetailsDocumentListByID.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i>&nbsp;Land Details Document </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Document Name</th>
                        <th>Document Type</th>
                        <th>Show Document</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of LandDetailsDocumentListByID; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.DocumentName}}</td>
                        <td>{{row.DocumentType}}</td>
                        <td><a class="btn-outline-primary" target="_blank" href="{{row.FilePath}}" title="View Document"><i class="fa fa-eye"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <br />
        </div>
        <div class="row" *ngIf="DetailoftheLand.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i>&nbsp;Detail of the Land (With Khasra No.):  </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Land Type</th>
                        <th>Area</th>
                        <th>Khasra No</th>
                        <th>Land Conversion Order No</th>
                        <th>Land Conversion Order Date</th>
                        <th>Land Conversion Document</th>
                        <th>Other Document</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of DetailoftheLand; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.LandTypeName}}</td>
                        <td>{{row.LandArea}}</td>
                        <td>{{row.KhasraNo}}</td>
                        <td>{{row.LandConversionOrderNo}}</td>
                        <td>{{row.LandConversionOrderDate}}</td>

                        <td><a class="btn-outline-primary" target="_blank" href="{{row.FilePath}}" title="View Document"><i class="fa fa-eye"></i></a></td>


                        <td>

                          <a *ngIf="row.FileOtherName!=''" class="btn-outline-primary" target="_blank" href="{{row.FileOtherPath}}" title="View Document"><i class="fa fa-eye"></i></a>

                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>





