<div class="card tabCard1 mb-0" id="LandDetails1">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp; Land Details </b>
  </div>

  <div class="card-body">

    <form [formGroup]="LandDetailForm" class="form-horizontal">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <label>Select College</label>
          <select class="form-select" [(ngModel)]="request.CollegeID" id="ddlCollegeId" name="ddlCollegeId" formControlName="ddlCollegeId">
            <!--<option value="0" disabled>--Select--</option>-->
            <option *ngFor="let item of CollegeData"
                    value="{{item.CollegeID}}">
              {{item.CollegeName}}
            </option>
          </select>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <label>
            Land Area Situated In <span style="color:red;">*</span>
          </label>
          <select id="ddlLandAreaId" name="ddlLandAreaId" class="form-control" [(ngModel)]="request.LandAreaID" formControlName="ddlLandAreaId" (change)="GetLandSqureMeterMappingDetails(request.LandAreaID)">
            <option value="0" disabled>--Select--</option>
            <option *ngFor="let item of LandAreaData"
                    value="{{item.LandAreaID}}">
              {{item.LandAreaName}}
            </option>
          </select>
          <p style="color: #3458c8;">( Land should be in the name of Society/Trust only.)</p>
          <div *ngIf="isSubmitted&&form.ddlLandAreaId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandAreaId.errors.DropdownValidators"> This field is required .!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <label>
            Land Document Type <span style="color:red;">*</span>
          </label>
          <select id="ddlLandDocumentTypeId" name="ddlLandDocumentTypeId" class="form-control" [(ngModel)]="request.LandDocumentTypeID" formControlName="ddlLandDocumentTypeId">
            <option value="0">--Select--</option>
            <option *ngFor="let item of LandDocumentTypeData"
                    value="{{item.LandDocumentTypeID}}">
              {{item.LandDocumentTypeName}}
            </option>
          </select>
          <div *ngIf="isSubmitted&&form.ddlLandDocumentTypeId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandDocumentTypeId.errors.DropdownValidators"> This field is required .!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <label>
            Is Your Land converted to Institution/Education <span style="color:red;">*</span>
          </label>
          <select formControlName="ddlLandconvertedId" id="ddlLandconvertedId" [(ngModel)]="request.LandConvertedID" class="form-control"
                  #SeletedLandConvertedID (change)="GetLandDocuments(SeletedLandConvertedID.value,'No')">
            <option value="0">--Select--</option>
            <option *ngFor="let item of LandConversionData"
                    value="{{item.ID}}">
              {{item.Name}}
            </option>
          </select>
          <div *ngIf="isSubmitted&&form.ddlLandconvertedId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandconvertedId.errors.DropdownValidators"> This field is required .!</p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
          <label>
            Detail of the Land (With Khasra No.): *
          </label>
          <table class="table table-hover table-striped-columns" id="tabellist" #content>
            
            <tbody>
              <tr *ngFor="let item of request.CollegeLandTypeDetails let idx=index;">
                <td>
               
                  <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" name="cbSubject_TNOCExtension_{{idx+1}}_{{item.LandTypeID}}"
                         id="cbSubject_TNOCExtension_{{idx+1}}_{{item.LandTypeID}}" value="{{item.LandTypeID}}"
                         (change)="ApplyNocFor_cbChange($event,item)"
                         [(ngModel)]="item.IsLandSelected">
                </td>
                <td>
                  {{item.LandTypeName}}
                </td>
                <td>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Area:</span>
                    </div>
                    <input type="text" class="form-control" [disabled]="!item.IsLandSelected"  [ngModelOptions]="{standalone: true}"  value="{{item.LandArea==0?'':item.LandArea}}" placeholder="Enter LandArea" id="txtLandArea{{idx}}" (keypress)="numberOnly($event)" name="txtLandArea{{idx}}" [(ngModel)]="item.LandArea" autocomplete="off">
                  </div>
                  <div class="text-danger">
                    <p *ngIf="item.IsLandSelected && item.LandArea==0"> This field is required .!</p>
                  </div>

                </td>
                <td>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Khasra No:</span>
                    </div>
                    <input type="text" class="form-control" [disabled]="!item.IsLandSelected"  [ngModelOptions]="{standalone: true}"  placeholder="Enter Khasra No" id="txtKhasraNo{{idx}}" name="txtKhasraNo{{idx}}" [(ngModel)]="item.KhasraNo" autocomplete="off">
                  </div>
                  <div class="text-danger">
                    <p *ngIf="item.IsLandSelected && item.KhasraNo==''"> This field is required .!</p>
                  </div>

                </td>
              </tr>
              </tbody>
            </table>
        </div>

        <!--<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <label>
            Land Type <span style="color:red;">*</span>
          </label>
          <select id="ddlLandTypeId" name="ddlLandTypeId" class="form-control" [(ngModel)]="request.LandTypeID" formControlName="ddlLandTypeId">
            <option value="0">--Select--</option>
            <option *ngFor="let item of LandTypeData"
                    value="{{item.LandTypeID}}">
              {{item.LandTypeName}}
            </option>
          </select>

          <div *ngIf="isSubmitted&&form.ddlLandTypeId.errors" class="text-danger">
            <p *ngIf="!form.ddlLandTypeId.errors.DropdownValidators"> This field is required .!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <label>
            Khasra Number <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtKhasraNumber" class="form-control" [(ngModel)]="request.KhasraNumber" formControlName="txtKhasraNumber" />-->
          <!--<p style="color: #3458c8;">( If khasra no. is more than one then separate khasra no. by comma.)</p>-->
          <!--<div *ngIf="isSubmitted&&form.txtKhasraNumber.errors" class="text-danger">
            <p *ngIf="form.txtKhasraNumber.errors.required"> This field is required .!</p>
          </div>
        </div>-->


        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <label>
            Name of Owner of Land <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtLandOwnerName" class="form-control" [(ngModel)]="request.LandOwnerName" formControlName="txtLandOwnerName" (keypress)="alphaOnly($event)" />

          <div *ngIf="isSubmitted&&form.txtLandOwnerName.errors" class="text-danger">
            <p *ngIf="form.txtLandOwnerName.errors.required"> This field is required .!</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <label>
            Land Area (in {{LandUnitType !=''?LandUnitType:UnitOfLand}}) <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtLandArea" class="form-control" [(ngModel)]="request.LandArea" formControlName="txtLandArea" (keypress)="numbersOnly($event)" />
          <!--<p *ngIf="IsRequiredLandArea" class="text-danger"><i aria-hidden="true"></i>Land area must be at least : {{RequiredLandAreaMsg}}</p>-->

          <div *ngIf="isSubmitted&&form.txtLandArea.errors" class="text-danger">
            <p *ngIf="form.txtLandArea.errors.required">This field is required .!</p>
            <p *ngIf="form.txtLandArea.errors.min">This field is required .!</p>
            
          </div>
        </div>

        <!--<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <label>
            Total Building Area (in {{UnitOfLand}}) <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtBuildingHostelQuartersRoadArea" class="form-control" [(ngModel)]="request.BuildingHostelQuartersRoadArea" formControlName="txtBuildingHostelQuartersRoadArea" (keypress)="numberOnly($event)" />
          <p *ngIf="IstxtBuildingHostel" class="text-danger"><i aria-hidden="true"></i>Enter the Building/Hostel/Quarters/Road Area(A1) .!</p>
          <div *ngIf="isSubmitted&&form.txtBuildingHostelQuartersRoadArea.errors" class="text-danger">
            <p *ngIf="form.txtBuildingHostelQuartersRoadArea.errors.required">This field is required .!</p>
            <p *ngIf="form.txtBuildingHostelQuartersRoadArea.errors.min">This field is required .!</p>
          </div>
        </div>-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowConversionOrderNo">
          <label>
            Land Conversion Order Date(DD/MM/YYYY) <!--<span style="color:red;">*</span>-->
          </label>
          <input type="date" id="dtLandConversionOrderDate" name="dtLandConversionOrderDate" class="form-control" [(ngModel)]="request.LandConversionOrderDate" formControlName="dtLandConversionOrderDate" max="{{LandConversionMaxDate | date:'yyyy-MM-dd'}}" min="{{LandConversionMinDate | date:'yyyy-MM-dd'}}" onkeypress="return false;" />
          <p *ngIf="isSubmitted&&request.LandConversionOrderDate ==''" class="text-danger"><i aria-hidden="true"></i> {{LandConversionDateValidate}}</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowConversionOrderNo">
          <label>
            Land Conversion Order No <span style="color:red;">*</span>
          </label>
          <input type="text" id="txtLandConversionOrderNo" class="form-control" [(ngModel)]="request.LandConversionOrderNo" formControlName="txtLandConversionOrderNo" />
          <p *ngIf="isSubmitted&&request.LandConversionOrderNo ==''" class="text-danger"><i aria-hidden="true"></i> {{LandConversionOrderNoValidate}}</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowAffidavitDate">
          <label>
            Affidavit Date(DD/MM/YYYY) <span style="color:red;">*</span>
          </label>
          <input type="date" id="dtAffidavitDate" name="v" class="form-control" [(ngModel)]="request.AffidavitDate" formControlName="dtAffidavitDate" onkeypress="return false;" />
          <p *ngIf="isSubmitted&&request.AffidavitDate ==''" class="text-danger"><i aria-hidden="true"></i> {{AffidavitDateValidate}}</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngFor="let item of request.LandDetailDocument ; let idx =index">
          <label>
            {{item.DocumentName}}{{item.DisplayName}} <span style="color:red;" *ngIf="item.IsMandatory">*</span>
          </label>
          <div class="d-flex">
            <input type="file" id="fileLandDocument_{{item.DID}}" class="form-control d-none" (input)="onFilechange($event,item)" />
            <label class="btn upload" for="fileLandDocument_{{item.DID}}">
              <span class="filename">Choose file</span>
              {{item.FileName === '' ? 'No File Choosen' : item.Dis_FileName}}
            </label>

            <div class="btn-group" *ngIf="item.FileName !== ''">
              <a class="btn btn-outline-primary" target="_blank" href="{{item.FilePath}}"><i class="fa fa-eye"></i></a>
              <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(item)"><i class="fa fa-trash-o"></i></button>
            </div>

          </div>
          <p style="color: #3458c8;" *ngIf="item.DocumentName =='Land Document'">( Upload first and last page of land registered document )</p>
          <a style="color: #3458c8;" *ngIf="item.SampleDocument !=''&&item.DocumentName=='Land Title Certificate'" target="_blank" href="{{item.SampleDocument}}">(Download Annexure-13)</a>
          <a style="color: #3458c8;" *ngIf="item.SampleDocument !='' &&item.DocumentName=='Affidavit document for conversion'" target="_blank" href="{{item.SampleDocument}}">(Download Annexure-1)</a>
          <div *ngIf="isSubmitted&&item.FileName == ''" class="text-danger">
            <p>This field is required .!</p>
          </div>
        </div>
        <!--committed by naresh any dout call me-->
        <!--<div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngFor="let item of AnnexureData">
            <button class="btn btn-success" type="button">
              {{item.AnnexureName}}
            </button>
          </div>
        </div>-->
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 mt-3 text-end">
          <button type="button" class="btn btn-primary" id="btnAddLandDetail" name="btnSave" (click)="AddLandDetails()"> Save</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="ResetControl()"> Reset</button>
        </div>
      </div>
    </form>


    <div class="row" *ngIf="LandDetailsList.length>0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">

        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>College</th>
                <th>Land Situated</th>
                <th>Land Doc Type</th>
                <th>Is Convereted</th>
                <th>Order No.</th>
                <th>Order Date</th>
                <!--<th>Land Type</th>
                <th>Khasra No.</th>-->
                <th>Owner Name</th>
                <th>Land Area</th>
                <!--<th>Building/Hostel/Quarters/Road Area(A1)</th>-->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of  LandDetailsList; let idx =index">
                <td>{{idx+1}}</td>
                <td>{{item.CollegeName}}</td>
                <td>{{item.LandAreaSituatedName}}</td>
                <td>{{item.LandDocumentTypeName}}</td>
                <td>{{item.IsConvereted}}</td>
                <td>{{item.LandConversionOrderNo}}</td>
                <td>{{item.LandConversionOrderDate | date:'dd-MM-yyyy'}}</td>
                <!--<td>{{item.LandTypeName}}</td>
                <td>{{item.KhasraNumber}}</td>-->
                <td>{{item.LandOwnerName}}</td>
                <td>{{item.LandArea}}</td>
                <!--<td>{{item.BuildingHostelQuartersRoadArea}}</td>-->
                <td>
                  <div class="d-flex">
                    <button type="button" (click)="Edit_OnClick(item.LandDetailID)" title="Edit" class="btn btn-sm btn-info" [disabled]="isDisabledGrid"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" title="Delete" (click)="DeleteLandDetail(item.LandDetailID)" [disabled]="isDisabledGrid"><i class="fa fa-trash"></i></button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-backdrop="false" data-bs-target="#ViewLandDetailDocument" (click)="ViewViewLandDetailDocumentByID(item.LandDetailID)"><i class="fa fa-eye"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <h4 class="text-danger">Disclaimer:</h4>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
        <ol>
          <li *ngFor="let item of TermAndConditionData  let idx =index">
            {{item.TermAndConditionName}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ViewLandDetailDocument" tabindex="-1" aria-labelledby="ViewLandDetailDocument" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Land Details Document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="ViewLandDetailDocument"><i class="fa fa-close"></i></button>
      </div>
      <div class="modal-body py-4">
        <div class="row" *ngIf="LandDetailsDocumentListByID.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i>Land Details Document </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Document Name</th>
                        <th>Document Type</th>
                        <th>Show Document</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of LandDetailsDocumentListByID; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.DocumentName}}</td>
                        <td>{{row.DocumentType}}</td>
                        <td><a class="btn-outline-primary" target="_blank" href="{{row.FilePath}}" title="View Document"><i class="fa fa-eye"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>





