<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application Details (<span style="color:forestgreen">{{CollegeName}})</span> </h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">

          <button [attr.disabled]="IsShowDraftFinalSubmit ? true : null" class="btn btn-success" type="button" (click)="DraftFinalSubmit(1)">
            Draft Final Submit</button>

          </li>
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Details</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-md-12">

          <mat-tab-group mat-align-tabs="center" class="tabUl1 d-block w-100" [selectedIndex]="selectedIndex" #tabs (selectedTabChange)="onTabChange($event)">
            <!--Land Information-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['LandInformation']>0"></i>
                <span>Land Information</span>
              </ng-template>
              <app-land-details></app-land-details>
            </mat-tab>
            <!--Facility-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['Facility']>0"></i>
                <span>Facility</span>
              </ng-template>
              <app-facility-details></app-facility-details>
            </mat-tab>
            <!--Required Document-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['RequiredDocument']>0"></i>
                <span>Required Document</span>
              </ng-template>
              <app-required-document></app-required-document>
            </mat-tab>
            <!--Room Details-->

            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['RoomDetails']>0 && CheckTabsEntryData['OtherInformation']>0"></i>
                <span>Room Details</span>
              </ng-template>
              <mat-tab-group mat-align-tabs="left" class="tabUl1 d-block w-100">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['RoomDetails']>0"></i>
                    <span>Room Details</span>
                  </ng-template>
                  <app-room-details></app-room-details>
                </mat-tab>

                <!--Other Information-->
                <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['OtherInformation']>0"></i>
                    <span>Other Information</span>
                  </ng-template>
                  <app-other-information></app-other-information>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>


            <!--Building Documents-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['BuildingDocuments']>0"></i>
                <span>Building Documents</span>
              </ng-template>
              <app-building-details></app-building-details>
            </mat-tab>

            <!--Staff Details-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['StaffDetails']>0"></i>
                <span>Staff Details</span>
              </ng-template>
              <app-staff-details></app-staff-details>
            </mat-tab>
            <!--OLD NOC Details Only for New-->

            <mat-tab *ngIf="CollegeType_IsExisting">
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['OLDNOCDetails']>0"></i>
                <span>OLD NOC Details</span>
              </ng-template>
              <app-old-nocdetails></app-old-nocdetails>
            </mat-tab>

            <!--Academic Information Only for New-->
            <mat-tab *ngIf="CollegeType_IsExisting">
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['AcademicInformation']>0"></i>
                <span>Academic Information</span>
              </ng-template>
              <app-academic-information></app-academic-information>
            </mat-tab>

            <!--Other Document-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['OtherDocument']>0"></i>
                <span>Other Document</span>
              </ng-template>
              <app-other-document></app-other-document>
            </mat-tab>

            <!--Hospital Details-->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['HospitalDetails']>0"></i>
                <span>Hospital Details</span>
              </ng-template>
              <app-hospital-detail></app-hospital-detail>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['HostelDetails']>0"></i>
                <span>Hostel Details</span>
              </ng-template>
              <app-hostel-details></app-hostel-details>
            </mat-tab>

          </mat-tab-group>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 mt-3 text-end">
          <button *ngIf="this.selectedIndex != 0" class="btn btn-primary" type="button" (click)="PreviousStep()"><< Previous</button>
          <button *ngIf="this.selectedIndex != maxNumberOfTabs" class="btn btn-primary" type="button" (click)="NextStep()" style="margin-left:20px">Next >></button>
        </div>
        <!--<div class="col-md-2 text-end">
          <a routerLink="../addcourses" class="btn btn-primary btn-sm">Back To Course List</a>
        </div>-->
      </div>

    </div>
  </div>
</div>
