<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application List</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application List</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="card tabCard1 mb-0">
    <div class="card-header">
      <b><i class="bi bi-table"></i>&nbsp;Application List</b>
    </div>
    <div class="card-body">
      <div class="clearfix"></div>
      <div class="card">
        <div class="card-header">
          <b>&nbsp;Application List</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Department Name</th>
                      <th>College Name</th>
                      <th>Application No.</th>
                      <th>Application Type</th>
                      <th *ngIf="QueryStringStatus!='Revert'">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ApplyNocDetails let idx =index">
                      <td>{{idx+1}}</td>
                      <td>{{item.DepartmentName}}</td>
                      <td>{{item.CollegeName}}</td>
                      <td>{{item.ApplicationNo}}</td>
                      <td>{{item.ApplicationTypes}}</td>
                      <td *ngIf="QueryStringStatus!='Revert'">
                        <a *ngIf="QueryStringStatus=='Pending'" href="javascript:void(0)" title="Application Scrutiny" (click)="ApplicationScrutiny_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                        &nbsp;<button type="button" class="btn btn-sm btn-primary" *ngIf="item.PVStage!='0' " title="Post Verification Details" (click)="ViewApplicationPvDetails(mymodalViewPVDetails,item.ApplyNOCID,item.DepartmentID,item.CollegeID,item.ApplicationNo)"><i class="fa fa-list"></i></button>
                        &nbsp;<button type="button" class="btn btn-sm btn-info" title="View Application trail" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-list"></i></button>
                        <a *ngIf="item.L1UploadDocument!=''" class="btn btn-sm btn-primary m-1" href="{{item.L1UploadDocumentPath}}" title="Level L1 Document" target="_blank"><i class="fa fa-eye"></i></a>
                        <a *ngIf="item.L2UploadDocument!=''" class="btn btn-sm btn-primary m-1" href="{{item.L2UploadDocumentPath}}" title="Level L2 Document" target="_blank"><i class="fa fa-eye"></i></a>
                        <a *ngIf="item.MinisterFile!=''" class="btn btn-sm btn-primary m-1" href="{{item.MinisterFilePath}}" title="Minister Offline File" target="_blank"><i class="fa fa-eye"></i></a>
                        <a href="javascript:void(0)" title="Application Preview" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID)" class="btn btn-sm btn-secondary">
                          <i class="fa fa-eye"></i>
                        </a>

                        &nbsp;<a *ngIf="QueryStringStatus=='Pending'&& this.sSOLoginDataModel.RoleID==11" href="javascript:void(0)" class="btn btn-sm btn-info" title="Action" (click)="OpenGeneratePDFPopUP(ViewOpenGeneratePDFPopUP,item.ApplyNOCID,item.DepartmentID)">Generate NOC Draft</a>
                        <span *ngIf="QueryStringStatus=='Pending' && this.sSOLoginDataModel.RoleID==11 || this.sSOLoginDataModel.RoleID==23">
                          <br /> <a style="margin-top:5px !important" *ngFor="let items of item.DraftNOCPdfFileDataModel let idxx =index" class="btn btn-sm btn-primary bi bi-file-earmark-pdf-fill" href="{{items.NOCFilePath}}" title="{{items.ApplyNocFor}}" target="_blank">{{items.ApplyNocFor}}</a>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="10" *ngIf="ApplyNocDetails.length<=0" style="color:red"> No Data Found.!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <!--Modal Start For Assign Commettiee-->
        <ng-template #mymodalViewPVDetails let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Post Verification Details (ApplicationNo:{{ApplicationNo}})</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row m-t1">

              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Description
                        </th>
                        <th>
                          PV Date
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Remarks
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of PVApplicationDetailsList;let idx=index;">
                        <td>
                          {{idx+1}}
                        </td>
                        <td>
                          {{row.RNCCheckListName}}
                        </td>
                        <td>
                          {{row.PVDate}}
                        </td>
                        <td>
                          {{row.strStatus}}
                        </td>
                        <td>
                          {{row.Remark}}
                        </td>
                      </tr>
                      <tr *ngIf="PVApplicationDetailsList.length<=0">
                        <td colspan="5" style="color:red">No Record Found.!</td>
                      </tr>
                    </tbody>
                  </table>
                  <br />

                  <table>
                    <thead>
                      <tr>
                        <th>
                          Special Remakrs
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>  {{PVApplicationDetailsList.length>0?PVApplicationDetailsList[0]['FinalRemark']:''}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <b>DETAILS OF INSPECTION TEAM MEMBERS</b>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Mobile Number
                        </th>
                        <th>
                          SSO ID
                        </th>
                        <th>
                          Is Primary Member
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of PVCommitteeList;let idx=index;">
                        <td>
                          {{idx+1}}
                        </td>
                        <td>
                          {{row.NameOfPerson}}
                        </td>
                        <td>
                          {{row.MobileNumber}}
                        </td>
                        <td>
                          {{row.SSOID}}
                        </td>
                        <td>
                          <span>
                            {{row.IsPrimaryMember=='1'?'Yes':'No'}}
                          </span>
                        </td>
                      </tr>
                      <tr *ngIf="PVCommitteeList.length<=0">
                        <td colspan="5" style="color:red">No Record Found!</td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <b *ngIf="WorkFlowRemarks.length>0">Details Of Other Officer Remarks</b>
                  <table class="table table-bordered" *ngIf="WorkFlowRemarks.length>0">
                    <thead>
                      <tr>
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          SSO ID
                        </th>
                        <th>
                          Role
                        </th>
                        <th>
                          Remark
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of WorkFlowRemarks;let idx=index;">
                        <td>
                          {{idx+1}}
                        </td>
                        <td>
                          {{row.Name}}
                        </td>
                        <td>
                          {{row.SSOID}}
                        </td>
                        <td>
                          {{row.RoleName}}
                        </td>
                        <td>
                          <span>
                            {{row.Remark}}
                          </span>
                        </td>
                      </tr>
                      <!--<tr *ngIf="WorkFlowRemarks.length<=0">
                        <td colspan="5" style="color:red">No Record Found!</td>
                      </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <!--END MODAL-->

        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Trail</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-header">
                <b>Application Trail</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped-columns">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>User Name</th>
                          <th>Next User & Role</th>
                          <th>Action</th>
                          <th>Action Date</th>
                          <th>Remark</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplicationTrailList let idx =index">
                          <td>{{idx+1}}</td>
                          <td>{{item.ActionUser}}</td>
                          <td>{{item.NextUserName}} ({{item.NextRoleName}})</td>
                          <td>{{item.ActionName}}</td>
                          <td>{{item.ActionDate}}</td>
                          <td>{{item.Remark}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #ViewOpenGeneratePDFPopUP let-modal>

          <div class="modal-header">
            <h5 class="modal-title">NOC Issue</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i></button>
          </div>
          <div class="modal-body py-4">
            <app-loader></app-loader>
            <div class="card">
              <div class="card-header">
                <b>&nbsp;NOC Released For</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngFor="let item of ApplyNocParameterMasterList;let idx=index;">
                    <label class="form-check-label" for="cbNocFor_{{item.ApplyNocParameterID}}">
                      <input class="form-check-input" type="checkbox" name="cbNocFor_{{item.ApplyNocParameterID}}" id="cbNocFor_{{item.ApplyNocParameterID}}" value="{{item.ApplyNocParameterID}}" #SelectedApplyNocForID (change)="ApplyNocFor_cbChange(item.ApplyNocApplicationID,item.ApplyNocParameterID,item.IsChecked,item.ParameterCode)" [(ngModel)]="item.IsChecked"
                             [ngModelOptions]="{standalone: true}"> {{item.ApplyNocFor}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="ApplyNocParameterMasterList_ChangeInCollegeManagement!=null">
              <div class="card-header">
                <b>&nbsp;Change in College Management</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Name of New Society</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>{{ApplyNocParameterMasterList_ChangeInCollegeManagement.NewSocietyName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="ApplyNocParameterMasterList_ChangeInCollegeManagement.NOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview1" (click)="PreviewPDF(8,ApplyNocParameterMasterList_ChangeInCollegeManagement.NOCFormat)" name="btnpreview1">Preview</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="ApplyNocParameterMasterList_ChangeInNameOfCollege!=null">
              <div class="card-header">
                <b>&nbsp;Change in Name of College</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>New Name in English</th>
                          <th>New Name in Hindi</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>{{ApplyNocParameterMasterList_ChangeInNameOfCollege.NewNameEnglish}}</td>
                          <td>{{ApplyNocParameterMasterList_ChangeInNameOfCollege.NewNameHindi}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="ApplyNocParameterMasterList_ChangeInNameOfCollege.NOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview2" (click)="PreviewPDF(3,ApplyNocParameterMasterList_ChangeInNameOfCollege.NOCFormat)" name="btnpreview2">Preview</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="ApplyNocParameterMasterList_ChangeInPlaceOfCollege!=null">
              <div class="card-header">
                <b>&nbsp;College Place Change</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>New Place Name and Address</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>{{ApplyNocParameterMasterList_ChangeInPlaceOfCollege.PlaceName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="ApplyNocParameterMasterList_ChangeInPlaceOfCollege.NOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview3" (click)="PreviewPDF(4,ApplyNocParameterMasterList_ChangeInPlaceOfCollege.NOCFormat)" name="btnpreview3">Preview</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="ApplyNocParameterMasterList_NewCourse.length>0">
              <div class="card-header">
                <b>&nbsp;New Course</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Course</th>
                          <th>Subject</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplyNocParameterMasterList_NewCourse; let idx=index ">
                          <td>{{idx+1}}</td>
                          <td>{{item.CourseName}}</td>
                          <td>
                            <p *ngFor="let row of item.SubjectList; let sidx=index ">
                              <input type="checkbox" class="checkboxSize" [(ngModel)]="row.IsSubjectChecked" id="chkSubject{{row.SubjectID}}{{sidx+1}}" name="chkCourse{{row.SubjectID}}{{sidx+1}}">
                              &nbsp;<label for="chkSubject{{row.SubjectID}}{{sidx+1}}"> {{row.SubjectName}}</label>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="NewCourseNOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview4" (click)="PreviewPDF(9,NewCourseNOCFormat)" name="btnpreview4">Preview</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="ApplyNocParameterMasterList_NewCourseSubject.length>0">
              <div class="card-header">
                <b>&nbsp;New Subjects</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Course</th>
                          <th>Subject</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplyNocParameterMasterList_NewCourseSubject; let idx=index ">
                          <td>{{idx+1}}</td>
                          <td>{{item.CourseName}}</td>
                          <td>
                            <p *ngFor="let row of item.SubjectList; let sidx=index ">
                              <input type="checkbox" class="checkboxSize" [(ngModel)]="row.IsSubjectChecked" id="chkSubject{{row.SubjectID}}{{sidx+1}}" name="chkCourse{{row.SubjectID}}{{sidx+1}}">
                              &nbsp;<label for="chkSubject{{row.SubjectID}}{{sidx+1}}"> {{row.SubjectName}}</label>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="NewSubjectNOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview5" (click)="PreviewPDF(11,NewSubjectNOCFormat)" name="btnpreview5">Preview</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="ApplyNocParameterMasterList_TNOCExtOfSubject.length>0">
              <div class="card-header">
                <b>&nbsp;TNOC Extension Of Subject</b>
              </div>
              <div class="card-body">
                
                <div class="row mb-3">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <label class="form-label" style="margin-right:15px">No. of Issued Year : </label>
                    <select class="form-select" id="ddlIssueYear" name="ddlIssueYear" [(ngModel)]="IssuedYear">
                      <option value='0'>--Select--</option>
                      <option value='1'>One</option>
                      <option value='2'>Two</option>

                    </select>

                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Course</th>
                          <th>Subject</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplyNocParameterMasterList_TNOCExtOfSubject; let idx=index ">
                          <td>{{idx+1}}</td>
                          <td>{{item.CourseName}}</td>
                          <td>
                            <p *ngFor="let row of item.SubjectList; let sidx=index ">
                              <input type="checkbox" class="checkboxSize" [(ngModel)]="row.IsSubjectChecked" id="chkSubject{{row.SubjectID}}{{sidx+1}}" name="chkCourse{{row.SubjectID}}{{sidx+1}}">
                              &nbsp;<label for="chkSubject{{row.SubjectID}}{{sidx+1}}"> {{row.SubjectName}}</label>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mt-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="TNOCExtOfSubjectNOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview6" (click)="PreviewPDF(10,TNOCExtOfSubjectNOCFormat)" name="btnpreview6">Preview</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="ApplyNocParameterMasterList_PNOCOfSubject.length>0">
              <div class="card-header">
                <b>&nbsp;Permanent Noc For Subjects</b>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <label class="form-label" style="margin-right:15px">Change PNOC into TNOC : </label>
                    <input class="form-check-input" type="checkbox" name="cbNocFor_changepnocintotnoc" id="cbNocFor_changepnocintotnoc" value="Yes" [(ngModel)]="ChangeIntoTNOC" (change)="GetTNOCFormat()" />
                  </div>
                </div>
                <div class="row mb-3" *ngIf="ChangeIntoTNOC">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <label class="form-label" style="margin-right:15px">No. of Issued Year : </label>
                    <select class="form-select" id="ddlpnocIssueYear" name="ddlpnocIssueYear" [(ngModel)]="PNOCIssuedYear">
                      <option value='0'>--Select--</option>
                      <option value='1'>One</option>
                      <option value='2'>Two</option>

                    </select>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Course</th>
                          <th>Subject</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ApplyNocParameterMasterList_PNOCOfSubject; let idx=index ">
                          <td>{{idx+1}}</td>
                          <td>{{item.CourseName}}</td>
                          <td>
                            <p *ngFor="let row of item.SubjectList; let sidxx=index ">
                              <input type="checkbox" class="checkboxSize" [(ngModel)]="row.IsSubjectChecked" id="chkSubject_{{row.SubjectID}}{{sidxx+1}}" name="chkSubject_{{row.SubjectID}}{{sidxx+1}}">
                              &nbsp;<label for="chkSubject_{{row.SubjectID}}{{sidxx+1}}"> {{row.SubjectName}}</label>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row" *ngIf="!ChangeIntoTNOC">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="PNOCOfSubjectNOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview7" (click)="PreviewPDF(12,PNOCOfSubjectNOCFormat)" name="btnpreview7">Preview</button>
                  </div>
                </div>
                <div class="row" *ngIf="ChangeIntoTNOC">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <label for="ddlParameterId">NOC Format <span style="color:red">*</span></label>
                    <ckeditor [editor]="editor" [config]="config" (ready)="onReady($event)" [(ngModel)]="ChangePNOCintoTNOCNOCFormat"></ckeditor>
                    <button type="submit" class="btn btn-primary" id="btnpreview17" (click)="PreviewPDF(10,ChangePNOCintoTNOCNOCFormat)" name="btnpreview17">Preview</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <label>NOC Issued Remark</label>
              <textarea id="NOCIssuedRemark" class="form-control" [(ngModel)]="NOCIssuedRemark"></textarea>
              <p *ngIf="isSubmitNOC&&NOCIssuedRemark==''" class="text-danger"> This field is required .!</p>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" (click)="GeneratePDF_OnClick()" title="Generate PDF" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </ng-template>


      </div>
    </div>
  </div>
</div>
