<div class="row">
  <div class="col-md-12">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>College Detail </b>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Department :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.DepartmentName_English}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>College Status :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeStatus}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>College Logo :</b></label>
              <div class="clearfix"></div>
              <a *ngIf="!collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{collegeListData.CollegeLogoPath}}" alt="College Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeStatus!='New'">
              <label>Present Status of College :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.PresentCollegeStatus}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>College Type :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeType}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>College Level :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeLevel}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>College Name in English :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNameEn}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>College Name in Hindi :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNameHi}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>IS Your College NAAC Accredited :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNAACAccredited}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
              <label>NAAC Accredited Certificate(Only pdf/image file.) (Min.Size 100KB) (Max.Size 2MB) :</label>
              <div class="clearfix"></div>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.NAACAccreditedCertificatePath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.NAACAccreditedCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>AISHE Code Status :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.AISHECodeStatus}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.AISHECodeStatus =='Yes'">
              <label>AISHE Code :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.AISHECode}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>College Medium :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeMediumName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label *ngIf="collegeListData.DepartmentID==6">University / RMC  :</label>
              <label *ngIf="collegeListData.DepartmentID !=6">University :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.UniversityName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Mobile Number :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.MobileNumber}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Landline Number :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeLandlineNumber}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Email :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.Email}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Address Line 1 :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.AddressLine1}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Address Line 2 :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.AddressLine2}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Area :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.RuralUrbanArea}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
              <label>Distance from City(km) :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.DistanceFromCity}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Division :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.Division_English}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>District :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.District_Eng}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Subdivision :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.SubdivisionName}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
              <label>Tehsil :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.TehsilName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
              <label>Panchayat Samiti :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.PanchyatSamitiName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Parliament Area :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.ParliamentAreaName}}" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Assembly Area :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.AssemblyAreaName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>City/Town/Village :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.CityTownVillage}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3"  *ngIf="collegeListData.CollegeStatus!='New'">
              <label>Year of Establishment :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.FinancialYearName}}" />
            </div>
          </div>
          <div class="row">           
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Pincode :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.Pincode}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Website Link :</label>
              <input class="form-control disabled mt-1" disabled value="{{collegeListData.WebsiteLink}}" />
            </div>
          </div>
        </div>
        <div class="row" *ngIf="CollegeGeoTaggingList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> Geo Tagging Status Details </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Geo Tagging Status</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Image 1</th>
                        <th>Image 2</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of CollegeGeoTaggingList; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.IsGeoTagging}}</td>
                        <td>{{row.TGC_Latitude}}</td>
                        <td>{{row.TGC_Longitude}}</td>
                        <td>
                          <a *ngIf="row.Image1!='N/A'" data-fancybox="gallery" href="{{row.Image1}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.Image1}}" alt="Image 1" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <label *ngIf="row.Image1=='N/A'">{{row.Image1}}</label>
                          <!--<a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                          </a>-->
                        </td>
                        <td>
                          <a *ngIf="row.Image2!='N/A'" data-fancybox="gallery" href="{{row.Image2}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.Image2}}" alt="Image 2" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <label *ngIf="row.Image1=='N/A'">{{row.Image2}}</label>
                          <!--<a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                          </a>-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="collegeContactDetailsList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> Contact Details </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Name Of Person</th>
                        <th>Designation</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of collegeContactDetailsList; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.NameOfPerson}}</td>
                        <td>{{row.DesignationName}}</td>
                        <td>{{row.MobileNumber}}</td>
                        <td>{{row.EmailAddress}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> General Contact Details </b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Designation :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.DesignationName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Mobile Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.GCD_MobileNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Landline Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.GCD_LandlineNumber}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeNearestGovernmentHospitalsList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> 10 Government hospitals nearest to the institution </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Hospital Reg. No.</th>
                        <th>Hospital Name</th>
                        <th>Distance From Institute(KM)</th>
                        <th>Address Line1</th>
                        <th>Address Line2</th>
                        <th>Area</th>
                        <th>Division</th>
                        <th>District</th>
                        <th>Tehsil</th>
                        <th>Panchyat Samiti</th>
                        <th>City/Town/Village</th>
                        <th>Pincode</th>
                        <th>Hospital Document</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of collegeNearestGovernmentHospitalsList; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.HospitalRegNo}}</td>
                        <td>{{row.HospitalName}}</td>
                        <td>{{row.HospitalDistance}}</td>
                        <td>{{row.AddressLine1}}</td>
                        <td>{{row.AddressLine2}}</td>
                        <td>{{row.RuralUrbanArea}}</td>
                        <td>{{row.Division_English}}</td>
                        <td>{{row.District_Eng}}</td>
                        <td>{{row.TehsilName}}</td>
                        <td>{{row.PanchyatSamitiName}}</td>
                        <td>{{row.CityTownVillage}}</td>
                        <td>{{row.Pincode}}</td>
                        <td>
                          <a *ngIf="!row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.HospitalDocumentPath}}" alt="Hospital Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



