<div class="card mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp;College Management Society</b>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped-columns" id="tabellist" #content>
            <thead>
              <tr>
                <th>
                  Compliance<br />
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rdCollegeSocietySelectAllActionType" id="rdCollegeSocietySelectAllYes" value="Yes" (change)="selectAll('Yes')">
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rdCollegeSocietySelectAllActionType" id="rdCollegeSocietySelectAllNo" value="No" (change)="selectAll('No')">
                    <label class="form-check-label">No</label>
                  </div>
                </th>
                <th *ngIf="sSOLoginDataModel.RoleID==3 || sSOLoginDataModel.RoleID==5">Clerk Action</th>
                <th *ngIf="sSOLoginDataModel.RoleID==5">Section Officer Action</th>
                <th>SNo</th>
                <th>College</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Management Committee Should have at least two educationists</th>
                <th>Father Name</th>
                <th>Mobile No</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Aadhaar</th>
                <th>Pan</th>
                <th>PAN Card Document</th>
                <th>Aadhaar Card Document</th>
                <th>Signature Document</th>
                <th>Profile Photo</th>
                <th>Authorized Document</th>
                <th>Education Proof</th>
                <th>Consent Letter</th>
                <th>Is Primary</th>
                <th>Is Authorize</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of SocietyAllList let idx=index;">
                <td>
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="rdCollegeSocietyActionType{{idx+1}}" id="rdCollegeSocietyActionTypeYes{{idx+1}}" [(ngModel)]="row.Action" value="Yes" (change)="ClickOnAction(idx)">
                      <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="rdCollegeSocietyActionType{{idx+1}}" id="rdCollegeSocietyActionTypeNo{{idx+1}}" value="No" [(ngModel)]="row.Action" (change)="ClickOnAction(idx)">
                      <label class="form-check-label">No</label>
                    </div>
                  </div>
                  <div class="row" [hidden]="row.Action !='No'">
                    <div class="col-lg-11 col-md-11 col-sm-6 col-12 mb-3">
                      <label>Remark : </label>
                      <textarea type="text" class="form-control" name="txtCollegeSocietyRemark{{idx+1}}" id="txtCollegeSocietyRemark{{idx+1}}" [(ngModel)]="row.Remark"></textarea>
                    </div>
                  </div>

                </td>
                <td *ngIf="sSOLoginDataModel.RoleID==3 || sSOLoginDataModel.RoleID==5">
                  Compliance: {{row.C_Action}}<br />
                  <p [hidden]="row.C_Action !='No'">Remark : {{row.C_Remark}}</p>
                </td>
                <td *ngIf="sSOLoginDataModel.RoleID==5">
                  Compliance: {{row.S_Action}}<br />
                  <p [hidden]="row.S_Action !='No'">Remark : {{row.S_Remark}}</p>
                </td>
                <td>{{idx+1}}</td>
                <td>{{row.CollegeNameEn}}</td>
                <td>{{row.PersonName}}</td>
                <td>{{row.DesignationName}}</td>
                <td>{{row.Educationists}}</td>
                <td>{{row.FatherName}}</td>
                <td>{{row.MobileNo}}</td>
                <td>{{row.Gender}}</td>
                <td>{{row.Email}}</td>
                <td>{{row.AadhaarNo}}</td>
                <td>{{row.PANNo}}</td>
                <td>
                  <a *ngIf="!row.PANCard.includes('.pdf')" data-fancybox="gallery" href="{{row.PANCardPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.PANCardPath}}" alt="PAN Card" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.PANCard.includes('.pdf')" data-fancybox="gallery" href="{{row.PANCardPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>
                  <a *ngIf="!row.AadhaarCard.includes('.pdf')" data-fancybox="gallery" href="{{row.AadhaarCardPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.AadhaarCardPath}}" alt="Aadhaar Card" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.AadhaarCard.includes('.pdf')" data-fancybox="gallery" href="{{row.AadhaarCardPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>
                  <a *ngIf="!row.SignatureDoc.includes('.pdf')" data-fancybox="gallery" href="{{row.SignatureDocPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.SignatureDocPath}}" alt="Signature Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.SignatureDoc.includes('.pdf')" data-fancybox="gallery" href="{{row.SignatureDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>
                  <a *ngIf="!row.ProfilePhoto.includes('.pdf')" data-fancybox="gallery" href="{{row.ProfilePhotoPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.ProfilePhotoPath}}" alt="Profile Photo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.ProfilePhoto.includes('.pdf')" data-fancybox="gallery" href="{{row.ProfilePhotoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>
                  <a *ngIf="!row.AuthorizedDocument.includes('.pdf') && row.IsAuthorized==true" data-fancybox="gallery" href="{{row.AuthorizedDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.AuthorizedDocumentPath}}" alt="Rent Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.AuthorizedDocument.includes('.pdf')" data-fancybox="gallery" href="{{row.AuthorizedDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>
                  <a *ngIf="!row.EducationProof.includes('.pdf') && row.EducationProofPath!='N/A'" data-fancybox="gallery" href="{{row.EducationProofPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.EducationProofPath}}" alt="Education Proof" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <label *ngIf="row.EducationProofPath=='N/A'">{{row.EducationProofPath}}</label>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.EducationProof.includes('.pdf') && row.EducationProofPath!='N/A'" data-fancybox="gallery" href="{{row.EducationProofPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>
                  <a *ngIf="!row.ConsentLetter.includes('.pdf') && row.ConsentLetterPath!='N/A'" data-fancybox="gallery" href="{{row.ConsentLetterPath}}" data-caption="Image 10" title="click here to zoom">
                    <img src="{{row.ConsentLetterPath}}" alt="Consent Letter" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                  </a>
                  <label *ngIf="row.ConsentLetterPath=='N/A'">{{row.ConsentLetterPath}}</label>
                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.ConsentLetter.includes('.pdf') && row.ConsentLetterPath!='N/A'" data-fancybox="gallery" href="{{row.ConsentLetterPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                </td>
                <td>{{row.IsPrimary}}</td>
                <td>{{row.IsAuthorized}}</td>
              </tr>
              <tr *ngIf="SocietyAllList.length==0">
                <td colspan="20" style="color:red">
                  No Data Found.!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="FinalRemarks.length>0">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Sr.No.</th>
              <th>Role</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item1 of FinalRemarks ; let idx =index">
              <td>{{idx+1}}</td>
              <td>{{item1.RoleID}}</td>
              <td>{{item1.Remark}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
        <label>Remarks</label>
        <textarea id="CollegeSocietyRemark" class="form-control" [(ngModel)]="dsrequest.FinalRemark"></textarea>
        <div *ngIf="isRemarkValid" class="text-danger">
          <p *ngIf="isRemarkValid"> This field is required .!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="button" (click)="SubmitCollegeSocietyDetail_Onclick()">Submit</button>
      </div>
    </div>
  </div>
</div>
