<div class="card tabCard1 mb-0" id="LandDetails1">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp; Land Details</b>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>

              <th>
                Compliance<br />
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rdLandSelectAllActionType" id="rdLandSelectAllYes" value="Yes" (change)="selectAll('Yes')">
                  <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rdLandSelectAllActionType" id="rdLandSelectAllNo" value="No" (change)="selectAll('No')">
                  <label class="form-check-label">No</label>
                </div>

              </th>
              <th>Sr.No.</th>
              <th>Action</th>
              <th>College</th>
              <th>Land Situated</th>
              <th>Land Doc Type</th>
              <th>Is Convereted</th>
              <th>Owner Name</th>
              <th>Trail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of LandDetailList; let idx =index">

              <td>
                <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rdLandActionType{{idx+1}}" id="rdLandActionTypeYes{{idx+1}}" [(ngModel)]="item.Action" value="Yes" (change)="ClickOnAction(idx)">
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rdLandActionType{{idx+1}}" id="rdLandActionTypeNo{{idx+1}}" value="No" [(ngModel)]="item.Action" (change)="ClickOnAction(idx)">
                    <label class="form-check-label">No</label>
                  </div>
                </div>
                <div class="row" [hidden]="item.Action !='No'">
                  <div class="col-lg-11 col-md-11 col-sm-6 col-12 mb-3">
                    <label>Remark : </label>
                    <textarea type="text" class="form-control" name="txtLandRemark{{idx+1}}" id="txtLandRemark{{idx+1}}" [(ngModel)]="item.Remark"></textarea>
                  </div>
                </div>

              </td>
              <td>{{idx+1}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewLandDetail(mymodal,item.LandDetailID)"><i class="fa fa-eye"></i></button>
              </td>
              <td>{{item.CollegeName}}</td>
              <td>{{item.LandAreaSituatedName}}</td>
              <td>{{item.LandDocumentTypeName}}</td>
              <td>{{item.IsConvereted}}</td>
              <td>{{item.LandOwnerName}}</td>
              <td><button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewTaril(item.LandDetailID,'LandDetailsTrail')"><i class="fa fa-bars" aria-hidden="true"></i></button></td>
            </tr>
            <tr *ngIf="LandDetailList.length<=0">
              <td colspan="20" style="color:red">No Data Found.!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="FinalRemarks.length>0">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Sr.No.</th>
              <th>Role</th>
              <th>Action</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item1 of FinalRemarks ; let idx =index">
              <td>{{idx+1}}</td>
              <td>{{item1.RoleID}}</td>
              <td>{{item1.ActionName}}</td>
              <td>{{item1.Remark}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="card-header">
      <b>Land Detail Approve/Revert </b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdlandapproverevert" id="rdlandapprove" [value]="1" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
            <label class="form-check-label">Approve</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdlandapproverevert" id="rdlandrevert" [value]="2" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
            <label class="form-check-label">Revert</label>
          </div>
          <p *ngIf="isSubmitted&&dsrequest.ActionID==0" class="text-danger"> This field is required .!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <label>Remarks</label>
          <textarea id="LandRemark" class="form-control" [(ngModel)]="dsrequest.FinalRemark"></textarea>
          <div *ngIf="isRemarkValid" class="text-danger">
            <p *ngIf="isRemarkValid"> This field is required .!</p>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="QueryStringStatus!='Pending'">
        <div class="col-md-12">
          <button class="btn btn-primary" type="button" (click)="SubmitLandDetail_Onclick()">Submit</button>
        </div>
      </div>
    </div>
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Land Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b> College:</b></label>
            <input class="form-control disabled" disabled value="{{request.CollegeName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Land Area Situated In :</b></label>
            <input class="form-control disabled" disabled value="{{request.LandAreaSituatedName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Land Document Type :</b></label>
            <input class="form-control disabled" disabled value="{{request.LandDocumentTypeName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Is Your Land converted to Institution/Education :</b></label>
            <input class="form-control disabled" disabled value="{{request.IsConvereted}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Name of Owner of Land :</b></label>
            <input class="form-control disabled" disabled value="{{request.LandOwnerName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Land Area (in {{request.AreaType !=''?request.AreaType:UnitOfLand}}) :</b></label>
            <input class="form-control disabled" disabled value="{{request.LandArea}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="(request.Code=='NCON' || request.Code=='PCON')">
            <label><b>Affidavit Date(DD/MM/YYYY) :</b></label>
            <input class="form-control disabled" disabled value="{{request.AffidavitDate | date:'dd-MM-yyyy'}}" />
          </div>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="LandDetailsDocumentListByID.length>0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Document Name</th>
                      <th>Document Type</th>
                      <th>Show Document</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of LandDetailsDocumentListByID ; let indexOfelement=index;">
                      <td> {{indexOfelement+1}}</td>
                      <td>{{item.DocumentName}}</td>
                      <td>{{item.DocumentType}}</td>
                      <td><a class="btn-outline-primary" target="_blank" href="{{item.FilePath}}" title="View Document"><i class="fa fa-eye"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="row" *ngIf="DetailoftheLand.length>0">
            <div class="col-md-12">
              <div class="card mb-0">
                <div class="card-header">
                  <b><i class="bi bi-table"></i>&nbsp;Detail of the Land (With Khasra No.):  </b>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Land Type</th>
                          <th>Area</th>
                          <th>Khasra No</th>
                          <th>Land Conversion Order No</th>
                          <th>Land Conversion Order Date</th>
                          <th>Land Conversion Document</th>
                          <th>Other Document</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of DetailoftheLand; let indexOfelement=index;">
                          <td> {{indexOfelement+1}}</td>
                          <td>{{row.LandTypeName}}</td>
                          <td>{{row.LandArea}}</td>
                          <td>{{row.KhasraNo}}</td>
                          <td>{{row.LandConversionOrderNo}}</td>
                          <td>{{row.LandConversionOrderDate}}</td>

                          <td><a class="btn-outline-primary" target="_blank" href="{{row.FilePath}}" title="View Document"><i class="fa fa-eye"></i></a></td>


                          <td>

                            <a *ngIf="row.FileOtherName!=''" class="btn-outline-primary" target="_blank" href="{{row.FileOtherPath}}" title="View Document"><i class="fa fa-eye"></i></a>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

