<div class="card mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp;Farm Land Details</b>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped-columns" id="tabellist" #content>
            <thead>
              <tr>
                <th>
                  Compliance<br />
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rdFarmLandDetailsSelectAllActionType" id="rdFarmLandDetailsSelectAllYes" value="Yes" (change)="selectAll('Yes')">
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rdFarmLandDetailsSelectAllActionType" id="rdFarmLandDetailsSelectAllNo" value="No" (change)="selectAll('No')">
                    <label class="form-check-label">No</label>
                  </div>
                </th>
                <!--<th *ngIf="sSOLoginDataModel.RoleID==3 || sSOLoginDataModel.RoleID==5">Clerk Action</th>
                <th *ngIf="sSOLoginDataModel.RoleID==5">Section Officer Action</th>-->
                <th>Sr. No</th>
                <!--<th>College</th>-->
                <th>Owner Name</th>
                <th>Land Type</th>
                <th>Khasra Number</th>
                <th>Total Farm Land Area(Ha)</th>
                <th>Total Land Area(Ha)</th>
                <th>Source Irrigation</th>
                <th>Is Farm Land</th>
                <th>Action</th>
                <th>Trail</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of lstFarmLandDetails let idx=index;">
                <td>
                  <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="rdFarmLandDetailsActionType{{idx+1}}" id="rdFarmLandDetailsActionTypeYes{{idx+1}}" [(ngModel)]="row.Action" value="Yes" (change)="ClickOnAction(idx)">
                      <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="rdFarmLandDetailsActionType{{idx+1}}" id="rdFarmLandDetailsActionTypeNo{{idx+1}}" value="No" [(ngModel)]="row.Action" (change)="ClickOnAction(idx)">
                      <label class="form-check-label">No</label>
                    </div>
                  </div>
                  <div class="row" [hidden]="row.Action !='No'">
                    <div class="col-lg-11 col-md-11 col-sm-6 col-12 mb-3">
                      <label>Remark : </label>
                      <textarea type="text" class="form-control" name="txtFarmLandDetailsRemark{{idx+1}}" id="txtFarmLandDetailsRemark{{idx+1}}" [(ngModel)]="row.Remark"></textarea>
                    </div>
                  </div>
                </td>

                <td>{{idx+1}}</td>
                <!--<td>{{row.CollegeName}}</td>-->
                <td>{{row.LandOwnerName}}</td>
                <td>{{row.LandType}}</td>
                <td>{{row.KhasraNumber}}</td>
                <td>{{row.TotalFarmLandArea}}</td>
                <td>{{row.TotalLandArea}}</td>
                <td>{{row.SourceIrrigation}}</td>
                <td>{{row.FarmLandIs}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewLandDetail(mymodal,row.FarmLandDetailID)"><i class="fa fa-eye"></i></button>
                </td>
                <td><button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewTaril(row.FarmLandDetailID,'FarmLandTrail')"><i class="fa fa-bars" aria-hidden="true"></i></button></td>
              </tr>
              <tr *ngIf="lstFarmLandDetails.length==0">
                <td colspan="20" style="color:red">
                  No Data Found.!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="FinalRemarks.length>0">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Sr.No.</th>
              <th>Role</th>
              <th>Action</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item1 of FinalRemarks ; let idx =index">
              <td>{{idx+1}}</td>
              <td>{{item1.RoleID}}</td>
              <td>{{item1.ActionName}}</td>
              <td>{{item1.Remark}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="card-header">
      <b> Farm Land Approve/Revert </b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdFarmLandapproverevert" id="rdFarmLandapprove" [value]="1" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
            <label class="form-check-label">Approve</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdFarmLandapproverevert" id="rdFarmLandrevert" [value]="2" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
            <label class="form-check-label">Revert</label>
          </div>
          <p *ngIf="isSubmitted&&dsrequest.ActionID==0" class="text-danger"> This field is required .!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <label>Remarks</label>
          <textarea id="FarmLandDetailsRemark" class="form-control" [(ngModel)]="dsrequest.FinalRemark"></textarea>
          <div *ngIf="isRemarkValid" class="text-danger">
            <p *ngIf="isRemarkValid"> This field is required .!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" type="button" (click)="SubmitFarmLandDetailsDetail_Onclick()">Submit</button>
        </div>
      </div>
    </div>
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Farm Land Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Total Farm Land Area In(Hectare) :</b></label>
            <input class="form-control disabled" disabled value="{{request.TotalFarmLandArea}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Is Farm Land :</b></label>
            <input class="form-control disabled" disabled value="{{request.FarmLandIs}}" />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="fa fa-filter"></i>&nbsp;Owned Land Details </b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Land Owner Name :</b></label>
              <input class="form-control disabled" disabled value="{{request.LandOwnerName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Khasra  Number :</b></label>
              <input class="form-control disabled" disabled value="{{request.KhasraNumber}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Total Land Area In(Hectare) :</b></label>
              <input class="form-control disabled" disabled value="{{request.TotalLandArea}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Land Type :</b></label>
              <input class="form-control disabled" disabled value="{{request.LandType}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Source Irrigation :</b></label>
              <input class="form-control disabled" disabled value="{{request.SourceIrrigation}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="fa fa-filter"></i>&nbsp;Owned Land Address </b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Address Line1 :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.AddressLine1}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Address Line2 :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.AddressLine2}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Rural/Urban :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.RuralUrban}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Division Name :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.DivisionName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>District Name :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.DistrictName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Tehsil Name :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.TehsilName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" [hidden]="IsRural">
              <label><b>City Name :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.CityName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" [hidden]="!IsRural">
              <label><b>PanchayatSamiti Name :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.PanchayatSamitiName}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>City/Town/Village :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.CityTownVillage}}" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Pincode :</b></label>
              <div class="clearfix"></div>
              <input class="form-control disabled" disabled value="{{request.Pincode}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="fa fa-filter"></i>&nbsp;Land Documents </b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Certificate from the Tehsildar for Tha Land Distance :</b></label>
              <div class="clearfix"></div>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="request.CertificatefOfTehsildarName.includes('.pdf')" data-fancybox="gallery" href="{{request.CertificatefOfTehsildarPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label><b>Land Title Certificate :</b></label>
              <div class="clearfix"></div>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="request.LandTitleCertificateName.includes('.pdf')" data-fancybox="gallery" href="{{request.LandTitleCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>



