<div class="card tabCard1 mb-0" id="CourseDetails1">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp; Course Details</b>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="SelectedDepartmentID!=4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="table-responsive" *ngIf="AllCourseList.length>0">
          <table class="table table-hover table-striped-columns" id="tabellist" #content>
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Department</th>
                <th>College Name</th>
                <th>Course</th>
                <th *ngIf="this.SelectedDepartmentID !=2 && this.SelectedDepartmentID !=5 && this.SelectedDepartmentID !=6&& this.SelectedDepartmentID !=11">Stream</th>
                <th style="width: 250px !important" *ngIf="this.SelectedDepartmentID !=2 && this.SelectedDepartmentID !=6&& this.SelectedDepartmentID !=11 && this.SelectedDepartmentID !=5">Subject</th>
                <th *ngIf="this.SelectedDepartmentID !=3 && CollegeType_IsExisting&& this.SelectedDepartmentID !=11&& this.SelectedDepartmentID !=6">Seat</th>
                <th style="width: 250px !important" *ngIf="this.SelectedDepartmentID !=2 && this.SelectedDepartmentID !=6&& this.SelectedDepartmentID !=11&& this.SelectedDepartmentID !=5">Subject</th>
                <th *ngIf="this.SelectedDepartmentID !=3 && CollegeType_IsExisting&& this.SelectedDepartmentID !=11">Seat</th>
                <th *ngIf="this.SelectedDepartmentID ==3">No Of Enrolled Students</th>
                <th *ngIf="this.SelectedDepartmentID ==11">Establishment Year</th>
                <th *ngIf="this.SelectedDepartmentID ==11">Course Category</th>
                <th *ngIf="this.SelectedDepartmentID ==11 || this.SelectedDepartmentID ==6">{{this.SelectedDepartmentID ==6?'Number of seats':'Total Seats (Course Wise) '}} </th>
                <th *ngIf="this.SelectedDepartmentID ==11">Composite Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of AllCourseList ; let idx=index;">
                <td style="width:40px !important"> {{idx+1}}</td>
                <td>{{row.DepartmentName}}</td>
                <td>{{row.CollageName}}</td>
                <td>{{row.CourseName}}</td>
                <td *ngIf="this.SelectedDepartmentID !=2 && this.SelectedDepartmentID !=5 && this.SelectedDepartmentID !=6&& this.SelectedDepartmentID !=11">{{row.StreamName}}</td>
                <td style="width:250px !important" *ngIf="this.SelectedDepartmentID !=2 && this.SelectedDepartmentID !=6&& this.SelectedDepartmentID !=11&& this.SelectedDepartmentID !=5">{{row.SubjectDetails}}</td>

                <td *ngIf="this.SelectedDepartmentID !=3 && CollegeType_IsExisting && this.SelectedDepartmentID !=11&& this.SelectedDepartmentID !=6">{{row.Dis_Sits}}</td>
                <td *ngIf="this.SelectedDepartmentID ==3">{{row.NoOfEnrolledStudents}}</td>
                <td *ngIf="this.SelectedDepartmentID ==11">{{row.FinancialYearName}}</td>
                <td *ngIf="this.SelectedDepartmentID ==11">{{row.CourseCategoryName}}</td>
                <td *ngIf="this.SelectedDepartmentID ==11||this.SelectedDepartmentID ==6">{{row.TotalSeatsCourseWise}}</td>
                <td *ngIf="this.SelectedDepartmentID ==11">{{row.CompositeUnit}}</td>
              </tr>
              <tr *ngIf="AllCourseList.length<=0">
                <td colspan="8" style="color:red">No Data Found.!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="SelectedDepartmentID==4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="table-responsive" *ngIf="AllCourseDTEList.length>0">
          <table class="table table-hover table-striped-columns mb-0" id="tabellist" #content>
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Department</th>
                <th>College Name</th>
                <th>Programme Name</th>
                <th>Course Level</th>
                <th>Course Name</th>
                <th>Intake</th>
                <th>Super Numerary Seats</th>
                <th>Enrollment</th>
                <th>Shift</th>
                <th>Conduct Mode</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of AllCourseDTEList| tableSearchFilter:searchText; let idx=index;">
                <td style="width:40px !important"> {{idx+1}}</td>
                <td>{{row.DepartmentName}}</td>
                <td>{{row.CollageName}}</td>
                <td>{{row.StreamName}}</td>
                <td>{{row.CourseLevel}}</td>
                <td>{{row.CourseName}}</td>
                <td>{{row.Intake}}</td>
                <td>{{row.Seats}}</td>
                <td>{{row.NoOfEnrolledStudents}}</td>
                <td>{{row.ShiftTypeName}}</td>
                <td>{{row.ConductModeName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

