<app-loader></app-loader>
<div class="card tabCard1 mb-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <b><i class="bi bi-table"></i>&nbsp;Application List</b>

  </div>
  <div class="card-body">
    <div class="clearfix"></div>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <b>Application List</b>
        <a href="/dashboard" class="btn btn-sm btn-primary">Back to Dashboard</a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Department Name</th>
                    <th>College Name</th>
                    <th>Application No.</th>
                    <!--<th>Application Type</th>-->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplyNocDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.DepartmentName}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.ApplicationNo}}</td>
                    <!--<td>{{item.ApplicationTypeName}}</td>-->
                  <td *ngIf="this.sSOLoginDataModel.RoleID!=16&&IsCommitteType==false">
                    <a href="javascript:void(0)" *ngIf="item.IsCommitteeCreated==true&&item.IsProvideMeetingDate==false&&item.IsRejected==false&&item.IsGenerateNoc==false&& item.IsApproveNoc==false" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                    &nbsp;<button type="button" *ngIf="item.IsRejected==true" class="btn btn-sm btn-danger" title="Reject" (click)="NOCApproved_Rejected_Model(ReleceNOC,item.ApplyNOCID,item.CollegeID,item.ApplicationNo,'Reject',item.NOCFileName)">Reject Application</button>
                          <button *ngIf="item.IsApproveNoc==true" type="button" class="btn btn-primary" style="margin-left:10px;" title="NOC Approve" (click)="NOCApproved_Rejected_Model(ReleceNOC,item.ApplyNOCID,item.CollegeID,item.ApplicationNo,'Approved',item.NOCFileName,item.DepartmentID,item.IsProvideMeetingDate)">Approved NOC</button>
                    &nbsp;<button *ngIf="item.NOCFilePath=='' && item.IsGenerateNoc==true" type="button" id="btnGenratePDF" class="btn btn-primary" (click)="GenratePDF(item.ApplyNOCID,item.CollegeID)" title="Genrate Darft PDF">Genrate PDF</button>

                    &nbsp;<a *ngIf="item.NOCFilePath != ''" href="{{item.NOCFilePath}}" target="_blank" class="btn btn-sm btn-info" title="View Genrated PDF"><i class="fa fa-eye"></i></a>
                    <!--<button type="button" *ngIf="IsCommitteType==true && item.IsCommitteeCreated==true&&item.IsGenerateOrdersforInspection==false" class="btn btn-sm btn-primary" title="Generate Orders for Inspection" (click)="GenerateOrdersforInspection(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)">Generate Orders for Inspection</button>
  &nbsp;<button type="button" *ngIf="IsCommitteType==true" class="btn btn-sm btn-primary" title="Assign Commitee" (click)="OpenAsignCommitteePopUP(mymodalAsignCommittee,item.ApplyNOCID,item.DepartmentID,item.CollegeID,item.ApplicationNo)"><i class="fa fa-users"></i></button>-->
                    <a href="javascript:void(0)" *ngIf="item.IsProvideMeetingDate==true" (click)="OpenAsignMeetingDatePopUP(mymodalMeetingScheduleDate,item.ApplyNOCID,item.DepartmentID,item.CollegeID)" class="btn btn-sm btn-info"><i class="fa fa-calendar-times-o"></i></a>
                    &nbsp;<button type="button" class="btn btn-sm btn-info" title="View" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-bars"></i></button>
                  </td>
                    <td *ngIf="this.sSOLoginDataModel.RoleID==16">
                      <a href="javascript:void(0)" *ngIf="item.InspectionReportSubmitted==true" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                      &nbsp;<a href="javascript:void(0)" (click)="ReportFormatGenerated_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-info">Inspection Report</a>
                      &nbsp;<button type="button" class="btn btn-sm btn-info" title="View" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-bars"></i></button>
                    </td>
                    <td *ngIf="IsCommitteType==true">
                      <a href="javascript:void(0)" *ngIf="item.IsCommitteeCreated==true&&item.IsGenerateOrdersforInspection==true" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                      &nbsp;<button type="button" *ngIf="item.IsCommitteeCreated==true&&item.IsGenerateOrdersforInspection==false" class="btn btn-sm btn-primary" title="Generate Orders for Inspection" (click)="GenerateOrdersforInspection(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)">Generate Orders for Inspection</button>
                      &nbsp;<button type="button" class="btn btn-sm btn-primary" title="Assign Commitee" (click)="OpenAsignCommitteePopUP(mymodalAsignCommittee,item.ApplyNOCID,item.DepartmentID,item.CollegeID,item.ApplicationNo)"><i class="fa fa-users"></i></button>
                      &nbsp;<button type="button" class="btn btn-sm btn-info" title="View" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-bars"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" *ngIf="ApplyNocDetails.length<=0" style="color:red"> No Data Found.!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Modal Start For Assign Commettiee-->
  <ng-template #mymodalAsignCommittee let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Committee Formation For Physical Inspection (ApplicationNo : {{ApplicationNo}})</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">

        <form [formGroup]="CommitteeMemberDetails" class="form-horizontal">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <b><i class="fa fa-plus"></i>&nbsp;Member Details <span style="color:red;">*</span></b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                  <label for="txtCMNameOfPerson" class="form-label">Name Of Person <span style="color:red;">*</span></label>
                  <input type="text" class="form-control" id="txtCMNameOfPerson" name="txtCMNameOfPerson" [(ngModel)]="request_CommitteeMemberDataModel.NameOfPerson" formControlName="txtCMNameOfPerson">
                  <div *ngIf="isSubmitted_MemberDetails&&form_CommitteeMember.txtCMNameOfPerson.errors" class="text-danger">
                    <p *ngIf="form_CommitteeMember.txtCMNameOfPerson.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                  <label for="txtCMMobileNumber" class="form-label">Mobile Number <span style="color:red;">*</span></label>
                  <input type="number" class="form-control" id="txtCMMobileNumber" name="txtCMMobileNumber" [(ngModel)]="request_CommitteeMemberDataModel.MobileNumber" formControlName="txtCMMobileNumber" (keypress)="MaxLengthValidation_KeyPress($event,10);">
                  <div *ngIf="isSubmitted_MemberDetails&&form_CommitteeMember.txtCMMobileNumber.errors" class="text-danger">
                    <p *ngIf="form_CommitteeMember.txtCMMobileNumber.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                    <p *ngIf="form_CommitteeMember.txtCMMobileNumber.errors.pattern"><i aria-hidden="true"></i> Mobile number is not valid .!</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                  <label for="txtCMMobileNumber" class="form-label">SSO ID <span style="color:red;">*</span></label>
                  <input class="form-control" id="txtSSOID" name="txtSSOID" [(ngModel)]="request_CommitteeMemberDataModel.SSOID" formControlName="txtSSOID">
                  <div *ngIf="isSubmitted_MemberDetails&&form_CommitteeMember.txtSSOID.errors" class="text-danger">
                    <p *ngIf="form_CommitteeMember.txtSSOID.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 mb-4">
                  <br />
                  <button type="button" class="btn btn-primary pull-right" (click)="AddMemberDetail()"><i class="fa fa-plus"></i> Add</button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th> Name</th>
                          <th>Mobile Number</th>
                          <th>SSO ID</th>
                          <th>Is Primary Member</th>
                          <th> Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of request_MemberList.ApplicationCommitteeList;let idx=index;">
                          <td>{{idx+1}} </td>
                          <td> {{row.NameOfPerson}} </td>
                          <td>{{row.MobileNumber}} </td>
                          <td>{{row.SSOID}} </td>
                          <td>
                            <div class="form-check form-switch d-flex align-items-center">
                              <input class="form-check-input" disabled="{{row.IsPrimaryMember}}" [ngModelOptions]="{standalone: true}" (change)="SetPrimaryMember(row,idx)" type="checkbox" name="Activechk{{idx}}" id="Activechk{{idx}}" [(ngModel)]="row.IsPrimaryMember">
                            </div>
                          </td>
                          <td>
                            <div class="d-flex">
                              <button type="button" class="btn btn-danger" (click)="DelMemberDetail(row,idx)"><i class="fa fa-trash-o"></i></button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="request_MemberList.ApplicationCommitteeList.length<=0">
                          <td colspan="5" style="color:red">No Member Added.!</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--<span style="color:red;">*</span>-->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                  <label class="form-label">Recommendation For Committee Member</label>
                  <div class="d-flex">
                    <input type="file" style="display:none;" class="form-control" id="fCommitteeMemberDocument" name="fCommitteeMemberDocument" (change)="onFilechange($event)" formControlName="fCommitteeMemberDocument">
                    <label class="btn upload" for="fCommitteeMemberDocument">
                      <span class="filename">Choose file</span>
                      {{request_MemberList.CommitteeDocument === '' ? 'No File Choosen' : request_MemberList.CommitteeDocument_DisName}}
                    </label>
                    <div class="btn-group" *ngIf="request_MemberList.CommitteeDocument!=''">
                      <a class="btn btn-outline-primary" target="_blank" href="{{request_MemberList.CommitteeDocumentPath}}"><i class="fa fa-eye"></i></a>
                      <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(request_MemberList.CommitteeDocument)"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </div>
                  <!--<div *ngIf="isSubmitted && request_MemberList.CommitteeDocument==''" class="text-danger">
        <p class="text-danger"><i aria-hidden="true"></i> This field is required .!</p>
      </div>-->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row  m-2">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" (click)="SaveData()" title="Submit">Submit</button>
        </div>
      </div>
    </div>
  </ng-template>

  <!--Modal Start For Assign Date & Time-->
  <ng-template #mymodalMeetingScheduleDate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Assign Date & Time for Meeting </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b>Meeting Details <span style="color:red;">*</span></b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="txtMeetingScheduleDate" class="form-label">Meeting date and time <span style="color:red;">*</span></label>
                <input type="datetime-local" placeholder="DD/MM/YYYY HH:MM" class="form-control" [(ngModel)]="MeetingScheduleDate" min="{{MinDate | date:'yyyy-MM-ddThh:mm'}}" onkeypress="return false;" />
                <div *ngIf="MeetingScheduleDate == null || MeetingScheduleDate == '' || MeetingScheduleDate == undefined" class="text-danger">
                  <p><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 mb-4">
                <br />
                <button type="button" class="btn btn-primary pull-right" (click)="SaveMeetingScheduleDate()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Trail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <b>Application Trail</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>User Name</th>
                    <th>Action</th>
                    <th>Action Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplicationTrailList let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.ActionUser}}</td>
                    <td>{{item.ActionName}}</td>
                    <td>{{item.ActionDate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!--Modal Start For ReleceNOC Application-->
  <ng-template #ReleceNOC let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">NOC Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <b>Application No. ({{selectedApplicationNo}})</b>
        </div>
        <div class="card-body">
          <!--<div class="row">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Course</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstNOCCourse;let idx=index;">
                    <td>{{idx+1}}</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" disabled="disabled" type="checkbox" name="cbCourse_TNOCExtension_{{idx+1}}" id="cbCourse_TNOCExtension_{{idx+1}}" value="{{item.CourseID}}" [(ngModel)]="item.IsChecked">
                        <label class="form-check-label" for="cbCourse_TNOCExtension_{{item.CourseID}}">{{item.CourseName}}</label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
          <div class="row m-2" *ngIf="this.btntext == 'Approved'">           
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="IsProvideMeetingDate==true">
              <label for="ddlAction" class="form-label">Upload Meeting Notice<span style="color:red;">*</span>
              </label>
              <div class="d-flex">
                <input type="file" style="display:none;" class="form-control" id="ffFiledoc" name="ffFiledoc" (change)="onFilechangeMeeting($event,'Meeting Notice')" >
                <label class="btn upload" for="ffFiledoc">
                  <span class="filename">Choose file</span>
                  {{MeetingNoticeFiledoc === '' ? 'No File Choosen' : MeetingNoticeFiledoc_Dis_FileName}}
                </label>
                <div class="btn-group" *ngIf="isShowMeetingNoticeFile">
                  <a class="btn btn-outline-primary" target="_blank" href="{{MeetingNoticeFiledocPath}}"><i class="fa fa-eye"></i></a>
                  <button type="button" class="btn btn-outline-danger" (click)="DeleteImageMeeting(MeetingNoticeFiledoc,'Meeting Notice')"><i class="fa fa-trash-o"></i></button>
                </div>
              </div>
              <div *ngIf="MeetingNoticeFileValidationMessage!=''" class="text-danger">
                <p> {{MeetingNoticeFileValidationMessage}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
              <label for="ddlAction" class="form-label">Action On Application<span style="color:red;">*</span></label>
              <select class="form-select" (change)="OnChangeCurrentAction()" [(ngModel)]="ActionID">
                <option value="0" disabled selected>--Select Action--</option>
                <option *ngFor="let item of WorkFlowActionList" value="{{item.ActionID}}">{{item.ActionName}}</option>
              </select>
              <div *ngIf="isActionTypeValid" class="text-danger">
                <p *ngIf="isActionTypeValid"> This field is required .!</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
              <label for="ddlDistrictID" class="form-label">Next Role <span style="color:red;">*</span></label>

              <select class="form-select" (change)="NextGetUserDetailsByRoleID()" [(ngModel)]="NextRoleID">
                <option value="0" selected>--Select Role--</option>
                <option *ngFor="let item of UserRoleList" value="{{item.RoleID}}">{{item.RoleName}}</option>
              </select>


              <div *ngIf="isNextRoleIDValid" class="text-danger">
                <p *ngIf="isNextRoleIDValid"> This field is required .!</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
              <label for="ddlDistrictID" class="form-label">Next User <span style="color:red;">*</span></label>
              <select class="form-select" [(ngModel)]="NextUserID">
                <option value="0" selected>--Select User--</option>
                <option *ngFor="let item of UserListRoleWise" value="{{item.UId}}">{{item.Name}}</option>
              </select>
              <div *ngIf="isNextUserIdValid" class="text-danger">
                <p *ngIf="isNextUserIdValid"> This field is required .!</p>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                <label>Remarks  <span style="color:red;">*</span></label>
                <textarea id="FinalRemark" class="form-control" [(ngModel)]="FinalRemark"></textarea>
                <div *ngIf="FinalRemark==''||FinalRemark==null||FinalRemark==undefined" class="text-danger">
                  <p> This field is required .!</p>
                </div>
              </div>


              <div class="row col-md-2">
                <button type="button" id="btnNOCRejectRelese" class="btn btn-primary" (click)="OpenOTPModel()" title="Submit">{{btntext}}</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </ng-template>

  <!--Modal Start For OTP-->
  <div class="modal" id="ModalOtpVerify" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aadhaar OTP Verification</h5>
          <button type="button" class="btn btn-danger" aria-label="Close" (click)="CloseOTPModel()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
              <p>You have received a OTP Verification Message on Registered Mobile No.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
              <label class="mb-2" for="EnterOTP">Enter OTP</label>
              <input type="text" class="form-control" id="EnterOTP" [(ngModel)]="UserOTP" autocomplete="off" (keypress)="numberOnly($event)" maxlength="6" />
              <div *ngIf="isUserOTP" class="text-danger">
                <p *ngIf="isUserOTP">This field is required .!</p>
              </div>
              <div *ngIf="isValidUserOTP" class="text-danger">
                <p *ngIf="isValidUserOTP">Please Enter Correct OTP .!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3 d-flex justify-content-center align-items-center">
              <span *ngIf="ShowTimer">Please Wait..{{DisplayTimer}}</span>
              <button [attr.disabled]="isTimerDisabled ? true : null" type="button" id="ResendOTP" (click)="ResendOTP()" class="btn btn-link">Resend OTP</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" aria-label="Close" (click)="CloseOTPModel()"><span aria-hidden="true">Cancel</span></button>
          <button type="button" (click)="VerifyOTP()" class="btn btn-sm btn-primary">Submit</button>
        </div>
      </div>
      <app-loader></app-loader>
    </div>
  </div>

  <!--END MODAL-->
</div>
