<div class="card-body">
  <div class="card">
    <div class="card-header">
      <b>
        <i class="bi bi-building-add"></i>&nbsp; Other Information
        <span style="margin-left:100px">Note : Upload only webp/jpg/jpeg/pdf files (Min.Size 100KB to Max.Size 2MB)</span>
      </b>
    </div>
    <form [formGroup]="OtherInformationForm" class="form-horizontal">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-12 mb-3">
            <label>Select Other<span style="color:red;">*</span></label>
            <select formControlName="OtherInformation_ddlCourse" id="OtherInformation_ddlCourse" name="OtherInformation_ddlCourse"
                    [(ngModel)]="request.CourseID" class="form-control"
                    #SeletedCourseID (change)="ddlCourse_change($event, SeletedCourseID.value)">
              <option value="0">--Select Other--</option>
              <option [value]="item.ID" *ngFor="let item of courseDataList">
                {{item.Name}}
              </option>
            </select>
            <div *ngIf="isSubmitted&&form.OtherInformation_ddlCourse.errors" class="text-danger">
              <p *ngIf="!form.OtherInformation_ddlCourse.errors.DropdownValidators">This field is required .!</p>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label>Width (In Feet)<span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="OtherInformation_txtWidth" name="OtherInformation_txtWidth"
                   placeholder="Enter Width (In Feet)"
                   [(ngModel)]="request.Width" formControlName="OtherInformation_txtWidth" (keypress)="numberOnly($event)">
            <div *ngIf="isSubmitted&&form.OtherInformation_txtWidth.errors" class="text-danger">
              <p *ngIf="form.OtherInformation_txtWidth.errors.required">This field is required .!</p>
              <p *ngIf="form.OtherInformation_txtWidth.errors.min">Width will be greater than zero .!</p>
              <p *ngIf="form.OtherInformation_txtWidth.errors.max">Width will be less than 500000 .!</p>
            </div>
            <div *ngIf="request.CourseID>0">
              <p *ngIf="WidthMin>0 && request.Width>0 && request.Length>0" class="{{request.Width >= WidthMin ? '' : CssClass_TextDangerWidth}}">Please Enter Min size : {{WidthMin}} sq. ft</p>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label>Length (In Feet)<span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="OtherInformation_txtLength" name="OtherInformation_txtLength"
                   placeholder="Enter Length (In Feet)" 
                   [(ngModel)]="request.Length" formControlName="OtherInformation_txtLength" (keypress)="numberOnly($event)">
            <div *ngIf="isSubmitted&&form.OtherInformation_txtLength.errors" class="text-danger">
              <p *ngIf="form.OtherInformation_txtLength.errors.required">This field is required .!</p>
              <p *ngIf="form.OtherInformation_txtLength.errors.min">Length will be greater than zero .!</p>
              <p *ngIf="form.OtherInformation_txtLength.errors.max">Length will be less than 500000 .!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
            <label for="fileUploadImage" class="form-label">Upload Image<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" class="form-control" style="display:none" id="fileUploadImage" name="fileUploadImage" formControlName="fileUploadImage" (change)="ValidateUploadImage($event,'ImageFile')" #fileUploadImage />
              <label class="btn upload" for="fileUploadImage">
                <span class="filename">Choose file</span>
                {{request.ImageFileName === '' ? 'No File Choosen' : request.Image_Dis_FileName}}
              </label>
              <div class="btn-group" *ngIf="showImageFilePath">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.ImageFilePath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('ImageFile')"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <p *ngIf="isSubmitted&&request.ImageFilePath ==''" class="text-danger"><i aria-hidden="true"></i> {{ImageValidate}}</p>
            <div *ngIf="isValidImageFilePath" class="text-danger">
              <p *ngIf="isValidImageFilePath"> {{ImageValidationMessage}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-2" *ngIf="ShowHideBook">
            <label>No of books<span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="OtherInformation_Noofbooks" [(ngModel)]="request.NoofBooks" name="OtherInformation_Noofbooks"
                   formControlName="OtherInformation_Noofbooks" (keypress)="numberOnly($event)">
            <div *ngIf="isNoofBookRequired" class="text-danger">
              <p *ngIf="isNoofBookRequired">This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideBook">
            <label for="fileUploadBookImage" class="form-label">Upload Book's Details Document<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none" class="form-control" id="fileUploadBookImage" name="fileUploadBookImage" formControlName="fileUploadBookImage" (change)="ValidateUploadImage($event,'UploadBook')" #fileUploadBookImage />
              <label class="btn upload" for="fileUploadBookImage">
                <span class="filename">Choose file</span>
                {{request.BookImageFileName === '' ? 'No File Choosen' : request.BookImage_Dis_FileName}}
              </label>
              <div class="btn-group" *ngIf="showBookImageFilePath">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.BookImageFilePath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('UploadBook')"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <p *ngIf="isSubmitted&&request.BookImageFilePath ==''" class="text-danger"><i aria-hidden="true"></i> {{ImageValidate}}</p>
            <div *ngIf="isValidBookImageFilePath" class="text-danger">
              <p *ngIf="isValidBookImageFilePath"> {{ImageValidationMessage}}</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-12 mt-3 text-end">
            <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()"><i class="fa fa-plus"></i> Add &amp; Save </button>
            <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
          </div>
        </div>
        <div class="row" *ngIf="OtherInformation.length>0">
          <div class="card mb-0">
            <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
              <b><i class="fa fa-plus"></i>&nbsp;Other Information</b>
              <div class="d-flex align-items-center">
                <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
                  <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
                  <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
                </div>
                <div class="d-flex align-items-center table-filter mr-15">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" formControlName="txtsearchText" name="txtsearchText" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover table-striped-columns" id="tabellist" #content>
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Course</th>
                        <th>Width (In Feet) Size</th>
                        <th>Length (In Feet)</th>
                        <th>Number Of Books</th>
                        <th>Upload Image</th>
                        <!--<th>Upload Book Image</th>-->
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of OtherInformation | tableSearchFilter:searchText;let idx=index;">
                        <td>{{idx+1}}</td>
                        <td>{{row.CourseName}}</td>
                        <td>{{row.Width}}</td>
                        <td>{{row.Length}}</td>
                        <td>{{row.NoofBooks}}</td>
                        <td><a target="_blank" href="{{row.ImageFilePath}}"><i class="fa fa-eye"></i></a></td>
                        <!--<td><a *ngIf="row.BookImageFileName!=''" target="_blank" href="{{row.BookImageFilePath}}"><i class="fa fa-eye"></i></a></td>-->
                        <td>
                          <div class="d-flex">
                            <button type="button" (click)="Edit_OnClick(row.CollegeWiseOtherInfoID)" [attr.disabled]="isDisabledGrid ? true : null" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                            <button *ngIf="isDeleteButton" type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Delete_OnClick(row.CollegeWiseOtherInfoID)" [attr.disabled]="isDisabledGrid ? true : null"><i class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </form>
  </div>
</div> 
