<div class="row">
  <div class="col-md-12">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>College Detail </b>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div class="col-md-12" *ngIf="collegeListData!=null">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>Department :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.DepartmentName_English}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Status :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeStatus}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label><b>College Logo :</b></label>
                <div class="clearfix"></div>
                <a *ngIf="!collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom">
                  <img src="{{collegeListData.CollegeLogoPath}}" alt="College Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                </a>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeStatus!='New'">
                <label>Present Status of College :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.PresentCollegeStatus}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Type :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeType}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Level :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeLevel}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Code :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeCode}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Name in English :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNameEn}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Name in Hindi :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNameHi}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>IS Your College NAAC Accredited :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNAACAccredited}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
                <label>NAAC Accredited Certificate(Only pdf/image file.) (Min.Size 100KB) (Max.Size 2MB) :</label>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.NAACAccreditedCertificatePath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.NAACAccreditedCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
                <label>NACC Validity Date :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.NACCValidityDate | date:'dd-MM-yyyy'}}" />
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID==3">
                <label>AISHE Code Status :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.AISHECodeStatus}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.AISHECodeStatus =='Yes' && collegeListData.DepartmentID==3">
                <label>AISHE Code :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.AISHECode}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Medium :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeMediumName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label *ngIf="collegeListData.DepartmentID==6">University / RMC  :</label>
                <label *ngIf="collegeListData.DepartmentID !=6">University :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.UniversityName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeStatus!='New'">
                <label>Year of Establishment :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.FinancialYearName}}" />
              </div>

            </div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b>Address & Contact Detail <span style="color:red;">*</span></b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Division :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.Division_English}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>District :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.District_Eng}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Subdivision :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.SubdivisionName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Tehsil :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.TehsilName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Area :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.RuralUrbanArea}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Urban'">
                    <label>City Name :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.CityName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
                    <label>Panchayat Samiti :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.PanchyatSamitiName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Parliament Area :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.ParliamentAreaName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Assembly Area :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.AssemblyAreaName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>City/Town/Village :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.CityTownVillage}}" />
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Pincode :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.Pincode}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Address Line 1 :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.AddressLine1}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Address Line 2 :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.AddressLine2}}" />
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
                    <label>Distance from City(km) :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.DistanceFromCity}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Website Link :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.WebsiteLink}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Mobile Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.MobileNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Landline Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeLandlineNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Email :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.Email}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeContactDetailsList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> Contact Details </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Name Of Person</th>
                        <th>Designation</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of collegeContactDetailsList; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.NameOfPerson}}</td>
                        <td>{{row.DesignationName}}</td>
                        <td>{{row.MobileNumber}}</td>
                        <td>{{row.EmailAddress}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeListData!=null">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> General Contact Details </b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Designation :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.DesignationName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Mobile Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.GCD_MobileNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Landline Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.GCD_LandlineNumber}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeNearestGovernmentHospitalsList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> 10 Government hospitals nearest to the institution </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>
                          Compliance<br />
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdCollegeDetailSelectAllActionType" id="rdCollegeDetailSelectAllYes" value="Yes" (change)="selectAll('Yes')">
                            <label class="form-check-label">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdCollegeDetailSelectAllActionType" id="rdCollegeDetailSelectAllNo" value="No" (change)="selectAll('No')">
                            <label class="form-check-label">No</label>
                          </div>
                        </th>
                        <!--<th *ngIf="sSOLoginDataModel.RoleID==3 || sSOLoginDataModel.RoleID==5">Clerk Action</th>
                        <th *ngIf="sSOLoginDataModel.RoleID==5">Section Officer Action</th>-->
                        <th>Sr. No.</th>
                        <th>Hospital Name</th>
                        <th>Hospital RegNo.</th>
                        <th>Hospital Address</th>
                        <th>Distance From Institute(KM)</th>
                        <th>Hospital Document</th>
                        <th>Tarils</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of collegeNearestGovernmentHospitalsList; let indexOfelement=index;">
                        <td>
                          <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="rdCollegeDetailActionType{{indexOfelement+1}}" id="rdCollegeDetailActionTypeYes{{indexOfelement+1}}" [(ngModel)]="row.Action" value="Yes" (change)="ClickOnAction(indexOfelement)">
                              <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="rdCollegeDetailActionType{{indexOfelement+1}}" id="rdCollegeDetailActionTypeNo{{indexOfelement+1}}" value="No" [(ngModel)]="row.Action" (change)="ClickOnAction(indexOfelement)">
                              <label class="form-check-label">No</label>
                            </div>
                          </div>
                          <div class="row" [hidden]="row.Action !='No'">
                            <div class="col-lg-11 col-md-11 col-sm-6 col-12 mb-3">
                              <label>Remark : </label>
                              <textarea type="text" class="form-control" name="txtCollegeDetailRemark{{indexOfelement+1}}" id="txtCollegeDetailRemark{{indexOfelement+1}}" [(ngModel)]="row.Remark"></textarea>
                            </div>
                          </div>

                        </td>
                        <!--<td *ngIf="sSOLoginDataModel.RoleID==3 || sSOLoginDataModel.RoleID==5">
                          Compliance: {{row.C_Action}}<br />
                          <p [hidden]="row.C_Action !='No'">Remark : {{row.C_Remark}}</p>
                        </td>
                        <td *ngIf="sSOLoginDataModel.RoleID==5">
                          Compliance: {{row.S_Action}}<br />
                          <p [hidden]="row.S_Action !='No'">Remark : {{row.S_Remark}}</p>
                        </td>-->
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.HospitalName}}</td>
                        <td>{{row.HospitalRegNo}}</td>
                        <td>
                          <p class="m-0"><b>Area : </b> {{row.RuralUrbanArea}}</p>
                          <p class="m-0"><b>Address Line 1 : </b> {{row.AddressLine1}}</p>
                          <p class="m-0"><b>Address Line 2 : </b>{{row.AddressLine2}}</p>
                          <p class="m-0"><b>Division : </b> {{row.Division_English}}</p>
                          <p class="m-0"><b>District : </b> {{row.District_Eng}}</p>
                          <p class="m-0"><b>Tehsil : </b>{{row.TehsilName}}</p>
                          <p *ngIf="row.RuralUrban==1" class="m-0"><b>PanchayatSamiti : </b>{{row.PanchyatSamitiName}}</p>
                          <p *ngIf="row.RuralUrban==2" class="m-0"><b>City : </b>{{row.CityName}}</p>
                          <p class="m-0"><b>City/Town/Village : </b>{{row.CityTownVillage}}</p>
                          <p class="m-0"><b>Pincode : </b>{{row.Pincode}}</p>
                        </td>
                        <td>{{row.HospitalDistance}}</td>
                        <td>
                          <a *ngIf="!row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.HospitalDocumentPath}}" alt="Hospital Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                          </a>
                        </td>
                        <td><button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewTaril(row.NearestGovernmentHospitalsID,'CollegeHospitalTrail')"><i class="fa fa-bars" aria-hidden="true"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="collegeListData==null">
          <span style="color:red"> No Data Found.!</span>
        </div>
        <div class="row" *ngIf="FinalRemarks.length>0">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>Role</th>
                  <th>Action</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item1 of FinalRemarks ; let idx =index">
                  <td>{{idx+1}}</td>
                  <td>{{item1.RoleID}}</td>
                  <td>{{item1.ActionName}}</td>
                  <td>{{item1.Remark}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="card-header">
          <b> College Detail Approve/Revert </b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rdcollegeapproverevert" id="rdcollegeapprove" [value]="1" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
                <label class="form-check-label">Approve</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rdcollegeapproverevert" id="rdcollegerevert" [value]="2" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
                <label class="form-check-label">Revert</label>
              </div>
              <p *ngIf="isSubmitted&&dsrequest.ActionID==0" class="text-danger"> This field is required .!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Remarks</label>
              <textarea id="CollegeDetailRemark" class="form-control" [(ngModel)]="dsrequest.FinalRemark"></textarea>
              <div *ngIf="isRemarkValid" class="text-danger">
                <p *ngIf="isRemarkValid"> This field is required .!</p>
              </div>
            </div>
          </div>
          <div class="row" [hidden]="QueryStringStatus!='Pending'">
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" (click)="SubmitCollegeDetail_Onclick()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




