<!--<app-loader></app-loader>-->
<div class="mainPortal">
  <div class="sideBars">
    <div class="logo">
      <img src="assets/images/logoLarge.png" class="largelogo" />
      <img src="assets/images/logoSmall.png" class="smallLogo" />
    </div>
    <nav class="navbar">
      <ul class="navbar-nav" [innerHtml]="MenuHTML">
      </ul>
    </nav>
  </div>
  <div class="MainDivs">
    <div class="container-fluid header">

      <div class="row align-items-center">
        <div class="clearfix"></div>
        <div class="LogoSectionResponsive">
          <img src="assets/images/logoLarge.png" class="largelogo" />
          <button class="btn btn-soft-primary borderRadius0" type="button" onclick="js_navCollapse(this);">
            <i class="fa fa-navicon"></i>
          </button>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
          <button class="sidebarToggle" onclick="togglesidebar();"><i class="fa fa-bars" aria-hidden="true"></i></button>
          <!--<div class="searchBox d-flex justify-content-between align-items-center">
          <input type="text" class="form-control borderRadius0" placeholder="Sreach Here....">
          <button class="btn btn-soft-primary borderRadius0"><i class="fa fa-search"></i></button>
        </div>-->
        </div>
        <div class="col-md-1  d-flex align-items-center justify-content-end offset-5">

          <label for="DepartmentName" class="d-inline mr-5">Role&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <select id="ddlRole" name="ddlRoleID" class="form-select d-inline" [(ngModel)]="RoleID"
                  #SeletedRole (change)="loadMenuByRoleID(SeletedRole.value)">
            <option *ngFor="let item of lstUserRole"
                    value="{{item.UserID}}">
              {{item.RoleName}}
            </option>
          </select>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end topUlsControl">

          <ul class="topBarRight">

            <!--<li>

            <a href="javascript:void(0)" class="language HiLanguage" title="Choose Language"></a>
          </li>-->
            <!--<li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" title="Notification" id="notificationBox" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell"></i></a>
            <div class="TopslideBox notificationBox dropdown-menu" aria-labelledby="notificationBox">
              <h3><i class="bi bi-bell"></i> Notification</h3>
            </div>
          </li>-->
          </ul>
          <ul class="UserDropDown">
            <li class="dropdown userDropBox">
              <a href="javascript:void(0)" class="dropdown-toggle userClickLink" id="UserBox" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex align-items-center">
                  <img src="assets/images/userImg.jpg" class="userImg" />
                  <div>
                    <b class="d-block">{{UserName}}</b>
                    <span class="d-block" *ngIf="sSOLoginDataModel">{{sSOLoginDataModel.SSOID}}</span>
                  </div>
                </div>
              </a>
              <div class="UserBox dropdown-menu dropdown-menu-right pb-0" aria-labelledby="notificationBox">
                <!--<a href="javascript:void(0)" class="dropdown-item"><i class="bi bi-people"></i>&nbsp;Profile</a>
              <a href="javascript:void(0)" class="dropdown-item"><i class="bi bi-gear"></i>&nbsp;Setting</a>
              <a href="javascript:void(0)" class="dropdown-item"><i class="bi bi-envelope"></i>&nbsp;Messege</a>-->

                <h5 class="dropdown-item">{{sSOLoginDataModel.FirstName}} {{sSOLoginDataModel.LastName}} <br /><span class="designation">{{sSOLoginDataModel.RoleName}}</span></h5>


                <div class="dropdown-divider mb-0"></div>


                <button type="button" class="dropdown-item" (click)="BackToSSO()"><i class="bi bi-box-arrow-right"></i> Back To SSO</button>
                <button type="button" class="dropdown-item" (click)="Logout()"><i class="bi bi-box-arrow-right"></i> Signout</button>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contant">
       <p style="display:none"><strong>{{idleState}}</strong></p> 
      <!--<button (click)="reset()" *ngIf="timedOut">Restart</button>-->
      <router-outlet></router-outlet>
      <ng-template #mymodalSessionExpired let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Session Expired</h4>
        </div>
        <div class="modal-body"> 
          User session invalid. Please try login after some time. 
        </div>
        <div class="modal-footer">
          <div class="row  m-2">
            <div class="col-md-12">
              <button type="button" id="btnOk" class="btn btn-primary" (click)="btnOk()" title="Submit">OK</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="container-fluid footers">
      <div class="row">
        <div class="col-md-6">
          <p>Copyrights &copy; 2023-24 All Rights Resereved.</p>
        </div>
        <!--<div class="col-md-6 text-right">
        <p>Designed & Developed Powered By Dev Information Technologies Ltd.</p>
      </div>-->
      </div>
    </div>


   


  </div>
</div>
