<header class="bg-white shadow p-2">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/images/logo.png" class="img-fluid" />
      </div>

      <div class="col-lg-7 col-md-6 col-sm-6 col-12 contactMarquee">
        <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
          <!--Without maarquee use this class in bottom UL - w-100 justify-content-end-->
          <ul class="d-flex align-items-center flex-wrap">
            <li>
              <span class="blinkText">Helpdesk : </span>
            </li>
            <li>
              <i class="bi bi-phone"></i>
              <span>+91-90015 47555</span>
            </li>
            <li>
              <i class="bi bi-envelope"></i>
              <span>support.rajnoc@rajasthan.gov.in</span>
            </li>
          </ul>
        </marquee>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 texe-end">
        <!--<a href="https://harghartiranga.com/" target="_blank" class="d-block text-end">
    <img src="../../../assets/images/TirangaLogo.jpeg" alt="logo" style="width:140px;">
  </a>-->
        <img src="../../../assets/images/CMPhoto.png" style="width:120px;" />
      </div>
      <!--<div class="col-lg-9 col-md-8 col-sm-6 col-12 CMBox">
        <div class="d-flex align-items-center flex-end w-100" style="justify-content:flex-end">
          <img src="../../../assets/images/cm1.png" style="width:75px;" />
          <div class="me-3">
            <h5 class="m-0 f-600">Shri Bhajanlal Sharma</h5>
            <h6 class="m-0">Hon'ble Chief Minister</h6>
          </div>
        </div>

      </div>-->
    </div>
  </div>
</header>
<!--heightFixBox-->
<section class="heightFixBox">
  <!--<div class="container-fluid bannerImgs p-0 mb-5 position-relative" style="z-index:999">
    <a href="https://harghartiranga.com/" target="_blank" class="d-block text-end">
      <img src="../../../assets/images/image-slider-1-eng.png" width="100%" />
    </a>
  </div>-->
  <div class="container-fluid centerContentPart">

    <div class="row">
      <div class="col-lg-9 tabPanels">
        <div class="nav nav-pills mt-0 mb-5 dptNavPills" id="v-pills-tab" role="tablist">
          <button (click)="GetUserManualDocumentMasterList(2,'Degree')" class=" service-item style-3 nav-link" id="v-pills-d1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d1" type="button" role="tab" aria-controls="v-pills-d1" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/1.png" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>Department of Animal Husbandry</h4>
              </div>

            </div>
          </button>

          <!--<button (click)="GetUserManualDocumentMasterList(9)"  class=" service-item style-3 nav-link" id="v-pills-d2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d2" type="button" role="tab" aria-controls="v-pills-d2" aria-selected="false">
    <div class="service-icon">
      <img src="../../../assets/images/2.jpg" />
    </div>
    <div class="service-desc">
      <div class="service-title">
        <h4>Rajasthan PARA-Medical Council</h4>
      </div>
    </div>
  </button>-->


          <button (click)="GetUserManualDocumentMasterList(4,'No')" class=" service-item style-3 nav-link" id="v-pills-d3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d3" type="button" role="tab" aria-controls="v-pills-d3" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/3.jpg" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>Department of Technical Education</h4>
              </div>


            </div>
          </button>

          <button (click)="GetUserManualDocumentMasterList(6,'No')" class=" service-item style-3 nav-link" id="v-pills-d4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d4" type="button" role="tab" aria-controls="v-pills-d4" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/4.png" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>Department of Medical, Health & Family Welfare</h4>
              </div>


            </div>
          </button>


          <button (click)="GetUserManualDocumentMasterList(1,'No')" class=" service-item style-3 nav-link" id="v-pills-d5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d5" type="button" role="tab" aria-controls="v-pills-d5" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/6.jpg" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>Department of <br /> Agriculture</h4>
              </div>
            </div>
          </button>

          <button (click)="GetUserManualDocumentMasterList(3,'No')" class=" service-item style-3 nav-link" id="v-pills-d6-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d6" type="button" role="tab" aria-controls="v-pills-d6" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/7.png" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>DCE(Department of College Education)</h4>
              </div>
            </div>
          </button>


          <button (click)="GetUserManualDocumentMasterList(5,'No')" class=" service-item style-3 nav-link" id="v-pills-d7-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d7" type="button" role="tab" aria-controls="v-pills-d7" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/5.png" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>Rajasthan Medical Education Department</h4>
              </div>
            </div>
          </button>

          <button (click)="GetUserManualDocumentMasterList(12,'No')" class=" service-item style-3 nav-link" id="v-pills-d12-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d12" type="button" role="tab" aria-controls="v-pills-d12" aria-selected="false">
            <div class="service-icon">
              <img src="../../../assets/images/bte.jpg" />
            </div>
            <div class="service-desc">
              <div class="service-title">
                <h4>Board of Technical Education</h4>
              </div>
            </div>
          </button>


        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-d" role="tabpanel" aria-labelledby="v-pills-d-tab" tabindex="0">

            <h5 class="text-center defulttext">
              ऑनलाइन पोर्टल का उद्देश्य निजी महाविद्यालयों को अनापत्ति प्रमाण पत्र प्रदान करना एवं सम्पूर्ण प्रक्रिया की पारदर्शिता सुनिश्चित करना है।
              उपरोक्त पोर्टल में विभिन्न क्षेत्र के महाविद्यालों जैसे की कृषि, पशुपालन, नर्सिंग , मेडिकल शिक्षा , कॉलेज शिक्षा, तकनीकी शिक्षा इत्यादि को एनओसी ऑनलाइन ही जारी की जा सकेगी।

            </h5>

          </div>
          <div class="tab-pane fade" id="v-pills-d1" role="tabpanel" aria-labelledby="v-pills-d1-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/1.png" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Department of<br /> Animal Husbandry</h5>
            </div>
            <div class="tabs">
              <input type="radio" id="tab1" name="tab" value="Degree" [(ngModel)]="DiplomaDegree" (click)="GetUserManualDocumentMasterList(2,'Degree')">
              <label for="tab1">Degree</label>

              <input type="radio" id="tab2" name="tab" value="Diploma" [(ngModel)]="DiplomaDegree" (click)="GetUserManualDocumentMasterList(2,'Diploma')">
              <label for="tab2">Diploma</label>

              <div class="tab-contentss" id="content1">
                <div class="d-flex justify-content-start mb-3 contactMarquee">
                  <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                    <ul class="d-flex align-items-center flex-wrap">
                      <li>
                        <p class="mb-4 blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
                          {{row.Content}}
                        </p>
                        <!--<span class="blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">   {{row.Content}}"Online NOC Portal start soon for session 2025-26"</span>-->
                      </li>
                    </ul>
                  </marquee>
                </div>
                <p class="mb-4 defulttext" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
                  {{row.Content}}
                </p>
                <div class="buttons mt-2 mb-4">
                  <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
                  <!--<a href="https://nocapi.rajasthan.gov.in/api/ImageFile/23Jul2024051409815359Animal%20Husbandry%20Updated%20user%20manual%20pdf%202.pdf" target="_blank" class="btncomn">View User Manual</a>-->
                </div>
              </div>

              <div class="tab-contentss" id="content2">
                <div class="d-flex justify-content-start mb-3 contactMarquee">
                  <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                    <ul class="d-flex align-items-center flex-wrap">
                      <li>
                        <p class="mb-4 blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
                          {{row.Content}}
                        </p>
                        <!--<span class="blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">   {{row.Content}}"Online NOC Portal start soon for session 2025-26"</span>-->
                      </li>
                    </ul>
                  </marquee>
                </div>
                <p class="mb-4 defulttext" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
                  {{row.Content}}
                </p>
                <div class="buttons mt-2 mb-4">
                  <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
                  <a href="https://nocapi.rajasthan.gov.in/api/ImageFile/23Jul2024051409815359Animal%20Husbandry%20Updated%20user%20manual%20pdf%202.pdf" target="_blank" class="btncomn">View User Manual</a>
                </div>
              </div>
            </div>
            <!--<p class="mb-4">
      निजी क्षेत्र की संस्थायें जो प्रदेश में द्वि- वर्षीय पशुपालन डिप्लोमा पाठ्यक्रम हेतु नवीन संस्थान खोलने की इच्छुक हैं, से इस सम्बन्ध में अनापत्ति प्रमाण पत्र प्राप्त करने हेतु दिनांक 24.06.2024 को प्रातः 10.00 बजे से दिनांक 23.07.2024 को सांय 5.00 बजे की अवधि में ऑनलाइन आवेदन आमंत्रित किये जाते हैं।
      विस्तृत जानकारी हेतु विभागीय विज्ञप्ति, दिशा-निर्देश, यूजर मैन्युअल एवं A.H.D.P पॉलिसी-2022 इस पोर्टल के "ORDER & CIRCULAR" सेक्शन पर जाकर डाउनलोड किये जा सकते हैं .
    </p>-->







          </div>


          <div class="tab-pane fade" id="v-pills-d2" role="tabpanel" aria-labelledby="v-pills-d2-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/2.jpg" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Rajasthan PARA<br /> Medical Council</h5>
            </div>
            <p class="mb-4">समस्त महाविद्यालयों/इंस्टिट्यूट/डिप्लोमा (पूर्व संचालित एवं नवीन संचालित) को सूचित किया जाता है की NOC लेने हेतु RajNOC पोर्टल पर ऑनलाइन आवेदन शीघ्र आमंत्रित किये जायेंगे।</p>


            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
              <a href="../../../assets/PDF/Government of Rajasthan-NOC manual.pdf" target="_blank" class="btncomn">View User Manual</a>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-d3" role="tabpanel" aria-labelledby="v-pills-d3-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3 contactMarquee">
              <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                <ul class="d-flex align-items-center flex-wrap">
                  <li>
                    <p class="mb-4 blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
                      {{row.Content}}
                    </p>
                    <!--<span class="blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">   {{row.Content}}"Online NOC Portal start soon for session 2025-26"</span>-->
                  </li>
                </ul>
              </marquee>
            </div>

            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/3.jpg" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Department of<br />Technical Education</h5>
            </div>

            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
              {{row.Content}}
            </p>
            <!--<p class="mb-4">राज्य में संचालित तकनीकी संस्थानों के लिये राज्य सरकार द्वारा जारी किये जाने वाले अनापत्ति प्रमाण-पत्र (NOC)प्राप्त करने के लिए सत्र 2025-26 हेतु तकनीकी पाठ्यक्रमों के प्रारम्भ/सीटों में कमी/वृद्धि इत्यादि करने वाले तकनीकी संस्थान/ट्रस्ट/ सोसायटी से ऑनलाईन आवेदन पत्र https://rajnoc.rajasthan.gov.in/ पर शीघ्र आमंत्रित किये जायेंगे।  </p>-->


            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
              <a href="https://nocapi.rajasthan.gov.in/api/ImageFile/25Nov2024050749908981DTE%20New%20Institutes%20pdf.pdf" target="_blank" class="btncomn">View User Manual For New Institute</a>
              <a href="https://nocapi.rajasthan.gov.in/api/ImageFile/25Nov2024050811604704DTE%20Existing%20Institutes%20pdf.pdf" target="_blank" class="btncomn">View User Manual For Existing Institute</a>
              <a href="https://nocapi.rajasthan.gov.in/api/ImageFile/25Nov2024050907359393DTEgeotag.pdf" target="_blank" class="btncomn">View User Manual For Geo Tagging</a>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-d4" role="tabpanel" aria-labelledby="v-pills-d4-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3 contactMarquee">
              <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                <ul class="d-flex align-items-center flex-wrap">
                  <li>
                    <p class="mb-4 blinkText" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
                      {{row.Content}}
                    </p>
                  </li>
                </ul>
              </marquee>
            </div>
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/4.png" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Department of Medical, <br />Health & Family Welfare</h5>
            </div>
            <!--<p class="mb-4">समस्त महाविद्यालयों/इंस्टिट्यूट/डिप्लोमा (पूर्व संचालित एवं नवीन संचालित) को सूचित किया जाता है की NOC लेने हेतु RajNOC पोर्टल पर ऑनलाइन आवेदन शीघ्र आमंत्रित किये जायेंगे।</p>-->
            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
              {{row.Content}}
            </p>

            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
              <a href="../../../assets/PDF/Government of Rajasthan-NOC manual.pdf" target="_blank" class="btncomn">View User Manual</a>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-d5" role="tabpanel" aria-labelledby="v-pills-d5-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/6.jpg" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Department of<br />Agriculture</h5>
            </div>
            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
              {{row.Content}}
            </p>
            <!--<p class="mb-4">
      राज्य में कृषि शिक्षा को "राजस्थान सोसायटी रजिस्ट्रीकरण अधिनियम 1958" या "राजस्थान पब्लिक ट्रस्ट अधिनियम 1959" या "भारतीय ट्रस्ट अधिनियम 1882" या "डी कंपनी अधिनियम 2013 की धारा 8 के पंजीकृत दस्तावेजों से अकादमी सत्र 2025-26" के लिए पूर्व संचालित निजी कृषि कॉलेजों को TNOC
      अभिवृद्धि हेतु राज एनओसी (एसएसओ लॉगिन) पोर्टल पर ऑनलाइन आवेदन दिनांक 01.04.2025 से दिनांक 15.04.2025 तक के लिए आवेदन आमंत्रित किये जाते हैं। गैर सरकारी क्षेत्र में नवीन कृषि नीति/प्रक्रिया 2022 कृषि विभाग वेबसाइट (agriculture.rajasthan.gov.in) से डाउनलोड किया जा सकता है।
    </p>-->

            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
              <a href="https://nocapi.rajasthan.gov.in/api/ImageFile/08Aug2024033432378553Agriculture%20User%20Manual%20PDF.pdf" target="_blank" class="btncomn">View User Manual</a>
            </div>

          </div>
          <div class="tab-pane fade" id="v-pills-d6" role="tabpanel" aria-labelledby="v-pills-d6-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/dcelogo.jpg" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Department of<br /> College Education</h5>
            </div>
            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
              {{row.Content}}
            </p>

            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
              <a href="../../../assets/PDF/Government of Rajasthan-NOC Manual 2024-2025.pdf" target="_blank" class="btncomn">View User Manual (English)</a>
              <a href="../../../assets/PDF/Government of Rajasthan-NOC Manual  Hindi 2023-24.pdf" target="_blank" class="btncomn">View User Manual (Hindi)</a>
              <a href="https://nocapi.rajasthan.gov.in/api/ImageFile/20Jan2025050243757471User%20Menual%20For%20B.ed%20Colleges.pdf" target="_blank" class="btncomn">View Teacher Training User Manual</a>
            </div>

            <ul>
              <li *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
                {{row.Content}}
              </li>

            </ul>



          </div>
          <div class="tab-pane fade" id="v-pills-d7" role="tabpanel" aria-labelledby="v-pills-d7-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/5.png" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Rajasthan Medical <br />Education Department</h5>
            </div>
            <!--<p class="mb-4">समस्त महाविद्यालयों/इंस्टिट्यूट/डिप्लोमा (पूर्व संचालित एवं नवीन संचालित) को सूचित किया जाता है की NOC लेने हेतु RajNOC पोर्टल पर ऑनलाइन आवेदन शीघ्र आमंत्रित किये जायेंगे।</p>-->
            <!--<p class="mb-4">राज्य में निजी चिकित्सा महाविद्यालय स्थापित किये जाने हेतु विभाग के दिनांक 17/01/2025 के परिपत्र की अनुपालना में आशय पत्र (LOI) जारी करने हेतु ऑनलाइन आवेदन शुरू कर दिए गए है |</p>-->
            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
              {{row.Content}}
            </p>
            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>
              <a href="../../../assets/PDF/Government of Rajasthan-NOC manualMG1LOI.pdf" target="_blank" class="btncomn">View User Manual</a>
            </div>
            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
              {{row.Content}}
            </p>


          </div>

          <div class="tab-pane fade" id="v-pills-d12" role="tabpanel" aria-labelledby="v-pills-d12-tab" tabindex="0">
            <div class="d-flex justify-content-start mb-3">
              <img src="../../../assets/images/bte.jpg" height="80" width="80"
                   alt="icon">
              <h5 class="position-relative ms-2 mt-3">Board of  <br />Technical Education</h5>
            </div>
            
            <div class="col-lg-7 col-md-6 col-sm-6 col-12">
              <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Top ;let idx=index;">
                <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">

                  {{row.Content}}

                </marquee>
              </p>
            </div>
            <div class="buttons mt-2 mb-4">
              <a href="https://sso.rajasthan.gov.in/signin?ru=UNOC" target="_blank" class="btncomn">Login to SSO</a>              
              <a href="../../../assets/PDF/Government of Rajasthan-NOC manualBTER" target="_blank" class="btncomn">View User Manual</a>            
            </div>
            <p class="mb-4" *ngFor="let row of DCE_HomePage_IncreaseDateData_Bottom ;let idx=index;">
              {{row.Content}}
            </p>

          </div>


        </div>

      </div>


      <div class="col-lg-3 OrderCircularBox">
        <h3 class="heading">Order & Circular</h3>
        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
          <ul class="newsMarquee">


            <li *ngFor="let row of UserManualDocumentlList ;let idx=index;">
              <a href="{{row.DocumentPath}}" target="_blank">
                <p><i class="fa fa-file-pdf-o"></i> {{row.TitleEnglish}} </p>
                <span><i class="fa fa-calendar"></i> {{row.Date}}</span>
              </a>
            </li>
          </ul>
        </marquee>
      </div>
    </div>


  </div>

  <div class="round-shape-animation"></div>

</section>
<section class="footersection bg-dark py-2" style="background-color:#021759!important;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-white">
        <h5>Quick Links : </h5>
        <ul class="navbarfooter ps-0">

          <li><a target="_blank" href="https://rajasthan.gov.in/"><i class="fa fa-angle-double-right"></i>&nbsp;State Portal Rajasthan</a></li>
          <li><a target="_blank" href="https://sampark.rajasthan.gov.in/"><i class="fa fa-angle-double-right"></i>&nbsp;Rajasthan Sampark</a></li>
          <li><a target="_blank" href="https://dop.rajasthan.gov.in/"><i class="fa fa-angle-double-right"></i>&nbsp;DOP</a></li>
          <li><a target="_blank" href="https://hte.rajasthan.gov.in/"><i class="fa fa-angle-double-right"></i>&nbsp;HTE link</a></li>

        </ul>

      </div>
      <div class="col-md-3 text-white">
        <h5>RAJ NOC Mobile App </h5>
        <a href="https://play.google.com/store/apps/details?id=com.risl.rajnoc&hl=en_IN&pli=1" target="_blank">
          <img src="../../../assets/images/play-store-logo.png" alt="Play Store" class="img-fluid mt-3">
        </a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://home.rajasthan.gov.in/acb/" target="_blank">
          <img src="../../../assets/images/ACP.jpg" alt="logo" width="250" class="img-fluid mt-3">
        </a>
        <div class="row  d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
          <div class="col-md-12 text-center text-white">
            <p class="mb-0 mt-0">All Rights Reserved to DoIT&C/RISL</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-end text-white ">
        <h5>Contact Us </h5>
        <p class="mb-0">

          +91-90015 47555 <br />
          support.rajnoc@rajasthan.gov.in
        </p>
        <p class="mb-0 mt-0">Website Visiter :<strong> 0584582</strong> <br />Last Update : <strong>10-01-2024 </strong></p>
      </div>
      <!--<div class="col-md-3 text-white text-end">
        <h5>Get App</h5>
        <a href="#" target="_blank"><img src="../../../assets/images/play-store-logo.png" class="img-fluid"/></a>
      </div>-->
      <div class="col-md-12 text-center text-white d-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
        <p class="mb-0 mt-0">All Rights Reserved to DoIT&C/RISL</p>
      </div>
    </div>
  </div>
</section>

