:root {
  --themeht-primary-color4: #f977945c;
  --themeht-primary-color5: #6200ff36;
  --themeht-primary-color6: #3498db3d;
  --themeht-white-color: #ffffff;
  --themeht-primary-color: #e3225f;
  --themeht-primary-color2: #ff0505;
  --themeht-primary-color3: #ff47c8;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 85%;
}

header {
  -webkit-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.1) !important;
  -moz-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.1) !important;
  box-shadow: 0 10px 35px 0 rgba(0,0,0,0.1) !important;
  position: relative !important;
  z-index: 999 !important;
}
.centerContentPart, .footersection {
  position: relative !important;
  z-index: 999 !important;
}
.round-shape-animation {
  position: fixed;
  width: 1000px;
  height: 1000px;
  right: -450px;
  bottom: 0;
  display: inline-block;
  background: linear-gradient(115deg, #6200ff36, #f977945c, #3498db3d);
  border-radius: 100%;
}

  .round-shape-animation::before {
    content: "";
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
    background: var(--themeht-white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
/*h6 {   background: linear-gradient(115deg, var(--themeht-primary-color5), var(--themeht-primary-color4), var(--themeht-primary-color6));
    -webkit-box-shadow: 0 0px 10px 0px rgba(92.99999999999996, 72.00000000000001, 223, .08) !important;
    -moz-box-shadow: 0 0px 10px 0px rgba(92.99999999999996, 72.00000000000001, 223, .08) !important;
    box-shadow: 0 0px 10px 0px rgba(92.99999999999996, 72.00000000000001, 223, .08) !important;
    padding: 10px 20px;
    margin: 15px 0px;
    border-radius: 5px;  
    font-size: .9rem;
    line-height: 1.6rem;

}*/
.service-icon img {
  width: 50px;
  height: 50px;
  ;
}

.clientLogo a {
  display: inline-block;
  border: 1px solid #ebe8e8;
  box-shadow: 0 6px 8px #00000017;
  background: #ffffff;
  margin: 0 5px;
  padding: 6px;
  border-radius: 5px;
  max-width: 180px;
}

.service-item.style-3 {
  position: relative;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #000;
  text-align: center;
  width: calc(100% / 6) !important;
  outline:none !important;
}
  .service-item.style-3:hover, .service-item.style-3:focus, .service-item.style-3:active {
      outline:none !important;
  }
  .service-item.style-3 a {
    color: #0c0c0c;
    text-decoration: none;
    font-size: .7rem;
  }

  .service-item.style-3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--themeht-white-color);
    z-index: -9;
    /* transform: skewY(-10deg); */
    border-radius: 10px;
    box-shadow: 0 10px 35px 0 rgba(92.99999999999996, 72.00000000000001, 223, .08);
  }

.service-title h4 {
  font-size: .9rem;
}

.service-item.style-3 .service-icon {
  display: inline-block;
  margin-bottom: 10px;
}
.service-item.style-3 .service-icon, .service-item.style-3 .service-desc {
  position:relative;
  z-index:999;
}

.service-item.style-3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #ff0505, #e3225f, #ff47c8) !important;
  /*z-index: -9;*/
  transform: scale(0) skewY(0deg);
  border-radius: 10px;
}

.service-item.style-3:hover, .service-item.style-3.active {
  background: transparent;
  color:#fff !important;
}

  .service-item.style-3:hover:after, .service-item.style-3.active:after {
    transform: scale(1) skewY(0deg);
  }

.service-item:before, .service-item:after {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.service-item.style-3:hover h4, .service-item.style-3:hover p, .service-item.style-3:hover .read-button {
  color: var(--themeht-white-color);
}

.navbarfooter {
  position: relative;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 35px;
  color: #ffffff;
  list-style: none;
}

  .navbarfooter a {
    text-decoration: none;
    color: #ffffff;
  }

.nav {
  gap: 15px;
  justify-content: space-between;
}

.tab-content .tab-pane {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 35px 0 rgba(92.99999999999996, 72.00000000000001, 223, .08);
}

.btncomn {
  background: #234197;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #234197;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

  .btncomn:hover {
    background: #fff;
    color: #234197;
    border: 1px solid #234197
  }

.heading {
  background: linear-gradient(115deg, #ff0505, #e3225f, #ff47c8);
  color: #ffffff;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
  text-transform: uppercase;
  text-align: center;
}

marquee {
  height: 475px;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 35px 0 rgba(92.99999999999996, 72.00000000000001, 223, .08);
  margin-top: 1px;
}

.defulttext {
  line-height: 32px;
  font-size: 20px;
}

.footerLink {
  list-style: none !important;
}

  .footerLink li a {
    color: #fff;
    text-decoration: none;
  }

  .footerLink li span {
    color: #fff;
  }

.heightFixBox {
  height: calc(100vh - 243px);
  overflow: auto;
  padding: 3rem 0px;
}

.dptNavPills {
  flex-wrap: nowrap !important;
}

.newsMarquee {
  list-style: none !important;
  margin: 0px;
  padding: 0px;
}

  .newsMarquee li a {
    display: block;
    border-bottom: solid 1px #e5e5e5;
    padding: 5px 0px;
    text-decoration: none !important;
  }

    .newsMarquee li a p {
      color: #878787;
      font-size: 14px;
      margin-bottom: 5px;
    }

      .newsMarquee li a p i {
        color: #e3225f;
      }

    .newsMarquee li a span {
      color: #e3225f;
      font-size: 12px;
    }

@media(max-width:1440px) {
  marquee {
    height: 290px !important;
  }

  .service-item.style-3 {
    padding: 10px !important;
  }

  .service-title h4 {
    font-size: .7rem;
  }

  .heightFixBox {
    padding: 1rem 0px;
  }

  .dptNavPills {
    margin-bottom: 15px !important;
  }
}

@media(max-width:991px) {
  .dptNavPills {
    overflow: auto;
  }

    .dptNavPills .service-item.style-3 {
      min-width: 200px;
      width: 200px;
    }

  .heightFixBox {
    height: unset !important;
  }

  .tabPanels {
    margin-bottom: 15px;
  }
}

@media(max-width:767px) {
  .CMBox h5 {
    font-size: 14px;
  }

  .CMBox h6 {
    font-size: 12px;
  }

  .footersection, .footersection .text-end {
    text-align: center !important;
  }

  .contactDetails {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.tab-pane > p {
  font-size: 1.5rem;
  line-height: 2.8rem;
}


/*body { background:#ffffff !important;}
.box1 {
  border: 3px solid #fff;
  box-shadow: 0 0 9px 0 #999;
  background: #fafafa;
  padding: 15px;
  border-radius: 13px; 
}

.boxsCat:hover, .boxsCat.active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 7px 0px 0px #cccccc5c;
}

.boxsCat p {
  font-size: 16px;
  line-height: 24px;
  padding: 11px 0 0 0;
}

.boxsCat {
  text-align: center;
  padding: 9px;
  margin: 0 0 30px 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 0 16px !important;
  width: 100%;
  box-shadow: 0 7px 10px 0 #99999926;
  border:none;
}

h3::before {
  background: #234197;
  content: '';
  display: inline-block;
  position: absolute;
  width: 70px;
  height: 6px;
  border-radius: 26px;
  bottom: -2px;
  left: 40px;
}
h3::after {
  background: #234197;
  content: '';
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 6px;
  border-radius: 26px;
  left: 0;
  bottom: -2px;
}

table td {
  vertical-align: middle;
}

.bi { font-size:20px;}

.btncomn {
  background: #234197;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
  margin-right: 8px;  
  display: inline-block;
  font-size: 14px;
  text-decoration:none;
}

  .clientLogo a {
    display: inline-block;
    border: 1px solid #ebe8e8;
    box-shadow: 0 6px 8px 0 #00000017;
    background:#ffffff;
    margin: 0 5px;
    padding: 6px;
    border-radius: 5px;
  }

.moving-marquee {
  position: fixed;
  z-index: 333;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: white;
  border-top: 1px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.quzathonhiglight {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  color: #fff;
  line-height: 39px;
  padding:0px 13px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  text-decoration:none;
}

.moving-marquee marquee {
  height: 36px;
  float: left;
  margin-top: -10px;
}

.quzathonhiglight:hover {
  color: #fff;
}



@-webkit-keyframes glowing {
  0% {
    background-color: #1981c3;
    -webkit-box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #1981c3;
    -webkit-box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #1981c3;
    -webkit-box-shadow: 0 0 3px #B20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #B20000;
    -moz-box-shadow: 0 0 3px #1981c3;
  }

  50% {
    background-color: #FF0000;
    -moz-box-shadow: 0 0 40px #1981c3;
  }

  100% {
    background-color: #B20000;
    -moz-box-shadow: 0 0 3px #1981c3;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #1981c3;
    box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #1981c3;
    box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #1981c3;
    box-shadow: 0 0 3px #B20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #1981c3;
  }

  50% {
    background-color: #1981c3;
    box-shadow: 0 0 40px #1981c3;
  }

  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #1981c3;
  }
}
.footerLink {
    list-style:none !important;
}
.footerLink li a {
  color: #fff;
  text-decoration: none;
}
.footerLink li span {
    color:#fff;
}
*/
