<div class="card mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp;Academic Information</b>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped-columns" id="tabellist" #content>
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Financial Year</th>
                <th>Course Name</th>
                <th>Result</th>
                <th>Admitted Student</th>
                <th>Appeared Student</th>
                <th>Passed Student</th>
                <th>Failed Student</th>
                <th>Other Student</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of AcademicInformationList;let idx=index;">
                <td>{{idx+1}}</td>
                <td>{{row.FinancialYearName}}</td>
                <td>{{row.CourseName}}</td>
                <td>{{row.ResultName}}</td>
                <td>{{row.AdmittedStudent}}</td>
                <td>{{row.AppearedStudent}}</td>
                <td>{{row.PassedStudent}}</td>
                <td>{{row.FailedStudent}}</td>
                <td>{{row.OtherStudent}}</td>
              </tr>
              <tr *ngIf="(AcademicInformationList.length<=0)">
                <td colspan="10" style="color:red">No Data Found.!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
