<app-loader></app-loader>
<div class="card tabCard1 mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp;Application List</b>
  </div>
  <div class="card-body">
    <div class="clearfix"></div>
    <div class="card">
      <div class="card-header">
        <b>Application List</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Department Name</th>
                    <th>College Name</th>
                    <th>Application No.</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplyNocDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.DepartmentName}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.ApplicationNo}}</td>
                    <td>
                      <a *ngIf="this.sSOLoginDataModel.RoleID==16 && QueryStatus == 'DCPending'" href="javascript:void(0)" (click)="OpenForwardCMHO(forwardcmhomymodal,item.ApplyNOCID,item.DepartmentID,item.CollegeID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-forward"> Forward to CMHO</i></a>
                      <span *ngFor="let witem of WorkflowPermissionslst let idxx =index">
                        <a *ngIf="witem.PermissionCode=='DocumentScrutiny' && QueryStatus == 'DCPending'" href="javascript:void(0)" (click)="DocumentScrutiny(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutinyForward' && QueryStatus == 'DCPending' && sSOLoginDataModel.RoleID!=3 && sSOLoginDataModel.RoleID!=5" href="javascript:void(0)" (click)="DocumentScrutinyForward(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='GenerateInspectionReport' && item.InspectionReport==''" (click)="GenerateInspectionReport(item.ApplyNOCID,item.CollegeID)" href="javascript:void(0)" title="Generate Inspection Report" class="btn btn-sm btn-success"><i class="fa fa-plus">Generate Inspection Report</i></a>
                        <a *ngIf="witem.PermissionCode=='CheckList' && QueryStatus == 'DCPending'" href="javascript:void(0)" (click)="OpenCheckList(checklistmodel,item.ApplyNOCID,item.DepartmentID,item.CollegeID,item.ApplicationNo)" class="btn btn-sm btn-success"><i class="fa fa-list-ol"></i></a>
                        <a *ngIf="witem.PermissionCode=='DownloadInspectionReport'&& item.UploadedInspectionReport!=''" target="_blank" href="{{item.UploadedInspectionReportPath}}" title="Download Inspection Report" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutiny' && QueryStatus == 'JsRevert'" href="javascript:void(0)" (click)="DocumentScrutiny(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutiny' && QueryStatus == 'FADCPending'" href="javascript:void(0)" (click)="DocumentScrutiny(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutiny' && QueryStatus == 'ReSubmitApplication'" href="javascript:void(0)" (click)="DocumentScrutiny(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutiny' && QueryStatus == 'FADCSOPending'" href="javascript:void(0)" (click)="DocumentScrutiny(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutinyForward' && QueryStatus == 'JSNewApplication' && sSOLoginDataModel.RoleID!=3 && sSOLoginDataModel.RoleID!=5" href="javascript:void(0)" (click)="DocumentScrutinyForward(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutinyForward' && QueryStatus == 'RevertLoopApplications' && sSOLoginDataModel.RoleID!=3 && sSOLoginDataModel.RoleID!=5" href="javascript:void(0)" (click)="DocumentScrutinyForward(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                        <a *ngIf="witem.PermissionCode=='DocumentScrutiny' && QueryStatus == 'ForwardedToSO'" href="javascript:void(0)" (click)="DocumentScrutiny(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                      </span>
                      <a *ngIf="item.InspectionReport!='' && item.UploadedInspectionReport==''" target="_blank" href="{{item.InspectionReportPath}}" title="Download Inspection Report" class="btn btn-sm btn-success"><i class="fa fa-download">Download Inspection Report</i></a>
                      <a href="javascript:void(0)" title="Application Preview" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID)" class="btn btn-sm btn-secondary">
                        <i class="fa fa-eye"></i>
                      </a>
                      &nbsp;<button type="button" class="btn btn-sm btn-info" title="View Application trail" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-list"></i></button>
                    </td>

                  </tr>
                  <tr>
                    <td colspan="20" *ngIf="ApplyNocDetails.length<=0" style="color:red"> No Data Found.!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Trail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        <b>Application Trail</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns">
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>User Name</th>
                  <th>Next User & Role</th>
                  <th>Action</th>
                  <th>Action Date</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ApplicationTrailList let idx =index">
                  <td>{{idx+1}}</td>
                  <td>{{item.ActionUser}}</td>
                  <td>{{item.NextUserName}} ({{item.NextRoleName}})</td>
                  <td>{{item.ActionName}}</td>
                  <td>{{item.ActionDate}}</td>
                  <td>{{item.Remark}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #forwardcmhomymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Forward</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row m-2">
      <div class="col-12 mb-3">
        <label for="ddlNextUserID" class="form-label">Next User <span style="color:red;">*</span></label>
        <select class="form-select" [(ngModel)]="ForwardNextUserID">
          <option value="0" selected>--Select User--</option>
          <option *ngFor="let item of NextUserListRoleWise" value="{{item.UId}}">{{item.Name}}</option>
        </select>

          <p *ngIf="isForwardCMHO&&ForwardNextUserID<=0"  class="text-danger"> This field is required .!</p>

      </div>
    </div>
    <div class="row m-2">
      <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-success" (click)="ForwardtoCMHO()" title="Submit">Submit</button>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #documentmymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Documents</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        <b>Application Documents</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns">
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>Document Type</th>
                  <th>Document</th>
                  <th>Upload By</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of AllDocumentsList let idx =index">
                  <td>{{idx+1}}</td>
                  <td>{{item.DocumentType}}</td>
                  <td><a target="_blank" href="{{item.DocumentNamePath}}" title="Document" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a></td>
                  <td>{{item.UserName}} ({{item.RoleName}})</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #checklistmodel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Action (ApplicationNo : {{ApplicationNo}})</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-loader></app-loader>
    <div class="row">
      <table class="table table-bordered mb-4 mt-0" id="tabellist" #content>
        <thead>
          <tr>
            <th>
              Sr.No.
            </th>
            <th>Upload Document</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of  nocdocumentlst let idx=index;">
            <td valign="top">
              {{idx+1}}
            </td>
            <td>
              <div class="d-flex">
                <input type="file" style="display:none;" class="form-control" id="fUploadDocument_{{idx}}" name="fUploadDocument_{{idx}}" (change)="UploadDocument($event,'InspectionDocument','fUploadDocument_{{idx}}',idx)">
                <label class="btn upload" for="fUploadDocument_{{idx}}">
                  <span class="filename">Choose file</span>
                  {{item.DocumentName === '' ? 'No File Choosen' : item.DocumentName_DisName}}
                </label>
                <div class="btn-group" *ngIf="item.DocumentName!=''">
                  <a class="btn btn-outline-primary" target="_blank" href="{{item.DocumentNamePath}}"><i class="fa fa-eye"></i></a>
                  <button type="button" class="btn btn-outline-danger" (change)="DeleteDocument($event,'InspectionDocument','fUploadDocument_{{idx}}',idx)"><i class="fa fa-trash-o"></i></button>
                </div>
              </div>
            </td>

            <td valign="middle">
              <div class="d-flex">
                <button type="button" *ngIf="item.Showbutton" class="btn btn-sm btn-danger" title="Delete" (click)="DeleteDocuments(idx)"><i class="fa fa-trash"></i></button>
                <button type="button" *ngIf="!item.Showbutton" class="btn btn-sm btn-success" title="Add More" (click)="AddMoreDocuments()"><i class="fa fa-plus"></i>Add More</button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" align="right">
              <button type="button" (click)="SaveDocuments()" class="btn btn-primary">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>
                  Yes / No / Not Applicable
                </th>
                <th></th>
                <th>Name</th>
                <th>FileUpload</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of CheckListData let idx =index">
                <td>{{idx+1}}</td>
                <td>
                  <input class="form-check-input" type="radio" name="rdChecklistYesNo{{idx}}" id="rdChecklistYes{{idx}}" value="1" [(ngModel)]="item.IsChecked">
                  &nbsp;<label class="form-check-label">Yes</label>&nbsp;&nbsp;
                  <input class="form-check-input" type="radio" name="rdChecklistYesNo{{idx}}" id="rdChecklistNo{{idx}}" value="2" [(ngModel)]="item.IsChecked">
                  &nbsp;<label class="form-check-label"> No</label>&nbsp;&nbsp;
                  <input class="form-check-input" type="radio" name="rdChecklistYesNo{{idx}}" id="rdChecklistNotapplicable{{idx}}" value="3" [(ngModel)]="item.IsChecked">
                  &nbsp;<label class="form-check-label"> Not Applicable</label>
                </td>
                <td>
                  <div *ngIf="item.IsChecked==2">
                    <textarea type="text" id="txtRemark{{idx}}" placeholder="Remark*" name="txtRemark{{idx}}" class="form-control" [(ngModel)]="item.Remark" (keypress)="alphanumbersOnly($event)"></textarea>
                  </div>
                </td>
                <td>{{item.RNCCheckListName}}</td>
                <td>
                  <div class="d-flex" *ngIf="item.FileUpload">
                    <input type="file" style="display:none" name="fileUpload{{idx+1}}" id="fileUpload{{idx+1}}" class="form-control" (change)="ValidateDocumentImage($event,idx)" />
                    <label class="btn upload" for="fileUpload{{idx+1}}">
                      <span class="filename">Choose file</span>
                      {{item.FileUploadName === '' || item.FileUploadName == undefined ? 'No File Choosen' : item.FileUploadName_Dis_FileName}}
                    </label>
                    <div class="btn-group" *ngIf="item.FileUploadName != ''">
                      <a class="btn btn-outline-primary" target="_blank" href="{{item.FileUploadNamePath}}"><i class="fa fa-eye"></i></a>
                      <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(idx)"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </div>

                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-end">
        <button type="button" class="btn btn-primary" (click)="SavePhysicalVerification()" title="Submit">Save</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <div class="card tabCard1 mb-0">
          <div class="card-header">
            <b><i class="bi bi-table"></i>Committee Member List</b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>
                          SSOID
                        </th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let item of ApplicationCommitteeList let idx =index">
                        <td>{{idx+1}}</td>
                        <td>{{item.SSOID}}</td>
                        <td>{{item.NameOfPerson}}</td>
                        <td>{{item.MobileNumber}}</td>
                        <td>
                          <button *ngIf="(item.SendOTP==undefined || item.SendOTP==0)&& IsBtnShowHide" type="button" class="btn btn-sm btn-primary" title="Verify" (click)="SendOTPByEsanchar(item.MobileNumber,idx)">Send OTP</button> <!--SendOTP(item.AadhaarNo,idx)-->
                          <div class="row" *ngIf="IsBtnShowHide">
                            <div class="col-sm-9 col-md-9">
                              <input *ngIf="item.SendOTP==1" type="password" id="txtUserOTP{{idx}}" placeholder="OTP*" name="txtUserOTP{{idx}}" class="form-control" [(ngModel)]="item.UserOTP" (keypress)="numbersOnly($event)" maxlength="6" />
                            </div>
                            <div class="col-sm-3 col-md-3">
                              <button *ngIf="item.SendOTP==1" type="button" class="btn btn-sm btn-primary" title="Verify" (click)="VerifyOTPByEsanchar(item.UserOTP,idx)">Verify</button>
                            </div>
                          </div>
                          <span *ngIf="item.SendOTP==2 || IsDisabled"><i class="fa fa-check text-success"></i></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row m-2">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <label for="ddlAction" class="form-label">Application On Action <span style="color:red;">*</span></label>
        <select class="form-select" (change)="OnChangeCurrentAction()" [(ngModel)]="ActionID">
          <option value="0" disabled selected>--Select Action--</option>
          <option *ngFor="let item of WorkFlowActionList" value="{{item.ActionID}}">{{(sSOLoginDataModel.RoleID==20 ||sSOLoginDataModel.RoleID==11)&&item.ActionName=='Approve'?'Forward':item.ActionName}}</option>
        </select>
        <div *ngIf="isActionTypeValid&&ActionID<=0" class="text-danger">
          <p *ngIf="isActionTypeValid&&ActionID<=0"> This field is required .!</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRole">
        <label for="ddlDistrictID" class="form-label">Next Role <span style="color:red;">*</span></label>

        <select class="form-select" (change)="NextGetUserDetailsByRoleID()" [(ngModel)]="NextRoleID">
          <option value="0" selected>--Select Role--</option>
          <option *ngFor="let item of UserRoleList" value="{{item.RoleID}}">{{item.RoleName}}</option>
        </select>


        <div *ngIf="isNextRoleIDValid&&NextRoleID<=0" class="text-danger">
          <p *ngIf="isNextRoleIDValid&&NextRoleID<=0"> This field is required .!</p>
        </div>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextUser">
        <label for="ddlDistrictID" class="form-label">Next User <span style="color:red;">*</span></label>
        <select class="form-select" [(ngModel)]="NextUserID">
          <option value="0" selected>--Select User--</option>
          <option *ngFor="let item of UserListRoleWise" value="{{item.UId}}">{{item.Name}}</option>
        </select>
        <div *ngIf="isNextUserIdValid&&NextUserID<=0" class="text-danger">
          <p *ngIf="isNextUserIdValid&&NextUserID<=0"> This field is required .!</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <label>Upload Inspection Report <span style="color:red;">*</span></label>
        <div class="d-flex">
          <input type="file" class="form-control" id="fInspectionReport" style="display:none" (change)="onFilechange($event,'InspectionReport')" #fInspectionReport />
          <label class="btn upload" for="fInspectionReport">
            <span class="filename">Choose file</span>
            {{UploadInspectionReport === '' ? 'No File Choosen' : Dis_UploadInspectionReport}}
          </label>
          <div class="btn-group" *ngIf="UploadInspectionReport!=''">
            <a class="btn btn-outline-primary" target="_blank" href="{{UploadInspectionReportPath}}"><i class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-danger" (click)="DeleteFile('InspectionReport',UploadInspectionReport)"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>

        <p *ngIf="isInspectionReportValid && UploadInspectionReport==''" class="text-danger">This field is required .!</p>

      </div>
    </div>
    <div class="row  m-2">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <label>Remarks  <span style="color:red;">*</span></label>
        <textarea id="CheckFinalRemark" class="form-control" [(ngModel)]="CheckFinalRemark"></textarea>
        <div *ngIf="isRemarkValid&&CheckFinalRemark==''" class="text-danger">
          <p *ngIf="isRemarkValid&&CheckFinalRemark==''"> This field is required .!</p>
        </div>
      </div>

    </div>
    <div class="row m-2">
      <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-primary" (click)="DocumentScrutinyAction()" title="Submit">Submit</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #mymodalViewPVDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Post Verification Details (ApplicationNo:{{ApplicationNo}})</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row m-t1">

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Sr.No.
                </th>
                <th>
                  Description
                </th>
                <th>
                  PV Date
                </th>
                <th>
                  Status
                </th>
                <th>
                  Remarks
                </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of PVApplicationDetailsList;let idx=index;">
                <td>
                  {{idx+1}}
                </td>
                <td>
                  {{row.RNCCheckListName}}
                </td>
                <td>
                  {{row.PVDate}}
                </td>
                <td>
                  {{row.strStatus}}
                </td>
                <td>
                  {{row.Remark}}
                </td>
              </tr>
              <tr *ngIf="PVApplicationDetailsList.length<=0">
                <td colspan="5" style="color:red">No Record Found.!</td>
              </tr>
            </tbody>
          </table>
          <br />
          <b>DETAILS OF INSPECTION TEAM MEMBERS</b>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Sr.No.
                </th>
                <th>
                  Name
                </th>
                <th>
                  Mobile Number
                </th>
                <th>
                  SSO ID
                </th>
                <th>
                  Is Primary Member
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of PVCommitteeList;let idx=index;">
                <td>
                  {{idx+1}}
                </td>
                <td>
                  {{row.NameOfPerson}}
                </td>
                <td>
                  {{row.MobileNumber}}
                </td>
                <td>
                  {{row.SSOID}}
                </td>
                <td>
                  <span>
                    {{row.IsPrimaryMember=='1'?'Yes':'No'}}
                  </span>
                </td>
              </tr>
              <tr *ngIf="PVCommitteeList.length<=0">
                <td colspan="5" style="color:red">No Record Found!</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>
    </div>
  </div>
</ng-template>
