<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">DTE Affiliation</a></li>
          <li class="breadcrumb-item active" aria-current="page">Course Preview</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i> DTE Affiliation Course</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <label>Course Type:</label>
            <input class="form-control disabled mt-1" disabled value="{{DTEAffiliationCoursePreviewData.AffiliationCourseType}}" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <label>Course Intake As Per AICTE LOA:</label>
            <input class="form-control disabled mt-1" disabled value="{{DTEAffiliationCoursePreviewData.CourseIntakeAsPerAICTELOA}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <label>Course Name:</label>
            <input class="form-control disabled mt-1" disabled value="{{DTEAffiliationCoursePreviewData.CourseName}}" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <label>Shift:</label>
            <input class="form-control disabled mt-1" disabled value="{{DTEAffiliationCoursePreviewData.ShiftName}}" />
          </div>          
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <label>Branch Type:</label>
            <input class="form-control disabled mt-1" disabled value="{{DTEAffiliationCoursePreviewData.AffiliationBranchType}}" />
          </div>      
        
        </div>    
  </div>
    </div>
  </div>
</div>
