
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Noc Information</b>
        </div>
        <div class="card-body">
          <div class="row" style="margin-bottom: 10px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-2">
              <label class="form-label"><b>Legal Entity Name : </b> {{NocInformationData.LegalEntityName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-2">
              <label class="form-label"><b>College Name :</b> {{NocInformationData.CollegeName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-2">
              <label class="form-label"><b>University Name : </b> {{NocInformationData.UniversityName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-2">
              <label class="form-label"><b>Stream Name : </b> {{NocInformationData.StreamName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-2">
              <label class="form-label"><b>Subject Name : </b> {{NocInformationData.SubjectName}}</label>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

