<app-loader></app-loader>
<div class="card tabCard1 mb-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <b><i class="bi bi-table"></i>&nbsp;Application List</b>

  </div>
  <div class="card-body">
    <div class="clearfix"></div>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <b>Application List</b>
        <a href="/dashboard" class="btn btn-sm btn-primary">Back to Dashboard</a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Department Name</th>
                    <th>College Name</th>
                    <th>Application No.</th>
                    <th>Current Role Name</th>
                    <th>Action Name</th>
                    <th>View</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplyNocDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.DepartmentName}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.ApplicationNo}}</td>
                    <td>{{item.RoleName}}</td>
                    <td>{{item.ActionName}}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo,'No')" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                      &nbsp;<button type="button" class="btn btn-sm btn-info" title="View" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-bars"></i></button>
                    </td>
                    <td>
                      &nbsp;<button type="button" class="btn btn-sm btn-primary" title="Revert one step" (click)="RevertOneSetp(item.ApplyNOCID,item.DepartmentID,item.CurrentActionID)">Revert One Step</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" *ngIf="ApplyNocDetails.length<=0" style="color:red"> No Data Found.!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Modal Start For Assign Commettiee-->

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Trail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <b>Application Trail</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>User Name</th>
                    <th>Action</th>
                    <th>Action Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplicationTrailList let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.ActionUser}}</td>
                    <td>{{item.ActionName}}</td>
                    <td>{{item.ActionDate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!--END MODAL-->
</div>
