<app-loader></app-loader>
<div class="container-fluid mainContents">
  <div class="card" *ngIf="LastAppliedNocInformationData!=null">
    <div class="card-header d-flex justify-content-between align-items-center">
      <b><i class="fa fa-filter"></i>&nbsp;NOC Information</b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td> Application No. </td>
                  <td>{{LastAppliedNocInformationData.ApplicationNo}}</td>
                  <td> Legal Entity </td>
                  <td>{{LastAppliedNocInformationData.LegalEntityName}}</td>
                </tr>
                <tr>
                  <td> University </td>
                  <td>{{LastAppliedNocInformationData.UniversityName}}</td>
                  <td> Stream </td>
                  <td>{{LastAppliedNocInformationData.StreamName}}</td>
                </tr>
                <tr>
                  <td> Subject </td>
                  <td>{{LastAppliedNocInformationData.SubjectName}}</td>
                  <td> Date </td>
                  <td>{{LastAppliedNocInformationData.ModifyDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="fa fa-filter"></i>&nbsp;Import Excel Data</b>
          <span style="color:red;">Upload File(Only xls,xlsx)(Min size 1(KB))(Max size 2(MB))</span>
        </div>
        <form [formGroup]="ImportExcelDataForm" class="form-horizontal">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="ddlFinancialYear" class="form-label">Financial Year <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlFinancialYear" name="ddlFinancialYear" [(ngModel)]="request.FinancialYear" formControlName="ddlFinancialYear">
                  <option value="0" disabled>--Select--</option>
                  <option *ngFor="let item of FinancialYearList" value="{{item.FinancialYearID}}">{{item.FinancialYearName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlFinancialYear.errors" class="text-danger">
                  <p *ngIf="!form.ddlFinancialYear.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="ddlCollegeID" class="form-label">College <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlCollegeID" name="ddlCollegeID" [(ngModel)]="request.CollegeID" formControlName="ddlCollegeID" #SelectCollegeID (change)="GetCourseList_CollegeWise(SelectCollegeID.value)">
                  <option value="0" disabled>--Select--</option>
                  <option *ngFor="let item of CollegeList" value="{{item.CollegeID}}">{{item.CollegeName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlCollegeID.errors" class="text-danger">
                  <p *ngIf="!form.ddlCollegeID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="ddlCourseId" class="form-label">Course <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlCourseId" name="ddlCourseId" [(ngModel)]="request.CourseID" formControlName="ddlCourseId" (change)="ddlCourseTypeSelected('All')">
                  <option value="0" disabled>--Select--</option>
                  <option *ngFor="let item of CourseData" value="{{item.CourseID}}">{{item.CourseName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlCourseId.errors" class="text-danger">
                  <p *ngIf="!form.ddlCourseId.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="exampleInputEmail1">Select File <span style="color:red;">*</span></label>
                <input type="file" class="form-control" id="fileData" [(ngModel)]="request.FileName" formControlName="fileData" (change)="onFileChange($event)" accept=".xlsx,.xls">
                <div *ngIf="isSubmitted&&form.fileData.errors" class="text-danger">
                  <p *ngIf="form.fileData.errors.required">This field is required .!</p>
                </div>
                <span *ngIf="ShowFileDownload" style="color: #3458c8; cursor:pointer;display:block;text-decoration:underline" (click)="downloadFile(DownloadExcelPath)">Download Sample Excel Sheet</span>
              </div>
            </div>
          </div>
          <div class="card-footer text-end saveCancelBtn">
            <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Save</button>
            <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
          </div>
        </form>
        <div class="card-body" *ngIf="importExcelData.length>0">
          <div class="row" style="padding-bottom: 5px !important;">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns">
                <thead>
                  <tr>
                    <th> S.No.</th>
                    <th> Application ID</th>
                    <th> District</th>
                    <th> College Name</th>
                    <th> AISHE Code</th>
                    <th> Student Name</th>
                    <th> Father's Name</th>
                    <th> Gender</th>
                    <th> Course Name</th>
                    <th> Subject</th>
                    <th> Class</th>
                    <th> Category</th>
                    <th> PH</th>
                    <th> Minority</th>
                    <th> Getting any Scholarship</th>
                    <th> If Yes Name of Scholarship</th>
                    <th> Date of Birth</th>
                    <th> Mobile No. of Student</th>
                    <th> Verified Email ID of Student</th>
                    <th> Name of Principal</th>
                    <th> Mobile No. of Principal</th>
                    <th> College Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of importExcelData">
                    <!--| slice:2-->
                    <td *ngFor="let val of row">
                      {{val}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card mb-0" *ngIf="lstImportFileData.length>0">
          <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
            <b><i class="bi bi-table"></i> Import Excel Details </b>
            <div class="d-flex align-items-center">
              <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
              </div>
              <div class="d-flex align-items-center table-filter mr-15">
                <i class="fa fa-search"></i>
                <input type="text" id="searchText" class="form-control" placeholder="Search Here" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns" id="tabellist" #content>
                <thead>
                  <tr>
                    <th>Sr. No</th>
                    <th>Department</th>
                    <th>College</th>
                    <th>Course</th>
                    <th>Financial Year</th>
                    <th>File Name</th>
                    <th>Total Record</th>
                    <th>Created Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstImportFileData ;let idx=index;">
                    <td>{{idx+1}}</td>
                    <td>{{item.DepartmentName}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.CourseName}}</td>
                    <td>{{item.FinancialYearName}}</td>
                    <td>{{item.FileName}}</td>
                    <td>{{item.TotalRecord}}</td>
                    <td>{{item.CreatedDate}}</td>

                    <td>
                      <div class="d-flex">
                        <button type="button" [attr.disabled]="isDisabled ? true : null" (click)="GetImportExcelFileDetailsByID(mymodal,item.StaticsFileID)" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
                        <button type="button" [attr.disabled]="isDisabled ? true : null" (click)="EditImportExcelFileDetailsByID(item.StaticsFileID)" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                        <button type="button" [attr.disabled]="isDisabled ? true : null" class="btn btn-sm btn-danger ms-lg-1" title="Delete" (click)="DeleteImportExcelFileDetailsByID(item.StaticsFileID)"><i class="fa fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card tabCard1 mb-0" *ngIf="ShowHideEditApplicationAction">
              <div class="card-header d-flex justify-content-between">
                <b><i class="bi bi-table"></i> Edit Imported excel Data</b>
                <div class="text-end">
                  <button type="button" class="btn btn-primary" title="Add Single Row" id="btnSave" name="btnSave" (click)="AddSingleRowByID(myAddSingleRowmodal,request.StaticsFileID)"><i class="fa fa-plus"></i></button>
                  <button type="button" class="btn btn-danger ms-lg-1" title="Close" aria-label="Close" (click)="CloseApplicationAction_Click()">
                    <i class="fa fa-close"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped-columns">
                      <thead>
                        <tr>
                          <th> S.No.</th>
                          <th> Application ID</th>
                          <th> District</th>
                          <th> College Name</th>
                          <th> AISHE Code</th>
                          <th> Student Name</th>
                          <th> Father's Name</th>
                          <th> Gender</th>
                          <th> Course Name</th>
                          <th> Subject</th>
                          <th> Class</th>
                          <th> Category</th>
                          <th> PH</th>
                          <th> Minority</th>
                          <th> Getting any Scholarship</th>
                          <th> If Yes Name of Scholarship</th>
                          <th> Date of Birth</th>
                          <th> Mobile No. of Student</th>
                          <th> Verified Email ID of Student</th>
                          <th> Name of Principal</th>
                          <th> Mobile No. of Principal</th>
                          <th> College Email</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of request.Data let idx =index">
                          <td>{{idx+1}}</td>

                          <td><input type="text" class="form-control" id="txtApplicationID" name="txtApplicationID" [(ngModel)]="item.ApplicationID"></td>

                          <td><input type="text" class="form-control" id="txtDistrict" name="txtDistrict" [(ngModel)]="item.District"></td>

                          <td><input type="text" class="form-control" id="txtCollegeName" name="txtCollegeName" [(ngModel)]="item.CollegeName"></td>

                          <td><input type="text" class="form-control" id="txtAISHECode" name="txtAISHECode" [(ngModel)]="item.AISHECode"></td>

                          <td><input type="text" class="form-control" id="txtStudentName" name="txtStudentName" [(ngModel)]="item.StudentName"></td>

                          <td><input type="text" class="form-control" id="txtFatherName" name="txtFatherName" [(ngModel)]="item.FatherName"></td>

                          <td>
                            <select class="form-select" id="ddlGenderId" name="ddlGender" [(ngModel)]="item.Gender">
                              <option value="0" disabled>--Select--</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                              <option value="T">Transgender</option>
                            </select>
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtCourse" name="txtCourse" [(ngModel)]="item.Course">
                          </td>

                          <td><input type="text" class="form-control" id="txtSubject" name="txtSubject" [(ngModel)]="item.Subject">

                          <td><input type="text" class="form-control" id="txtClass" name="txtClass" [(ngModel)]="item.Class">

                          <td>
                            <select class="form-select" id="ddlCastId" name="ddlCast" [(ngModel)]="item.Cast">
                              <option value="0">--Select--</option>
                              <option value="GEN">GEN</option>
                              <option value="OBC">OBC</option>
                              <option value="ST">ST</option>
                              <option value="SC">SC</option>
                              <option value="EWS">EWS</option>
                              <option value="SBC">SBC</option>
                            </select>
                          </td>

                          <td>
                            <select class="form-select" id="ddlPHId" name="ddlPH" [(ngModel)]="item.PH">
                              <option value="0">--Select--</option>
                              <option value="YES">YES</option>
                              <option value="NO">NO</option>
                            </select>
                          </td>

                          <td>
                            <select class="form-select" id="ddlMinortyId" name="ddlMinorty" [(ngModel)]="item.Minorty">
                              <option value="0">--Select--</option>
                              <option value="YES">YES</option>
                              <option value="NO">NO</option>
                            </select>
                          </td>

                          <td>
                            <select class="form-select" id="ddlHasScholarshipId" name="ddlHasScholarship" [(ngModel)]="item.HasScholarship">
                              <option value="0">--Select--</option>
                              <option value="YES">YES</option>
                              <option value="NO">NO</option>
                            </select>
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtScholarshipName" name="txtScholarshipName" [(ngModel)]="item.ScholarshipName">
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtDOB" name="txtDOB" [(ngModel)]="item.DOB" />
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtStudentMobileNo" name="txtStudentMobileNo" [(ngModel)]="item.StudentMobileNo">
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtStudentEmailId" name="txtStudentEmailId" [(ngModel)]="item.StudentEmailId">
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtPrincipalName" name="txtPrincipalName" [(ngModel)]="item.PrincipalName">
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtPrincipalMobileNo" name="txtPrincipalMobileNo" [(ngModel)]="item.PrincipalMobileNo">
                          </td>

                          <td>
                            <input type="text" class="form-control" id="txtCollegeEmailId" name="txtCollegeEmailId" [(ngModel)]="item.CollegeEmailId">
                          </td>

                          <td> <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="UpdateSingleRow(item)">Update</button> </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer text-end saveCancelBtn">
                    <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="UpdateData()">All Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">View Imported excel Data</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <b>Import Excel list</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns">
                <thead>
                  <tr>
                    <th> S.No.</th>
                    <th> Application ID</th>
                    <th> District</th>
                    <th> College Name</th>
                    <th> AISHE Code</th>
                    <th> Student Name</th>
                    <th> Father's Name</th>
                    <th> Gender</th>
                    <th> Course Name</th>
                    <th> Subject</th>
                    <th> Class</th>
                    <th> Category</th>
                    <th> PH</th>
                    <th> Minority</th>
                    <th> Getting any Scholarship</th>
                    <th> If Yes Name of Scholarship</th>
                    <th> Date of Birth</th>
                    <th> Mobile No. of Student</th>
                    <th> Verified Email ID of Student</th>
                    <th> Name of Principal</th>
                    <th> Mobile No. of Principal</th>
                    <th> College Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstImportFileDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.ApplicationID}}</td>
                    <td>{{item.District}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.AISHECode}}</td>
                    <td>{{item.StudentName}}</td>
                    <td>{{item.FatherName}}</td>
                    <td>{{item.Gender == "M" ? "Male" : (item.Gender == "F" ? "Female" : "Transgender")}}</td>
                    <td>{{item.Course}}</td>
                    <td>{{item.Subject}}</td>
                    <td>{{item.Class}}</td>
                    <td>{{item.Cast}}</td>
                    <td>{{item.PH}}</td>
                    <td>{{item.Minorty}}</td>
                    <td>{{item.HasScholarship}}</td>
                    <td>{{item.ScholarshipName}}</td>
                    <td>{{item.DOB}}</td>
                    <td>{{item.StudentMobileNo}}</td>
                    <td>{{item.StudentEmailId}}</td>
                    <td>{{item.PrincipalName}}</td>
                    <td>{{item.PrincipalMobileNo}}</td>
                    <td>{{item.CollegeEmailId}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #myAddSingleRowmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Add Single Data</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <b>Add Single Row Data</b>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Application Id</td>
                  <td><input type="text" class="form-control" id="txtApplicationID" name="txtApplicationID" [(ngModel)]="MemberData.ApplicationID"></td>
                </tr>
                <tr>
                  <td>District</td>
                  <td><input type="text" class="form-control" id="txtDistrict" name="txtDistrict" [(ngModel)]="MemberData.District"></td>
                  <td>College Name</td>
                  <td><input type="text" class="form-control" id="txtCollegeName" name="txtCollegeName" [(ngModel)]="MemberData.CollegeName"></td>
                  <td>AISHE Code</td>
                  <td><input type="text" class="form-control" id="txtAISHECode" name="txtAISHECode" [(ngModel)]="MemberData.AISHECode"></td>
                </tr>
                <tr>
                  <td>Student Name</td>
                  <td><input type="text" class="form-control" id="txtStudentName" name="txtStudentName" [(ngModel)]="MemberData.StudentName"></td>
                  <td>Father's Name</td>
                  <td><input type="text" class="form-control" id="txtFatherName" name="txtFatherName" [(ngModel)]="MemberData.FatherName"></td>
                  <td>Gender</td>
                  <td>
                    <select class="form-select" id="ddlGenderId" name="ddlGender" [(ngModel)]="MemberData.Gender">
                      <option value="0" disabled>--Select--</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                      <option value="T">Transgender</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Course</td>
                  <td><input type="text" class="form-control" id="txtCourse" name="txtCourse" [(ngModel)]="MemberData.Course"></td>
                  <td>Subject</td>
                  <td><input type="text" class="form-control" id="txtSubject" name="txtSubject" [(ngModel)]="MemberData.Subject"></td>
                  <td>Class</td>
                  <td><input type="text" class="form-control" id="txtClass" name="txtClass" [(ngModel)]="MemberData.Class"></td>
                </tr>
                <tr>
                  <td>Cast Category</td>
                  <td>
                    <select class="form-select" id="ddlCastId" name="ddlCast" [(ngModel)]="MemberData.Cast">
                      <option value="0" disabled>--Select--</option>
                      <option value="GEN">GEN</option>
                      <option value="OBC">OBC</option>
                      <option value="ST">ST</option>
                      <option value="SC">SC</option>
                      <option value="EWS">EWS</option>
                      <option value="SBC">SBC</option>
                    </select>
                  </td>
                  <td>Physical<br /> Handicap</td>
                  <td>
                    <select class="form-select" id="ddlPHId" name="ddlPH" [(ngModel)]="MemberData.PH">
                      <option value="0" disabled>--Select--</option>
                      <option value="YES">YES</option>
                      <option value="NO">NO</option>
                    </select>
                  </td>
                  <td>Minorty</td>
                  <td>
                    <select class="form-select" id="ddlMinortyId" name="ddlMinorty" [(ngModel)]="MemberData.Minorty">
                      <option value="0" disabled>--Select--</option>
                      <option value="YES">YES</option>
                      <option value="NO">NO</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>HasScholarship</td>
                  <td>
                    <select class="form-select" id="ddlHasScholarshipId" name="ddlHasScholarship" [(ngModel)]="MemberData.HasScholarship">
                      <option value="0" disabled>--Select--</option>
                      <option value="YES">YES</option>
                      <option value="NO">NO</option>
                    </select>
                  </td>
                  <td>Scholarship Name</td>
                  <td><input type="text" class="form-control" id="txtScholarshipName" name="txtScholarshipName" [(ngModel)]="MemberData.ScholarshipName"></td>
                  <td>Date of Birth</td>
                  <td><input type="text" class="form-control" id="txtDOB" name="txtDOB" [(ngModel)]="MemberData.DOB"></td>
                </tr>
                <tr>
                  <td>Student Mobile No.</td>
                  <td><input type="text" class="form-control" id="txtStudentMobileNo" name="txtStudentMobileNo" [(ngModel)]="MemberData.StudentMobileNo"></td>
                  <td>Student Email</td>
                  <td><input type="text" class="form-control" id="txtStudentEmailId" name="txtStudentEmailId" [(ngModel)]="MemberData.StudentEmailId"></td>
                  <td>Principal Name</td>
                  <td><input type="text" class="form-control" id="txtPrincipalName" name="txtPrincipalName" [(ngModel)]="MemberData.PrincipalName"></td>
                </tr>
                <tr>
                  <td>Principal Mobile No.</td>
                  <td><input type="text" class="form-control" id="txtPrincipalMobileNo" name="txtPrincipalMobileNo" [(ngModel)]="MemberData.PrincipalMobileNo"></td>
                  <td>College Email</td>
                  <td><input type="text" class="form-control" id="txtCollegeEmailId" name="txtCollegeEmailId" [(ngModel)]="MemberData.CollegeEmailId"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer text-end saveCancelBtn">
          <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="AddSingleRow(MemberData)">Save</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
