<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application List</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Application List</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Application List</b>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Creation Date</th>
                  <th>Society Name</th>
                  <th>College Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let row of draftApplicatoinListData ;let idx=index;">
                  <td>{{idx+1}}</td>
                  <td>{{row.CreateDate}}</td>
                  <td>{{row.SocietyName}}</td>
                  <td>{{row.CollegeName}}</td>

                  <td>{{row.Status}}</td>

                  <td style="width:300px">
                    <div class="d-flex">
                      <a href="javascript:void(0)" (click)="DraftEdit_OnClick(row.DepartmentID,row.CollegeID)" class="btn btn-sm btn-info"
                         *ngIf="row.ApplicationStatus==0">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="javascript:void(0)" (click)="ApplicationSummary_OnClick(row.DepartmentID,row.CollegeID)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                      <!--<a href="javascript:void(0)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>-->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

