<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application List</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application List</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="card tabCard1 mb-0">
    <div class="card-header">
      <b><i class="bi bi-table"></i>&nbsp;Application List</b>
    </div>
    <div class="card-body">
      <div class="clearfix"></div>
      <div class="card">
        <div class="card-header">
          <b>&nbsp;Application List</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Department Name</th>
                      <th>College Name</th>
                      <th>Application No.</th>
                      <th *ngIf="QueryStringStatus!='Revert'">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of LOIApplicationDetails let idx =index">
                      <td>{{idx+1}}</td>
                      <td>{{item.DepartmentName}}</td>
                      <td>{{item.CollegeName}}</td>
                      <td>{{item.ApplicationNo}}</td>
                      <td>
                        <a href="javascript:void(0)" (click)="ApplicationSummary_OnClick(item.DepartmentID,item.CollegeID)" title="Application Summary" class="btn btn-sm btn-secondary" ><i class="fa fa-eye"></i>
                        </a>
                        <a href="javascript:void(0)" *ngIf="QueryStringStatus =='Pending'" title="Forward Application" class="btn btn-sm btn-success" (click)="OpenForwardPopUp(ForwardModel,item.LOIID)"><i class="bi bi-forward"></i> Forward</a>
                        &nbsp;<button type="button" class="btn btn-sm btn-info" title="View Application trail" (click)="GetApplicationTrail(mymodal,item.LOIID)"><i class="fa fa-list"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="10" *ngIf="LOIApplicationDetails.length<=0" style="color:red"> No Data Found.!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Trail</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-close"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-header">
                  <b>Application Trail</b>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-hover table-striped-columns">
                        <thead>
                          <tr>
                            <th>Sr.No.</th>
                            <th>User Name</th>
                            <th>Next User & Role</th>
                            <th>Action</th>
                            <th>Action Date</th>
                            <th>Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of ApplicationTrailList let idx =index">
                            <td>{{idx+1}}</td>
                            <td>{{item.ActionUser}}</td>
                            <td>{{item.NextUserName}} ({{item.NextRoleName}})</td>
                            <td>{{item.ActionName}}</td>
                            <td>{{item.ActionDate}}</td>
                            <td>{{item.Remark}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>



          <ng-template #ForwardModel let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Forward Application</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-close"></i>
              </button>
            </div>
            <div class="modal-body">
                  <div class="row m-2" >
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                      <label for="ddlAction" class="form-label">Application On Action <span style="color:red;">*</span></label>
                      <select class="form-select" (change)="OnChangeCurrentAction()" [(ngModel)]="ActionID">
                        <option value="0" disabled selected>--Select Action--</option>
                        <option *ngFor="let item of WorkFlowActionList" value="{{item.ActionID}}">{{item.ActionName}}</option>
                      </select>
                      <div *ngIf="isActionTypeValid&&ActionID<=0" class="text-danger">
                        <p *ngIf="isActionTypeValid&&ActionID<=0"> This field is required .!</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRole">
                      <label for="ddlDistrictID" class="form-label">Next Role <span style="color:red;">*</span></label>

                      <select class="form-select" (change)="NextGetUserDetailsByRoleID()" [(ngModel)]="NextRoleID">
                        <option value="0" selected>--Select Role--</option>
                        <option *ngFor="let item of UserRoleList" value="{{item.RoleID}}">{{item.RoleName}}</option>
                      </select>


                      <div *ngIf="isNextRoleIDValid&&NextRoleID<=0" class="text-danger">
                        <p *ngIf="isNextRoleIDValid&&NextRoleID<=0"> This field is required .!</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextAction">
                      <label for="ddlAction" class="form-label">Next Action <span style="color:red;">*</span></label>
                      <select class="form-select" [(ngModel)]="NextActionID">
                        <option value="0" disabled selected>--Select Action--</option>
                        <option *ngFor="let item of NextWorkFlowActionList" value="{{item.ActionID}}">{{item.ActionName}}</option>
                      </select>
                      <div *ngIf="isNextActionValid&&NextActionID<=0" class="text-danger">
                        <p *ngIf="isNextActionValid&&NextActionID<=0"> This field is required .!</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextUser">
                      <label for="ddlDistrictID" class="form-label">Next User <span style="color:red;">*</span></label>
                      <select class="form-select" [(ngModel)]="NextUserID">
                        <option value="0" selected>--Select User--</option>
                        <option *ngFor="let item of UserListRoleWise" value="{{item.UId}}">{{item.Name}}</option>
                      </select>
                      <div *ngIf="isNextUserIdValid&&NextUserID<=0" class="text-danger">
                        <p *ngIf="isNextUserIdValid&&NextUserID<=0"> This field is required .!</p>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row  m-2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                      <label>Remarks  <span style="color:red;">*</span></label>
                      <textarea id="CheckFinalRemark" class="form-control" [(ngModel)]="CheckFinalRemark"></textarea>
                      <div *ngIf="isRemarkValid&&CheckFinalRemark==''" class="text-danger">
                        <p *ngIf="isRemarkValid&&CheckFinalRemark==''"> This field is required .!</p>
                      </div>
                    </div>

                  </div>-->
                  <div class="row  m-2" >
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary" (click)="ForwardApplication()" title="Submit">Submit</button>
                    </div>
                  </div>
                </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
