<div class="card tabCard1 mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>Committee Inspection Application List</b>
  </div>
  <div class="card-body">
    <div class="clearfix"></div>
    <div class="card">
      <div class="card-header">
        <b>Committee Inspection Application List</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Department Name</th>
                    <th>College Name</th>
                    <th>Application No.</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplyNocDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.DepartmentName}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.ApplicationNo}}</td>
                    <td>
                      <a href="javascript:void(0)" target="_blank" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                      <button type="button" class="btn btn-sm btn-success" title="Action" (click)="OpenActionPopUP(mymodal,item.ApplyNOCID,item.DepartmentID,item.CollegeID,item.ApplicationNo)"><i class="fa fa-tasks"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="10" *ngIf="ApplyNocDetails.length<=0" style="color:red"> No Data Found.!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Action (ApplicationNo : {{ApplicationNo}})</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>
                          <input type="checkbox" id="checkboxSelectAll" class="" [checked]="All_U_Select"
                                 #checkboxSelectAll (change)="checkboxthAll_checkboxchange($event,checkboxSelectAll.checked)">
                          All
                        </th>
                        <th>Name</th>
                        <th>FileUpload</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of CheckListData let idx =index">
                        <td>{{idx+1}}</td>
                        <td><input type="checkbox" class="checkboxSelect" [checked]="item.IsChecked" [(ngModel)]="item.IsChecked" id="IsChecked{{idx+1}}" name="IsChecked{{idx+1}}"></td>
                        <td>{{item.RNCCheckListName}}</td>
                        <td>
                          <div class="d-flex" *ngIf="item.FileUpload">
                            <input type="file" style="display:none" name="fileUpload{{idx+1}}" id="fileUpload{{idx+1}}" class="form-control" (change)="ValidateDocumentImage($event,idx)" />
                            <label class="btn upload" for="fileUpload{{idx+1}}">
                              <span class="filename">Choose file</span>
                              {{item.FileUploadName === '' || item.FileUploadName == undefined ? 'No File Choosen' : item.FileUploadName_Dis_FileName}}
                            </label>
                            <div class="btn-group" *ngIf="item.ShowHideImgButton">
                              <a class="btn btn-outline-primary" target="_blank" href="{{item.FileUploadNamePath}}"><i class="fa fa-eye"></i></a>
                              <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(idx)"><i class="fa fa-trash-o"></i></button>
                            </div>
                          </div>

                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row m-2">

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="ddlAction" class="form-label">Application On Action <span style="color:red;">*</span></label>
                <select class="form-select" (change)="OnChangeCurrentAction()" [(ngModel)]="ActionID">
                  <option value="0" disabled selected>--Select Action--</option>
                  <option *ngFor="let item of WorkFlowActionList" value="{{item.ActionID}}">{{item.ActionName}}</option>
                </select>
                <div *ngIf="isActionTypeValid" class="text-danger">
                  <p *ngIf="isActionTypeValid"> This field is required .!</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
                <label for="ddlDistrictID" class="form-label">Next Role <span style="color:red;">*</span></label>

                <select class="form-select" (change)="NextGetUserDetailsByRoleID()" [(ngModel)]="NextRoleID">
                  <option value="0" selected>--Select Role--</option>
                  <option *ngFor="let item of UserRoleList" value="{{item.RoleID}}">{{item.RoleName}}</option>
                </select>


                <div *ngIf="isNextRoleIDValid" class="text-danger">
                  <p *ngIf="isNextRoleIDValid"> This field is required .!</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
                <label for="ddlAction" class="form-label">Next Action <span style="color:red;">*</span></label>
                <select class="form-select" [(ngModel)]="NextActionID">
                  <option value="0" disabled selected>--Select Action--</option>
                  <option *ngFor="let item of NextWorkFlowActionList" value="{{item.ActionID}}">{{item.ActionName}}</option>
                </select>
                <div *ngIf="isNextActionValid" class="text-danger">
                  <p *ngIf="isNextActionValid"> This field is required .!</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
                <label for="ddlDistrictID" class="form-label">Next User <span style="color:red;">*</span></label>
                <select class="form-select" [(ngModel)]="NextUserID">
                  <option value="0" selected>--Select User--</option>
                  <option *ngFor="let item of UserListRoleWise" value="{{item.UId}}">{{item.Name}}</option>
                </select>
                <div *ngIf="isNextUserIdValid" class="text-danger">
                  <p *ngIf="isNextUserIdValid"> This field is required .!</p>
                </div>
              </div>
            </div>
            <div class="row  m-2">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                <label>Remarks  <span style="color:red;">*</span></label>
                <textarea id="CheckFinalRemark" class="form-control" [(ngModel)]="CheckFinalRemark"></textarea>
                <div *ngIf="isRemarkValid" class="text-danger">
                  <p *ngIf="isRemarkValid"> This field is required .!</p>
                </div>
              </div>

            </div>
            <div class="row  m-2">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary" (click)="DocumentScrutiny()" title="Submit">Submit</button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
