<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Committee Master</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Committee Master</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <form [formGroup]="CommitteeMasterForm" class="form-horizontal">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b><i class="fa fa-plus"></i>&nbsp; Add Committee Master </b>
            <!--<span class="text-danger">(*) Fields is compulsory</span>-->
            <button type="button" title="Back to List" class="btn btn-sm btn-primary" routerLink="/committeemasterlist/"><i class="fa fa-arrow-left"></i>Back to List</button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="ddlCommitteeType" class="form-label">Committee Type<span style="color:red;">*</span></label>
                <select class="form-select" id="ddlCommitteeType" name="ddlCommitteeType" [(ngModel)]="request.CommitteeType" formControlName="ddlCommitteeType">
                  <option value="0" selected>--Select--</option>
                  <option value="MDHNM">M.D.H.N.M</option>
                  <option value="RNC">R.N.C</option>
                </select>
                <div *ngIf="isSubmitted&&request.CommitteeType == '0'" class="text-danger">
                  <p *ngIf="request.CommitteeType == '0'"><i aria-hidden="true"></i>   This field is required .!</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="txtCommitteeName" class="form-label">Committee Name <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtCommitteeName" name="txtCommitteeName" formControlName="txtCommitteeName" [(ngModel)]="request.CommitteeName" autocomplete="off">

                <div *ngIf="isSubmitted&&form.txtCommitteeName.errors" class="text-danger">
                  <p *ngIf="form.txtCommitteeName.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="txtContactNumber" class="form-label">Contact Number <span style="color:red;">*</span></label>
                <input type="number" class="form-control" id="txtContactNumber" name="txtContactNumber" [(ngModel)]="request.ContactNumber" formControlName="txtContactNumber" (keypress)="MaxLengthValidation_KeyPress($event,10);">
                <div *ngIf="isSubmitted&&form.txtContactNumber.errors" class="text-danger">
                  <p *ngIf="form.txtContactNumber.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  <p *ngIf="form.txtContactNumber.errors.pattern"><i aria-hidden="true"></i> Mobile number is not valid .!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="CommitteeMemberDetails" class="form-horizontal">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b><i class="fa fa-plus"></i>&nbsp;Member Details <span style="color:red;">*</span></b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="txtCMNameOfPerson" class="form-label">Name Of Person <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtCMNameOfPerson" name="txtCMNameOfPerson" [(ngModel)]="request_CommitteeMemberDataModel.NameOfPerson" formControlName="txtCMNameOfPerson">
                <div *ngIf="isSubmitted_MemberDetails&&form_CommitteeMember.txtCMNameOfPerson.errors" class="text-danger">
                  <p *ngIf="form_CommitteeMember.txtCMNameOfPerson.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="txtCMMobileNumber" class="form-label">Mobile Number <span style="color:red;">*</span></label>
                <input type="number" class="form-control" id="txtCMMobileNumber" name="txtCMMobileNumber" [(ngModel)]="request_CommitteeMemberDataModel.MobileNumber" formControlName="txtCMMobileNumber" (keypress)="MaxLengthValidation_KeyPress($event,10);">
                <div *ngIf="isSubmitted_MemberDetails&&form_CommitteeMember.txtCMMobileNumber.errors" class="text-danger">
                  <p *ngIf="form_CommitteeMember.txtCMMobileNumber.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  <p *ngIf="form_CommitteeMember.txtCMMobileNumber.errors.pattern"><i aria-hidden="true"></i> Mobile number is not valid .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3 text-end">
                <button type="button" class="btn btn-primary" (click)="AddMemberDetail()"><i class="fa fa-plus"></i> Add</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Mobile Number
                        </th>
                        <th>
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of request.CommitteeMemberDetailList;let idx=index;">
                        <td *ngIf="row.DeleteStatus !=true">
                          {{idx+1}}
                        </td>
                        <td *ngIf="row.DeleteStatus !=true">
                          {{row.NameOfPerson}}
                        </td>
                        <td *ngIf="row.DeleteStatus !=true">
                          {{row.MobileNumber}}
                        </td>
                        <td *ngIf="row.DeleteStatus !=true">
                          <div class="d-flex">
                            <button type="button" class="btn btn-danger" (click)="DelMemberDetail(row)"><i class="fa fa-trash-o"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Submit</button>
      <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
    </div>
  </div>
</div>


