<form class="form-horizontal">
  <div class="card mb-0">
    <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
      <b *ngIf="request.SelectedCollegeEntryTypeName=='University'"><i class="bi bi-table"></i>&nbsp;Whether They have Placement Cell (As per earlier session)</b>
      <b *ngIf="request.SelectedCollegeEntryTypeName=='College'"><i class="bi bi-table"></i>&nbsp;Placement Cell (As per earlier session)</b>
      <div class="d-flex align-items-center">
        <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
        </div>
        <div class="d-flex align-items-center table-filter mr-15">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered tableHeaderTH tableHeaderTHMiddel tableLastclmFixed mb-0">
              <thead>
                <tr>
                  <th width="60px" *ngIf="request.SelectedCollegeEntryTypeName=='University'  || request.SelectedCollegeEntryTypeName=='Polytechnic'">S.No</th>

                  <th class="text-center">No. Of Students<br /> Placed (Male)</th>
                  <th class="text-center">No. Of Students<br /> Placed (Female)</th>
                  <th class="text-center" *ngIf="request.SelectedCollegeEntryTypeName=='University' || request.SelectedCollegeEntryTypeName=='Polytechnic' || request.SelectedCollegeEntryTypeName=='Standalone'">Total Number Of <br />Students Placed</th>

                  <th class="text-center">No. Of Students <br />Selected For Higher <br />Studies (Male)</th>
                  <th class="text-center">No. Of Students <br />Selected For Higher <br />Studies (Female)</th>
                  <th class="text-center" *ngIf="request.SelectedCollegeEntryTypeName=='University' || request.SelectedCollegeEntryTypeName=='Polytechnic' || request.SelectedCollegeEntryTypeName=='Standalone' ">Total No. Of Students <br />Selected For Higher <br />Studies</th>
                  <th class="text-center">Median Annual Salary <br />for placed students</th>
                  <th class="text-center" *ngIf="request.SelectedCollegeEntryTypeName=='Polytechnic' || request.SelectedCollegeEntryTypeName=='Standalone'">Selt Employed</th>

                  <th width="100px" class="text-center" *ngIf="PreviewStatus!='Y' &&  request.SelectedCollegeEntryTypeName=='University' || request.SelectedCollegeEntryTypeName=='Polytechnic'">Action</th>
                  <th width="100px" class="text-center" *ngIf="PreviewStatus=='Y'"></th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let row of this.request.PlacementDetails ;let idx=index;">
                  <td *ngIf="request.SelectedCollegeEntryTypeName=='University'  || request.SelectedCollegeEntryTypeName=='Polytechnic'">{{idx+1}}</td>
                  <td>
                    <input [disabled]="disabled" class="form-control form-control-sm" id="NoOfStudentsPlaced_Male{{idx}}"
                           [(ngModel)]="row.NoOfStudentsPlaced_Male" maxlength="6" (change)="NoOfStudentsPlaced_Male_OnChange(row,idx)"
                           type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input [disabled]="disabled" class="form-control form-control-sm" id="NoOfStudentsPlaced_Female{{idx}}" [(ngModel)]="row.NoOfStudentsPlaced_Female" maxlength="6" (change)="NoOfStudentsPlaced_Female_OnChange(row,idx)"
                           type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td *ngIf="request.SelectedCollegeEntryTypeName=='University'  || request.SelectedCollegeEntryTypeName=='Polytechnic' || request.SelectedCollegeEntryTypeName=='Standalone'">
                    <input [disabled]="disabled" class="form-control form-control-sm" id="NoOfStudentsPlaced_Total{{idx}}" [(ngModel)]="row.NoOfStudentsPlaced_Total" maxlength="6" disabled
                           type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input [disabled]="disabled" class="form-control form-control-sm" id="NoOfStudentsSelectedForHigherStudies_Male{{idx}}" [(ngModel)]="row.NoOfStudentsSelectedForHigherStudies_Male" maxlength="6"
                           (change)="NoOfStudentsSelectedForHigherStudies_Male_OnChange(row,idx)"
                           type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input [disabled]="disabled" class="form-control form-control-sm" id="NoOfStudentsSelectedForHigherStudies_Female{{idx}}" [(ngModel)]="row.NoOfStudentsSelectedForHigherStudies_Female" maxlength="6"
                           (change)="NoOfStudentsSelectedForHigherStudies_Female_OnChange(row,idx)"
                           type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td *ngIf="request.SelectedCollegeEntryTypeName=='University'  || request.SelectedCollegeEntryTypeName=='Polytechnic' || request.SelectedCollegeEntryTypeName=='Standalone'">
                    <input [disabled]="disabled" class="form-control form-control-sm" id="NoOfStudentsSelectedForHigherStudies_Total{{idx}}" [(ngModel)]="row.NoOfStudentsSelectedForHigherStudies_Total" maxlength="6" disabled
                           type="text" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>
                  <td>
                    <input [disabled]="disabled" class="form-control form-control-sm" id="MedianAnnualSalaryforPlacedStudents{{idx}}" [(ngModel)]="row.MedianAnnualSalaryforPlacedStudents" maxlength="10"
                           type="text" (keypress)="DecimalOnly($event)" [ngModelOptions]="{standalone: true}" />
                  </td>

                  <td *ngIf="(request.SelectedCollegeEntryTypeName=='Polytechnic' || request.SelectedCollegeEntryTypeName=='Standalone')">
                    <input [disabled]="disabled" class="form-control form-control-sm" id="Type{{idx}}"
                           [(ngModel)]="row.SelfEmployed"
                           type="text" [ngModelOptions]="{standalone: true}" />
                  </td>

                  <td *ngIf="PreviewStatus!='Y'&& request.SelectedCollegeEntryTypeName=='University'  || request.SelectedCollegeEntryTypeName=='Polytechnic'">
                    <div class="d-flex justify-content-center">
                      <button type="button" id="btnEdit_{{idx}}" class="btn btn-sm btn-primary
                      " *ngIf="idx==(request.PlacementDetails.length-1)"
                              (click)="btnAdd_Click(row,idx)" [attr.disabled]="isDisabledGrid ? true : null" title="Add">
                        <i class="fa fa-plus"></i>
                      </button>

                      <button type="button" class="btn btn-sm btn-danger" title="Delete" *ngIf="(request.PlacementDetails.length-1)!=0"
                              (click)="btnDelete_Click(idx)">
                        <i class="fa fa-trash" [attr.disabled]="isDisabledGrid ? true : null"></i>
                      </button>

                    </div>
                  </td>
                  <td *ngIf="PreviewStatus=='Y'">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card-footer text-end" *ngIf="PreviewStatus!='Y'">
      <button type="button" (click)="SaveData()" class="btn btn-success">Save Draft</button>
    </div>
  </div>
</form>


