<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <div class="card mb-0">
        <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
          <b><i class="bi bi-table"></i> Class Wise Statistics </b>
          <div class="d-flex align-items-center">
            <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
            </div>
            <div class="d-flex align-items-center table-filter mr-15">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns" id="tabellist" #content>
              <thead>
                <tr>
                  <th>
                    Compliance<br />
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="rdClassWiseSelectAllActionType" id="rdClassWiseSelectAllYes" value="Yes" (change)="selectAll('Yes')">
                      <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="rdClassWiseSelectAllActionType" id="rdClassWiseSelectAllNo" value="No" (change)="selectAll('No')">
                      <label class="form-check-label">No</label>
                    </div>
                  </th>
                  <th>Sr. No</th>
                  <th>Faculty</th>
                  <th>Class</th>

                  <th>Section</th>

                  <th>SC Boys</th>
                  <th>SC Girls</th>
                  <th>ST Boys</th>
                  <th>ST Girls</th>
                  <th>OBC Boys</th>
                  <th>OBC Girls</th>

                  <th>MBC Boys</th>
                  <th>MBC Girls</th>
                  <th>Gen Boys</th>
                  <th>Gen Girls</th>
                  <th>EWS Boys</th>
                  <th>EWS  Girls</th>
                  <th>Total Boys</th>
                  <th>Total Girls</th>
                  <th>Total Minority Boys</th>
                  <th>Total Minority Girls</th>
                  <th>Total PH Boys</th>
                  <th>Total PH Girls</th>
                  <th>Trails</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ClassWiseStudentDetailsList let idx=index;">
                  <td>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rdClassWiseActionType{{idx+1}}" id="rdClassWiseActionTypeYes{{idx+1}}" [(ngModel)]="item.Action" value="Yes" (change)="ClickOnAction(idx)">
                        <label class="form-check-label">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rdClassWiseActionType{{idx+1}}" id="rdClassWiseActionTypeNo{{idx+1}}" value="No" [(ngModel)]="item.Action" (change)="ClickOnAction(idx)">
                        <label class="form-check-label">No</label>
                      </div>
                    </div>
                    <div class="row" [hidden]="item.Action !='No'">
                      <div class="col-lg-11 col-md-11 col-sm-6 col-12 mb-3">
                        <label>Remark : </label>
                        <textarea type="text" class="form-control" name="txtClassWiseRemark{{idx+1}}" id="txtClassWiseRemark{{idx+1}}" [(ngModel)]="item.Remark"></textarea>
                      </div>
                    </div>

                  </td>
                  <td>{{idx+1}}</td>
                  <td>
                    {{item.CourseName}}

                  </td>
                  <td>
                    {{item.Class}}
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txSCSection{{idx}}" name="txSection{{idx}}" [(ngModel)]="item.Section" autocomplete="off">

                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txSCBoysTotal{{idx}}" name="txSCBoysTotal{{idx}}" [(ngModel)]="item.SCBoysCount" autocomplete="off">

                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txSCGirlsTotal{{idx}}" name="txSCGirlsTotal{{idx}}" [(ngModel)]="item.SCGirlsCount" autocomplete="off">
                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txSTBoysTotal{{idx}}" name="txSTBoysTotal{{idx}}" [(ngModel)]="item.STBoysCount" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txSTBoysTotal{{idx}}" name="txSTBoysTotal{{idx}}" [(ngModel)]="item.STGirlsCount" autocomplete="off">
                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txOBCBoysTotal{{idx}}" name="txOBCBoysTotal{{idx}}" [(ngModel)]="item.OBCBoysCount" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txOBCGirlsCount{{idx}}" name="txOBCGirlsCount{{idx}}" [(ngModel)]="item.OBCGirlsCount" autocomplete="off">
                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txMBCBoysTotal{{idx}}" name="txMBCBoysTotal{{idx}}" [(ngModel)]="item.MBCBoysCount" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txMBCBoysTotal{{idx}}" name="txMBCBoysTotal{{idx}}" [(ngModel)]="item.MBCGirlsCount" autocomplete="off">
                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txMBCBoysTotal{{idx}}" name="txGenBoysTotal{{idx}}" [(ngModel)]="item.GenBoysCount" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txMBCBoysTotal{{idx}}" name="txGenGirlsTotal{{idx}}" [(ngModel)]="item.GenGirlsCount" autocomplete="off">
                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txEWSBoysTotal{{idx}}" name="txEWSBoysTotal{{idx}}" [(ngModel)]="item.EWSBoysCount" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txEWSGirlsTotal{{idx}}" name="txEWSGirlsTotal{{idx}}" [(ngModel)]="item.EWSGirlsCount" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txTotalBoys{{idx}}" name="txTotalBoys{{idx}}" [(ngModel)]="item.TotalBoys" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txTotalGirls{{idx}}" name="txTotalGirls{{idx}}" [(ngModel)]="item.TotalGirls" autocomplete="off">

                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txOFTotalMinorityBoys{{idx}}" name="txOFTotalMinorityBoys{{idx}}" [(ngModel)]="item.OFTotalMinorityBoys" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txOFTotalMinorityGirls{{idx}}" name="txOFTotalMinorityGirls{{idx}}" [(ngModel)]="item.OFTotalMinorityGirls" autocomplete="off">
                  </td>

                  <td>
                    <input type="text" disabled class="form-control" id="txOFTotalPHBoys{{idx}}" name="txOFTotalPHBoys{{idx}}" [(ngModel)]="item.OFTotalPHBoys" autocomplete="off">
                  </td>
                  <td>
                    <input type="text" disabled class="form-control" id="txOFTotalPHGirls{{idx}}" name="txOFTotalPHGirls{{idx}}" [(ngModel)]="item.OFTotalPHGirls" autocomplete="off">
                  </td>
                  <td><button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewTaril(item.ClassStatisticID,'ClassWiseStudentTrail')"><i class="fa fa-bars" aria-hidden="true"></i></button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="fw-bold">
                  <td colspan="5">Total</td>
                  <td>{{SCBoysCountFooter}}</td>
                  <td>{{SCGirlsCountFooter}}</td>
                  <td>{{STBoysCountFooter}}</td>
                  <td>{{STGirlsCountFooter}}</td>
                  <td>{{OBCBoysCountFooter}}</td>
                  <td>{{OBCGirlsCountFooter}}</td>
                  <td>{{MBCBoysCountFooter}}</td>
                  <td>{{MBCGirlsCountFooter}}</td>
                  <td>{{GenBoysCountFooter}}</td>
                  <td>{{GenGirlsCountFooter}}</td>
                  <td>{{EWSBoysCountFooter}}</td>
                  <td>{{EWSGirlsCountFooter}}</td>
                  <td>{{TotalBoysFooter}}</td>
                  <td>{{TotalGirlsFooter}}</td>
                  <td>{{OFTotalMinorityBoysFooter}}</td>
                  <td>{{OFTotalMinorityGirlsFooter}}</td>
                  <td>{{OFTotalPHBoysFooter}}</td>
                  <td>{{OFTotalPHGirlsFooter}}</td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="row" *ngIf="FinalRemarks.length>0">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Role</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item1 of FinalRemarks ; let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item1.RoleID}}</td>
                    <td>{{item1.Remark}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Remarks</label>
              <textarea id="ClassWiseStudentRemark" class="form-control" [(ngModel)]="dsrequest.FinalRemark"></textarea>
              <div *ngIf="isRemarkValid" class="text-danger">
                <p *ngIf="isRemarkValid"> This field is required .!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" (click)="SubmitClassWiseStudentDetail_Onclick()">Submit</button>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <!--<button type="button" (click)="SaveData()" class="btn btn-primary">Save Data</button>-->
        </div>
      </div>
    </div>
  </div>
</div>


