<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3><b>Document Scrutiny (Application No : {{this.ApplicationNo}})</b></h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Document Scrutiny</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="card tabCard1 mb-0">
    <div class="row m-2" *ngIf="PageStatus=='Pending'||PageStatus=='Revert'||PageStatus=='RBHM'">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="IsSummaryReport==true||IsMeetingNotice==true">
        <label for="ddlAction" class="form-label" *ngIf="IsSummaryReport==true">Upload Summary Report<span style="color:red;">*</span></label>
        <label for="ddlAction" class="form-label" *ngIf="IsMeetingNotice==true">Upload Meeting Notice<span style="color:red;">*</span></label>
        <div class="d-flex">
          <input type="file" style="display:none;" class="form-control" id="fFiledoc" name="fFiledoc" (change)="onFilechange($event,'other')" formControlName="fFiledoc">
          <label class="btn upload" for="fFiledoc">
            <span class="filename">Choose file</span>
            {{Filedoc === '' ? 'No File Choosen' : Filedoc_Dis_FileName}}
          </label>
          <div class="btn-group" *ngIf="isShowFile">
            <a class="btn btn-outline-primary" target="_blank" href="{{FiledocPath}}"><i class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(Filedoc,'other')"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
        <div *ngIf="FileValidationMessage!=''" class="text-danger">
          <p> {{FileValidationMessage}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="IsMeetingNotice==true">
        <label for="ddlAction" class="form-label">Upload MOM <span style="color:red;">*</span></label>
        <div class="d-flex">
          <input type="file" style="display:none;" class="form-control" id="ffFiledoc" name="ffFiledoc" (change)="onFilechange($event,'MOM')" formControlName="ffFiledoc">
          <label class="btn upload" for="ffFiledoc">
            <span class="filename">Choose file</span>
            {{MOMFiledoc === '' ? 'No File Choosen' : MOMFiledoc_Dis_FileName}}
          </label>
          <div class="btn-group" *ngIf="isShowMOMFile">
            <a class="btn btn-outline-primary" target="_blank" href="{{MOMFiledocPath}}"><i class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(MOMFiledoc,'MOM')"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
        <div *ngIf="MOMFileValidationMessage!=''" class="text-danger">
          <p> {{MOMFileValidationMessage}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <label for="ddlAction" class="form-label">Action On Application<span style="color:red;">*</span></label>
        <select class="form-select" (change)="OnChangeCurrentAction()" [(ngModel)]="ActionID">
          <option value="0" disabled selected>--Select Action--</option>
          <option *ngFor="let item of WorkFlowActionList" value="{{item.ActionID}}">{{item.ActionName}}</option>
        </select>
        <div *ngIf="isActionTypeValid" class="text-danger">
          <p *ngIf="isActionTypeValid"> This field is required .!</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
        <label for="ddlDistrictID" class="form-label">Next Role <span style="color:red;">*</span></label>

        <select class="form-select" (change)="NextGetUserDetailsByRoleID()" [(ngModel)]="NextRoleID">
          <option value="0" selected>--Select Role--</option>
          <option *ngFor="let item of UserRoleList" value="{{item.RoleID}}">{{item.RoleName}}</option>
        </select>


        <div *ngIf="isNextRoleIDValid" class="text-danger">
          <p *ngIf="isNextRoleIDValid"> This field is required .!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="ShowHideNextRoleNextUser">
        <label for="ddlDistrictID" class="form-label">Next User <span style="color:red;">*</span></label>
        <select class="form-select" [(ngModel)]="NextUserID">
          <option value="0" selected>--Select User--</option>
          <option *ngFor="let item of UserListRoleWise" value="{{item.UId}}">{{item.Name}}</option>
        </select>
        <div *ngIf="isNextUserIdValid" class="text-danger">
          <p *ngIf="isNextUserIdValid"> This field is required .!</p>
        </div>
      </div>
    </div>
    <div class="row  m-2" *ngIf="PageStatus=='Pending'||PageStatus=='Revert'||PageStatus=='RBHM'">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <label>Remarks  <span style="color:red;">*</span></label>
        <textarea id="CheckFinalRemark" class="form-control" [(ngModel)]="CheckFinalRemark"></textarea>
        <div *ngIf="isRemarkValid" class="text-danger">
          <p *ngIf="isRemarkValid"> This field is required .!</p>
        </div>
      </div>

    </div>
    <div class="row  m-2" *ngIf="PageStatus=='Pending'||PageStatus=='Revert'||PageStatus=='RBHM'">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" (click)="DocumentScrutiny()" title="Submit">Submit</button>
      </div>
    </div>

    <!--Documents-->
    <div class="card-header d-flex justify-content-between align-items-center" *ngIf="this.nocWorkFlowDock!== undefined">
      <b>&nbsp; Summary Details</b>
    </div>
    <div class="row" *ngIf="this.nocWorkFlowDock!== undefined">
      <div class="col-md-12">
        <div class="card mb-0">
          <div class="card-body">
            <div class="col-md-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.OtherDoc!=''">
                  <label>Generate Order For Inspection :<b>Available</b> </label><a class="btn btn-outline-primary" style="margin-left: 15px;" target="_blank" href="{{nocWorkFlowDock.GenerateOrderPath}}" title="View Document"><i class="fa fa-eye"></i></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.InspectionReport!=''">
                  <label>Inspection Report :<b>Available</b> </label><a class="btn btn-outline-primary" style="margin-left: 15px;" target="_blank" href="{{nocWorkFlowDock.InspectionReportPath}}" title="View Document"><i class="fa fa-eye"></i></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.SummaryReport!=''">
                  <label>Summary Report  :<b>Available</b>  </label><a class="btn btn-outline-primary" style="margin-left: 15px;" target="_blank" href="{{nocWorkFlowDock.SummaryReportPath}}" title="View Document"><i class="fa fa-eye"></i></a>
                </div>
                <!--<b>{{nocWorkFlowDock.ProposedMeetingDate.replace("T", " ")}}</b>-->
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.MeetingScheduleDate!=''">
                  <label>Meeting Schedule Date  :</label><b>{{nocWorkFlowDock.MeetingScheduleDate.replace("T", " ")}}</b>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.MeetingNotice!=''">
                  <label>Meeting Notice  :<b>Available</b> </label><a class="btn btn-outline-primary" style="margin-left: 15px;" target="_blank" href="{{nocWorkFlowDock.MeetingNoticePath}}" title="View Document"><i class="fa fa-eye"></i></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.MOMDocument!=''">
                  <label>MOM Document  :<b>Available</b> </label><a class="btn btn-outline-primary" style="margin-left: 15px;" target="_blank" href="{{nocWorkFlowDock.MOMDocumentPath}}" title="View Document"><i class="fa fa-eye"></i></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="this.nocWorkFlowDock.NOCFilePath!=''">
                  <label>NOC  :<b>Available</b> </label><a class="btn btn-outline-primary" style="margin-left: 15px;" target="_blank" href="{{nocWorkFlowDock.NOCFilePath}}" title="View NOC"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
      <b>&nbsp; Document Scrutiny Summary Details</b>
    </div>

    <!--Legal Entity-->
    <app-preview-legal-entity></app-preview-legal-entity>
    <!--Legal Entity-->
    <!--College Detail-->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-0">
          <div class="card-header">
            <b><i class="bi bi-table"></i>College Detail </b>
          </div>
          <div class="card-body">
            <div class="card-body" *ngIf="CheckList_collegeListData!=null">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Department :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.DepartmentName_English}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Status :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeStatus}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label><b>College Logo :</b></label>
                    <div class="clearfix"></div>
                    <a *ngIf="!CheckList_collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{CheckList_collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom">
                      <img src="{{CheckList_collegeListData.CollegeLogoPath}}" alt="College Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                    </a>
                    <a class="bi bi-file-earmark-pdf-fill" *ngIf="CheckList_collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{CheckList_collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Present Status of College :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.PresentCollegeStatus}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Type :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeType}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Level :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeLevel}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Code :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeCode}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Name in English :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeNameEn}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Name in Hindi :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeNameHi}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>IS Your College NAAC Accredited :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeNAACAccredited}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.CollegeNAACAccredited =='Yes'">
                    <label><b>NAAC Accredited Certificate(Only pdf/image file.) (Min.Size 100KB) (Max.Size 2MB) :</b></label>
                    <div class="clearfix"></div>
                    <a class="bi bi-file-earmark-pdf-fill" *ngIf="CheckList_collegeListData.NAACAccreditedCertificatePath.includes('.pdf')" data-fancybox="gallery" href="{{CheckList_collegeListData.NAACAccreditedCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.CollegeNAACAccredited =='Yes'">
                    <label>NACC Validity Date :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.NACCValidityDate | date:'dd-MM-yyyy'}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.DepartmentID==3">
                    <label>AISHE Code Status :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.AISHECodeStatus}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.AISHECodeStatus =='Yes'">
                    <label>AISHE Code :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.AISHECode}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>College Medium :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeMediumName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>University :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.UniversityName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.CollegeStatus!='New'">
                    <label>Year of Establishment :</label>
                    <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.FinancialYearName}}" />
                  </div>
                </div>
                <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <b>Address & Contact Detail <span style="color:red;">*</span></b>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Division :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.Division_English}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>District :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.District_Eng}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Subdivision :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.SubdivisionName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Tehsil :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.TehsilName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Area :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.RuralUrbanArea}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.RuralUrbanArea=='Rural'">
                        <label>Panchayat Samiti :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.PanchyatSamitiName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.RuralUrbanArea=='Urban'">
                        <label>City :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CityName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Parliament Area :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.ParliamentAreaName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Assembly Area :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.AssemblyAreaName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>City/Town/Village :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CityTownVillage}}" />
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Pincode :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.Pincode}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Address Line 1 :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.AddressLine1}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Address Line 2 :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.AddressLine2}}" />
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="CheckList_collegeListData.RuralUrbanArea=='Rural'">
                        <label>Distance from City(km) :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.DistanceFromCity}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Website Link :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.WebsiteLink}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Mobile Number :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.MobileNumber}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Landline Number :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.CollegeLandlineNumber}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Email :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.Email}}" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row" *ngIf="CheckList_collegeContactDetailsList.length>0">
              <div class="col-md-12">
                <div class="card mb-0">
                  <div class="card-header">
                    <b><i class="bi bi-table"></i> Contact Details </b>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>Sr.No.</th>
                            <th>Name Of Person</th>
                            <th>Designation</th>
                            <th>Mobile Number</th>
                            <th>Email Address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of CheckList_collegeContactDetailsList; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.NameOfPerson}}</td>
                            <td>{{row.DesignationName}}</td>
                            <td>{{row.MobileNumber}}</td>
                            <td>{{row.EmailAddress}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="CheckList_collegeListData!=null">
              <div class="col-md-12">
                <div class="card mb-0">
                  <div class="card-header">
                    <b><i class="bi bi-table"></i> General Contact Details </b>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Designation :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.DesignationName}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Mobile Number :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.GCD_MobileNumber}}" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <label>Landline Number :</label>
                        <input class="form-control disabled mt-1" disabled value="{{CheckList_collegeListData.GCD_LandlineNumber}}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-0">
                  <div class="card-header">
                    <b><i class="bi bi-table"></i> Geo Tagging Status Details </b>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>Sr.No.</th>
                            <th>Geo Tagging Type</th>
                            <th>Geo Tagging Status</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Image 1</th>
                            <th>Image 2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let geoitem of CheckList_collegeGeoTaggingDetailsList; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td> {{geoitem.Type}}</td>
                            <td>{{geoitem.IsGeoTagging}}</td>
                            <td>{{geoitem.TGC_Latitude}}</td>
                            <td>{{geoitem.TGC_Longitude}}</td>
                            <td>
                              <a *ngIf="geoitem.Image1!='N/A'" data-fancybox="gallery" href="{{geoitem.Image1}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{geoitem.Image1}}" alt="Image 1" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="geoitem.Image1=='N/A'">{{geoitem.Image1}}</label>
                            </td>
                            <td>
                              <a *ngIf="geoitem.Image2!='N/A'" data-fancybox="gallery" href="{{geoitem.Image2}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{geoitem.Image2}}" alt="Image 2" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="geoitem.Image2=='N/A'">{{geoitem.Image2}}</label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="CheckList_collegeNearestGovernmentHospitalsList.length>0">
              <div class="col-md-12">
                <div class="card mb-0">
                  <div class="card-header">
                    <b><i class="bi bi-table"></i> 10 Government hospitals nearest to the institution </b>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Hospital Reg. No.</th>
                            <th>Hospital Name</th>
                            <th>Hospital Address</th>
                            <th>Distance From Institute(KM)</th>
                            <th>Hospital Document</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of CheckList_collegeNearestGovernmentHospitalsList; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.HospitalRegNo}}</td>
                            <td>{{row.HospitalName}}</td>
                            <td>
                              <p class="m-0"><b>Area : </b> {{row.RuralUrbanArea}}</p>
                              <p class="m-0"><b>Address Line 1 : </b> {{row.AddressLine1}}</p>
                              <p class="m-0"><b>Address Line 2 : </b>{{row.AddressLine2}}</p>
                              <p class="m-0"><b>Division : </b> {{row.Division_English}}</p>
                              <p class="m-0"><b>District : </b> {{row.District_Eng}}</p>
                              <p class="m-0"><b>Tehsil : </b>{{row.TehsilName}}</p>
                              <p *ngIf="row.RuralUrban==1" class="m-0"><b>PanchayatSamiti : </b>{{row.PanchyatSamitiName}}</p>
                              <p *ngIf="row.RuralUrban==2" class="m-0"><b>City : </b>{{row.CityName}}</p>
                              <p class="m-0"><b>City/Town/Village : </b>{{row.CityTownVillage}}</p>
                              <p class="m-0"><b>Pincode : </b>{{row.Pincode}}</p>
                            </td>
                            <td>{{row.HospitalDistance}}</td>
                            <td>
                              <a *ngIf="!row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.HospitalDocumentPath}}" alt="Hospital Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="CheckList_collegeListData==null">
              <span style="color:red"> No Data Found.!</span>
            </div>
            <div class="row" *ngIf="CollegeDetailFinalRemarks.length>0">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Sr.No.</th>
                      <th>Role</th>
                      <th>Remark</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item1 of CollegeDetailFinalRemarks ; let idx =index">
                      <td>{{idx+1}}</td>
                      <td>{{item1.RoleID}}</td>
                      <td>{{item1.Remark}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End College Detail-->
    <!--College Management Society-->
    <app-college-management-society></app-college-management-society>
    <!--End College Management Society-->
    <!--Course Details-->
    <app-preview-course-detail></app-preview-course-detail>
    <!--Course Details-->
    <!--Start Land Details-->
    <app-preview-land-detail></app-preview-land-detail>
    <!--End Land Details-->
    <!--Building Details-->
    <app-preview-building-detail></app-preview-building-detail>
    <!--Building Details-->
    <!--class room details-->
    <app-preview-mg-one-class-room-details></app-preview-mg-one-class-room-details>
    <!--class room details-->
    <!--End Required Document-->
    <app-preview-required-document></app-preview-required-document>
    <!--End Required Document-->
    <!--Start staff-->
    <app-preview-staff-detail></app-preview-staff-detail>
    <!--End Staff-->
    <!--Start Departmentwise infrastructure Details-->
    <app-preview-mgone-infrastructure></app-preview-mgone-infrastructure>
    <!--End Departmentwise infrastructure Details-->
    <!--clinical lab-->
    <app-preview-mgone-clinical-lab></app-preview-mgone-clinical-lab>
    <!--clinical lab-->
    <!--Start Hospital Details-->
    <app-preview-hospital-detail></app-preview-hospital-detail>
    <!--End Hospital Details-->
    <!--apply noc-->
    <app-preview-apply-noc-detail></app-preview-apply-noc-detail>
    <!--apply noc-->
    <!--Start FDR Details-->
    <app-preview-fdr-detail></app-preview-fdr-detail>
    <!--End FDR Details-->
    <!--Start Payment Details-->
    <app-preview-payment-detail></app-preview-payment-detail>
    <!--End Payment Details-->

  </div>

  <ng-template #TarilMymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Trails</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="row" *ngIf="lstTarils.length>0">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Compliance</th>
                    <th>Remark</th>
                    <th>Action By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstTarils ; let indexOfelement=index;">
                    <td> {{indexOfelement+1}}</td>
                    <td>{{item.Action}}</td>
                    <td>{{item.Remark}}</td>
                    <td>{{item.RoleName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!--Modal Start For OTP-->
  <div class="modal" id="ModalOtpVerify" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aadhaar OTP Verification</h5>
          <button type="button" class="btn btn-danger" aria-label="Close" (click)="CloseOTPModel()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
              <p>You have received a OTP Verification Message on Registered Mobile No.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
              <label class="mb-2" for="EnterOTP">Enter OTP</label>
              <input type="text" class="form-control" id="EnterOTP" [(ngModel)]="UserOTP" autocomplete="off" (keypress)="numberOnly($event)" maxlength="6" />
              <div *ngIf="isUserOTP" class="text-danger">
                <p *ngIf="isUserOTP">This field is required .!</p>
              </div>
              <div *ngIf="isValidUserOTP" class="text-danger">
                <p *ngIf="isValidUserOTP">Please Enter Correct OTP .!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3 d-flex justify-content-center align-items-center">
              <span *ngIf="ShowTimer">Please Wait..{{DisplayTimer}}</span>
              <button [attr.disabled]="isTimerDisabled ? true : null" type="button" id="ResendOTP" (click)="ResendOTP()" class="btn btn-link">Resend OTP</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" aria-label="Close" (click)="CloseOTPModel()"><span aria-hidden="true">Cancel</span></button>
          <button type="button" (click)="VerifyOTP()" class="btn btn-sm btn-primary">Submit</button>
        </div>
      </div>
      <app-loader></app-loader>
    </div>
  </div>

  <!--END MODAL-->

</div>
