<app-loader></app-loader>
<div class="card tabCard1 mb-0" id="LandDetails1">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp;Other Documents</b>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngFor="let item of request.DocumentDetails ; let idx =index">
        <label>
          {{item.DocumentName}} <span style="color:red;" *ngIf="item.IsMandatory">*</span>
        </label>
        <div class="d-flex">
          <input type="file" id="fileLandDocument_{{item.DID}}" class="form-control d-none" (change)="onFilechange($event,item)" />
          <label class="btn upload" for="fileLandDocument_{{item.DID}}">
            <span class="filename">Choose file</span>
            {{item.FileName === '' ? 'No File Choosen' : item.Dis_FileName}}
          </label>

          <div class="btn-group" *ngIf="item.FileName !== ''">
            <a class="btn btn-outline-primary" target="_blank" href="{{item.FilePath}}"><i class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(item)"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
        <div *ngIf="isSubmitted&&item.FileName == ''" class="text-danger">
          <p>This field is required .!</p>
        </div>
      </div>

    </div>
    <div class="row" *ngIf="SelectedDepartmentID==6">
      <div class="card-header">
        <b><i class="bi bi-table"></i>&nbsp;Hospital Related Documents</b>
      </div>
      <div class="card-body">
        

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngFor="let item of HospitalRealtedDocuments ; let idx =index">
          <label>
            {{item.DocumentName}} <span style="color:red;" *ngIf="item.IsMandatory">*</span>
          </label>
          <div class="d-flex">
            <input type="file" id="fileLandDocument_{{item.DID}}" class="form-control d-none" (change)="onFilechange($event,item)" />
            <label class="btn upload" for="fileLandDocument_{{item.DID}}">
              <span class="filename">Choose file</span>
              {{item.FileName === '' ? 'No File Choosen' : item.Dis_FileName}}
            </label>

            <div class="btn-group" *ngIf="item.FileName !== ''">
              <a class="btn btn-outline-primary" target="_blank" href="{{item.FilePath}}"><i class="fa fa-eye"></i></a>
              <button type="button" class="btn btn-outline-danger" (click)="DeleteImage(item)"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>
          <div *ngIf="isSubmitted&&item.FileName == ''" class="text-danger">
            <p>This field is required .!</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6 col-12  text-end">
        <button class="btn btn-primary" (click)="SaveData()" type="button">Save</button>
      </div>
    </div>
  </div>

