/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 10px !important;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #dee2e6;
}
::-webkit-scrollbar-track {
  background: #6c757d;
}
.footers {

  position: fixed;
  z-index: 99;
  bottom:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dropdown-list {
  margin-top: 0px !important;
}

.contant {
  height: calc(100vh - 75px);
}


.mat-tab-label-active::after {
  background: #fbb02c !important;
}

.mat-tab-label {
  position: relative;
  height: 60px !important;
  padding-top: 30px !important;
  color: #132649 !important;
  opacity:1 !important;
}
.mat-tab-label-active {
    border-bottom:0px !important;
}
.mat-tab-label span { padding-left:5px;}
.mat-tab-label::after {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 2px;
  content: "";
  background: #132649;
  z-index: 1 !important;
}
.mat-tab-label-active::after {
  background: #45bae5;
}
.mat-tab-label .icon {
  position: absolute;
  top: 0px;
  width: 34px;
  height: 34px;
  text-align: center;
  border: solid 1px #132649;
  color: #132649;
  padding: 5px;
  border-radius: 100%;
  left: 40%;
  z-index: 999 !important;
  background: #f4f4f4;
  line-height: 22px;
  font-size: 19px;
}

.mat-tab-label-active .icon {
  border: solid 1px #f8a544;
  background: linear-gradient(45deg, #f8a544, #ffc107) !important;
  color: #fff !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: none !important;
}

.mat-tab-header-pagination-chevron {
  margin-top: -30px !important;
}

.mat-step-header {
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px #0000001c;
}
  .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
     background-color:transparent;
  }
.mat-stepper-vertical-line::before {
  top: -5px;
  bottom: 1px;
}
.mat-stepper-vertical-line::before {

  left: -10px !important;
}
.upload {
  border: 1px solid #ced4da !important;
  width: 100%;
  text-align: left !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filename {
  background: #e9ecef;
  padding: 7px;
  position: relative;
  left: -11px;
  top: 1px;
  border-radius: 2px 0px 0px 2px;
  border-right: 1px solid #ced4da;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}



.badge {
  border-radius: 50px;
  display: block !important;
}

.badge {
  width: 5px;
  height: 5px;
  display: block;
  background: red;
  color: #fff;
}
.badge {
  display: inline-block;
  padding: 0.45em 0.45em !important;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 100% !important;
}

.pulse {
  animation: pulse 1s infinite;
} 
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 84, 73, 0.8);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(122, 84, 73, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(122, 84, 73, 0);
  }
}
p.ng-star-inserted {
  margin-bottom: 2px !important;
}



.form-label {
  margin-bottom: 0.1rem !important;
}
.myCustomModalClass .modal-dialog {
  max-width:80%;
}
