/*::first-letter {
  text-transform: capitalize
}
body::first-letter {
  text-transform: capitalize
}
body  {
  text-transform: capitalize !important;
}*/
::-webkit-scrollbar {
  width: 10px !important;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #dee2e6;
}
::-webkit-scrollbar-track {
  background: #6c757d;
}
.footers {

  position: fixed;
  z-index: 99;
  bottom:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dropdown-list {
  margin-top: 0px !important;
}

.contant {
  height: calc(100vh - 75px);
}


.mat-tab-label-active::after {
  background: #fbb02c !important;
}

.mat-tab-label {
  position: relative;
  height: 60px !important;
  padding-top: 30px !important;
  color: #132649 !important;
  opacity:1 !important;
}
.mat-tab-label-active {
    border-bottom:0px !important;
}
.mat-tab-label span { padding-left:5px;}
.mat-tab-label::after {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 2px;
  content: "";
  background: #132649;
  z-index: 1 !important;
}
.mat-tab-label-active::after {
  background: #45bae5;
}
.mat-tab-label .icon {
  position: absolute;
  top: 0px;
  width: 34px;
  height: 34px;
  text-align: center;
  border: solid 1px #132649;
  color: #132649;
  padding: 5px;
  border-radius: 100%;
  left: 40%;
  z-index: 999 !important;
  background: #f4f4f4;
  line-height: 22px;
  font-size: 19px;
}

.mat-tab-label-active .icon {
  border: solid 1px #f8a544;
  background: linear-gradient(45deg, #f8a544, #ffc107) !important;
  color: #fff !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: none !important;
}

.mat-tab-header-pagination-chevron {
  margin-top: -30px !important;
}

.mat-step-header {
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px #0000001c;
}
  .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
     background-color:transparent;
  }
.mat-stepper-vertical-line::before {
  top: -5px;
  bottom: 1px;
}
.mat-stepper-vertical-line::before {

  left: -10px !important;
}
.upload {
  border: 1px solid #ced4da !important;
  width: 100%;
  text-align: left !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filename {
  background: #e9ecef;
  padding: 7px;
  position: relative;
  left: -11px;
  top: 1px;
  border-radius: 2px 0px 0px 2px;
  border-right: 1px solid #ced4da;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}



.badge {
  border-radius: 50px;
  display: block !important;
}

.badge {
  width: 5px;
  height: 5px;
  display: block;
  background: red;
  color: #fff;
}
.badge {
  display: inline-block;
  padding: 0.45em 0.45em !important;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 100% !important;
}

.pulse {
  animation: pulse 1s infinite;
} 
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 84, 73, 0.8);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(122, 84, 73, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(122, 84, 73, 0);
  }
}
p.ng-star-inserted {
  margin-bottom: 2px !important;
}



.form-label {
  margin-bottom: 0.1rem !important;
}
.myCustomModalClass .modal-dialog {
  max-width:80%;
}



:root {
  --themeht-primary-color4: #f977945c;
  --themeht-primary-color5: #6200ff36;
  --themeht-primary-color6: #3498db3d;
  --themeht-white-color: #ffffff;
  --themeht-primary-color: #e3225f;
  --themeht-primary-color2: #ff0505;
  --themeht-primary-color3: #ff47c8;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 85%;
}

header {
  -webkit-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.1) !important;
  -moz-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.1) !important;
  box-shadow: 0 10px 35px 0 rgba(0,0,0,0.1) !important;
  position: relative !important;
  z-index: 999 !important;
}

.centerContentPart, .footersection {
  position: relative !important;
  z-index: 999 !important;
}

.round-shape-animation {
  position: fixed;
  width: 1000px;
  height: 1000px;
  right: -450px;
  bottom: 0;
  display: inline-block;
  background: linear-gradient(115deg, #6200ff36, #f977945c, #3498db3d);
  border-radius: 100%;
}

  .round-shape-animation::before {
    content: "";
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
    background: var(--themeht-white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.service-icon img {
  width: 50px;
  height: 50px;
  ;
}

.clientLogo a {
  display: inline-block;
  border: 1px solid #ebe8e8;
  box-shadow: 0 6px 8px #00000017;
  background: #ffffff;
  margin: 0 5px;
  padding: 6px;
  border-radius: 5px;
  max-width: 180px;
}

.service-item.style-3 {
  position: relative;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #000;
  text-align: center;
  width: calc(100% / 6) !important;
  outline: none !important;
}

  .service-item.style-3:hover, .service-item.style-3:focus, .service-item.style-3:active {
    outline: none !important;
  }

  .service-item.style-3 a {
    color: #0c0c0c;
    text-decoration: none;
    font-size: .7rem;
  }

  .service-item.style-3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--themeht-white-color);
    z-index: -9;
    /* transform: skewY(-10deg); */
    border-radius: 10px;
    box-shadow: 0 10px 35px 0 rgba(92.99999999999996, 72.00000000000001, 223, .08);
  }

.service-title h4 {
  font-size: .9rem;
}

.service-item.style-3 .service-icon {
  display: inline-block;
  margin-bottom: 10px;
}

.service-item.style-3 .service-icon, .service-item.style-3 .service-desc {
  position: relative;
  z-index: 999;
}

.service-item.style-3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #ff0505, #e3225f, #ff47c8) !important;
  /*z-index: -9;*/
  transform: scale(0) skewY(0deg);
  border-radius: 10px;
}

.service-item.style-3:hover, .service-item.style-3.active {
  background: transparent;
  color: #fff !important;
}

  .service-item.style-3:hover:after, .service-item.style-3.active:after {
    transform: scale(1) skewY(0deg);
  }

.service-item:before, .service-item:after {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.service-item.style-3:hover h4, .service-item.style-3:hover p, .service-item.style-3:hover .read-button {
  color: var(--themeht-white-color);
}

.navbarfooter {
  position: relative;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 35px;
  color: #ffffff;
  list-style: none;
}

  .navbarfooter a {
    text-decoration: none;
    color: #ffffff;
  }

.nav {
  gap: 15px;
  justify-content: space-between;
}

.tab-content .tab-pane {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 35px 0 rgba(92.99999999999996, 72.00000000000001, 223, .08);
}

.btncomn {
  background: #234197;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #234197;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

  .btncomn:hover {
    background: #fff;
    color: #234197;
    border: 1px solid #234197
  }

.heading {
  background: linear-gradient(115deg, #ff0505, #e3225f, #ff47c8);
  color: #ffffff;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
  text-transform: uppercase;
  text-align: center;
}

.OrderCircularBox marquee {
  height: 475px;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 35px 0 rgba(92.99999999999996, 72.00000000000001, 223, .08);
  margin-top: 1px;
}

.defulttext {
  line-height: 32px;
  font-size: 20px;
}

.footerLink {
  list-style: none !important;
}

  .footerLink li a {
    color: #fff;
    text-decoration: none;
  }

  .footerLink li span {
    color: #fff;
  }

.heightFixBox {
  height: calc(100vh - 243px);
  overflow: auto;
  padding: 3rem 0px;
}

.dptNavPills {
  flex-wrap: nowrap !important;
}

.newsMarquee {
  list-style: none !important;
  margin: 0px;
  padding: 0px;
}

  .newsMarquee li a {
    display: block;
    border-bottom: solid 1px #e5e5e5;
    padding: 5px 0px;
    text-decoration: none !important;
  }

    .newsMarquee li a p {
      color: #878787;
      font-size: 14px;
      margin-bottom: 5px;
    }

      .newsMarquee li a p i {
        color: #e3225f;
      }

    .newsMarquee li a span {
      color: #e3225f;
      font-size: 12px;
    }

@media(max-width:1440px) {
  .OrderCircularBox marquee {
    height: 290px !important;
  }

  .service-item.style-3 {
    padding: 10px !important;
  }

  .service-title h4 {
    font-size: .7rem;
  }

  .heightFixBox {
    padding: 1rem 0px;
  }

  .dptNavPills {
    margin-bottom: 15px !important;
  }
}

@media(max-width:991px) {
  .dptNavPills {
    overflow: auto;
  }

    .dptNavPills .service-item.style-3 {
      min-width: 200px;
      width: 200px;
    }

  .heightFixBox {
    height: unset !important;
  }

  .tabPanels {
    margin-bottom: 15px;
  }
}

@media(max-width:767px) {
  .CMBox h5 {
    font-size: 14px;
  }

  .CMBox h6 {
    font-size: 12px;
  }

  .footersection, .footersection .text-end {
    text-align: center !important;
  }

  .contactDetails {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.tab-pane > p {
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.contactMarquee ul {
    list-style:none;
    margin:0px;
    padding:0px;
}
.contactMarquee ul li {
    margin-left:25px;
    font-size:22px;
    font-weight:600;
}
  .contactMarquee ul li i {
    color: #e3225f;
    margin-right: 7px;
    animation: mymove 1s infinite;
  }
.blinkText {
  animation: mymove 1s infinite;
}

@keyframes mymove {
  0% {
    color: #ff0505;
  }

  25% {
    color: #234197;
  }

  75% {
    color: #ff0505;
  }

  100% {
    color: #234197;
  }
}
