<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Defaulter College Request</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Defaulter College Request</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="clearfix"></div>

  <form [formGroup]="DefaulterCollegeForm" class="form-horizontal" *ngIf="DefaulterCollegeList.length < 0 || !ShowRegister">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <b>Personal Detail</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlDepartmentID" class="form-label">Department <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlDepartmentID" name="ddlDepartmentID" [(ngModel)]="request.DepartmentID" formControlName="ddlDepartmentID" (change)="GetDDLList()">
              <option value="0">--Select--</option>
              <option *ngFor="let item of DepartmentList" value="{{item.DepartmentID}}">{{item.DepartmentName}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlDepartmentID.errors" class="text-danger">
              <p *ngIf="!form.ddlDepartmentID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlDivisionID" class="form-label">Division <i class="fa fa-info-circle me-2 text-primary" title="Please select your division according to the old 7 divisions"></i> <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlDivisionID" name="ddlDivisionID" [(ngModel)]="request.DivisionID" formControlName="ddlDivisionID" #SelectedDivisionID (change)="FillDivisionRelatedDDL(SelectedDivisionID.value,null)">
              <option value="0">--Select--</option>
              <option *ngFor="let item of DivisionList" value="{{item.DivisionID}}">{{item.DivisionName}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlDivisionID.errors" class="text-danger">
              <p *ngIf="!form.ddlDivisionID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlDistrictID" class="form-label">District <i class="fa fa-info-circle me-2 text-primary" title="Please select your district according to the old 33 districts"></i><span style="color:red;">*</span></label>
            <select class="form-select" id="ddlDistrictID" name="ddlDistrictID" [(ngModel)]="request.DistrictID" formControlName="ddlDistrictID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of DistrictList" value="{{item.DistrictID}}">{{item.DistrictName}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlDistrictID.errors" class="text-danger">
              <p *ngIf="!form.ddlDistrictID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlEverAppliedNOC" class="form-label">Have you ever applied on NOC portal/क्या आपने कभी NOC पोर्टल पर आवेदन किया है? <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlEverAppliedNOC" name="ddlEverAppliedNOC" [(ngModel)]="request.EverAppliedNOC" formControlName="ddlEverAppliedNOC" #SelectedEverAppliedNOCID
                    (change)="ddlEverAppliedNOCStatus_TextChange(SelectedEverAppliedNOCID.value)">
              <option value="0">Have you ever applied on NOC portal/क्या आपने कभी NOC पोर्टल पर आवेदन किया है?</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlEverAppliedNOC.errors" class="text-danger">
              <p *ngIf="!form.ddlEverAppliedNOC.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="request.EverAppliedNOC=='Yes'">
            <label for="txtLastApplicationNo" class="form-label">Last Application Number <span style="color:red;">*</span></label>
            <input class="form-control" id="txtLastApplicationNo" placeholder="Enter Last Application Number" name="txtLastApplicationNo" [(ngModel)]="request.LastApplicationNo" formControlName="txtLastApplicationNo" maxlength="50">
            <div *ngIf="isSubmitted&&form.txtLastApplicationNo.errors" class="text-danger">
              <p *ngIf="form.txtLastApplicationNo.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="request.EverAppliedNOC=='Yes'">
            <label for="txtLastApplicationSubmittedDate" class="form-label">Submitted Application Date <span style="color:red;">*</span></label>
            <input type="date" class="form-control" id="txtLastApplicationSubmittedDate" [(ngModel)]="request.LastApplicationSubmittedDate" min="{{MinDate | date:'yyyy-MM-dd'}}" formControlName="txtLastApplicationSubmittedDate" onkeypress="return false;" />
            <div *ngIf="isSubmitted&&form.txtLastApplicationSubmittedDate.errors" class="text-danger">
              <p *ngIf="form.txtLastApplicationSubmittedDate.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlIsPNOC" class="form-label">क्या आप PNOC प्राप्त हैं? <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlIsPNOC" name="ddlIsPNOC" [(ngModel)]="request.IsPNOC" formControlName="ddlIsPNOC" #SelectedIsPNOC
                    (change)="ddlIsPNOCStatus_TextChange(SelectedIsPNOC.value)">
              <option value="0">क्या आप PNOC प्राप्त हैं?</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlIsPNOC.errors" class="text-danger">
              <p *ngIf="!form.ddlIsPNOC.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsPNOC=='Yes'">
            <label for="ddlCaseOperatedTNOCLevel" class="form-label">क्या आपका कोई प्रकरण TNOC स्तर में संचालित है? <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlCaseOperatedTNOCLevel" name="ddlCaseOperatedTNOCLevel" [(ngModel)]="request.CaseOperatedTNOCLevel" formControlName="ddlCaseOperatedTNOCLevel">
              <option value="0">---Select---</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlCaseOperatedTNOCLevel.errors" class="text-danger">
              <p *ngIf="!form.ddlCaseOperatedTNOCLevel.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsPNOC=='Yes'||request.IsPNOC=='No'">
            <label for="ddlLastSessionOfTNOCID" class="form-label">अनापत्ति प्राप्त संचालित विषयों की TNOC का अन्तिम सत्र क्या है? <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlLastSessionOfTNOCID" name="ddlLastSessionOfTNOCID" [(ngModel)]="request.LastSessionOfTNOCID" formControlName="ddlLastSessionOfTNOCID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of EstablishmentYearList" value="{{item.FinancialYearID}}">{{item.FinancialYearName}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlLastSessionOfTNOCID.errors" class="text-danger">
              <p *ngIf="!form.ddlLastSessionOfTNOCID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>

        </div>

        <div class="row" *ngIf="request.EverAppliedNOC=='No'">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="txtCollegeNameEn" maxlength="200" class="form-label">College Name<span style="color:red;">*</span></label>
            <input [attr.disabled]="IsEdit ? true : null" type="text" class="form-control" id="txtCollegeNameEn" name="txtCollegeNameEn" [(ngModel)]="request.CollegeName" formControlName="txtCollegeNameEn" (keypress)="alphaOnly($event)">
            <div *ngIf="isSubmitted&&form.txtCollegeNameEn.errors" class="text-danger">
              <p *ngIf="form.txtCollegeNameEn.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
            </div>
          </div>
          


          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="txtCollegeNameHi" maxlength="200" class="form-label">College Name in Hindi <span style="color:red;">*</span></label>
            <input [attr.disabled]="IsEdit ? true : null" type="text" class="form-control" id="txtCollegeNameHi" name="txtCollegeNameHi" [(ngModel)]="request.CollegeNameHi" formControlName="txtCollegeNameHi">
            <div *ngIf="isSubmitted&&form.txtCollegeNameHi.errors" class="text-danger">
              <p *ngIf="form.txtCollegeNameHi.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="txtEmail" class="form-label">College Email Address <span style="color:red;">*</span></label>
            <input type="email" class="form-control" id="txtEmail" name="txtEmail" maxlength="50" [(ngModel)]="request.CollegeEmail" formControlName="txtEmail">
            <div *ngIf="isSubmitted&&form.txtEmail.errors" class="text-danger">
              <p *ngIf="form.txtEmail.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              <!--<p *ngIf="form.txtEmail.errors.email"><i aria-hidden="true"></i> Invalid Email .!</p>-->
              <p *ngIf="form.txtEmail.errors.pattern">Invalid Email .!</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="txtMobileNumber" class="form-label">College Mobile Number <span style="color:red;">*</span></label>
            <input class="form-control" id="txtMobileNumber" name="txtMobileNumber" [(ngModel)]="request.CollegeMobileNo" formControlName="txtMobileNumber" maxlength="10" (keypress)="numberOnly($event)">
            <div *ngIf="isSubmitted&&form.txtMobileNumber.errors" class="text-danger">
              <p *ngIf="form.txtMobileNumber.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              <p *ngIf="form.txtMobileNumber.errors.pattern"><i aria-hidden="true"></i> College Mobile number is not valid .!</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlCollegeTypeID" class="form-label">Select College Type <span style="color:red;">*</span></label>
            <select [attr.disabled]="IsEdit ? true : null" class="form-select" id="ddlCollegeTypeID" name="ddlCollegeTypeID" [(ngModel)]="request.CollegeTypeID" formControlName="ddlCollegeTypeID"
                    #SelectedCollegeTypeID (change)="ddlCollegeType_TextChange(SelectedCollegeTypeID.value)">
              <option value="0">--Select--</option>
              <option *ngFor="let item of CollegeTypeList" value="{{item.ID}}">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlCollegeTypeID.errors" class="text-danger">
              <p *ngIf="!form.ddlCollegeTypeID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlUniversityID" class="form-label">
              <span> University Name</span>
              <span style="color:red;">*</span>
            </label>


            <select class="form-select" id="ddlUniversityID" name="ddlUniversityID" [(ngModel)]="request.UniversityID" formControlName="ddlUniversityID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of UniversityList" value="{{item.UniversityID}}">{{item.UniversityName}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlUniversityID.errors" class="text-danger">
              <p *ngIf="!form.ddlUniversityID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlPresentCollegeStatus" class="form-label">Present Status of College <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlPresentCollegeStatus" name="ddlPresentCollegeStatus"
                    [(ngModel)]="request.CollegePresentStatusID" formControlName="ddlPresentCollegeStatus" #SelectedPresentCollegeStatusID
                    (change)="ddlPresentCollegeStatus_TextChange(SelectedPresentCollegeStatusID.value)">
              <option value="0">--Select--</option>
              <option *ngFor="let item of PresentCollegeStatusList" value="{{item.ID}}">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlPresentCollegeStatus.errors" class="text-danger">
              <p *ngIf="!form.ddlPresentCollegeStatus.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlCollegeLevelID" class="form-label">College Level <span style="color:red;">*</span></label>
            <select [attr.disabled]="IsEdit ? true : null" class="form-select" id="ddlCollegeLevelID" name="ddlCollegeLevelID" [(ngModel)]="request.CollegeLevelID" formControlName="ddlCollegeLevelID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of CollegeLevelList_FilterData" value="{{item.ID}}">{{item.Name}}</option>
            </select>
            <p *ngIf="isSubmitted&&request.DepartmentID!=4&&request.CollegeLevelID<=0" class="text-danger"><i aria-hidden="true"></i>This field is required .!</p>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlEstablishmentYearID" class="form-label">Establishment Year<span style="color:red;">*</span></label>
            <select [attr.disabled]="IsEdit ? true : null" class="form-select" id="ddlEstablishmentYearID" name="ddlEstablishmentYearID" [(ngModel)]="request.EstablishmentYearID" formControlName="ddlEstablishmentYearID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of EstablishmentYearList" value="{{item.FinancialYearID}}">{{item.FinancialYearName}}</option>
            </select>
            <p *ngIf="isSubmitted&&request.DepartmentID!=4&&request.EstablishmentYearID<=0" class="text-danger"><i aria-hidden="true"></i>This field is required .!</p>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlPendingCaseNOC" class="form-label">If any case pending for NOC? <span style="color:red;">*</span></label>
            <select class="form-select" id="ddlPendingCaseNOC" name="ddlPendingCaseNOC" [(ngModel)]="request.PendingCaseNOC" formControlName="ddlPendingCaseNOC">
              <option value="0">if any case pending for noc</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <div *ngIf="isSubmitted&&form.ddlPendingCaseNOC.errors" class="text-danger">
              <p *ngIf="!form.ddlPendingCaseNOC.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.PendingCaseNOC=='Yes'">
            <label class="form-label">Upload pending case related document(Only pdf/image file.)(Max.Size 2MB):<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none;" class="form-control" id="PendingCaseDoc" name="PendingCaseDoc" (change)="onFilechange($event,'PendingCaseDoc')" formControlName="PendingCaseDoc">
              <label class="btn upload" for="PendingCaseDoc">
                <span class="filename">Choose file</span>
                {{request.PendingCaseDoc === '' ? 'No File Choosen' : request.PendingCaseDoc_DisName}}
              </label>
              <div class="btn-group" *ngIf="request.PendingCaseDoc !== ''">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.PendingCaseDocPath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('PendingCaseDoc',request.PendingCaseDoc)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <div *ngIf="PendingCaseDocValidationMessage!=''" class="text-danger">
              <p><i aria-hidden="true"></i>{{PendingCaseDocValidationMessage}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label class="form-label">First Noc(Only pdf/image file.)(Max.Size 2MB):<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none;" class="form-control" id="FirstNOCDoc" name="FirstNOCDoc" (change)="onFilechange($event,'FirstNOCDoc')" formControlName="FirstNOCDoc">
              <label class="btn upload" for="FirstNOCDoc">
                <span class="filename">Choose file</span>
                {{request.FirstNOCDoc === '' ? 'No File Choosen' : request.FirstNOCDoc_DisName}}
              </label>
              <div class="btn-group" *ngIf="showFirstNOCDoc">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.FirstNOCDocPath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('FirstNOCDoc',request.FirstNOCDoc)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <div *ngIf="FirstNOCDocValidationMessage!=''" class="text-danger">
              <p><i aria-hidden="true"></i>{{FirstNOCDocValidationMessage}}</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label class="form-label">Last Noc(Only pdf/image file.)(Max.Size 2MB):<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none;" class="form-control" id="LastNOCDoc" name="LastNOCDoc" (change)="onFilechange($event,'LastNOCDoc')" formControlName="LastNOCDoc">
              <label class="btn upload" for="LastNOCDoc">
                <span class="filename">Choose file</span>
                {{request.LastNOCDoc === '' ? 'No File Choosen' : request.LastNOCDoc_DisName}}
              </label>
              <div class="btn-group" *ngIf="showLastNOCDoc">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.LastNOCDocPath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('LastNOCDoc',request.LastNOCDoc)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <div *ngIf="LastNOCDocValidationMessage!=''" class="text-danger">
              <p><i aria-hidden="true"></i>{{LastNOCDocValidationMessage}}</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label class="form-label">Latest Affiliation of University/Proof of Latest Affiliation(Only pdf/image file.)(Max.Size 2MB):<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none;" class="form-control" id="LatestAffiliationDoc" name="LatestAffiliationDoc" (change)="onFilechange($event,'LatestAffiliationDoc')" formControlName="LatestAffiliationDoc">
              <label class="btn upload" for="LatestAffiliationDoc">
                <span class="filename">Choose file</span>
                {{request.LatestAffiliationDoc === '' ? 'No File Choosen' : request.LatestAffiliationDoc_DisName}}
              </label>
              <div class="btn-group" *ngIf="showLatestAffiliationDoc">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.LatestAffiliationDocPath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('LatestAffiliationDoc',request.LatestAffiliationDoc)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <div *ngIf="LatestAffiliationDocValidationMessage!=''" class="text-danger">
              <p><i aria-hidden="true"></i>{{LatestAffiliationDocValidationMessage}}</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label class="form-label">Result of last session(copy of TR of first year university result of each course running in college)(Only pdf/image file.)(Max.Size 2MB):<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none;" class="form-control" id="ResultLastSessionDoc" name="ResultLastSessionDoc" (change)="onFilechange($event,'ResultLastSessionDoc')" formControlName="ResultLastSessionDoc">
              <label class="btn upload" for="ResultLastSessionDoc">
                <span class="filename">Choose file</span>
                {{request.ResultLastSessionDoc === '' ? 'No File Choosen' : request.ResultLastSessionDoc_DisName}}
              </label>
              <div class="btn-group" *ngIf="showResultLastSessionDoc">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.ResultLastSessionDocPath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('ResultLastSessionDoc',request.ResultLastSessionDoc)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <div *ngIf="ResultLastSessionDocValidationMessage!=''" class="text-danger">
              <p><i aria-hidden="true"></i>{{ResultLastSessionDocValidationMessage}}</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label class="form-label">Proof of Examinations form filled by students for last session(Only pdf/image file.)(Max.Size 2MB):<span style="color:red;">*</span></label>
            <div class="d-flex">
              <input type="file" style="display:none;" class="form-control" id="LastSessionProofOfExaminationDoc" name="LastSessionProofOfExaminationDoc" (change)="onFilechange($event,'LastSessionProofOfExaminationDoc')" formControlName="LastSessionProofOfExaminationDoc">
              <label class="btn upload" for="LastSessionProofOfExaminationDoc">
                <span class="filename">Choose file</span>
                {{request.LastSessionProofOfExaminationDoc === '' ? 'No File Choosen' : request.LastSessionProofOfExaminationDoc_DisName}}
              </label>
              <div class="btn-group" *ngIf="showLastSessionProofOfExaminationDoc">
                <a class="btn btn-outline-primary" target="_blank" href="{{request.LastSessionProofOfExaminationDocPath}}"><i class="fa fa-eye"></i></a>
                <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('LastSessionProofOfExaminationDoc',request.LastSessionProofOfExaminationDoc)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
            <div *ngIf="LastSessionProofOfExaminationDocValidationMessage!=''" class="text-danger">
              <p><i aria-hidden="true"></i>{{LastSessionProofOfExaminationDocValidationMessage}}</p>
            </div>
          </div>
          

        </div>


      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
            <button *ngIf="DefaulterCollegeList.length < 0 || !ShowRegister" type="submit" class="btn btn-success" (click)="SaveData()" id="btnSave"><i class="fa fa-save"></i> Register</button>
            <button type="reset" class="btn btn-secondary" (click)="ClearForm()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="card mb-0" *ngIf="DefaulterCollegeList.length>0">
    <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
      <b>Defaulter College Requests</b>

    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped-columns mb-0" id="tabellist" #content>
        <thead>
          <tr>
            <th>SNo</th>
            <th>EverApplied NOC</th>
            <th>IsPNOC</th>
            <th>FirstNOC Doc</th>
            <th>LastNOC Doc</th>
            <th>LastApplication No</th>
            <th>College</th>
            <th>University</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of DefaulterCollegeList | tableSearchFilter:searchText;let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.EverAppliedNOC}}</td>
            <td>{{row.IsPNOC}}</td>
            <td><a target="_blank" title="View First NOC Document" class="btn btn-outline-primary btn-sm" href="{{row.FirstNOCDocPath}}"><i class="fa fa-eye"></i></a></td>
            <td><a target="_blank" title="View Last NOC Document" class="btn btn-outline-primary btn-sm" href="{{row.LastNOCDocPath}}"><i class="fa fa-eye"></i></a></td>
            <td>{{row.LastApplicationNo}}</td>
            <td>{{row.CollegeName}}</td>
            <td>{{row.UniversityName}}</td>
            <td>
              <button type="button" *ngIf="row.ApplicationStatus=='Approved'" class="btn btn-sm btn-success" title="Penalty Fee" (click)="OpenPenaltyModel(Penaltymodel,row.RequestID,row.ApplicationStatus)">{{row.ApplicationStatus}}</button>
              <button type="button" *ngIf="row.ApplicationStatus=='Rejected'" class="btn btn-sm btn-danger" title="Penalty Fee" (click)="OpenPenaltyModel(Penaltymodel,row.RequestID,row.ApplicationStatus)">{{row.ApplicationStatus}}</button>
              <button type="button" *ngIf="row.ApplicationStatus=='Pending'" class="btn btn-sm btn-secondary" title="Penalty Fee" (click)="OpenPenaltyModel(Penaltymodel,row.RequestID,row.ApplicationStatus)">{{row.ApplicationStatus}}</button>
            </td>
            <td>
              <div class="d-flex">
                <!--<button type="button" (click)="Edit_OnClick(row.RequestID)" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>-->
                <button type="button" class="btn btn-sm btn-primary" title="View Details" (click)="ViewDetails(mymodaldetails,row.RequestID)"><i class="fa fa-eye"></i></button>
                <!--<button type="button" class="btn btn-sm btn-info" title="Penalty Fee" (click)="OpenPenaltyModel(Penaltymodel,row.RequestID)"><i class="fa fa-eye"></i></button>-->
                <!--<button type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Delete_OnClick(row.RequestID)"><i class="fa fa-trash"></i></button>-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<ng-template #Penaltymodel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-applynocpayment-title" style="font-size: 17px; font-weight: 600 !important;">
       Defaulter College Penalty
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-loader></app-loader>
    <div class="row" *ngIf="ApplicationStatus=='Pending'">
      <div class="col-12">
        Your Application is Pending.
      </div>
    </div>
    <!--<div class="row" *ngIf="ApplicationStatus=='Reject'">
      <div class="col-12">
        Your Application is Rejected.
      </div>
    </div>-->
    <div class="table-responsive">
      <table class="table table-hover table-striped-columns" *ngIf="DefaulterCollegePenaltyList.length>0 && (ApplicationStatus=='Approve'||ApplicationStatus=='Reject')">
        <thead>
          <tr>
            <th style="width:5%">Sr. No.</th>
            <th>Reason for {{ApplicationStatus}}</th>
            <th *ngIf="ApplicationStatus=='Approve'">Penalty Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of DefaulterCollegePenaltyList; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.Penaltyfor}}</td>
            <td *ngIf="ApplicationStatus=='Approve'">{{row.PenaltyAmount}}</td>
          </tr>
          <tr *ngIf="DefaulterCollegePenaltyList.length==0">
            <td colspan="10" class="text-center text-danger">No Data Found!</td>
          </tr>
        </tbody>
      </table>
      <a *ngIf="ApplicationStatus=='Approve'"href="/addcollege" class="btn btn-sm btn-primary">Proceed <i class="fa fa-chevron-circle-right"></i></a>
    </div>
  </div>
</ng-template>

<ng-template #mymodaldetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-applynocpayment-title" style="font-size: 17px; font-weight: 600 !important;">
      Defaulter College Request Details
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-loader></app-loader>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <b>Personal Detail</b>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlDivisionID" class="form-label">Division </label>
            <input class="form-control" id="ddlDivisionID" name="ddlDivisionID" disabled [(ngModel)]="DefaulterCollegeDetailsData.DivisionName">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlDistrictID" class="form-label">District </label>
            <input class="form-control" id="ddlDistrictID" name="ddlDistrictID" disabled [(ngModel)]="DefaulterCollegeDetailsData.DistrictName">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlEverAppliedNOC" class="form-label">Have you ever applied on NOC portal/क्या आपने कभी NOC पोर्टल पर आवेदन किया है? </label>
            <input class="form-control" id="ddlEverAppliedNOC" name="ddlEverAppliedNOC" disabled [(ngModel)]="DefaulterCollegeDetailsData.EverAppliedNOC">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='Yes'">
            <label for="txtLastApplicationNo" class="form-label">Last Application Number </label>
            <input class="form-control" id="txtLastApplicationNo" name="txtLastApplicationNo" disabled [(ngModel)]="DefaulterCollegeDetailsData.LastApplicationNo">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='Yes'">
            <label for="txtLastApplicationSubmittedDate" class="form-label">Submitted Application Date </label>
            <input class="form-control" id="txtLastApplicationSubmittedDate" name="txtLastApplicationSubmittedDate" disabled [(ngModel)]="DefaulterCollegeDetailsData.LastApplicationSubmittedDate">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
            <label for="ddlIsPNOC" class="form-label">क्या आप PNOC प्राप्त हैं? </label>
            <input class="form-control" id="ddlIsPNOC" name="ddlIsPNOC" disabled [(ngModel)]="DefaulterCollegeDetailsData.IsPNOC">
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.IsPNOC=='Yes'">
            <label for="ddlCaseOperatedTNOCLevel" class="form-label">क्या आपका कोई प्रकरण TNOC स्तर में संचालित है? </label>
            <input class="form-control" id="ddlCaseOperatedTNOCLevel" name="ddlCaseOperatedTNOCLevel" disabled [(ngModel)]="DefaulterCollegeDetailsData.CaseOperatedTNOCLevel">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.IsPNOC=='Yes'||DefaulterCollegeDetailsData.IsPNOC=='No'">
            <label for="ddlLastSessionOfTNOCID" class="form-label">अनापत्ति प्राप्त संचालित विषयों की TNOC का अन्तिम सत्र क्या है? </label>
            <input class="form-control" id="ddlLastSessionOfTNOCID" name="ddlLastSessionOfTNOCID" disabled [(ngModel)]="DefaulterCollegeDetailsData.LastSessionOfTNOC">

          </div>

          <div class="row" *ngIf="DefaulterCollegeDetailsData.EverAppliedNOC=='No'">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="txtCollegeNameEn" maxlength="200" class="form-label">College Name</label>
              <input class="form-control" id="txtCollegeNameEn" name="txtCollegeNameEn" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeName">
            </div>



            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="txtCollegeNameHi" maxlength="200" class="form-label">College Name in Hindi </label>
              <input class="form-control" id="txtCollegeNameHi" name="txtCollegeNameHi" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeNameHi">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="txtEmail" class="form-label">College Email Address </label>
              <input class="form-control" id="txtEmail" name="txtEmail" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeEmail">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="txtMobileNumber" class="form-label">College Mobile Number </label>
              <input class="form-control" id="txtMobileNumber" name="txtMobileNumber" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeMobileNo">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="ddlCollegeTypeID" class="form-label">Select College Type </label>
              <input class="form-control" id="ddlCollegeTypeID" name="ddlCollegeTypeID" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeType">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="ddlUniversityID" class="form-label">
                University Name
              </label>
              <input class="form-control" id="ddlUniversityID" name="ddlUniversityID" disabled [(ngModel)]="DefaulterCollegeDetailsData.UniversityName">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="ddlPresentCollegeStatus" class="form-label">Present Status of College </label>
              <input class="form-control" id="ddlPresentCollegeStatus" name="ddlPresentCollegeStatus" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegePresentStatus">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="ddlCollegeLevelID" class="form-label">College Level </label>
              <input class="form-control" id="ddlCollegeLevelID" name="ddlCollegeLevelID" disabled [(ngModel)]="DefaulterCollegeDetailsData.CollegeLevel">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="ddlEstablishmentYearID" class="form-label">Establishment Year</label>
              <input class="form-control" id="ddlEstablishmentYearID" name="ddlEstablishmentYearID" disabled [(ngModel)]="DefaulterCollegeDetailsData.EstablishmentYear">
            </div>

          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label for="ddlPendingCaseNOC" class="form-label">If any case pending for NOC? </label>
              <input class="form-control" id="ddlPendingCaseNOCID" name="ddlPendingCaseNOCID" disabled [(ngModel)]="DefaulterCollegeDetailsData.PendingCaseNOC">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3" *ngIf="DefaulterCollegeDetailsData.PendingCaseNOC=='Yes'">
              <label class="form-label">Upload pending case related document(Only pdf/image file.)(Max.Size 2MB):</label>
              <div class="clearfix"></div>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.PendingCaseDoc.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              <a *ngIf="!DefaulterCollegeDetailsData.PendingCaseDoc.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{DefaulterCollegeDetailsData.PendingCaseDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">First Noc(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
              <div class="clearfix"></div>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.FirstNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              <a *ngIf="!DefaulterCollegeDetailsData.FirstNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{DefaulterCollegeDetailsData.FirstNOCDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">Last Noc(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
              <div class="clearfix"></div>
              <a *ngIf="!DefaulterCollegeDetailsData.LastNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LastNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">Latest Affiliation of University/Proof of Latest Affiliation(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
              <div class="clearfix"></div>
              <a *ngIf="!DefaulterCollegeDetailsData.LatestAffiliationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LatestAffiliationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LatestAffiliationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">Result of session 2022-23(copy of TR of first year university result of each course running in college)(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
              <div class="clearfix"></div>
              <a *ngIf="!DefaulterCollegeDetailsData.ResultLastSessionDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.ResultLastSessionDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.ResultLastSessionDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">Proof of Examinations form filled by students for session 2023-24(Only pdf/image file.)(Min.Size 500KB)(Max.Size 2MB):</label>
              <div class="clearfix"></div>
              <a *ngIf="!DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" data-caption="Image 10" title="click here to zoom">
                <img src="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" alt="College" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
              </a>
              <a class="bi bi-file-earmark-pdf-fill" *ngIf="DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{DefaulterCollegeDetailsData.LastSessionProofOfExaminationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
