 <form [formGroup]="CourseMasterForm" class="form-horizontal">
  <div class="container-fluid mainContents">

    <br />

    <br />

    <br />

    <br />

    <div class="row">

      <div class="col-sm3">

        <ng-autocomplete [data]="data" #auto   formControlName="txtSearch" id="txtSearch"
                         [searchKeyword]="keyword"
                         placeholder="Select country"
                         (selected)='selectEvent($event)'
                         (inputChanged)='onChangeSearch($event)'
                         (inputFocused)='onFocused($event)'
                         [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate">

        </ng-autocomplete>



        <ng-template #itemTemplate let-item>

          <a [innerHTML]="item.name"></a>

        </ng-template>



        <ng-template #notFoundTemplate let-notFound>

          <div [innerHTML]="notFound"></div>

        </ng-template>



        <br />

        <input type="text" class="form-control" id="fCollegeLogo" name="fCollegeLogo">



        <button type="button" class="btn btn-outline-danger" (click)="show()">Show</button>

      </div>



    </div>

  </div>
   </form>
