 <form [formGroup]="CourseMasterForm" class="form-horizontal">
  <div class="container-fluid mainContents">

    <br />

    <br />

    <br />

    <br />

    <div class="row">

      <div class="col-sm3">

        <ng-autocomplete [data]="data" #auto formControlName="txtSearch" id="txtSearch"
                         [searchKeyword]="keyword"
                         placeholder="Select country"
                         (selected)='selectEvent($event)'
                         (inputChanged)='onChangeSearch($event)'
                         (inputFocused)='onFocused($event)'
                         [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate">

        </ng-autocomplete>



        <ng-template #itemTemplate let-item>

          <a [innerHTML]="item.name"></a>

        </ng-template>



        <ng-template #notFoundTemplate let-notFound>

          <div [innerHTML]="notFound"></div>

        </ng-template>



        <br />
        <!--[attr.disabled]="isDisabledGrid ? true : null"-->
        <input type="text" class="form-control" formControlName="txttest" id="txttest" name="txttest"
               [attr.disabled]="isDisabledGrid ? true : null">

        <div *ngIf="isSubmitted&&form.txttest.errors" class="text-danger">
          <p *ngIf="!form.txttest.errors.DropdownValidators">This field is required .!</p>
        </div>

        <input type="text" class="form-control" formControlName="txttest2" id="txttest2" name="txttest2"
               [attr.disabled]="isDisabledGrid ? true : null">

        <div *ngIf="isSubmitted&&form.txttest2.errors" class="text-danger">
          <p *ngIf="!form.txttest2.errors.DropdownValidators">This field is required .!</p>
        </div>




        <button type="button" class="btn btn-outline-danger" (click)="show()">Show</button>
        <button type="button" class="btn btn-outline-danger" (click)="checkf()">checkf</button>

      </div>



    </div>

  </div>
   </form>
