<app-loader></app-loader>
<div class="card tabCard1 mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>Final NOC Application List</b>
  </div>
  <div class="card-body">
    <div class="clearfix"></div>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <b>Final NOC Application List</b>
        <a href="/dashboard" class="btn btn-sm btn-primary">Back to Dashboard</a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Department Name</th>
                    <th>College Name</th>
                    <th>Application No.</th>
                    <th>View</th>
                    <th>NOC Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ApplyNocDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.DepartmentName}}</td>
                    <td>{{item.CollegeName}}</td>
                    <td>{{item.ApplicationNo}}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="ApplicationPreview_OnClick(item.DepartmentID,item.CollegeID,item.ApplyNOCID,item.ApplicationNo,'No')" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                      <button type="button" class="btn btn-sm btn-info" title="Trails" (click)="GetApplicationTrail(mymodal,item.ApplyNOCID)"><i class="fa fa-bars"></i></button>
                      <a *ngIf="item.NOCFilePath !=''" class="btn btn-primary" title="View NOC PDF" target="_blank" href="{{item.NOCFilePath}}"><i class="fa fa-eye"></i></a>
                    </td>
                    <td>
                      <button *ngIf="item.NOCFilePath=='' && IsBtnShowHide" type="button" id="btnGenratePDF" class="btn btn-primary" (click)="GenratePDF(item.ApplyNOCID,item.CollegeID)" title="Genrate Darft PDF">Genrate PDF</button>
                      &nbsp;<button type="button" *ngIf="sSOLoginDataModel.RoleID==15 && IsBtnShowHide" id="btnFTCPDF" class="btn btn-primary" (click)="ForwardToJSDS(item.ApplyNOCID,item.CollegeID)" title="Forward To Joint Secretary/Deputy Secretary">Forward To JS/DS</button>

                      <span *ngIf="IsBtnShowHide && item.NOCFilePath !=''  && !item.IsOfflinePayment"><b>Update Offline Payment Details</b></span>
                      <button *ngIf="IsBtnShowHide && item.NOCFilePath !='' " type="button" class="btn btn-primary" style="margin-left:10px;" title="NOC Approve" (click)="NOCApproved_Rejected_Model(ReleceNOC,item.ApplyNOCID,item.CollegeID,item.ApplicationNo,'Approved',item.NOCFileName)"><i class="fa fa-check"></i></button>
                      <button *ngIf="IsBtnShowHide" type="button" class="btn btn-danger" title="NOC Reject" style="margin-left:10px;" (click)="NOCApproved_Rejected_Model(ReleceNOC,item.ApplyNOCID,item.CollegeID,item.ApplicationNo,'Reject',item.NOCFileName)"><i class="fa fa-times"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="10" *ngIf="ApplyNocDetails.length<=0" style="color:red"> No Data Found.!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Application Trail</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-header">
              <b>Application Trail</b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-hover table-striped-columns">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>User Name</th>
                        <th>Action</th>
                        <th>Action Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ApplicationTrailList let idx =index">
                        <td>{{idx+1}}</td>
                        <td>{{item.ActionUser}}</td>
                        <td>{{item.ActionName}}</td>
                        <td>{{item.ActionDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
    <div class="row">
      <ng-template #ReleceNOC let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">NOC Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-header">
              <b>Application No. ({{ApplicationNO}})</b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-hover table-striped-columns">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Course</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of lstNOCCourse;let idx=index;">
                        <td>{{idx+1}}</td>
                        <td>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" disabled="disabled" type="checkbox" name="cbCourse_TNOCExtension_{{idx+1}}" id="cbCourse_TNOCExtension_{{idx+1}}" value="{{item.CourseID}}" [(ngModel)]="item.IsChecked">
                            <label class="form-check-label" for="cbCourse_TNOCExtension_{{item.CourseID}}">{{item.CourseName}}</label>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                  <label>Remarks  <span style="color:red;">*</span></label>
                  <textarea id="FinalRemark" class="form-control" [(ngModel)]="FinalRemark"></textarea>
                  <div *ngIf="isRemarkValid" class="text-danger">
                    <p *ngIf="isRemarkValid"> This field is required .!</p>
                  </div>
                </div>


                <div class="row col-md-2">
                  <button type="button" id="btnNOCRejectRelese" class="btn btn-primary" (click)="OpenOTPModel()" title="Submit">{{btntext}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>


    <div class="modal" id="ModalOtpVerify" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Aadhaar OTP Verification</h5>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="CloseOTPModel()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                <p>You have received a OTP Verification Message on Registered Mobile No.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                <label class="mb-2" for="EnterOTP">Enter OTP</label>
                <input type="text" class="form-control" id="EnterOTP" [(ngModel)]="UserOTP" autocomplete="off" (keypress)="numberOnly($event)" maxlength="6" />
                <div *ngIf="isUserOTP" class="text-danger">
                  <p *ngIf="isUserOTP">This field is required .!</p>
                </div>
                <div *ngIf="isValidUserOTP" class="text-danger">
                  <p *ngIf="isValidUserOTP">Please Enter Correct OTP .!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3 d-flex justify-content-center align-items-center">
                <span *ngIf="ShowTimer">Please Wait.. {{DisplayTimer}}</span>
                <button [attr.disabled]="isTimerDisabled ? true : null" type="button" id="ResendOTP" (click)="ResendOTP()" class="btn btn-link">Resend OTP</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" aria-label="Close" (click)="CloseOTPModel()"><span aria-hidden="true">Cancel</span></button>
            <button type="button" (click)="VerifyOTP()" class="btn btn-sm btn-primary">Submit</button>
          </div>
        </div>
        <app-loader></app-loader>
      </div>
    </div>
  </div>
</div>
