<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Land Area Situated Master</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Land Area Situated</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <form [formGroup]="LandAreaSituatedMasterForm" class="form-horizontal">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b><i class="fa fa-plus"></i>&nbsp; Add Land Area Situated</b>
            <span class="text-danger">(*) Fields is compulsory</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                <label for="ddlStateID" class="form-label">Select State Name <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlStateID" name="ddlStateID" [(ngModel)]="request.StateID" formControlName="ddlStateID">
                  <option value="0" selected>--Select State--</option>
                  <option *ngFor="let item of StateList" value="{{item.StateID}}">{{item.StateName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlStateID.errors" class="text-danger">
                  <p *ngIf="!form.ddlStateID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label for="ddlDistrictID" class="form-label">Select District Name <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlDistrictID" name="ddlDistrictID" [(ngModel)]="request.DistrictID" formControlName="ddlDistrictID">
                  <option value="0" selected>--Select Department--</option>
                  <option *ngFor="let item of DistrictList" value="{{item.DistrictID}}">{{item.DistrictName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlDistrictID.errors" class="text-danger">
                  <p *ngIf="!form.ddlDistrictID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                <label for="ddlDepartmentID" class="form-label">Select Department Name <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlDepartmentID" name="ddlDepartmentID" [(ngModel)]="request.DepartmentID" formControlName="ddlDepartmentID">
                  <option value="0" selected>--Select Department--</option>
                  <option *ngFor="let item of DepartmentList" value="{{item.DepartmentID}}">{{item.DepartmentName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlDepartmentID.errors" class="text-danger">
                  <p *ngIf="!form.ddlDepartmentID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                <label for="txtLandAreaSituatedName" class="form-label">Land Area Situated Name<span style="color:red;">*</span></label>
                <input type="text" id="txtLandAreaSituatedName"  maxlength="100" class="form-control" [(ngModel)]="request.LandAreaName" placeholder="Enter Land Area..." formControlName="txtLandAreaSituatedName">
                <div *ngIf="isSubmitted&&form.txtLandAreaSituatedName.errors" class="text-danger">
                  <p *ngIf="form.txtLandAreaSituatedName.errors.required">This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label for="chkActiveStatus" class="form-label">Status</label>
                <div class="form-check form-switch d-flex align-items-center">
                  <input class="form-check-input" type="checkbox" id="Active" [(ngModel)]="request.ActiveStatus" formControlName="chkActiveStatus">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Submit</button>
            <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
          </div>
        </div>
      </form>
      <div class="card mb-0">
        <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
          <b><i class="bi bi-table"></i> Land Area Situated List </b>
          <div class="d-flex align-items-center">
            <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
              <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
              <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
            </div>
            <div class="d-flex align-items-center table-filter mr-15">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText"/>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns" id="tabellist" #content>
              <thead>
                <tr>
                  <th>Sr. No</th>
                  <th>State Name</th>
                  <th>District Name</th>
                  <th>Department Name</th>
                  <th>Land Area Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of LandAreaSituatedMasterData | tableSearchFilter:searchText;let idx=index;">
                  <td>{{idx+1}}</td>
                  <td>{{row.StateName}}</td>
                  <td>{{row.DistrictName}}</td>
                  <td>{{row.DepartmentName}}</td>
                  <td>{{row.LandAreaName}}</td>
                  <td>{{row.ActiveDeactive}}</td>
                  <td>
                    <div class="d-flex">
                      <button type="button" (click)="Edit_OnClick(row.LandAreaID)" [attr.disabled]="isDisabledGrid ? true : null" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                      <button *ngIf="isDeleteButton" type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Delete_OnClick(row.LandAreaID)" [attr.disabled]="isDisabledGrid ? true : null"><i class="fa fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


