<app-loader></app-loader>
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>BTER Affiliation Summary</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">BTER Application Summary</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents" id="ApplicationSummary">
  <div class="row">
    <div class="col-md-12 text-end">
      <!--<input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="TestPDF()" />-->
      <!--<input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="btnViewPDfPreview(myApplicationSummery)" />-->
      <input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="btnViewPDfPreview('com')" />
    </div>



    <!--<div class="col-md-12">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i> Application Deficiency </b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <span [innerHTML]="DCPendingPoint" style="color: red !important;"></span>
        </div>
      </div>
    </div>
  </div>-->
    <div class="col-md-12" *ngIf="IsManagmentType">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Legal Entity</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-btersociety-trust-details-preview></app-btersociety-trust-details-preview>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>College</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-btercollege-preview></app-btercollege-preview>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Course</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-btercourse-details-preview></app-btercourse-details-preview>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Other Details</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-dteaffiliation-other-details></app-preview-dteaffiliation-other-details>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Payment Detail</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-bterpayment-details></app-bterpayment-details>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<!--// model pdf-->
<!--<app-application-pdf></app-application-pdf>-->
