 <!--<app-loader></app-loader>-->
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Work Flow Format 3</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">Work Flow Format 3</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <div class="card mb-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="bi bi-table"></i>&nbsp; Work Flow Format 3</b>
          <div class="d-flex align-items-center table-filter">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search Here" />
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped-columns">
              <thead>
                <tr>
                  <th>Sr. No</th>
                  <th>Department Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of WorkFlowFormat3Data  | tableSearchFilter:searchText;let idx=index;">
                  <td>
                    {{idx+1}}
                  </td>
                  <td>
                    {{item.DepartmentName}}
                  </td>
                  <!--<td>
                    {{item.RoleLevelName}}
                  </td>
                  <td>
                    {{item.RoleName}}
                  </td>-->
                <td>
                  <!--<button type="button" title="Edit" class="btn btn-sm btn-info" routerLink="/workflowmaster/{{item.WorkFlowMasterID}}"><i class="fa fa-edit"></i></button>-->
                  <button type="button" title="Edit" class="btn btn-sm btn-info" (click)="OpenWorkFlowMasterDetailsModel(item.DepartmentID, 'Details')"><i class="fa fa-eye"></i></button>

               
                  
                </td>
                </tr>
                <tr *ngIf="WorkFlowFormat3Data.length==0">
                  <td colspan="8" style="text-align:center;color:red">
                    No Data Found!!!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal" id="WorkFlowMasterDetails" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">WorkFlow Master Details</h4>
                <button type="button" class="btn btn-danger" aria-label="Close" (click)="CloseWorkFlowMasterDetailsModel()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label>Department : </label>
                    {{request.DepartmentName}}
                  </div>-->
                  <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label>Role Level : </label>
                    {{request.RoleLevelName}}
                  </div>-->
                  <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label>Role : </label>
                    {{request.RoleName}}
                  </div>-->
                </div>
                <div class="row">
                  <div class="card mb-0">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <b>Role Map</b>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-striped-columns">
                          <thead>
                            <tr>
                              <th>Sr. No</th>
                              <th>Action Head</th>
                              <th>Role</th>
                              <th>Action</th>
                              <th>NextRoleName</th>
                              <th>Priority</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of WorkFlowFormat3Data_Details let idx =index">
                              <td>{{idx+1}}</td>
                              <td>
                                {{item.ActionHead}}
                              </td>
                              <td>
                                {{item.Role}}
                              </td>
                              <td>
                                {{item.ActionName}}
                              </td>
                              <td>
                                {{item.NextRoleName}}
                              </td>
                              <td>
                                {{item.Priority}}
                              </td>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="CloseWorkFlowMasterDetailsModel()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
