<form [formGroup]="BasicDetailsFormGroup" class="form-horizontal">
  <div class="card mb-0">
    <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
      <b><i class="bi bi-table"></i>&nbsp;Basic Details (As per current session)</b>
      <div class="d-flex align-items-center">
        <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
        </div>
        <div class="d-flex align-items-center table-filter mr-15">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label" for="txtAisheCode">
            Aishe Code:
          </label>
          <input class="form-control" id="txtAisheCode" maxlength="100"
                 formControlName="txtAisheCode" [(ngModel)]="request.AisheCode" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label" for="txtNameofinstitution">
            Name of institution:
          </label>
          <input class="form-control" id="txtNameofinstitution" maxlength="100"
                 formControlName="txtNameofinstitution" [(ngModel)]="request.Nameofinstitution" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label" for="txtYearofEstablishment">
            Year of Establishment:
          </label>
          <input class="form-control" id="txtYearofEstablishment" maxlength="100"
                 formControlName="txtYearofEstablishment" [(ngModel)]="request.YearofEstablishment" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label" for="txtStatusPriorToEstablishment">
            Status Prior To Establishment If Applicable:
          </label>
          <input class="form-control" id="txtStatusPriorToEstablishment" maxlength="100"
                 formControlName="txtStatusPriorToEstablishment" [(ngModel)]="request.StatusPriorToEstablishment" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="form-label" for="txtYearDeclaredUniversityInstitute">
            Year When Declared University/ Institute Of National importance:
          </label>
          <input class="form-control" id="txtYearDeclaredUniversityInstitute" maxlength="100"
                 formControlName="txtYearDeclaredUniversityInstitute" [(ngModel)]="request.YearDeclaredUniversityInstitute" />
        </div>

      </div>

      <div class="clearfix"></div>
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <label class="form-label m-0 me-2 text-nowrap">
              Institute Details
            </label>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="txtTypeOfInstitution">
                Type Of Institution
              </label>
              <input class="form-control" id="txtTypeOfInstitution" maxlength="100"
                     formControlName="txtTypeOfInstitution" [(ngModel)]="request.TypeOfInstitution" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="txtName">
                Ownership Status Of Institution
              </label>
              <input class="form-control" id="txtOwnershipStatusOfInstitution" maxlength="100"
                     formControlName="txtOwnershipStatusOfInstitution" [(ngModel)]="request.OwnershipStatusOfInstitution" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="ddlInstitutionfromonegender">
                Whether the Institution is exclusively meant for students from one gender:
              </label>
              <select id="ddlInstitutionfromonegender" class="form-select" formControlName="ddlInstitutionfromonegender" [(ngModel)]="request.Institutionfromonegender">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="ddlInstituteUnnatBharatScheme">
                Whether Institute adopted any village under Unnat Bharat Scheme?:
              </label>
              <select id="ddlInstituteUnnatBharatScheme" class="form-select" formControlName="ddlInstituteUnnatBharatScheme" [(ngModel)]="request.InstituteUnnatBharatScheme">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="ddlMinorityManagedInstitution">
                Is This a Minority Managed Institution:
              </label>
              <select id="ddlMinorityManagedInstitution" class="form-select" formControlName="ddlMinorityManagedInstitution" [(ngModel)]="request.MinorityManagedInstitution">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="ddlIsInstitutionNCC">
                Whether The Institution Has The National Cadet Corps(NCC) unit:
              </label>
              <select id="ddlIsInstitutionNCC" class="form-select" formControlName="ddlIsInstitutionNCC" [(ngModel)]="request.IsInstitutionNCC">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsInstitutionNCC=='Yes'">
              <label class="form-label" for="txtEnrolledStudentInNCC">
                Number Of Students Enrolled In NCC:
              </label>
              <input class="form-control" id="txtEnrolledStudentInNCC" (keypress)="numberOnly($event)" maxlength="6" (keyup)="TotalStudentsEnrolledInNCC()"
                     formControlName="txtEnrolledStudentInNCC" [(ngModel)]="request.EnrolledStudentInNCC" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsInstitutionNCC=='Yes'">
              <label class="form-label" for="txtEnrolledFemaleStudentInNCC">
                Female:
              </label>
              <input class="form-control" id="txtEnrolledFemaleStudentInNCC" (keypress)="numberOnly($event)" maxlength="6" (keyup)="TotalStudentsEnrolledInNCC()"
                     formControlName="txtEnrolledFemaleStudentInNCC" [(ngModel)]="request.EnrolledFemaleStudentInNCC" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsInstitutionNCC=='Yes'">
              <label class="form-label" for="txtEnrolledTotalStudentInNCC">
                Total:
              </label>
              <input  class="form-control" id="txtEnrolledTotalStudentInNCC" (keypress)="numberOnly($event)" maxlength="6"
                     formControlName="txtEnrolledTotalStudentInNCC" [(ngModel)]="request.EnrolledTotalStudentInNCC" />
            </div>




            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="ddlIsInstitutionNSS">
                Whether The Institution Has The National Social Service(NSS):
              </label>
              <select id="ddlIsInstitutionNSS" class="form-select" formControlName="ddlIsInstitutionNSS" [(ngModel)]="request.IsInstitutionNSS">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsInstitutionNSS=='Yes'">
              <label class="form-label" for="txtEnrolledStudentInNSS">
                Number Of Students Enrolled In NSS:
              </label>
              <input class="form-control" id="txtEnrolledStudentInNSS" (keypress)="numberOnly($event)" maxlength="6"
                     formControlName="txtEnrolledStudentInNSS" [(ngModel)]="request.EnrolledStudentInNSS" (keyup)="TotalStudentsEnrolledInNSS()" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsInstitutionNSS=='Yes'">
              <label class="form-label" for="txtEnrolledFemaleStudentInNSS">
                Female:
              </label>
              <input class="form-control" id="txtEnrolledFemaleStudentInNSS" (keypress)="numberOnly($event)" maxlength="6"
                     formControlName="txtEnrolledFemaleStudentInNSS" [(ngModel)]="request.EnrolledFemaleStudentInNSS" (keyup)="TotalStudentsEnrolledInNSS()" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" *ngIf="request.IsInstitutionNSS=='Yes'">
              <label class="form-label" for="txtEnrolledTotalStudentInNSS">
                Total:
              </label>
              <input  class="form-control" id="txtEnrolledTotalStudentInNSS" (keypress)="numberOnly($event)" maxlength="6" disabled
                     formControlName="txtEnrolledTotalStudentInNSS" [(ngModel)]="request.EnrolledTotalStudentInNSS" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="ddlIsspecializedUniversity">
                Is It A specialized University:
              </label>
              <select id="ddlIsspecializedUniversity" class="form-select" formControlName="ddlIsspecializedUniversity" [(ngModel)]="request.IsspecializedUniversity">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="txtAffiliatedInstitutions">
                Affiliated Institutions To The University(Not Applicable For Private And Demeed To be Universities):
              </label>
              <input class="form-control" id="txtAffiliatedInstitutions" maxlength="100"
                     formControlName="txtAffiliatedInstitutions" [(ngModel)]="request.AffiliatedInstitutions" />
            </div>
          </div>

        </div>
      </div>

      <div class="clearfix"></div>
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <label class="form-label m-0 me-2 text-nowrap">
              Specialisation Details
            </label>
          </div>
        </div>
        <div class="card-body" >
          <div class="row"  *ngIf="PreviewStatus!='Y'">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label" for="txtSpecialisation">
                Specialisation
              </label>
              <input class="form-control" id="txtSpecialisation" maxlength="100"
                     formControlName="txtSpecialisation" [(ngModel)]="request_SpecialisationDetails.Specialisation" />
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">
                No Of colleges with Permanent Affiliation
              </label>
              <input class="form-control" id="txtNoOfCollegesPermanentAffiliation" maxlength="6" (keypress)="numberOnly($event)"
                     formControlName="txtNoOfCollegesPermanentAffiliation" [(ngModel)]="request_SpecialisationDetails.NoOfCollegesPermanentAffiliation" />
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
              <label class="form-label">
                Number Of Colleges With Temporary Affiliation
              </label>
              <input class="form-control" id="txtNoOfCollegesTemporaryAffiliation" maxlength="6" (keypress)="numberOnly($event)"
                     formControlName="txtNoOfCollegesTemporaryAffiliation" [(ngModel)]="request_SpecialisationDetails.NoOfCollegesTemporaryAffiliation" />
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-12 mb-3 pt-4">
              <button class="btn btn-primary" id="btnAdd" type="button" (click)="btnAdd_Click()"><i class="fa fa-plus"></i>&nbsp;Add</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered tableHeaderTH mb-0">
                  <thead>
                    <tr>
                      <th width="60px">Sr. No.</th>
                      <th>
                        Specialisation
                      </th>
                      <th>
                        No Of colleges with Permanent Affiliation
                      </th>
                      <th>
                        Number Of Colleges With Temporary Affiliation
                      </th>
                      <th>
                        Total
                      </th>
                      <th width="100px" class="text-center"  *ngIf="PreviewStatus!='Y'">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of this.request.SpecialisationDetails ;let idx=index;">
                      <td>{{idx+1}}</td>
                      <td>{{row.Specialisation}}</td>
                      <td>{{row.NoOfCollegesPermanentAffiliation}}</td>
                      <td>{{row.NoOfCollegesTemporaryAffiliation}}</td>
                      <td>{{row.Total}}</td>
                      <td  *ngIf="PreviewStatus!='Y'">
                        <div class="d-flex justify-content-center">
                          <button type="button" id="btnEdit_{{idx}}" class="btn btn-sm btn-primary"
                                  (click)="btnEdit_Click(row,idx)"  title="Edit">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger" title="Delete"
                                  (click)="btnDelete_Click(idx)">
                            <i class="fa fa-trash" ></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="card mb-0">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <label class="form-label m-0 me-2 text-nowrap">
              Details Of College Under University
            </label>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered tableHeaderTH mb-0">
                  <thead>
                    <tr>
                      <th width="60px">Sr. No.</th>
                      <th>
                        College
                      </th>
                      <th>
                        Number
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of this.request.CollegeUnderUniversityDetails ;let idx=index;">
                      <td>{{idx+1}}</td>
                      <td>{{row.College}}</td>
                      <td>
                        <input *ngIf="PreviewStatus=='Y'" class="form-control disabled" disabled value="{{row.NoOfColleges}}" />
                        <input *ngIf="PreviewStatus!='Y'" class="form-control" [ngModelOptions]="{standalone: true}" id="txtNoOfColleges_{{idx}}" maxlength="6" (keypress)="numberOnly($event)" [(ngModel)]="row.NoOfColleges" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-end" *ngIf="PreviewStatus!='Y'">
      <button type="button" (click)="SaveData()" class="btn btn-success">Save Draft</button>
    </div>
   
  </div>
</form>


