<div class="card mb-0">
  <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
    <b><i class="bi bi-table"></i>Staff Details </b>
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center table-filter mr-15">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped-columns" id="tabellist" #content>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Personal Details</th>
            <th>Dates</th>
            <th>Post & Service</th>
            <th>PF/Research Guide</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of StaffDetailModel let idx =index">
            <td>{{idx+1}}</td>
            <td>
              <p class="m-0"><b> NAME : </b> {{item.PersonName}}</p>

              <p class="m-0"><b>MOBILE NUMBER : </b>{{item.MobileNo}}</p>
              <p class="m-0"><b>Email ID : </b> {{item.Email}}</p>
              <p class="m-0"><b>Qualification : </b> {{item.HighestQualificationName}}</p>
              <p class="m-0"><b>Type : </b>{{item.TeachingType}}</p>
              <p class="m-0"><b>Gender : </b>{{item.Gender}}</p>
              <p class="m-0" *ngIf="SelectedDepartmentID ==5"><b>Department : </b>{{item.MGOneDepartmentName}}</p>
              <p class="m-0" *ngIf="SelectedDepartmentID ==2 && IsAHDegreeCollege"><b>Department : </b>{{item.DepartmentName}}</p>
              <p class="m-0" *ngIf="SelectedDepartmentID ==2 && IsAHDegreeCollege"><b>NET Qualified : </b>{{item.NETQualified}}</p>
            </td>
            <td>
              <p class="m-0"><b>DATE OF BIRTH : </b>{{item.DateOfBirth}}</p>
              <p class="m-0"><b>DATE OF APPOINTMENT : </b>{{item.DateOfAppointment}}</p>
              <p class="m-0"><b>DATE OF JOINING : </b>{{item.DateOfJoining}}</p>
              <p class="m-0"><b>Year of Experience : </b>{{item.NumberofExperience}}</p>
              <p class="m-0"><b>Experience Certificate : </b>&nbsp; <a [hidden]="item.ExperienceCertificate==''" href="{{item.ExperienceCertificatePath}}" target="_blank" alt="Red dot"><i class="fa fa-eye"></i></a></p>

            </td>
            <td>
              <p class="m-0"><b>Designation : </b>{{item.RoleName}}</p>
              <!--<p class="m-0" *ngIf="item.TeachingType=='NonTeaching'"><b>Designation : </b>{{item.RoleMapping}}</p>-->
              <p class="m-0"><b>Course : </b>NA</p>
              p>
              <p class="m-0" *ngIf="item.TeachingType=='Teaching'"><b>Subject : </b>{{item.SubjectName}}</p>
              <p class="m-0"><b>Staff Status : </b> {{item.StaffStatus}}</p>
              <p class="m-0"><b>SALARY : </b>{{item.Salary}}</p>

            </td>
            <td>

              <p class="m-0"><b>Aadhaar No. :</b> {{item.MaskedAadhaarNo}}&nbsp; <a *ngIf="item.AadhaarCard" href="{{item.AadhaarCardPath}}" target="_blank" alt="Red dot"><i class="fa fa-eye"></i></a></p>
              <p class="m-0 text-uppercase"><b>PAN Card : </b> {{item.PANNo}}  <a [hidden]="item.PANCard==''" href="{{item.PANCardPath}}" target="_blank" alt="Red dot"><i class="fa fa-eye"></i></a></p>
              <p class="m-0"><b>Research Guide : </b>{{item.ResearchGuide}}</p>
              <p class="m-0"><b>PF Deduction : </b>{{item.PFDeduction}}</p>
              <p class="m-0"><b>PF Number : </b>{{item.UANNumber}}</p>
              <p class="m-0"><b>ESI Number : </b>{{item.ESINumber}}</p>
              <p class="m-0" *ngIf="item.TeachingType=='Teaching'"><b>Specialization : </b>{{item.SpecializationSubject}}</p>

            </td>
            <td>
              <button type="button" class="btn btn-sm btn-primary" title="Edit" [attr.disabled]="isDisabled ? true : null" (click)="EditItem(item.StaffDetailID)" [hidden]="QueryStringStatus=='R'&&item.Action=='Yes'"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewStaffDetail(mymodal,item.StaffDetailID)"><i class="fa fa-eye"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Educational Qualification Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <!--<div class="card-header">
          <b>Educational Qualification Details</b>
        </div>-->
          <div class="card-body">
            <div class="row">
              <div class="table-responsive" *ngIf="EducationalQualificationDetailsById.length>0">
                <table class="table table-hover table-striped-columns">
                  <thead>
                    <tr>
                      <th>Professional Qualification</th>
                      <th> Stream/Subject </th>
                      <th>University/Board/ Institution</th>
                      <th>Passing Year</th>
                      <th>Percentage/Grade</th>
                      <th>Upload Document</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of EducationalQualificationDetailsById let idx =index">
                      <td>
                        {{item.ProfessionalQualification}}
                      </td>
                      <td>
                        {{item.StreamSubject}}
                      </td>
                      <td>
                        {{item.UniversityBoardInstitutionName}}
                      </td>
                      <td>
                        {{item.PassingYear}}
                      </td>
                      <td>
                        {{item.Marks}}
                      </td>
                      <td>
                        <a *ngIf="!item.UploadDocument.includes('.pdf')" data-fancybox="gallery" href="{{item.UploadDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                          <img src="{{item.UploadDocumentPath}}" alt="Upload Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                        </a>
                        <a class="bi bi-file-earmark-pdf-fill" *ngIf="item.UploadDocument.includes('.pdf')" data-fancybox="gallery" href="{{item.UploadDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
