<div class="card tabCard1 mb-0">
  <div class="card-header">
    <b><i class="bi bi-table"></i>&nbsp; Old NOC Details</b>
  </div>
  <div class="card-body">
    <div class="clearfix"></div>
    <div class="card">
      <div class="card-header">
        <b>Old NOC Details</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Course</th>
                    <th>NOC Type</th>
                    <th>Session Year</th>
                    <th>NOC No.</th>
                    <th>NOC Received On</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of OldNocDetails let idx =index">
                    <td>{{idx+1}}</td>
                    <td>{{item.CourseName}}</td>
                    <td>{{item.NOCTypeName}}</td>
                    <td>{{item.FinancialYearName}}</td>
                    <td>{{item.NOCNumber}}</td>
                    <td>{{item.NOCReceivedDate}}</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewOldNOCDetail(mymodal,item.OldNocID)"><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>
                  <tr *ngIf="OldNocDetails.length<=0">
                    <td colspan="7" style="color:red">No Data Found.!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Old NOC Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>College Name :</b></label>
            <input class="form-control disabled" disabled value="{{request.CollegeName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Course :</b></label>
            <input class="form-control disabled" disabled value="{{request.CourseName}}" />
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Subject :</b></label>
            <div class="clearfix"></div>
            <div class="form-control disabled">
              <span *ngFor="let item of request.SubjectData let idx=index">
                {{idx==0?'':', '}}{{item.SubjectName}}
              </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>NOC Type :</b></label>
            <input class="form-control disabled" disabled value="{{request.NOCTypeName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b> Session Year :</b></label>
            <input class="form-control disabled" disabled value="{{request.FinancialYearName}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Issued for Year :</b></label>
            <input class="form-control disabled" disabled value="{{request.IssuedYear}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>NOC Number :</b></label>
            <input class="form-control disabled" disabled value="{{request.NOCNumber}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b> NOC Received On :</b></label>
            <input class="form-control disabled" disabled value="{{request.NOCReceivedDate}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="request.NOCTypeName=='TNOC'">
            <label><b>NOC Expire Date :</b></label>
            <input class="form-control disabled" disabled value="{{request.NOCExpireDate}}" />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
            <label><b>Remark :</b></label>
            <input class="form-control disabled" disabled value="{{request.Remark}}" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <label><b>Upload NOC :</b></label>
            <a *ngIf="!request.UploadNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{request.UploadNOCDocPath}}" data-caption="Image 10" title="click here to zoom">
              <img src="{{request.UploadNOCDocPath}}" alt="NOC Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
            </a>
            <a class="bi bi-file-earmark-pdf-fill" *ngIf="request.UploadNOCDocPath.includes('.pdf')" data-fancybox="gallery" href="{{request.UploadNOCDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
            </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
