<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>News Update Master</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">News Update Master</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid mainContents">
  <div class="row">
    <div class="clearfix"></div>

    <form [formGroup]="NewsUpdateMasterForm" class="form-horizontal">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="fa fa-plus"></i>&nbsp; Add News Update</b>
          <span class="text-danger">(*) Fields is compulsory</span>
        </div>
        <div class="card-body">
          <div class="row">


            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="ddlDepartmentID" class="form-label"> Select Department <span style="color:red;">*</span></label>
              <select class="form-control" id="ddlDepartmentID" name="ddlDepartmentID" [(ngModel)]="request.DepartmentID" formControlName="ddlDepartmentID" [attr.disabled]="is_disableDepartment ? '' : null">
                <option value="0" selected>--Select--</option>
                <!--<option [value]="item.DepartmentID" *ngFor="let item of DepartmentList">
                  {{item.DepartmentName}}
                </option>-->
                <option *ngFor="let item of DepartmentList" value="{{item.DepartmentID}}">{{item.DepartmentName}}</option>
              </select>
              <div *ngIf="isSubmitted&&form.ddlDepartmentID.errors" class="text-danger">
                <p *ngIf="!form.ddlDepartmentID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>



            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="txtTitle" class="form-label"> Title<span style="color:red;">*</span></label>
              <input type="text" id="txtTitle" maxlength="100" class="form-control" [(ngModel)]="request.TitleEnglish" formControlName="txtTitle" (keypress)="alphaOnly($event)" />
              <div *ngIf="isSubmitted&&form.txtTitle.errors" class="text-danger">
                <p *ngIf="form.txtTitle.errors.required">This field is required .!</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="txtContent" class="form-label"> Content<span style="color:red;">*</span></label>
              <input type="text" id="txtContent" maxlength="100" class="form-control" [(ngModel)]="request.Content" formControlName="txtContent" (keypress)="alphaOnly($event)" />
              <div *ngIf="isSubmitted&&form.txtContent.errors" class="text-danger">
                <p *ngIf="form.txtContent.errors.required">This field is required .!</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="txtOrderBy" class="form-label"> Order By<span style="color:red;">*</span></label>
              <input type="text" id="txtOrderBy" maxlength="100" class="form-control" [(ngModel)]="request.OrderBy" formControlName="txtOrderBy" (keypress)="alphaOnly($event)" />
              <div *ngIf="isSubmitted&&form.txtOrderBy.errors" class="text-danger">
                <p *ngIf="form.txtOrderBy.errors.required">This field is required .!</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="dtStartDate" class="form-label"> Start Date<span style="color:red;">*</span></label>
              <input type="date" id="dtStartDate" class="form-control" [(ngModel)]="request.StartDate" formControlName="dtStartDate" onkeypress="return false;" />
              <div *ngIf="isSubmitted&&form.dtStartDate.errors" class="text-danger">
                <p *ngIf="form.dtStartDate.errors.required">This field is required .!</p>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>End Date <span style="color:red;">*</span></label>
              <input type="date" id="dtEndDate" name="dtEndDate" class="form-control" [(ngModel)]="request.EndDate" formControlName="dtEndDate" onkeypress="return false;" />
              <div *ngIf="isSubmitted && form.dtEndDate.errors" class="text-danger">
                <p *ngIf="form.dtEndDate.errors.required">This field is required.</p>
                <p *ngIf="form.dtEndDate.errors.endDateInvalid">End Date must be greater than Start Date.</p>
              </div>
            </div>



            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="ckIsNew" class="form-label">Is New</label>
              <div class="form-check form-switch yes d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="ckIsNew" [(ngModel)]="request.IsNew" formControlName="ckIsNew">
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label for="chkActiveStatus" class="form-label">Status</label>
              <div class="form-check form-switch d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="Active" [(ngModel)]="request.ActiveStatus" formControlName="chkActiveStatus">
              </div>
            </div>


          </div>
        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Submit</button>
          <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
        </div>
      </div>
    </form>


    <div class="card mb-0">
      <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
        <b><i class="bi bi-table"></i> News Update List </b>
        <div class="d-flex align-items-center">
          <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
            <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
            <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
          </div>
          <div class="d-flex align-items-center table-filter mr-15">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped-columns" id="tabellist" #content>
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Department Name</th>
                <th>Title</th>
                <th>Content</th>
                <th>Order By</th>
                <th>Is New</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of NewsUpdateMasterData | tableSearchFilter:searchText;let idx=index;">
                <td>{{idx+1}}</td>
                <td>{{row.DepartmentName_English}}</td>
                <td>{{row.TitleEnglish}}</td>
                <td>{{row.Content}}</td>
                <td>{{row.OrderBy}}</td>
                <td>{{row.NewOld}}</td>
                <td>
                  {{row.StartDate}}
                </td>
                <td>
                  {{row.EndDate}}
                </td>
                <td>{{row.ActiveDeactive}}</td>
                <td>
                  <div class="d-flex">
                    <button type="button" (click)="Edit_OnClick(row.ID)" [attr.disabled]="isDisabledGrid ? true : null" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Delete_OnClick(row.ID)" [attr.disabled]="isDisabledGrid ? true : null"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>



