<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Veterinary Hospital.</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!--<li class="breadcrumb-item"><a href="#">Details</a></li>-->
          <li class="breadcrumb-item active" aria-current="page">Veterinary Hospital</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b><i class="fa fa-filter"></i>&nbsp;Veterinary Hospital</b>
        </div>
        <form [formGroup]="veterinaryHospitalForm" class="form-horizontal">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Hospital Name <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtHospitalName" name="txtHospitalName" [(ngModel)]="request.HospitalName" formControlName="txtHospitalName" (keypress)="alphaOnly($event)" />
                <div *ngIf="isSubmitted&&form.txtHospitalName.errors" class="text-danger">
                  <p *ngIf="form.txtHospitalName.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Distance From Institute(in KM) <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtDistanceFromInstitute" name="txtDistanceFromInstitute" [(ngModel)]="request.DistanceFromInstitute" formControlName="txtDistanceFromInstitute" maxlength="2" (keypress)="numberOnly($event)" />

                <div *ngIf="isSubmitted&&form.txtDistanceFromInstitute.errors" class="text-danger">
                  <p *ngIf="form.txtDistanceFromInstitute.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>

                <div *ngIf="isSubmitted&&request.DistanceFromInstitute>20" class="text-danger">
                  <p *ngIf="request.DistanceFromInstitute>20" class="text-danger"><i aria-hidden="true"></i> The distance from the institute should be maximum 20 KMs .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Authorized Person <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtAuthorizedPerson" name="txtAuthorizedPerson" [(ngModel)]="request.AuthorizedPerson" formControlName="txtAuthorizedPerson" (keypress)="alphaOnly($event)" />
                <div *ngIf="isSubmitted&&form.txtAuthorizedPerson.errors" class="text-danger">
                  <p *ngIf="form.txtAuthorizedPerson.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Mobile No <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtMobileNo" name="txtMobileNo" [(ngModel)]="request.MobileNo" formControlName="txtMobileNo" maxlength="10" (keypress)="numberOnly($event)">
                <div *ngIf="isSubmitted&&form.txtMobileNo.errors" class="text-danger">
                  <p *ngIf="form.txtMobileNo.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  <p *ngIf="form.txtMobileNo.errors.pattern || form.txtMobileNo.errors.maxlength || form.txtMobileNo.errors.minlength">Invalid Mobile number</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Address Line 1 <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtAddressLine1" name="txtAddressLine1" [(ngModel)]="request.AddressLine1" formControlName="txtAddressLine1">
                <div *ngIf="isSubmitted&&form.txtAddressLine1.errors" class="text-danger">
                  <p *ngIf="form.txtAddressLine1.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Address Line 2</label>
                <input type="text" class="form-control" id="txtAddressLine2" name="txtAddressLine2" [(ngModel)]="request.AddressLine2" formControlName="txtAddressLine2">
                <div *ngIf="isSubmitted&&form.txtAddressLine2.errors" class="text-danger">
                  <p *ngIf="form.txtAddressLine2.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label" style="margin-right:15px"></label>
                <div class="clearfix"></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="rbRural" name="rbRuralUrban" [(ngModel)]="request.RuralUrban" value="Rural" formControlName="rbRuralUrban" (change)="IsRuralOrUrban(true)">
                  <label class="form-check-label" for="rbRural">Rural</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="rbUrban" name="rbRuralUrban" [(ngModel)]="request.RuralUrban" value="Urban" formControlName="rbRuralUrban" (change)="IsRuralOrUrban(false)">
                  <label class="form-check-label" for="rbUrban">Urban</label>
                </div>
                <div *ngIf="isSubmitted&&form.rbRuralUrban.errors" class="text-danger">
                  <p *ngIf="form.rbRuralUrban.errors.required"> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Division <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlDivisionID" name="ddlDivisionID" [(ngModel)]="request.DivisionID" formControlName="ddlDivisionID" #SeletedValueDivision (change)="FillDivisionRelatedDDL($event,SeletedValueDivision.value)">
                  <option value="0">--Select Division--</option>
                  <option *ngFor="let item of DivisionList" value="{{item.DivisionID}}">{{item.DivisionName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlDivisionID.errors" class="text-danger">
                  <p *ngIf="!form.ddlDivisionID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">District <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlDistrictID" name="ddlDistrictID" [(ngModel)]="request.DistrictID" formControlName="ddlDistrictID" #SeletedValueDistrict (change)="FillDistrictRelatedDDL($event,SeletedValueDistrict.value)">
                  <option value="0">--Select District--</option>
                  <option *ngFor="let item of DistrictList" value="{{item.DistrictID}}">{{item.DistrictName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlDistrictID.errors" class="text-danger">
                  <p *ngIf="!form.ddlDistrictID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" [hidden]="!IsRural">
                <label class="form-label">Tehsil <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlTehsilID" name="ddlTehsilID" [(ngModel)]="request.TehsilID" formControlName="ddlTehsilID">
                  <option value="0">--Select Tehsil--</option>
                  <option *ngFor="let item of TehsilList" value="{{item.TehsilID}}">{{item.TehsilName}}</option>
                </select>
                <div *ngIf="isSubmitted&&IsTehsilrequired" class="text-danger">
                  <p *ngIf="isSubmitted&&IsTehsilrequired"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" [hidden]="!IsRural">
                <label class="form-label">Panchayat Samiti <span style="color:red;">*</span></label>
                <select class="form-select" id="ddlPanchayatSamitiID" name="ddlPanchayatSamitiID" [(ngModel)]="request.PanchayatSamitiID" formControlName="ddlPanchayatSamitiID">
                  <option value="0">--Select Panchayat Samiti--</option>
                  <option *ngFor="let item of PanchyatSamitiList" value="{{item.PanchyatSamitiID}}">{{item.PanchyatSamitiName}}</option>
                </select>
                <div *ngIf="isSubmitted&&IsPanchayatSamitirequried" class="text-danger">
                  <p *ngIf="isSubmitted&&IsPanchayatSamitirequried"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">City/Town/Village <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtCityTownVillage" name="txtCityTownVillage" [(ngModel)]="request.CityTownVillage" formControlName="txtCityTownVillage">
                <div *ngIf="isSubmitted&&form.txtCityTownVillage.errors" class="text-danger">
                  <p *ngIf="form.txtCityTownVillage.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Pincode <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtPincode" name="txtPincode" [(ngModel)]="request.Pincode" formControlName="txtPincode" maxlength="6" (keypress)="numberOnly($event)">
                <div *ngIf="isSubmitted&&form.txtPincode.errors" class="text-danger">
                  <p *ngIf="form.txtPincode.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Email Address <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="txtEmailAddress" name="txtEmailAddress" [(ngModel)]="request.EmailAddress" formControlName="txtEmailAddress">
                <div *ngIf="isSubmitted&&form.txtEmailAddress.errors" class="text-danger">
                  <p *ngIf="form.txtEmailAddress.errors.required"> This field is required .!</p>
                  <p *ngIf="form.txtEmailAddress.errors.pattern">Invalid Email</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label" style="margin-right:15px">If Person From Admin/Finance Field are On Board <span style="color:red">*</span></label>
                <div class="clearfix"></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="rbYes" name="rbYesNo" [(ngModel)]="request.PersonField" value="Yes" formControlName="rbYesNo">
                  <label class="form-check-label" for="rbRural">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="rbNo" name="rbYesNo" [(ngModel)]="request.PersonField" value="No" formControlName="rbYesNo">
                  <label class="form-check-label" for="rbUrban">No</label>
                </div>
                <div *ngIf="isSubmitted&&form.rbYesNo.errors" class="text-danger">
                  <p *ngIf="form.rbYesNo.errors.required"> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label">Relation With Institute <span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtRelation" name="txtRelation" [(ngModel)]="request.Relation" formControlName="txtRelation" (keypress)="alphaOnly($event)" />
                <div *ngIf="isSubmitted&&form.txtRelation.errors" class="text-danger">
                  <p *ngIf="form.txtRelation.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b><i class="fa fa-filter"></i>&nbsp;Objectives of Society With Reference To Vertinary/Animal Husbandry & Education </b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label class="form-label">Remark <span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="txtRemark" name="txtRemark" [(ngModel)]="request.Remark" formControlName="txtRemark" />
                    <div *ngIf="isSubmitted&&form.txtRemark.errors" class="text-danger">
                      <p *ngIf="form.txtRemark.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label for="txtFileUpload" class="form-label">Upload File(Only pdf)(Min size 100(KB))(Max size 2(MB))<span style="color:red;">*</span></label>
                    <div class="d-flex">
                      <input type="file" class="form-control" id="txtFileUpload" style="display:none" formControlName="txtFileUpload" (change)="ValidateUploadImage($event,'FileUpload')" #txtFileUpload />
                      <label class="btn upload" for="txtFileUpload">
                        <span class="filename">Choose file</span>
                        {{request.FileUpload === '' ? 'No File Choosen' : request.Dis_FileUpload}}
                      </label>
                      <div class="btn-group" *ngIf="request.FileUpload!=''">
                        <a class="btn btn-outline-primary" target="_blank" href="{{request.FileUploadPath}}"><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-outline-danger" (click)="DeleteImage('FileUpload')"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </div>
                    <p *ngIf="isSubmitted&&request.FileUpload ==''" class="text-danger"><i aria-hidden="true"></i> {{ImageValidate}}</p>
                    <div *ngIf="isValidFileUpload" class="text-danger">
                      <p *ngIf="isValidFileUpload"> {{ImageValidationMessage}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <form [formGroup]="animalForm" class="form-horizontal">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <b><i class="fa fa-filter"></i>&nbsp;Animal Details </b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                  <label class="form-label">Select Animal <span style="color:red;">*</span></label>
                  <select class="form-select" id="ddlAnimalMasterID" name="ddlAnimalMasterID" [(ngModel)]="requestAnimal.AnimalMasterID" formControlName="ddlAnimalMasterID" #SeletedValueAnimalMasterID (change)="GetMaleFemaleAnimalCount(SeletedValueAnimalMasterID.value)">
                    <option value="0">--Select Animal--</option>
                    <option *ngFor="let item of AnimalMasterList" value="{{item.AnimalMasterID}}">{{item.AnimalName}}</option>
                  </select>
                  <div *ngIf="isAnimalAdded&&animalform.ddlAnimalMasterID.errors" class="text-danger">
                    <p *ngIf="!animalform.ddlAnimalMasterID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="isMaleFemaleAnimal">
                  <label class="form-label">Enter Male Animal Count <span style="color:red;">*</span></label>
                  <input type="text" class="form-control" id="txtMaleAnimalCount" name="txtMaleAnimalCount" [(ngModel)]="requestAnimal.MaleAnimalCount" formControlName="txtMaleAnimalCount" maxlength="4" (input)="GetTotalAnimalCount()" (keypress)="numberOnly($event)" />
                  <p *ngIf="isAnimalAdded&&requestAnimal.MaleAnimalCount ==0" class="text-danger"><i aria-hidden="true"></i>This field is required .!</p>
                  <!--<div *ngIf="isAnimalAdded&&animalform.txtMaleAnimalCount.errors" class="text-danger">
                    <p *ngIf="animalform.txtMaleAnimalCount.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>-->
                  <div *ngIf="isValidMaleAnimalCount" class="text-danger">
                    <p *ngIf="isValidMaleAnimalCount"> {{MaleAnimalCountValidate}}</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="isMaleFemaleAnimal">
                  <label class="form-label">Enter Female Animal Count <span style="color:red;">*</span></label>
                  <input type="text" class="form-control" id="txtFemaleAnimalCount" name="txtFemaleAnimalCount" [(ngModel)]="requestAnimal.FemaleAnimalCount" formControlName="txtFemaleAnimalCount" maxlength="4" (input)="GetTotalAnimalCount()" (keypress)="numberOnly($event)" />
                  <p *ngIf="isAnimalAdded&&requestAnimal.FemaleAnimalCount ==0" class="text-danger"><i aria-hidden="true"></i>This field is required .!</p>
                  <!--<div *ngIf="isAnimalAdded&&animalform.txtFemaleAnimalCount.errors" class="text-danger">
                    <p *ngIf="animalform.txtFemaleAnimalCount.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>-->
                  <div *ngIf="isValidFemaleAnimalCount" class="text-danger">
                    <p *ngIf="isValidFemaleAnimalCount"> {{FemaleAnimalCountValidate}}</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                  <label class="form-label">{{AnimalCountText}}<span style="color:red;">*</span></label>
                  <input type="text" class="form-control" id="txtAnimalCount" name="txtAnimalCount" [(ngModel)]="requestAnimal.AnimalCount" formControlName="txtAnimalCount" maxlength="4" (keypress)="numberOnly($event)" />
                  <!--<p *ngIf="isAnimalAdded&&requestAnimal.AnimalCount ==null" class="text-danger"><i aria-hidden="true"></i>This field is required .!</p>-->
                  <div *ngIf="isAnimalAdded&&animalform.txtAnimalCount.errors" class="text-danger">
                    <p *ngIf="animalform.txtAnimalCount.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>
                  <div *ngIf="isValidAnimalCount" class="text-danger">
                    <p *ngIf="isValidAnimalCount"> {{AnimalCountValidate}}</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <button class="btn btn-primary" style="margin-top:27px" (click)="AddAnimalDetails()"><i class="fa fa-plus"></i> Add</button>
                </div>
                <div class="card mb-0" *ngIf="request.AnimalDetails.length>0">
                  <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
                    <b><i class="bi bi-table"></i> Animal Details </b>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-striped-columns" id="tabellist" #content>
                        <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Animal Name</th>
                            <th>Male Animal Count</th>
                            <th>Female Animal Count</th>
                            <th>Total Animal Count</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of request.AnimalDetails | tableSearchFilter:searchText;let indexOfelement=index;">
                            <td>{{indexOfelement+1}}</td>
                            <td>{{item.AnimalName}}</td>
                            <td>{{item.MaleAnimalCount}}</td>
                            <td>{{item.FemaleAnimalCount}}</td>
                            <td>{{item.AnimalCount}}</td>
                            <td>
                              <button class="btn btn-danger" type="button" (click)="DeleteAnimal(indexOfelement)"><i class="fa fa-trash-o"></i></button>
                            </td>
                          </tr>
                          <tr *ngIf="request.AnimalDetails.length<=0">
                            <td colspan="12" style="color:red">No Data Found.!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end saveCancelBtn">
            <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Save</button>
            <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
          </div>

        </form>
        <div class="card mb-0" *ngIf="lstVeterinaryHospital.length>0">
          <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
            <b><i class="bi bi-table"></i> Veterinary Hospital Data List </b>
            <div class="d-flex align-items-center">
              <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
                <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
                <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
              </div>
              <div class="d-flex align-items-center table-filter mr-15">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search Here" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns" id="tabellist" #content>
                <thead>
                  <tr>
                    <th>Sr. No</th>
                    <th>Hospital Name</th>
                    <th>Distance From Institute</th>
                    <th>Address Line1</th>
                    <th>Address Line2</th>
                    <th>Rural Urban</th>
                    <th>Division</th>
                    <th>District</th>
                    <th>Tehsil</th>
                    <th>PanchyatSamiti</th>
                    <th>CityTownVillage</th>
                    <th>Pincode</th>
                    <th>ContactNo</th>
                    <th>Email</th>
                    <th>Person Field</th>
                    <th>Relation</th>
                    <th>Remark</th>
                    <th>Authorized Person</th>
                    <th>File Upload</th>
                    <!--<th>Action</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstVeterinaryHospital | tableSearchFilter:searchText;let idx=index;">
                    <td>{{idx+1}}</td>
                    <td>{{item.HospitalName}}</td>
                    <td>{{item.DistanceFromInstitute}}</td>
                    <td>{{item.AddressLine1}}</td>
                    <td>{{item.AddressLine2}}</td>
                    <td>{{item.RuralUrban}}</td>
                    <td>{{item.Division_English}}</td>
                    <td>{{item.District_Eng}}</td>
                    <td>{{item.TehsilName}}</td>
                    <td>{{item.PanchyatSamitiName}}</td>
                    <td>{{item.CityTownVillage}}</td>
                    <td>{{item.Pincode}}</td>
                    <td>{{item.MobileNo}}</td>
                    <td>{{item.EmailAddress}}</td>
                    <td>{{item.PersonField}}</td>
                    <td>{{item.Relation}}</td>
                    <td>{{item.Remark}}</td>
                    <td>{{item.AuthorizedPerson}}</td>
                    <td>
                      <a *ngIf="item.FileUpload!='N/A'" target="_blank" href="{{item.FileUploadPath}}" title="View Front View File"><i class="fa fa-eye"></i></a>
                      <label *ngIf="item.FileUpload =='N/A'">{{item.FileUploadPath}}</label>
                    </td>
                    <td>
                      <div class="d-flex">
                        <button type="button" (click)="Edit_OnClick(item.VeterinaryHospitalID)" [attr.disabled]="isDisabledGrid ? true : null" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                        <button *ngIf="isDeleteButton" type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Delete_OnClick(item.VeterinaryHospitalID)" [attr.disabled]="isDisabledGrid ? true : null"><i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewAnimalDetail(mymodal,item.VeterinaryHospitalID)"><i class="fa fa-eye"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Animal Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="table-responsive" *ngIf="ViewAnimalDetails.length>0">
              <table class="table table-hover table-striped-columns">
                <thead>
                  <tr>
                    <th>Sr. No</th>
                    <th>Animal Name</th>
                    <th>Male Animal Count</th>
                    <th>Female Animal Count</th>
                    <th>Total Animal Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ViewAnimalDetails | tableSearchFilter:searchText;let indexOfelement=index;">
                    <td>{{indexOfelement+1}}</td>
                    <td>{{item.AnimalName}}</td>
                    <td>{{item.MaleAnimalCount}}</td>
                    <td>{{item.FemaleAnimalCount}}</td>
                    <td>{{item.AnimalCount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>


