<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application Details</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Details</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">

    <!--<div class="col-md-12">
      <h3>Application Details</h3>
    </div>-->
    <div class="col-md-12">
      
      <div class="row align-items-center">
        <div class="col-md-10">
          <div class="tabUl1 d-block w-100">
            <ul>
              <li class="tabs-Link tabActive">
                <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="BuildingDocuments1">
                  <i class="bi bi-hospital"></i>
                  <span>Building Details</span>
                </a>
              </li>
              <li class="tabs-Link">
                <a href="javascript:void(0);" onclick="js_Tabs1(this)" data-target="StaffDetails1">
                  <i class="bi bi-people"></i>
                  <span>Staff Details</span>
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-2 text-end">
          <a routerLink="../addcourses" class="btn btn-primary btn-sm">Back To Course List</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="card tabCard1 mb-0" id="BuildingDocuments1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Building Details</b>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header">
              <b><i class="bi bi-building-add"></i>&nbsp; Room Details</b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 mb-2">
                  <select class="form-select">
                    <option selected value="0">--Select Course--</option>
                    <option value="1">P.B.B.Sc. (N) programme</option>
                  </select>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-3 mb-2">
                      <input type="text" class="form-control" placeholder="Enter Width (In Feet)" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <input type="text" class="form-control" placeholder="Enter Length (In Feet)" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <input type="text" class="form-control" placeholder="Enter Student Capacity" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <input type="file" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-md-1 text-end">
                  <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i>&nbsp;Add</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Course</th>
                          <th>Width (In Feet)</th>
                          <th>Length (In Feet)</th>
                          <th>Student Capacity</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button class="btn btn-primary" type="button">Save</button>
          <button class="btn btn-success" type="button">Save & Next</button>
        </div>
      </div>
      <div class="card tabCard1 d-none mb-0" id="StaffDetails1">
        <div class="card-header">
          <b><i class="bi bi-table"></i>&nbsp; Staff Details</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label class="form-label" style="margin-right:15px">Select Type :</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="SelectType" id="Teaching" value="1">
                <label class="form-check-label" for="Teaching">Teaching</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="SelectType" id="NoNTeaching" value="2">
                <label class="form-check-label" for="NoNTeaching">Non-Teaching</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Subject</label>
              <select class="form-select">
                <option selected value="0">--Select Subject--</option>
                <option value="1">Subject 1</option>
                <option value="2">Subject 2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Name of Person</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Post</label>
              <select class="form-select">
                <option selected value="0">--Select Post--</option>
                <option value="1">Principal cum Professor</option>
                <option value="2">Vice - Principal cum Professor</option>
                <option value="3">Professor</option>
                <option value="4">Associate Professor</option>
                <option value="5">Assistant Professor</option>
                <option value="6">Tutor</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label>Mobile No.</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Email</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Profile Photo</label>
              <input type="file" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Highest Qualification</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Total Number of Experience (Year)</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Aadhaar Card</label>
              <input type="file" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Aadhar Number</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Pan Card</label>
              <input type="file" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Experience Certificate</label>
              <input type="file" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Date Of Birth</label>
              <input type="date" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Sprcialization Subject</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Salary</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label" style="margin-right:15px">Staff Status :</label>
              <div class="clearfix"></div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="StaffStatus" id="Permanent" value="1">
                <label class="form-check-label" for="Permanent">Permanent</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="StaffStatus" id="Temporary" value="2">
                <label class="form-check-label" for="Temporary">Temporary</label>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label" style="margin-right:15px">Staff Status :</label>
              <div class="clearfix"></div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="StaffStatus" id="Permanent" value="1">
                <label class="form-check-label" for="Permanent">Permanent</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="StaffStatus" id="Temporary" value="2">
                <label class="form-check-label" for="Temporary">Temporary</label>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label" style="margin-right:15px">PF Deduction :</label>
              <div class="clearfix"></div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PFDeduction" id="PFDeductionY" value="1">
                <label class="form-check-label" for="PFDeductionY">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PFDeduction" id="PFDeductionN" value="2">
                <label class="form-check-label" for="PFDeductionN">No</label>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label" style="margin-right:15px">Research Guide :</label>
              <div class="clearfix"></div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ResearchGuide" id="ResearchGuideY" value="1">
                <label class="form-check-label" for="ResearchGuideY">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ResearchGuide" id="ResearchGuideN" value="2">
                <label class="form-check-label" for="ResearchGuideN">No</label>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="card">
            <div class="card-header">
              <b>Add New Educational Qualification Details</b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 mb-2">
                  <select class="form-select">
                    <option selected value="0">--Select--</option>
                    <option value="1">PHD</option>
                    <option value="2">Post Graduation</option>
                    <option value="3">Graduation</option>
                    <option value="4">12th</option>
                    <option value="5">10th</option>
                  </select>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-3 mb-2">
                      <input type="text" class="form-control" placeholder="Enter Stream/Subject*" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <input type="text" class="form-control" placeholder="University/Board/Institution*" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <select class="form-select">
                        <option selected value="0">--Select Passing Year--</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <input type="text" class="form-control" placeholder="Marks In Percentage/Grade*" />
                    </div>
                  </div>
                </div>
                <div class="col-md-1 text-end">
                  <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i>&nbsp;Add</button>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-primary" type="button">Save</button>
              <button class="btn btn-success" type="button">Save & Next</button>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="card">
            <div class="card-header">
              <b>Staff Details</b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" placeholder="Total" />
                </div>
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" placeholder="Non-Teaching" />
                </div>
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" placeholder="Teaching" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>S.No.</th>
                          <th>Image</th>
                          <th>Personal Details</th>
                          <th>Dates</th>
                          <th>Post & Service</th>
                          <th>PF/Research Guide</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

