<div class="row">
  <div class="col-md-12">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>College Detail </b>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div class="col-md-12" *ngIf="collegeListData!=null">
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-sm btn-primary" title="View History" (click)="ViewCollegeDetailHistory(collegehistorymymodal,0)"><i class="fa fa-history"></i></button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>Department :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.DepartmentName_English}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID==5">
                <label>Type of College :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.TypeofCollege}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" [hidden]="collegeListData.DepartmentID == 11">
                <label>College Status :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeStatus}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" [hidden]="collegeListData.DepartmentID == 11">
                <label><b>College Logo :</b></label>
                <div class="clearfix"></div>
                <a *ngIf="!collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom">
                  <img src="{{collegeListData.CollegeLogoPath}}" alt="College Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                </a>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.CollegeLogoPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeStatus!='New'">
                <label>Present Status of College :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.PresentCollegeStatus}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Type :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeType}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID==4">
                <label>Management Type :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.ManagementTypeName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID!=4" [hidden]="collegeListData.DepartmentID == 11">
                <label>College Level :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeLevel}}" />
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID==4" [hidden]="collegeListData.DepartmentID == 11">
                <label>College Level :</label>
                <div class="form-control disabled mt-1" style="background-color: #e9ecef ">
                  <span *ngFor="let item of DTECollegeLevel let idx=index">
                    {{idx==0?'':', '}}{{item.LevelName}}
                  </span>
                </div>

              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" [hidden]="collegeListData.DepartmentID == 11">
                <label>College Code :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeCode}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Name in English :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNameEn}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Name in Hindi :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNameHi}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID!=5">
                <label>IS Your College NAAC Accredited :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeNAACAccredited}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
                <label>NAAC Accredited Certificate(Only pdf/image file.) (Min.Size 100KB) (Max.Size 2MB) :</label>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.NAACAccreditedCertificatePath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.NAACAccreditedCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
                <label>NACC Validity Date :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.NACCValidityDate | date:'dd-MM-yyyy'}}" />
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID==3 ||collegeListData.DepartmentID == 11">
                <label>AISHE Code Status :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.AISHECodeStatus}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.AISHECodeStatus =='Yes' && (collegeListData.DepartmentID === 3 || collegeListData.DepartmentID === 11)">
                <label>AISHE Code :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.AISHECode}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label>College Medium :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeMediumName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label *ngIf="collegeListData.DepartmentID==6">University / RNC  :</label>
                <label *ngIf="collegeListData.DepartmentID !=6">University :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.UniversityName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID ==6 && collegeListData.UniversityName=='Private University'">
                <label><b>Name of the University :</b></label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.PrivateCollegeUniversityName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID ==6 && collegeListData.UniversityName=='Private University'">
                <label><b>Date of Establishment :</b></label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.PrivateCollegeEstablishmentDate}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID ==6 && collegeListData.UniversityName=='Private University'">
                <label><b>Document regarding Establishment :</b></label>
                <div class="clearfix"></div>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.PrivateCollegeEstabCertificate.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.PrivateCollegeEstabCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.CollegeStatus!='New'">
                <label>Year of Establishment :</label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.FinancialYearName}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID ==3">
                <label><b>Affiliation Document :</b></label>
                <div class="clearfix"></div>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="collegeListData.AffiliationDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{collegeListData.AffiliationDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID ==6">
                <label><b>Is Abbreviation  :</b></label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.IsAbbreviation}}" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.DepartmentID ==6 && collegeListData.IsAbbreviation =='Yes'">
                <label><b>Abbreviation Name :</b></label>
                <input class="form-control disabled mt-1" disabled value="{{collegeListData.AbbreviationName}}" />
              </div>

            </div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b>Address & Contact Detail <span style="color:red;">*</span></b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Division :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.Division_English}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>District :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.District_Eng}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Subdivision :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.SubdivisionName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Tehsil :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.TehsilName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Area :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.RuralUrbanArea}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Urban'">
                    <label>City Name :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.CityName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
                    <label>Panchayat Samiti :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.PanchyatSamitiName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Parliament Area :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.ParliamentAreaName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Assembly Area :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.AssemblyAreaName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>City/Town/Village :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.CityTownVillage}}" />
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Pincode :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.Pincode}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Address Line 1 :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.AddressLine1}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Address Line 2 :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.AddressLine2}}" />
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="collegeListData.RuralUrbanArea=='Rural'">
                    <label>Distance from City(km) :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.DistanceFromCity}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Website Link :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.WebsiteLink}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Mobile Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.MobileNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Landline Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.CollegeLandlineNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Email :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.Email}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="CollegeGeoTaggingList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> Geo Tagging Status Details </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Geo Tagging Type</th>
                        <th>Geo Tagging Status</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Image 1</th>
                        <th>Image 2</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of CollegeGeoTaggingList; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td> {{row.Type}}</td>
                        <td>{{row.IsGeoTagging}}</td>
                        <td>{{row.TGC_Latitude}}</td>
                        <td>{{row.TGC_Longitude}}</td>
                        <td>
                          <a *ngIf="row.Image1!='N/A'" data-fancybox="gallery" href="{{row.Image1}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.Image1}}" alt="Image 1" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <label *ngIf="row.Image1=='N/A'">{{row.Image1}}</label>
                          <!--<a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                        </a>-->
                        </td>
                        <td>
                          <a *ngIf="row.Image2!='N/A'" data-fancybox="gallery" href="{{row.Image2}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.Image2}}" alt="Image 2" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <label *ngIf="row.Image1=='N/A'">{{row.Image2}}</label>
                          <!--<a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                        </a>-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeContactDetailsList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> Contact Details </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Name Of Person</th>
                        <th>Designation</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of collegeContactDetailsList; let indexOfelement=index;">
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.NameOfPerson}}</td>
                        <td>{{row.DesignationName}}</td>
                        <td>{{row.MobileNumber}}</td>
                        <td>{{row.EmailAddress}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeListData!=null">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> General Contact Details </b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Designation :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.DesignationName}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Mobile Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.GCD_MobileNumber}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label>Landline Number :</label>
                    <input class="form-control disabled mt-1" disabled value="{{collegeListData.GCD_LandlineNumber}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeNearestGovernmentHospitalsList.length>0">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-header">
                <b><i class="bi bi-table"></i> 10 Government hospitals nearest to the institution </b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>
                          Compliance<br />
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdCollegeDetailSelectAllActionType" id="rdCollegeDetailSelectAllYes" value="Yes" (change)="selectAll('Yes')">
                            <label class="form-check-label">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rdCollegeDetailSelectAllActionType" id="rdCollegeDetailSelectAllNo" value="No" (change)="selectAll('No')">
                            <label class="form-check-label">No</label>
                          </div>
                        </th>
                        <th>Sr. No.</th>
                        <th>Hospital Name</th>
                        <th>Hospital RegNo.</th>
                        <th>Hospital Address</th>
                        <th>Distance From Institute(KM)</th>
                        <th>Hospital Document</th>
                        <th>Trail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of collegeNearestGovernmentHospitalsList; let indexOfelement=index;">
                        <td>
                          <div class="col-lg-12 col-md-12 col-sm-6 col-12 mb-3">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="rdCollegeDetailActionType{{indexOfelement+1}}" id="rdCollegeDetailActionTypeYes{{indexOfelement+1}}" [(ngModel)]="row.Action" value="Yes" (change)="ClickOnAction(indexOfelement)">
                              <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="rdCollegeDetailActionType{{indexOfelement+1}}" id="rdCollegeDetailActionTypeNo{{indexOfelement+1}}" value="No" [(ngModel)]="row.Action" (change)="ClickOnAction(indexOfelement)">
                              <label class="form-check-label">No</label>
                            </div>
                          </div>
                          <div class="row" [hidden]="row.Action !='No'">
                            <div class="col-lg-11 col-md-11 col-sm-6 col-12 mb-3">
                              <label>Remark : </label>
                              <textarea type="text" class="form-control" name="txtCollegeDetailRemark{{indexOfelement+1}}" id="txtCollegeDetailRemark{{indexOfelement+1}}" [(ngModel)]="row.Remark"></textarea>
                            </div>
                          </div>

                        </td>
                        <td> {{indexOfelement+1}}</td>
                        <td>{{row.HospitalName}}</td>
                        <td>{{row.HospitalRegNo}}</td>
                        <td>
                          <p class="m-0"><b>Area : </b> {{row.RuralUrbanArea}}</p>
                          <p class="m-0"><b>Address Line 1 : </b> {{row.AddressLine1}}</p>
                          <p class="m-0"><b>Address Line 2 : </b>{{row.AddressLine2}}</p>
                          <p class="m-0"><b>Division : </b> {{row.Division_English}}</p>
                          <p class="m-0"><b>District : </b> {{row.District_Eng}}</p>
                          <p class="m-0"><b>Tehsil : </b>{{row.TehsilName}}</p>
                          <p *ngIf="row.RuralUrban==1" class="m-0"><b>PanchayatSamiti : </b>{{row.PanchyatSamitiName}}</p>
                          <p *ngIf="row.RuralUrban==2" class="m-0"><b>City : </b>{{row.CityName}}</p>
                          <p class="m-0"><b>City/Town/Village : </b>{{row.CityTownVillage}}</p>
                          <p class="m-0"><b>Pincode : </b>{{row.Pincode}}</p>
                        </td>
                        <td>{{row.HospitalDistance}}</td>
                        <td>
                          <a *ngIf="!row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{row.HospitalDocumentPath}}" alt="Hospital Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                          </a>
                        </td>
                        <td><button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewTaril(row.NearestGovernmentHospitalsID,'CollegeHospitalTrail')"><i class="fa fa-bars" aria-hidden="true"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="collegeListData==null">
          <span style="color:red"> No Data Found.!</span>
        </div>
        <div class="row" *ngIf="FinalRemarks.length>0">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>Role</th>
                  <th>Action</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item1 of FinalRemarks ; let idx =index">
                  <td>{{idx+1}}</td>
                  <td>{{item1.RoleID}}</td>
                  <td>{{item1.ActionName}}</td>
                  <td>{{item1.Remark}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="card-header">
          <b> College Detail Compliant/Not Compliant </b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rdCollegeapproverevert" id="rdCollegeapprove" [value]="1" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
                <label class="form-check-label" for="rdCollegeapprove">Compliant</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rdCollegeapproverevert" id="rdCollegerevert" [value]="2" [(ngModel)]="dsrequest.ActionID" [attr.disabled]="isDisabledAction ? true : null">
                <label class="form-check-label" for="rdCollegerevert">Not Compliant</label>
              </div>
              <p *ngIf="isSubmitted&&dsrequest.ActionID==0" class="text-danger"> This field is required .!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
              <label>Remarks</label>
              <textarea id="CollegeEntityRemark" class="form-control" [(ngModel)]="dsrequest.FinalRemark"></textarea>
              <div *ngIf="isRemarkValid" class="text-danger">
                <p *ngIf="isRemarkValid"> This field is required .!</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="QueryStringStatus.includes('Pending')">
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" (click)="SubmitCollegeDetail_Onclick()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #collegehistorymymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">College Details History</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <tbody *ngFor="let item of collegeListHistory ; let indexOfelement=index;">
                  <tr>
                    <td>
                      <b>Modify On : </b><b>{{item.ModifyDate}}</b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card mb-0">
                            <div class="card-header">
                              <b><i class="bi bi-table"></i> College List </b>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>Department :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.DepartmentName_English}}" />
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Status :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeStatus}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label><b>College Logo :</b></label>
                                  <div class="clearfix"></div>
                                  <a data-fancybox="gallery" href="{{item.CollegeLogoPath}}" data-caption="Image 10" title="click here to zoom">
                                    <img src="{{item.CollegeLogoPath}}" alt="College Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                                  </a>
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.CollegeStatus!='New'">
                                  <label>Present Status of College :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.PresentCollegeStatus}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Type :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeType}}" />
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Level :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeLevel}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Code :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeCode}}" />
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Name in English :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeNameEn}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Name in Hindi :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeNameHi}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>IS Your College NAAC Accredited :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeNAACAccredited}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.CollegeNAACAccredited =='Yes'">
                                  <label><b>NAAC Accredited Certificate :</b></label>
                                  <div class="clearfix"></div>
                                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="item.NAACAccreditedCertificatePath.includes('.pdf')" data-fancybox="gallery" href="{{item.NAACAccreditedCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.CollegeNAACAccredited =='Yes'">
                                  <label>NACC Validity Date :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.NACCValidityDate | date:'dd-MM-yyyy'}}" />
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>College Medium :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.CollegeMediumName}}" />
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>University / RNC :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.UniversityName}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.UniversityName=='Private University'">
                                  <label><b>Name of the University :</b></label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.PrivateCollegeUniversityName}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.UniversityName=='Private University'">
                                  <label><b>Date of Establishment :</b></label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.PrivateCollegeEstablishmentDate}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.UniversityName=='Private University'">
                                  <label><b>Document regarding Establishment :</b></label>
                                  <div class="clearfix"></div>
                                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="item.PrivateCollegeEstabCertificate.includes('.pdf')" data-fancybox="gallery" href="{{item.PrivateCollegeEstabCertificatePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.CollegeStatus!='New'">
                                  <label>Year of Establishment :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.FinancialYearName}}" />
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>Mobile Number :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.MobileNumber}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label><b>Is Abbreviation  :</b></label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.IsAbbreviation}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.IsAbbreviation =='Yes'">
                                  <label><b>Abbreviation Name :</b></label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.AbbreviationName}}" />
                                </div>


                                <div class="card">
                                  <div class="card-header d-flex justify-content-between align-items-center">
                                    <b>Address & Contact Detail <span style="color:red;">*</span></b>
                                  </div>
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Division :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.Division_English}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>District :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.District_Eng}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Subdivision :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.SubdivisionName}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Tehsil :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.TehsilName}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Area :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.RuralUrbanArea}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.RuralUrbanArea=='Rural'">
                                        <label>Panchayat Samiti :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.PanchyatSamitiName}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.RuralUrbanArea=='Urban'">
                                        <label>City :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.CityName}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Parliament Area :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.ParliamentAreaName}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Assembly Area :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.AssemblyAreaName}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>City/Town/Village :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.CityTownVillage}}" />
                                      </div>

                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Pincode :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.Pincode}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Address Line 1 :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.AddressLine1}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Address Line 2 :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.AddressLine2}}" />
                                      </div>

                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="item.RuralUrbanArea=='Rural'">
                                        <label>Distance from City(km) :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.DistanceFromCity}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Website Link :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.WebsiteLink}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Mobile Number :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.MobileNumber}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Landline Number :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.CollegeLandlineNumber}}" />
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                        <label>Email :</label>
                                        <input class="form-control disabled mt-1" disabled value="{{item.Email}}" />
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="collegeContactDetailsHistoryList.length>0">
                        <div class="col-md-12">
                          <div class="card mb-0">
                            <div class="card-header">
                              <b><i class="bi bi-table"></i> Contact Details </b>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                  <thead>
                                    <tr>
                                      <th>Sr.No.</th>
                                      <th>Name Of Person</th>
                                      <th>Designation</th>
                                      <th>Mobile Number</th>
                                      <th>Email Address</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let row of collegeContactDetailsHistoryList; let indexOfelement=index;">
                                      <td> {{indexOfelement+1}}</td>
                                      <td>{{row.NameOfPerson}}</td>
                                      <td>{{row.DesignationName}}</td>
                                      <td>{{row.MobileNumber}}</td>
                                      <td>{{row.EmailAddress}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="card mb-0">
                            <div class="card-header">
                              <b><i class="bi bi-table"></i> General Contact Details </b>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>Designation :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.DesignationName}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>Mobile Number :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.GCD_MobileNumber}}" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                  <label>Landline Number :</label>
                                  <input class="form-control disabled mt-1" disabled value="{{item.GCD_LandlineNumber}}" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collegeListHistory.length<=0">
          <span style="color:red"> No Data Found!!!</span>
        </div>
      </div>
    </ng-template>

  </div>
</div>



