<div class="card mb-0">
  <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
    <b><i class="bi bi-table"></i> Building Details </b>
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center table-filter mr-15">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped-columns" id="tabellist" #content>
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Building Type</th>
            <th>Owner Name</th>
            <th>Rural Urban</th>
            <th>ContactNo</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>{{SelectedDepartmentID ==6?'Name of Owner':'Own/Rented Order No'}}</th>
            <th *ngIf="SelectedDepartmentID !=6">Order Date</th>
            <th>Expiring On</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lstBuildingDetails | tableSearchFilter:searchText;let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{item.BuildingTypeName}}</td>
            <td>{{item.BuildingTypeName == 'Owned'? 'N/A': item.OwnerName}}</td>
            <td>{{item.RuralUrban}}</td>
            <td>{{item.ContactNo}}</td>
            <td>{{item.FromDate | date:'dd-MM-yyyy'}}</td>
            <td>{{item.ToDate | date:'dd-MM-yyyy'}}</td>
            <td>{{item.OrderNo}}</td>
            <td *ngIf="SelectedDepartmentID !=6">{{item.OrderDate | date:'dd-MM-yyyy'}}</td>
            <td>{{item.ExpiringOn | date:'dd-MM-yyyy'}}</td>
            <td>
              <div class="d-flex">
                <button type="button" class="btn btn-sm btn-info" title="View" (click)="ViewBuildingDetails(mymodal,item.SchoolBuildingDetailsID)"><i class="fa fa-eye"></i></button>
              </div>
            </td>
          </tr>
          <tr *ngIf="lstBuildingDetails.length<=0">
            <td colspan="11" style="color:red">No Data Found.!</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 17px; font-weight: 600 !important;">Building Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b><i class="fa fa-filter"></i>&nbsp;Building Documents</b>
          </div>

          <div class="card-body">

            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label"><b>Building Category  :</b> </label>
                <input class="form-control disabled" disabled value="{{buildingdetails.BuildingTypeName}}" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Owner Name :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.OwnerName}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Address Line 1 :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.AddressLine1}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Address Line 2 :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.AddressLine2}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"> <b>Rural / Urban :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.RuralUrban}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Division :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.Division_English}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>District :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.District_Eng}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Tehsil :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.TehsilName}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.RuralUrban == 'Rural' && buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Panchayat Samiti :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.PanchyatSamitiName}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.RuralUrban == 'Urban' && buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>City :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.CityName}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>City/Town/Village :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.CityTownVillage}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Contact No :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.ContactNo}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Pincode :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.Pincode}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label class="form-label"><b>Total Constructed Building Area ({{SelectedDepartmentID ==2 || SelectedDepartmentID == 4?'in Sq. Meter':'in Sq. Ft'}}) :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.BuildingHostelQuartersRoadArea}}" />
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="SelectedDepartmentID ==2">
                <label><b>Upload Land Title Certificate :</b></label>
                <a *ngIf="!buildingdetails.OwnBuildingFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.buildingOtherDoc1FileUpload}}" data-caption="Image 10" title="click here to zoom">
                  <img src="{{buildingdetails.buildingOtherDoc1FileUpload}}" alt="Building Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                </a>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.OwnBuildingFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.buildingOtherDoc1FileUpload}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="SelectedDepartmentID ==2">
                <label><b>Upload Land Document :</b></label>
                <a *ngIf="!buildingdetails.OwnBuildingFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OwnBuildingFileUploadPath}}" data-caption="Image 10" title="click here to zoom">
                  <img src="{{buildingdetails.OwnBuildingFileUploadPath}}" alt="Building Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                </a>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.OwnBuildingFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OwnBuildingFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label><b>Upload Registered Rent Agreement/Lease Deed :</b></label>
                <a *ngIf="!buildingdetails.RentAgreementFileUpload.includes('.pdf') && buildingdetails.RentAgreementFileUploadPath!='N/A'" data-fancybox="gallery" href="{{buildingdetails.RentAgreementFileUploadPath}}" data-caption="Image 10" title="click here to zoom">
                  <img src="{{buildingdetails.RentAgreementFileUploadPath}}" alt="Building Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                </a>
                <label *ngIf="buildingdetails.RentAgreementFileUploadPath=='N/A'">{{buildingdetails.RentAgreementFileUploadPath}}</label>
                <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.RentAgreementFileUpload.includes('.pdf') && buildingdetails.RentAgreementFileUploadPath!='N/A'" data-fancybox="gallery" href="{{buildingdetails.RentAgreementFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="buildingdetails.BuildingTypeName!='Owned'">
                <label class="form-label"><b>Rent Valid Up To :</b></label>
                <input class="form-control disabled" disabled value="{{buildingdetails.Rentvaliditydate | date:'dd-MM-yyyy'}}" />
              </div>
            </div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b *ngIf="buildingdetails.BuildingTypeName=='Owned'"><i class="fa fa-filter"></i>&nbsp;Certificate of Own Building in own land in same campus Order No. & Order Date : </b>
                <b *ngIf="buildingdetails.BuildingTypeName!='Owned'"><i class="fa fa-filter"></i>&nbsp;Certificate of Land & Rented Building in same "Tehsil" Order No. & Order Date : </b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label class="form-label"><b>{{SelectedDepartmentID ==6?'Name of Owner':'Own/Rented Order No'}} :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.OwnBuildingOrderNo}}" />
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3" *ngIf="SelectedDepartmentID !=6">
                    <label class="form-label"><b>Order Date :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.OwnBuildingOrderDate | date:'dd-MM-yyyy'}}" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label><b>Upload Own Building Document :</b></label>
                    <a *ngIf="!buildingdetails.OwnBuildingFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OwnBuildingFileUploadPath}}" data-caption="Image 10" title="click here to zoom">
                      <img src="{{buildingdetails.OwnBuildingFileUploadPath}}" alt="Building Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                    </a>
                    <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.OwnBuildingFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OwnBuildingFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b><i class="fa fa-filter"></i>&nbsp;Fire NOC Validity</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label class="form-label"><b>Order No :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.FireNOCOrderNumber}}" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label class="form-label"><b>From Date :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.FromDate | date:'dd-MM-yyyy'}}" />
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label class="form-label"><b>To Date :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.ToDate | date:'dd-MM-yyyy'}}" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label><b>Upload Fire NOC Document :</b></label>
                    <a *ngIf="!buildingdetails.FireNOCFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.FireNOCFileUploadPath}}" data-caption="Image 10" title="click here to zoom">
                      <img src="{{buildingdetails.FireNOCFileUploadPath}}" alt="Fire NOC Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                    </a>
                    <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.FireNOCFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.FireNOCFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b><i class="fa fa-filter"></i>&nbsp;Current Year Building Safety Certificate Order No. & Order Date: </b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label for="txtOrderNo" class="form-label"><b>Order No :</b> </label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.OrderNo}}" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label for="txtOrderDate"><b>Order Date :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.OrderDate | date:'dd-MM-yyyy'}}" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-3">
                    <label for="txtExpiringOn"><b>Expiring On :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.ExpiringOn | date:'dd-MM-yyyy'}}" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label><b>Upload PWD NOC Document :</b></label>
                    <a *ngIf="!buildingdetails.PWDNOCFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.PWDNOCFileUploadPath}}" data-caption="Image 10" title="click here to zoom">
                      <img src="{{buildingdetails.PWDNOCFileUploadPath}}" alt="PWD NOC Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                    </a>
                    <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.PWDNOCFileUpload.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.PWDNOCFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="SelectedDepartmentID ==6">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b><i class="fa fa-filter"></i>&nbsp;Description</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label class="form-label"><b>Total Project Cost :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.TotalProjectCost}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label class="form-label"><b>Source Cost Amount :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.SourceCostAmount}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label class="form-label"><b>Amount deposited in the Bank near the institution :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.AmountDeposited}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label class="form-label"><b>Other fixed assets/securities of the organization :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.OtherFixedAssetsAndSecurities}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label class="form-label"><b>GATE year balance secret of the organization :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.GATEYearBalanceSecret}}" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                    <label class="form-label"><b>Other financial resources :</b></label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.OtherFinancialResources}}" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>Upload Total Project Cost Document</th>
                            <th>Upload Source Cost Amount Document</th>
                            <th>Upload Amount Deposited Document</th>
                            <th>Upload Other Fixed Assets/Securities Document</th>
                            <th>Upload GATE Year Balance Secret Document</th>
                            <th>Upload Other Financial Resources Document</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <a class="bi bi-file-earmark-excel-fill" *ngIf="!buildingdetails.TotalProjectCostFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.TotalProjectCostFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.TotalProjectCostFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.TotalProjectCostFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                            <td>
                              <a class="bi bi-file-earmark-excel-fill" *ngIf="!buildingdetails.SourceCostAmountFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.SourceCostAmountFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.SourceCostAmountFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.SourceCostAmountFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                            <td>
                              <a class="bi bi-file-earmark-excel-fill" *ngIf="!buildingdetails.AmountDepositedFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.AmountDepositedFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.AmountDepositedFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.AmountDepositedFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                            <td>
                              <a class="bi bi-file-earmark-excel-fill" *ngIf="!buildingdetails.OtherFixedAssetsAndSecuritiesFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OtherFixedAssetsAndSecuritiesFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.OtherFixedAssetsAndSecuritiesFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OtherFixedAssetsAndSecuritiesFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                            <td>
                              <a class="bi bi-file-earmark-excel-fill" *ngIf="!buildingdetails.GATEYearBalanceSecretFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.GATEYearBalanceSecretFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.GATEYearBalanceSecretFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.GATEYearBalanceSecretFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                            <td>
                              <a class="bi bi-file-earmark-excel-fill" *ngIf="!buildingdetails.OtherFinancialResourcesFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OtherFinancialResourcesFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="buildingdetails.OtherFinancialResourcesFileUploadPath.includes('.pdf')" data-fancybox="gallery" href="{{buildingdetails.OtherFinancialResourcesFileUploadPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <b><i class="fa fa-filter"></i>&nbsp;Building Photos</b>
              </div>
              <div class="card-body">
                <div class="row" *ngIf="buildingdetails.lstBuildingDocDetails.length>0">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Document Name</th>
                            <th>File</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of buildingdetails.lstBuildingDocDetails ; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>
                              {{item.DocumentName}}
                            </td>
                            <td>
                              <a *ngIf="!item.FilePath.includes('.pdf')" data-fancybox="gallery" href="{{item.FilePath}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{item.FilePath}}" alt="Image/File" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="item.FilePath.includes('.pdf')" data-fancybox="gallery" href="{{item.FilePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                          </tr>
                          <tr *ngIf="buildingdetails.lstBuildingDocDetails.length<=0">
                            <td colspan="2" style="color:red">No Data Found.!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="SelectedDepartmentID ==9">
              <div class="card-header border-top d-flex justify-content-between align-items-center">
                <b><i class="fa fa-filter"></i>&nbsp;The Blueprint Of The Institute Building</b>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                    <label for="ddlIsApproved" class="form-label">Approved by the Authorized Officer</label>
                    <input class="form-control disabled" disabled value="{{buildingdetails.IsApproved}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
