<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application Document Scrutiny</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Document Scrutiny</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-md-12">

          <mat-tab-group mat-align-tabs="center" class="tabUl1 d-block w-100" [selectedIndex]="selectedIndex" #tabs (selectedTabChange)="onTabChange($event)">

            <mat-tab>
              <ng-template mat-tab-label>
                <i class=" text-success" aria-hidden="true"></i>
                <span>Land Information</span>
              </ng-template>
              <app-document-scrutiny-land-detail></app-document-scrutiny-land-detail>
              
            </mat-tab>


            <mat-tab label="Facility">
              <!--Facility-->
              <app-preview-facility-detail></app-preview-facility-detail>

              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlFacilityField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="FacilityRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Required Document">
              <!--Required Document-->
              <app-preview-required-document></app-preview-required-document>
              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlRequiredDocumentField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="RequriedRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <!--Room Details-->
            <mat-tab label="Room Details">
              <app-document-scrutiny-room-details></app-document-scrutiny-room-details>
            </mat-tab>
            <!--Other Information-->
            <mat-tab label="Other Information">

              <app-preview-other-information></app-preview-other-information>

              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlOtherInformationField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="OtherInformationRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Building Documents">
              <!--Building Documents-->
              <app-document-scrutiny-building-details></app-document-scrutiny-building-details>
            </mat-tab>
            <mat-tab label="Staff Details">
              <!--Staff Details-->
              <app-document-scrutiny-staff-details></app-document-scrutiny-staff-details>
              
            </mat-tab>

            <mat-tab label="OLD NOC Details" *ngIf="CollegeType_IsExisting">
              <!--OLD NOC Details Only for New-->
              <app-preview-old-nocdetail></app-preview-old-nocdetail>
              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlOldNOCField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>

                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="OldNOCRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Academic Information" *ngIf="CollegeType_IsExisting">
              <!--Academic Information Only for New-->
              <app-preview-academic-information></app-preview-academic-information>
              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlAcademicInformationField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="AcademicInformationRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Other Document">
              <!--Other Document-->
              <app-preview-other-document></app-preview-other-document>
              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlOtherDocumentField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="OtherDocumentRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Hospital Details">
              <!--Hospital Details-->
              <app-preview-hospital-detail></app-preview-hospital-detail>
              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlHospitalField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="HospitalRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Hostel Details">
              <!--Hostel Details-->
              <app-preview-hostel-details></app-preview-hostel-details>
              <div class="card tabCard1  mb-0">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <b><i class="bi bi-table"></i></b>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Action</label>
                      <select class="form-select" id="ddlLandActionID" [(ngModel)]="request.ActionID" (change)="ShowHideObjectionDropdown()">
                        <option value="0" disabled>--Select--</option>
                        <option value="1">Approve</option>
                        <option value="2">Revert</option>
                        <option value="3">Reject</option>
                      </select>
                      <div *ngIf="isActionValid" class="text-danger">
                        <p *ngIf="isActionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3" *ngIf="ShowObjectionField">
                      <label>Field </label>
                      <ng-multiselect-dropdown [placeholder]="'--Select--'" id="ddlHostelDetailField"
                                               [settings]="dropdownSettings"
                                               [data]="TabFieldDataList"
                                               [(ngModel)]="SelectedTabFieldDataList">
                      </ng-multiselect-dropdown>
                      <div *ngIf="isObjectionValid" class="text-danger">
                        <p *ngIf="isObjectionValid"> This field is required .!</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                      <label>Remarks</label>
                      <textarea id="HostelDetailRemark" class="form-control" [(ngModel)]="request.Remark"></textarea>
                      <div *ngIf="isRemarkValid" class="text-danger">
                        <p *ngIf="isRemarkValid"> This field is required .!</p>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" type="button" (click)="SubmitTabAction_Onclick()">Submit</button>
                    </div>
                  </div>
                </div>
                <!--<div class="card-footer">
        <button type="button" class="btn btn-sm btn-success" (click)="DocumentScrutiny('Approve',1)" title="Approve"><i class="fa fa-check"></i>Approve</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="DocumentScrutiny('Revert',1)" title="Revert"><i class="fa fa-close">Revert</i></button>
      </div>-->
              </div>
            </mat-tab>

            <mat-tab label="Document Scrutiny Preview">

              <div class="card tabCard1 mb-0">
                <div class="card-header">
                  <b><i class="bi bi-table"></i>&nbsp; Details</b>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <tbody>
                          <tr *ngFor="let item of AllTabDocumentScrutinyData; let idx =index">
                            <td width="5%">
                              {{idx+1}}
                            </td>
                            <td>
                              <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                                  <label><b>{{item.TabName}} : </b></label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                                  <label>{{item.ActionID==1?'Approve':item.ActionID==2?'Revert':item.ActionID==3?'Reject':'Pending'}} </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="(item.ActionID==2 || item.ActionID==3)">
                                  <span *ngFor="let items of item.DocumentScrutinyDetail; let iidx =index">
                                    <label>{{iidx==0?'':', '}}{{items.TabFieldName}} </label>
                                  </span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                                  <label>{{item.Remark}}</label>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <button type="button" class="btn btn-sm btn-success" [attr.disabled]="ShowFinalDocumentScrutiny ? true : null" (click)="DocumentScrutiny(DocumentScrutinyButtonText)" title="{{DocumentScrutinyButtonText}}">{{DocumentScrutinyButtonText}}</button>
    <!--<button type="button" class="btn btn-sm btn-danger" (click)="DocumentScrutiny('Revert',1)" title="Revert"><i class="fa fa-close">Revert</i></button>-->
  </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 mt-3 text-end">
          <button *ngIf="this.selectedIndex != 0" class="btn btn-primary" type="button" (click)="PreviousStep()"><< Previous</button>
          <button *ngIf="this.selectedIndex != maxNumberOfTabs" class="btn btn-primary" type="button" (click)="NextStep()" style="margin-left:20px">Next >></button>
        </div>
      </div>

    </div>
  </div>
</div>
