<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Application Document Scrutiny</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Document Scrutiny</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-md-12">

          <mat-tab-group mat-align-tabs="center" class="tabUl1 d-block w-100" [selectedIndex]="selectedIndex" #tabs (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Legal Entity">
              <app-document-scrutiny-legal-entity></app-document-scrutiny-legal-entity>
            </mat-tab>
            <mat-tab label="College Detail">
              <app-document-scrutiny-college-detail></app-document-scrutiny-college-detail>
            </mat-tab>
            <mat-tab label="College Management Society">
              <app-document-scrutiny-college-management-society></app-document-scrutiny-college-management-society>
            </mat-tab>
            <mat-tab label="Land Information">
              <ng-template mat-tab-label>
                <i class=" text-success" aria-hidden="true"></i>
                <span>Land Information</span>
              </ng-template>
              <app-document-scrutiny-land-detail></app-document-scrutiny-land-detail>
            </mat-tab>


            <mat-tab label="Facility">
              <!--Facility-->
              <app-document-scrutiny-facility></app-document-scrutiny-facility>

            </mat-tab>
            <mat-tab label="Required Document">
              <!--Required Document-->
              <app-document-scrutiny-required-document></app-document-scrutiny-required-document>
            </mat-tab>

            <!--Room Details-->
            <mat-tab label="Room Details">
              <app-document-scrutiny-room-details></app-document-scrutiny-room-details>
            </mat-tab>
            <!--Other Information-->
            <mat-tab label="Other Information">
              <app-document-scrutiny-other-information></app-document-scrutiny-other-information>
            </mat-tab>

            <mat-tab label="Building Documents">
              <!--Building Documents-->
              <app-document-scrutiny-building-details></app-document-scrutiny-building-details>
            </mat-tab>
            <mat-tab label="Staff Details">
              <!--Staff Details-->
              <app-document-scrutiny-staff-details></app-document-scrutiny-staff-details>
            </mat-tab>

            <mat-tab label="OLD NOC Details" *ngIf="CollegeType_IsExisting">
              <!--OLD NOC Details Only for New-->
              <app-document-scrutiny-old-nocdetails></app-document-scrutiny-old-nocdetails>
            </mat-tab>

            <mat-tab label="Academic Information" *ngIf="CollegeType_IsExisting">
              <!--Academic Information Only for New-->
              <app-document-scrutiny-academic-information></app-document-scrutiny-academic-information>

            </mat-tab>
            <mat-tab label="Other Document">
              <!--Other Document-->
              <app-document-scrutiny-other-document></app-document-scrutiny-other-document>
            </mat-tab>
            <mat-tab label="Hospital Details">
              <!--Hospital Details-->
              <app-document-scrutiny-hospital-details></app-document-scrutiny-hospital-details>

            </mat-tab>
            <mat-tab label="Hostel Details">
              <!--Hostel Details-->
              <app-document-scrutiny-hostal-details></app-document-scrutiny-hostal-details>

            </mat-tab>

            <mat-tab label="Check List">

              <div class="card tabCard1 mb-0">
                <div class="card-header">
                  <b><i class="bi bi-table"></i>&nbsp; Check List Details</b>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <tbody>
                          <tr *ngFor="let item of AllTabDocumentScrutinyData; let idx =index">
                            <td width="5%">
                              {{idx+1}}
                            </td>
                            <td>
                              <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                                  <label><b>{{item.TabName}} : </b></label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                                  <label>{{item.ActionID==1?'Approve':item.ActionID==2?'Revert':item.ActionID==3?'Reject':'Pending'}} </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3" *ngIf="(item.ActionID==2 || item.ActionID==3)">
                                  <span *ngFor="let items of item.DocumentScrutinyDetail; let iidx =index">
                                    <label>{{iidx==0?'':', '}}{{items.TabFieldName}} </label>
                                  </span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                                  <label>{{item.Remark}}</label>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <button type="button" class="btn btn-sm btn-success" [attr.disabled]="ShowFinalDocumentScrutiny ? true : null" (click)="DocumentScrutiny(DocumentScrutinyButtonText)" title="{{DocumentScrutinyButtonText}}">{{DocumentScrutinyButtonText}}</button>
                  <!--<button type="button" class="btn btn-sm btn-danger" (click)="DocumentScrutiny('Revert',1)" title="Revert"><i class="fa fa-close">Revert</i></button>-->
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 mt-3 text-end">
          <button *ngIf="this.selectedIndex != 0" class="btn btn-primary" type="button" (click)="PreviousStep()"><< Previous</button>
          <button *ngIf="this.selectedIndex != maxNumberOfTabs" class="btn btn-primary" type="button" (click)="NextStep()" style="margin-left:20px">Next >></button>
        </div>
      </div>

    </div>
  </div>
</div>
