<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Document Master</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Document Master</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <div class="card">
        <form [formGroup]="DocumentFormGroup" class="form-horizontal">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <b><i class="fa fa-plus"></i>&nbsp; Add Document</b>
              <span class="text-danger">(*) Fields is compulsory</span>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="ddlDepartmentId">Department <span style="color:red;">*</span></label>
                  <select id="ddlDepartmentId" name="ddlDepartmentId" [(ngModel)]="request.DepartmentID " class="form-select" formControlName="ddlDepartmentId">
                    <option value="0" disabled>--Select--</option>
                    <option *ngFor="let item of DepartmentData"
                            value="{{item.DepartmentID}}">
                      {{item.DepartmentName}}
                    </option>
                  </select>
                  <div *ngIf="isSubmitted&&form.ddlDepartmentId.errors" class="text-danger">
                    <p *ngIf="!form.ddlDepartmentId.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="ddlDocumentTypeId">Document Type <span style="color:red;">*</span></label>
                  <select id="ddlDocumentTypeId" name="ddlDocumentTypeId" [(ngModel)]="request.DocumentTypeID" class="form-select" formControlName="ddlDocumentTypeId">
                    <option value="0" disabled>--Select--</option>
                    <option value="RequiredDocument">Required Document</option>
                    <option value="OtherDocument">Other Document</option>
                  </select>
                  <div *ngIf="isSubmitted&&request.DocumentTypeID == '0'" class="text-danger">
                    <p *ngIf="request.DocumentTypeID == '0'"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="txtDocumentName" class="form-label mb-0">Document Name <span style="color:red;">*</span></label>
                  <input type="text" class="form-control" id="txtDocumentName" name="txtDocumentName" formControlName="txtDocumentName" [(ngModel)]="request.DocumentName">

                  <div *ngIf="isSubmitted&&form.txtDocumentName.errors" class="text-danger">
                    <p *ngIf="form.txtDocumentName.errors.required" ><i aria-hidden="true"></i> This field is required .!</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="txtMinSize" class="form-label mb-0">Min.Size </label>
                  <input type="number" class="form-control" id="txtMinSize" name="txtMinSize" formControlName="txtMinSize" [(ngModel)]="request.MinSize">

                  <!--<div *ngIf="isSubmitted&&request.MinSize <= 0" class="text-danger">
                    <p *ngIf="request.MinSize <= 0" ><i aria-hidden="true"></i> This field is required .!</p>
                  </div>-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                  <label for="txtMaxSize" class="form-label mb-0">Max.Size </label>
                  <input type="number" class="form-control" id="txtMaxSize" name="txtMaxSize" formControlName="txtMaxSize" [(ngModel)]="request.MaxSize">

                  <!--<div *ngIf="isSubmitted&&request.MaxSize <= 0" class="text-danger">
                    <p *ngIf="request.MaxSize <= 0" ><i aria-hidden="true"></i> This field is required .!</p>
                  </div>-->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 mb-3">
                  <label for="chkIsActiveStatus" class="form-label">Status</label>
                  <div class="form-check form-switch d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" id="IsActiveStatus" [(ngModel)]="request.IsActiveStatus" formControlName="chkIsActiveStatus">
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 mb-3">
                  <label for="chkIsCompulsory" class="form-label">IsCompulsory</label>
                  <div class="form-check form-switch yes d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" id="chkIsCompulsory" [(ngModel)]="request.IsCompulsory" formControlName="chkIsCompulsory">
                  </div>
                </div>                
                <div class="card-footer text-end">
                  <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Submit</button>
                  <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="card mb-0">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b><i class="bi bi-table"></i>&nbsp; Document List</b>
            <div class="d-flex align-items-center">
              <div class="btn-group mr-15" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" title="Copy" id="btnCopyTable" (click)="btnCopyTable_Click()"><i class="fa fa-copy"></i></button>
                <button type="button" class="btn btn-outline-primary" title="Excel" id="btnExportTable" (click)="btnExportTable_Click()"><i class="fa fa-file-excel-o"></i></button>
                <button type="button" class="btn btn-outline-primary" title="PDF" id="btnSavePDF" (click)="btnSavePDF_Click()"><i class="fa fa-file-pdf-o"></i></button>
              </div>
              <div class="d-flex align-items-center table-filter mr-15">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText"  />
              </div>
            </div>            
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-striped-columns" id="tabellist" #content>
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Document Type Name</th>
                    <th>Department Name</th>
                    <th>Document Name</th>
                    <th>IsCompulsory</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of documentMasterData | tableSearchFilter:searchText ;let idx=index;">
                    <td>{{idx+1}}</td>
                    <td>{{row.DocumentTypeName}}</td>
                    <td>{{row.DepartmentName_English}}</td>
                    <td>{{row.DocumentName}}</td>
                    <td>{{row.Compulsory}}</td>
                    <td>{{row.ActiveStatus}}</td>
                    <td>
                      <div class="d-flex">
                        <button type="button" (click)="Edit_OnClick(row.DocumentMasterID)" [attr.disabled]="isDisabledGrid ? true : null" title="Edit" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>

                        <button *ngIf="isDeleteButton" type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Delete_OnClick(row.DocumentMasterID)" [attr.disabled]="isDisabledGrid ? true : null"><i class="fa fa-trash"></i></button>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .form-switch .form-check-input {
    width: 6em !important;
    position: relative;
  }

  .form-check-input {
    height: 2.5em !important;
    margin-top: 0px !important;
  }

  .form-switch .form-check-input::after {
    position: absolute;
    right: 8px;
    top: 7px;
    content: 'Inactive';
    font-size: 12px;
  }

  .form-switch .form-check-input:checked::after {
    position: absolute;
    left: 9px;
    top: 7px;
    content: 'Active';
    font-size: 12px;
    color: #fff;
  }

  .form-check-label {
    margin-left: 5px;
  }
</style>
<style>
  .form-switch.yes .form-check-input::after {
    content: 'No';
  }
  .form-switch.yes .form-check-input:checked::after {
    content: 'Yes';
  }
</style>

