<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-7 d-flex justify-content-start align-items-center flex-wrap">
      <h3 class="me-2">Statistics Entry</h3>( <span style="color:forestgreen;font-size:12px;font-weight:600">{{CollegeName}}</span> )
    </div>
    <div class="col-md-5 d-flex justify-content-end align-items-center">
      <button [attr.disabled]="IsShowDraftFinalSubmit ? true : null" class="btn btn-success btn-sm me-3" style="padding-top: 2px !important;" type="button"
              (click)="OpenModulPopup_click(mymodalpayment)">
        Statistics Final Submit
      </button>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Statistics</a></li>
          <li class="breadcrumb-item active" aria-current="page">Statistics Entry</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="row" *ngIf="SelectedDepartmentID==4">
        <div class="col-md-4 mb-3 d-flex align-items-center justify-content-between">
          <label class="fw-bold m-0 me-2 text-nowrap">College Type :</label>
          <select class="form-select" id="ddlSelectedCollegeEntryType" [(ngModel)]="SelectedCollegeEntryType">
            <option selected value="0">--Choose Option--</option>
            <option value="University">University</option>
            <option value="College">College</option>
            <option value="Polytechnic">Polytechnic</option>
            <option value="Standalone">Standalone</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group mat-align-tabs="left" class="tabUl1 d-block w-100" [selectedIndex]="selectedIndex" #tabs (selectedTabChange)="onTabChange($event)">

            <mat-tab *ngIf="SelectedDepartmentID==3" label="Class Wise Statistics">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['ClassWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['ClassWiseStatistics']==0"></span>
                <span>Class Wise Statistics</span>
              </ng-template>
              <app-class-wise-student-details></app-class-wise-student-details>
            </mat-tab>
            <mat-tab *ngIf="SelectedDepartmentID==3" label="Subject Wise Statistics">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Subject Wise Statistics</span>
              </ng-template>
              <app-subject-wise-student-statistics></app-subject-wise-student-statistics>
            </mat-tab>

            <!--Department 4-->
            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Officers Details">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Officers Details</span>
              </ng-template>
              <app-officers-details></app-officers-details>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Address">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Address</span>
              </ng-template>
              <app-address></app-address>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Residential Facility">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Residential Facility</span>
              </ng-template>
              <app-residential-facility></app-residential-facility>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Regional Centers">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Regional Centers</span>
              </ng-template>
              <app-regional-centers></app-regional-centers>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Off-Shore Center">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Off-Shore Center</span>
              </ng-template>
              <app-off-shore-center></app-off-shore-center>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Faculty">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Faculty</span>
              </ng-template>
              <app-faculty></app-faculty>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Department">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Department</span>
              </ng-template>
              <app-dtestatistics-department></app-dtestatistics-department>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Regular Mode">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Regular Mode</span>
              </ng-template>
              <app-regular-mode></app-regular-mode>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Distance Mode">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Distance Mode</span>
              </ng-template>
              <app-distance-mode></app-distance-mode>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Student Enrollment Regular Mode">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Student Enrollment Regular Mode</span>
              </ng-template>
              <app-student-enrollment-regular-mode></app-student-enrollment-regular-mode>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Student Enrollment Distance Mode">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Student Enrollment Distance Mode</span>
              </ng-template>
              <app-student-enrollment-distance-mode></app-student-enrollment-distance-mode>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Regional Centre Distance Mode">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Regional Centre Distance Mode</span>
              </ng-template>
              <app-regional-centre-distance-mode></app-regional-centre-distance-mode>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Pvt. External Mode">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Pvt. External Mode</span>
              </ng-template>
              <app-private-external-mode></app-private-external-mode>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Regu Foreign Stu Enrolment">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Regu Foreign Stu Enrolment</span>
              </ng-template>
              <app-regular-foreign-student-enrolment></app-regular-foreign-student-enrolment>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Placement Details">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Placement Details</span>
              </ng-template>
              <app-placement-details></app-placement-details>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Financial Details">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Financial Details</span>
              </ng-template>
              <app-financial-details></app-financial-details>
            </mat-tab>

            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Infrastructure Details">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Infrastructure Details</span>
              </ng-template>
              <app-infrastructure-details></app-infrastructure-details>
            </mat-tab>


            <mat-tab *ngIf="SelectedDepartmentID==4 && SelectedCollegeEntryType!='0'" label="Regulatory Information">
              <ng-template mat-tab-label>
                <i class="fa fa-globe icon" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']>0"></i>
                <span class="badge pulse" *ngIf="CheckTabsEntryData['SubjectWiseStatistics']==0"></span>
                <span>Regulatory Information</span>
              </ng-template>
              <app-regulatory-information></app-regulatory-information>
            </mat-tab>



          </mat-tab-group>


        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 text-end mt-2">
          <button *ngIf="this.selectedIndex != 0" class="btn btn-secondary" type="button" (click)="PreviousStep()"><< Previous</button>
          <button class="btn btn-warning" type="button" (click)="NextStep()" style="margin-left: 20px;">Next >></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--model-->
<ng-template #mymodalpayment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-applynocpayment-title" style="font-size: 17px; font-weight: 400 !important;">
      {{CollegeName}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <!--Confrmation-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <label>
          <b>
            Are you satisfied with the data that are showing in the View Application?
          </b>
        </label>


        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 mt-3">
          <select class="form-select" id="ddlConfirmation" name="ddlConfirmation" [(ngModel)]="request.Confirmation">
            <option value="0" disabled>--Select--</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>

        </div>

      </div>

    </div>
    <!--end-->
  </div>
  <div class="modal-footer text-end">
    <button type="button" class="btn btn-primary" (click)="StatisticsFinalSubmit()">Submit</button>
  </div>
</ng-template>
<!--end-->
