<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <!--<h3>Application For Grant Of Beter Affilition Of State Government(As Desired By AICTE) </h3>-->
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">BTER Affiliation</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <form [formGroup]="DTEAffiliationForm" class="form-horizontal">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <b class="text-center"><i class="fa fa-plus"></i>&nbsp;Application For Grant Of BTER Affiliation Of State Government(As Desired By AICTE) </b>
          </div>
          <div class="card-body border">
            <div class="card-header d-flex justify-content-between align-items-center">
              <b class="text-center">Important Date For Application</b>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label>Start Date :</label>
                <input disabled class="form-control disabled" value="{{dteAffiliationDataModel.StartDate}}" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
                <label>End Date :</label>
                <input disabled class="form-control disabled" value=" {{dteAffiliationDataModel.EndDate}}" />
              </div>
            </div>
          </div>

          <div class="card-body border" *ngIf="AffiliationRegistrationList.length<=0 && dteAffiliationDataModel.IsOpen && dteAffiliationDataModel.ApplicationSession==ApplyAffiliationFY || request.DTE_ARId>0">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <label for="ddlDepartmentID" class="form-label">Department Name <span style="color:red;">*</span></label>
                <select class="form-control" id="ddlDepartmentID" name="ddlDepartmentID" [(ngModel)]="request.DepartmentID" formControlName="ddlDepartmentID" [attr.disabled]="is_disableDepartment ? '' : null">
                  <option value="0" selected>--Select Department--</option>
                  <option *ngFor="let item of DepartmentList" value="{{item.DepartmentID}}">{{item.DepartmentName}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlDepartmentID.errors" class="text-danger">
                  <p *ngIf="!form.ddlDepartmentID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <!--(change)="SelectionOnchange()"-->
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                <label for="ddlCollegeStatusId" class="form-label">Status Of College<span style="color:red;">*</span></label>
                <select class="form-control" id="ddlCollegeStatusId" name="ddlCollegeStatusId" [(ngModel)]="request.CollegeStatusId" formControlName="ddlCollegeStatusId" [attr.disabled]="is_disableCollegeStatus ? '' : null">
                  <option value="0" selected>--Select Status Category--</option>
                  <option *ngFor="let item of StatusOfCollegeList" value="{{item.ID}}">{{item.Name}}</option>
                </select>
                <div *ngIf="isSubmitted&&form.ddlCollegeStatusId.errors" class="text-danger">
                  <p *ngIf="!form.ddlCollegeStatusId.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                <label for="txtCollege_Name" class="form-label">College Name<span style="color:red;">*</span></label>
                <input type="text" id="txtCollege_Name" placeholder="Enter the College Name" formControlName="txtCollege_Name" maxlength="100" class="form-control" [(ngModel)]="request.College_Name" (keypress)="alphaOnly($event)" autocomplete="off">
                <div *ngIf="isSubmitted&&form.txtCollege_Name.errors" class="text-danger">
                  <p *ngIf="form.txtCollege_Name.errors.required">This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                <label for="txtMobile_Number" class="form-label mb-0">Mobile Number <span style="color:red;">*</span></label>
                <input type="text" class="form-control" placeholder="Enter the Mobile Number" id="txtMobile_Number" name="txtMobile_Number" formControlName="txtMobile_Number" [(ngModel)]="request.Mobile_Number" maxlength="10" (keypress)="numberOnly($event)">

                <div *ngIf="isSubmitted&&form.txtMobile_Number.errors" class="text-danger">
                  <p *ngIf="form.txtMobile_Number.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                <label for="txtEmail_Address" class="form-label mb-0">Email Address <span style="color:red;">*</span> </label>
                <input type="text" class="form-control" placeholder="Enter the Email Address" id="txtEmail_Address" name="txtEmail_Address" formControlName="txtEmail_Address" [(ngModel)]="request.Email_Address">

                <div *ngIf="isSubmitted&&form.txtEmail_Address.errors" class="text-danger">
                  <p *ngIf="form.txtEmail_Address.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3" *ngIf="ShowAffilationType==true">
                <label for="ddlAffiliationType" class="form-label">Affiliation Type<span style="color:red;">*</span></label>
                <select class="form-select" id="ddlAffiliationType" name="ddlAffiliationType" [(ngModel)]="request.AffiliationTypeID" formControlName="ddlAffiliationType">
                  <option value="0" disabled>--Select Affiliation Type--</option>
                  <option *ngFor="let item of AffiliationType" value="{{item.ID}}">
                    {{item.Name}}
                  </option>
                </select>
                <p class="text-danger" *ngIf="isSubmitted &&  ApplyAffiliation =='Existing' && request.AffiliationTypeID==0"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
          </div>
          <div class="card-footer text-end" *ngIf="AffiliationRegistrationList.length<=0 && dteAffiliationDataModel.IsOpen && dteAffiliationDataModel.ApplicationSession==ApplyAffiliationFY || request.DTE_ARId>0">
            <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave" (click)="SaveData()">Register</button>
            <button type="submit" class="btn btn-danger" id="btnReset" name="btnReset" (click)="ResetControl()">Reset</button>
          </div>

        </div>
      </form>

      <div class="card mb-0" *ngIf="AffiliationRegistrationList.length>0">
        <div class="card-header d-xxl-flex d-xl-flex d-md-flex d-sm-block justify-content-between align-items-center">
          <b><i class="bi bi-table"></i>Affiliatation Registration List </b>
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center table-filter mr-15">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tabelDiv">
            <div class="tabelDivHeader">
              <div class="tabelDivRow">
             
                <div>
                  Sr.No.
                </div>
                <div>
                  Department Name
                </div>
                <div>
                  College Status
                </div>
                <div>
                  College Name
                </div>
                <div>
                  Mobile Number
                </div>
                <div>
                  Email Id
                </div>
                <div *ngIf="ShowAffilationType==true">
                  Affiliation Type
                </div>
              </div>
            </div>
            <div class="tabelDivBody">
              <div class="tableRowLoop" *ngFor="let row of AffiliationRegistrationList| tableSearchFilter:searchText;let idx=index; ">
                <div class="tabelDivRow">
                  <div>
                    {{idx+1}}
                  </div>
                  <div>
                    {{row.DepartmentName_English}}
                  </div>
                  <div>
                    {{row.AffiliationCategoryName}}
                  </div>
                  <div>
                    {{row.College_Name}}
                  </div>
                  <div>
                    {{row.Mobile_Number}}
                  </div>
                  <div>
                    {{row.Email_Address}}
                  </div>
                  <div *ngIf="ShowAffilationType==true">
                    {{row.AffiliationTypeName}}
                  </div>
                </div>
                <div class="tabelDivRow text-center fullWidth" style="text-align:center;">
                  <div class="d-flex justify-content-center" *ngIf="row.IsSubmitedOtherDetailsform !=1">
                    <button type="button" *ngIf="row.IsMakePayment!=1 &&  this.IsOpen==true" (click)="Edit_OnClick(row.DepartmentID,row.DTE_ARId,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId,row.IsMakePayment)" [attr.disabled]="isDisabledGrid ? true : null" title="Continue For Registration" class="btn btn-sm btn-success me-2">Continue For Registration</button>
                    <button type="button" *ngIf="row.IsMakePayment!=0" (click)="View_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" [attr.disabled]="isDisabledGrid ? true : null" title="View" class="btn btn-sm btn-info me-2"><i class="fa fa-eye"></i></button>
                    <a href="javascript:void(0)" *ngIf="row.IsMakePayment!=0" (click)="ApplicationSummary_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" class="btn btn-sm btn-secondary me-2">
                      View BTER Application
                    </a>
                    <a class="btn btn-sm btn-info me-2"
                       *ngIf="(row.IsMakePayment==1 || row.IsMakePayment==0)" href="javascript:void(0)" title="Payment History" (click)="PaymentHistoryApplyBTERApplication_click(mymodalpaymenthistory,row.DTEAffiliationID)">
                      Payment History
                    </a>
                  </div>
                  <div class="d-flex justify-content-center" *ngIf="row.IsSubmitedOtherDetailsform !=0">
                    <button type="button" *ngIf="row.IsMakePayment!=1 &&  this.IsOpen==true" (click)="Edit_OnClick(row.DepartmentID,row.DTE_ARId,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId,row.IsMakePayment)" [attr.disabled]="isDisabledGrid ? true : null" title="Check Your Filled Form and Go To Make Payments" class="btn btn-sm btn-info me-2">Check Your Filled Form and Go To Make Payments</button>
                    <button type="button" *ngIf="row.IsMakePayment!=0" (click)="View_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" [attr.disabled]="isDisabledGrid ? true : null" title="View" class="btn btn-sm btn-info me-2"><i class="fa fa-eye"></i></button>
                    <a href="javascript:void(0)" *ngIf="row.IsMakePayment!=0" (click)="ApplicationSummary_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" class="btn btn-sm btn-secondary me-2">
                      View BTER Application
                    </a>
                    <a class="btn btn-sm btn-info me-2"
                       *ngIf="(row.IsMakePayment==1 || row.IsMakePayment==0)" href="javascript:void(0)" title="Payment History" (click)="PaymentHistoryApplyBTERApplication_click(mymodalpaymenthistory,row.DTEAffiliationID)">
                      Payment History
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive d-none">
            <table class="table table-bordered" id="tabellist">
              <thead>
                <tr>
                  <th>
                    Action
                  </th>
                  <th>
                    Sr.No.
                  </th>
                  <th>
                    Department Name
                  </th>
                  <th>
                    College Status
                  </th>
                  <th>
                    College Name
                  </th>
                  <th>
                    Mobile Number
                  </th>
                  <th>
                    Email Id
                  </th>
                  <th *ngIf="ShowAffilationType==true">
                    Affiliation Type
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of AffiliationRegistrationList| tableSearchFilter:searchText;let idx=index; ">
                  <td>
                    <div class="d-flex" *ngIf="row.IsSubmitedOtherDetailsform !=1">
                      <button type="button" *ngIf="row.IsMakePayment!=1 &&  this.IsOpen==true" (click)="Edit_OnClick(row.DepartmentID,row.DTE_ARId,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" [attr.disabled]="isDisabledGrid ? true : null" title="Continue For Registration" class="btn btn-sm btn-success">Continue For Registration</button>
                      <button type="button" *ngIf="row.IsMakePayment!=0" (click)="View_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" [attr.disabled]="isDisabledGrid ? true : null" title="View" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
                      <a href="javascript:void(0)" *ngIf="row.IsMakePayment!=0" (click)="ApplicationSummary_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" class="btn btn-sm btn-secondary">
                        View BTER Application
                      </a>
                      <a class="btn btn-sm btn-info"
                         *ngIf="(row.IsMakePayment==1 || row.IsMakePayment==0)" href="javascript:void(0)" title="Payment History" (click)="PaymentHistoryApplyBTERApplication_click(mymodalpaymenthistory,row.DTEAffiliationID)">
                        Payment History
                      </a>
                    </div>
                    <div class="d-flex" *ngIf="row.IsSubmitedOtherDetailsform !=0">
                      <button type="button" *ngIf="row.IsMakePayment!=1 &&  this.IsOpen==true" (click)="Edit_OnClick(row.DepartmentID,row.DTE_ARId,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" [attr.disabled]="isDisabledGrid ? true : null" title="Check Your Filled Form and Go To Make Payments" class="btn btn-sm btn-info">Check Your Filled Form and Go To Make Payments</button>
                      <button type="button" *ngIf="row.IsMakePayment!=0" (click)="View_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" [attr.disabled]="isDisabledGrid ? true : null" title="View" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
                      <a href="javascript:void(0)" *ngIf="row.IsMakePayment!=0" (click)="ApplicationSummary_OnClick(row.DepartmentID,row.DTEAffiliationID,row.AffiliationCategoryName,row.CollegeStatusId)" class="btn btn-sm btn-secondary">
                        View BTER Application
                      </a>
                      <a class="btn btn-sm btn-info"
                         *ngIf="(row.IsMakePayment==1 || row.IsMakePayment==0)" href="javascript:void(0)" title="Payment History" (click)="PaymentHistoryApplyBTERApplication_click(mymodalpaymenthistory,row.DTEAffiliationID)">
                        Payment History
                      </a>
                    </div>
                  </td>
                  <td>
                    {{idx+1}}
                  </td>
                  <td>
                    {{row.DepartmentName_English}}
                  </td>
                  <td>
                    {{row.AffiliationCategoryName}}
                  </td>
                  <td>
                    {{row.College_Name}}
                  </td>
                  <td>
                    {{row.Mobile_Number}}
                  </td>
                  <td>
                    {{row.Email_Address}}
                  </td>
                  <td *ngIf="ShowAffilationType==true">
                    {{row.AffiliationTypeName}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <ng-template #mymodalpaymenthistory let-modal>
        <app-loader></app-loader>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-applynocview-title" style="font-size: 17px; font-weight: 600 !important;">
            Payment History
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-header">
                  <b>Payment History</b>
                </div>
                <div class="card-body">


                  <div class="row">
                    <div class="table-responsive maxheight600px">
                      <table class="table table-hover table-striped-columns">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>PRN No</th>
                            <th>Transaction Date</th>
                            <th>Payment Status</th>
                            <th>Is Refunded</th>
                            <th>Amount</th>
                            <th>Message</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let paymentdetails of PaymentHistoryDetails;let idx=index;">
                            <td>{{idx+1}}</td>
                            <td>
                              <label>{{paymentdetails.PaymentID}}</label>
                            </td>
                            <td>
                              <label>{{paymentdetails.TransactionDate}}</label>
                            </td>
                            <td>
                              <label>{{paymentdetails.STATUS}} </label>
                            </td>
                            <td>
                              <label>{{paymentdetails.strRefund}}</label>
                            </td>
                            <td>
                              <label>{{paymentdetails.Amount}}</label>
                            </td>
                            <td>
                              <label>{{paymentdetails.ResponseMessage}}</label>
                            </td>

                            <td>
                              <button *ngIf="paymentdetails.STATUS!='SUCCESS' && paymentdetails.STATUS!='FAILED'" type="button" id="btnCheckStatus" class="btn btn-primary btn-sm" (click)="CheckStatus_click(paymentdetails)">Check Status</button>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="7" *ngIf="PaymentHistoryDetails.length==0" style="color:red"> No Data Found.!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end-->
        </div>
      </ng-template>
    </div>
  </div>




</div>
