<app-loader></app-loader>
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Draft Application Summary</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Summary</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents" id="ApplicationSummary">
  <div class="row">
    <div class="col-md-12 text-end">
      <input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="btnViewPDfPreview(myApplicationSummery)" />
    </div>
    <div class="col-md-12">
      <mat-stepper orientation="vertical">
        <mat-step state="chat">
          <ng-template matStepLabel>Legal Entity </ng-template>
          <ng-template matStepContent>
            <app-preview-legal-entity></app-preview-legal-entity>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step state="chat">
          <ng-template matStepLabel>College Detail</ng-template>
          <ng-template matStepContent>
            <app-preview-college></app-preview-college>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step state="chat">
          <ng-template matStepLabel>Course Detail</ng-template>
          <ng-template matStepContent>
            <app-preview-course-detail></app-preview-course-detail>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step state="chat">
          <ng-template matStepLabel>College Management Society</ng-template>
          <app-college-management-society></app-college-management-society>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step state="chat">
          <ng-template matStepLabel>Land Details</ng-template>
          <app-preview-land-detail></app-preview-land-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step state="chat">
          <ng-template matStepLabel>Facility</ng-template>
          <app-preview-facility-detail></app-preview-facility-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel>Required Document</ng-template>
          <app-preview-required-document></app-preview-required-document>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel>Class Room Details</ng-template>
          <app-preview-room-detail></app-preview-room-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel *ngIf="SelectedDepartmentID==6">Clinical Details</ng-template>
          <ng-template matStepLabel *ngIf="SelectedDepartmentID !=6">Other Information</ng-template>
          <app-preview-other-information></app-preview-other-information>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step state="chat">
          <ng-template matStepLabel>Building Documents</ng-template>
          <app-preview-building-detail></app-preview-building-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat" *ngIf="CollegeType_IsExisting">
          <ng-template matStepLabel>Staff Details</ng-template>
          <app-preview-staff-detail></app-preview-staff-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step *ngIf="CollegeType_IsExisting" state="chat">
          <ng-template matStepLabel>OLD NOC Details</ng-template>
          <app-preview-old-nocdetail></app-preview-old-nocdetail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step *ngIf="CollegeType_IsExisting" state="chat">
          <ng-template matStepLabel>Academic Information</ng-template>
          <app-preview-academic-information></app-preview-academic-information>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel>Other Document</ng-template>
          <app-preview-other-document></app-preview-other-document>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat" *ngIf="SelectedDepartmentID==6">
          <ng-template matStepLabel>Hospital Details</ng-template>
          <app-preview-hospital-detail></app-preview-hospital-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat" *ngIf="SelectedDepartmentID==9">
          <ng-template matStepLabel>Hospital Details</ng-template>
          <app-preview-paramedical-hospital-detail></app-preview-paramedical-hospital-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat" *ngIf="SelectedDepartmentID==6 || SelectedDepartmentID==3">
          <ng-template matStepLabel>Hostel Details</ng-template>
          <app-preview-hostel-details></app-preview-hostel-details>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat" *ngIf="SelectedDepartmentID==2">
          <ng-template matStepLabel>Veterinary Hospital</ng-template>
          <app-preview-veterinary-hospital></app-preview-veterinary-hospital>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat" *ngIf="SelectedDepartmentID==1">
          <ng-template matStepLabel>Farm Land Details</ng-template>
          <app-preview-farm-land-details></app-preview-farm-land-details>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel>Apply Noc Details</ng-template>
          <app-preview-apply-noc-detail></app-preview-apply-noc-detail>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel>FDR Details</ng-template>
          <app-preview-fdr-detail></app-preview-fdr-detail>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step state="chat">
          <ng-template matStepLabel>Payment Details</ng-template>
          <app-preview-payment-detail></app-preview-payment-detail>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="chat">
          <mat-icon>forum</mat-icon>
        </ng-template>
      </mat-stepper>
    </div>
  </div>
</div>

<!--// model pdf-->
<ng-template #myApplicationSummery let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-applynocview-title" style="font-size: 17px; font-weight: 600 !important;">
      Application Preview for PDf <!--: {{ApplyNocApplicationDetail.ApplicationNo}}-->
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <!--application details-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <!--Legal entity-->
          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover table-striped-columns text-left" id="LegalBasicInfo" #content>
                  <thead>
                    <tr>
                      <td colspan="3" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Legal Entity</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <label>Legal Entity :- {{legalEntityListData1.IsLegalEntity}}</label>
                      </td>
                      <td>
                        <label>SSOID :- {{LegalEntityDataModel.SSOID}}</label>
                      </td>
                      <td>
                        <label>Date Of Registration :- {{legalEntityListData1.SocietyRegistrationDate}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Registration No :- {{legalEntityListData1.RegistrationNo}}</label>
                      </td>
                      <td>
                        <label>President Mobile Number :- {{legalEntityListData1.PresidentMobileNo}}</label>
                      </td>
                      <td>
                        <label>President Email ID :- {{legalEntityListData1.PresidentEmail}}</label>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label>Name  :- {{legalEntityListData1.SocietyName}}</label>
                      </td>
                      <td>
                        <label>Present Status :- {{legalEntityListData1.SocietyPresentStatusName}}</label>
                      </td>
                      <td>
                        <label>State  :- {{legalEntityListData1.StateName_English}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>District  :- {{legalEntityListData1.District_Eng}}</label>
                      </td>
                      <td>
                        <label>Act (Which Act You Registered)  :- {{legalEntityListData1.RegisteredAct}}</label>
                      </td>
                      <td *ngIf="legalEntityListData1.RegisteredAct=='Other'">
                        <label>Act (Which Act You Registered)  :- {{legalEntityListData1.RegisteredActName}}</label>
                      </td>

                    </tr>
                    <tr>
                      <td>
                        <label>Date of Election of Present Management Committee :- {{legalEntityListData1.ElectionPresentManagementCommitteeDate}}</label>
                      </td>
                      <td>
                        <label>Registered Address :- {{legalEntityListData1.SocietyRegisteredAddress}}</label>
                      </td>
                      <td>
                        <label>Pincode :- {{legalEntityListData1.Pincode}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Other Institution run by the Society :- {{legalEntityListData1.IsOtherInstitution}}</label>
                      </td>
                      <td>
                        <label>Women Member of Management Committee is more than 30% of Total Members :- {{legalEntityListData1.IsWomenMembers}}</label>
                      </td>
                      <td>
                        <label>Date of Election of Management Committee not more than 3 Year :- {{legalEntityListData1.IsDateOfElection}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Management Committee certified By Registrar :- {{legalEntityListData1.ManagementCommitteeCertified}}</label>
                      </td>
                      <td>
                        <label>PAN Number :- {{legalEntityListData1.SocietyPANNumber}}</label>
                      </td>
                      <td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped" id="TrusteeMemberDetails" #content>
                    <thead>
                      <tr>
                        <td colspan="4" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Trustee Member Details</b></td>
                      </tr>

                    </thead>
                    <tbody>
                      <tr>
                        <th>Trust Logo</th>
                        <th>Trustee Member Proof</th>
                        <th>Pan Proof</th>
                        <th>Registration Document</th>
                      </tr>
                      <tr>
                        <td>
                          <a *ngIf="!legalEntityListData1.TrustLogoDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.TrustLogoDocPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{legalEntityListData1.TrustLogoDocPath}}" alt="Trust Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="legalEntityListData1.TrustLogoDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.TrustLogoDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                        </td>
                        <td>
                          <a *ngIf="!legalEntityListData1.TrusteeMemberProofDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.TrusteeMemberProofDocPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{legalEntityListData1.TrusteeMemberProofDocPath}}" alt="Trustee Member Proof" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="legalEntityListData1.TrusteeMemberProofDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.TrusteeMemberProofDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                        </td>
                        <td>
                          <a *ngIf="!legalEntityListData1.SocietyPanProofDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.SocietyPanProofDocPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{legalEntityListData1.SocietyPanProofDocPath}}" alt="Society Pan Proof" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="legalEntityListData1.SocietyPanProofDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.SocietyPanProofDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                        </td>
                        <td>
                          <a *ngIf="!legalEntityListData1.RegistrationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.RegistrationDocPath}}" data-caption="Image 10" title="click here to zoom">
                            <img src="{{legalEntityListData1.RegistrationDocPath}}" alt="Registration Doc" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                          </a>
                          <a class="bi bi-file-earmark-pdf-fill" *ngIf="legalEntityListData1.RegistrationDocPath.includes('.pdf')" data-fancybox="gallery" href="{{legalEntityListData1.RegistrationDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="TrusteeGeneralInfoList.length>0">
              <div class="col-md-12">
                <div class="card">

                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="TrusteeGeneralDetails" #content>
                            <thead>
                              <tr>
                                <td colspan="7" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Trustee General Info</b></td>
                              </tr>

                            </thead>
                            <tbody>
                              <tr>
                                <th>
                                  Sr.No.
                                </th>
                                <th>
                                  Election Present Management Committee Date
                                </th>
                                <th>
                                  Women Members Of Management Committee
                                </th>
                                <th>
                                  Election Of Management Committee
                                </th>
                                <th>
                                  Other Institution run by the Society
                                </th>
                                <th>
                                  Society Registration Document
                                </th>
                                <th>
                                  Society Logo
                                </th>
                              </tr>
                              <tr *ngFor="let row of TrusteeGeneralInfoList;let idx=index;">
                                <td>
                                  {{idx+1}}
                                </td>
                                <td>
                                  {{row.DateOfElectionOfPresentManagementCommittee | date:'dd-MM-yyyy'}}
                                </td>
                                <td>
                                  {{row.WomenMembersOfManagementCommitteeID==1?'Yes':'No'}}
                                </td>
                                <td>
                                  {{row.DateOfElectionOfManagementCommitteeID==1?'Yes':'No'}}
                                </td>
                                <td>
                                  {{row.OtherInstitutionRunByTheSocietyID==1?'Yes':'No'}}
                                </td>
                                <td>
                                  <a *ngIf="!row.SocietyRegistrationDocument.includes('.pdf')" data-fancybox="gallery" href="{{row.SocietyRegistrationDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                                    <img src="{{row.SocietyRegistrationDocumentPath}}" alt="Society Registration Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                                  </a>
                                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.SocietyRegistrationDocument.includes('.pdf')" data-fancybox="gallery" href="{{row.SocietyRegistrationDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                                  <label *ngIf="row.SocietyRegistrationDocument=='N/A'">{{row.SocietyRegistrationDocument}}</label>
                                </td>
                                <td>
                                  <a *ngIf="!row.SocietyLogo.includes('.pdf')" data-fancybox="gallery" href="{{row.SocietyLogoPath}}" data-caption="Image 10" title="click here to zoom">
                                    <img src="{{row.SocietyLogoPath}}" alt="Society Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                                  </a>
                                  <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.SocietyLogo.includes('.pdf')" data-fancybox="gallery" href="{{row.SocietyLogoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                                  <label *ngIf="row.SocietyLogo=='N/A'">{{row.SocietyLogo}}</label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="legalEntityMemberDetailData.length>0">
              <div class="col-md-12">
                <div class="card mb-0">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped" id="LegalMemberDetails" #content>
                        <thead>
                          <tr>
                            <td colspan="10" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Member Details</b></td>
                          </tr>

                        </thead>
                        <tbody>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Member Name</th>
                            <th>Father's Name</th>
                            <th>Date Of Birth</th>
                            <th>Mobile No.</th>
                            <th>Post</th>
                            <th>Aadhaar Number</th>
                            <th>Member Photo</th>
                            <th>Member Sing</th>
                            <th>Aadhaar Document</th>
                          </tr>
                          <tr *ngFor="let row of legalEntityMemberDetailData; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.MemberName}}</td>
                            <td>{{row.MemberFatherName}}</td>
                            <td>{{row.MemberDOB}}</td>
                            <td>{{row.MemberMobileNo}}</td>
                            <td>{{row.MemberPostName}}</td>
                            <td>{{row.PresidentAadhaarNumber}}</td>
                            <td>
                              <a *ngIf="!row.MemberPhotoPath.includes('.pdf') && row.MemberPhotoPath!='N/A'" data-fancybox="gallery" href="{{row.MemberPhotoPath}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.MemberPhotoPath}}" alt="Member Photo" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="row.MemberPhotoPath=='N/A'">{{row.MemberPhotoPath}}</label>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.MemberPhotoPath.includes('.pdf') && row.MemberPhotoPath!='N/A'" data-fancybox="gallery" href="{{row.MemberPhotoPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>

                            </td>
                            <td>
                              <a *ngIf="!row.MemberSignaturePath.includes('.pdf') && row.MemberSignaturePath!='N/A'" data-fancybox="gallery" href="{{row.MemberSignaturePath}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.MemberSignaturePath}}" alt="Member Signature" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="row.MemberSignaturePath=='N/A'">{{row.MemberSignaturePath}}</label>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.MemberSignaturePath.includes('.pdf')  && row.MemberSignaturePath!='N/A'" data-fancybox="gallery" href="{{row.MemberSignaturePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>

                            </td>
                            <td>
                              <a *ngIf="!row.PresidentAadhaarProofDocPath.includes('.pdf') && row.PresidentAadhaarProofDocPath!='N/A'" data-fancybox="gallery" href="{{row.PresidentAadhaarProofDocPath}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.PresidentAadhaarProofDocPath}}" alt="Member Signature" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="row.PresidentAadhaarProofDocPath=='N/A'">{{row.PresidentAadhaarProofDocPath}}</label>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.PresidentAadhaarProofDocPath.includes('.pdf')  && row.PresidentAadhaarProofDocPath!='N/A'" data-fancybox="gallery" href="{{row.PresidentAadhaarProofDocPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="legalEntityInstituteDetailData.length>0">
              <div class="col-md-12">
                <div class="card mb-0">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped" id="LegalInstituteDetails" #content>
                        <thead>
                          <tr>
                            <td colspan="7" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Institute Details</b></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Registration No.</th>
                            <th>Institute Name</th>
                            <th>Contact Person Name</th>
                            <th>Designation</th>
                            <th>Contact Number</th>
                            <th>State</th>
                          </tr>
                          <tr *ngFor="let row of legalEntityInstituteDetailData; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.RegistrationNo}}</td>
                            <td>{{row.InstituteName}}</td>
                            <td>{{row.InstitutePersonName}}</td>
                            <td>{{row.InstituteDesignation}}</td>
                            <td>{{row.InstituteContactNumber}}</td>
                            <td>{{row.StateName_English}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--College details-->
          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover table-striped-columns text-left" id="CollegeBasicInfo" #content>
                  <thead>
                    <tr>
                      <td colspan="3" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;College Detail</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <label>Department :-{{collegeListData.DepartmentName_English}}</label>
                      </td>
                      <td>
                        <label>College Status :-{{collegeListData.CollegeStatus}}</label>
                      </td>
                      <td>
                        <label><b>College Logo :- <img src="{{collegeListData.CollegeLogoPath}}" alt="College Logo" style="width:50px !important;height:50px !important;" class="img-thumbnail" /> </b></label>
                      </td>
                    </tr>
                    <tr>
                      <td *ngIf="collegeListData.CollegeStatus!='New'">
                        <label>Present Status of College :-{{collegeListData.PresentCollegeStatus}}</label>
                      </td>
                      <td>
                        <label>College Type :-{{collegeListData.CollegeType}}</label>
                      </td>
                      <td>
                        <label>College Level :-{{collegeListData.CollegeLevel}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>College Code :-{{collegeListData.CollegeCode}}</label>
                      </td>
                      <td>
                        <label>College Name in English :-{{collegeListData.CollegeNameEn}}</label>
                      </td>
                      <td>
                        <label>College Name in Hindi :- NAresh college</label><!--{{collegeListData.CollegeNameHi}}-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>IS Your College NAAC Accredited :-{{collegeListData.CollegeNAACAccredited}}</label>
                      </td>
                      <td *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
                        <label>NAAC Accredited Certificate :-{{collegeListData.NAACAccreditedCertificatePath}}</label>
                      </td>

                      <td *ngIf="collegeListData.CollegeNAACAccredited =='Yes'">
                        <label>NACC Validity Date :-{{collegeListData.NACCValidityDate | date:'dd-MM-yyyy'}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td *ngIf="collegeListData.DepartmentID==3">
                        <label>AISHE Code Status :-{{collegeListData.AISHECodeStatus}}</label>
                      </td>
                      <td *ngIf="collegeListData.AISHECodeStatus =='Yes' && collegeListData.DepartmentID==3">
                        <label>AISHE Code :-{{collegeListData.AISHECode}}</label>
                      </td>
                      <td>
                        <label>College Medium :-{{collegeListData.CollegeMediumName}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label *ngIf="collegeListData.DepartmentID==6">University / RMC  :-{{collegeListData.UniversityName}}</label>
                        <label *ngIf="collegeListData.DepartmentID !=6">University :-{{collegeListData.UniversityName}}</label>
                      </td>
                      <td *ngIf="collegeListData.CollegeStatus!='New'">
                        <label>Year of Establishment :-{{collegeListData.FinancialYearName}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Division :-{{collegeListData.Division_English}}</label>
                      </td>
                      <td>
                        <label>District :-{{collegeListData.District_Eng}}</label>
                      </td>
                      <td>
                        <label>Subdivision :-{{collegeListData.SubdivisionName}}{{collegeListData.SubdivisionName}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Tehsil :-{{collegeListData.TehsilName}}</label>
                      </td>
                      <td>
                        <label>Area :-{{collegeListData.RuralUrbanArea}}</label>
                      </td>
                      <td *ngIf="collegeListData.RuralUrbanArea=='Rural'">
                        <label>Panchayat Samiti :-{{collegeListData.PanchyatSamitiName}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td *ngIf="collegeListData.RuralUrbanArea=='Urban'">
                        <label>City :-{{collegeListData.CityName}}</label>
                      </td>
                      <td>
                        <label>Parliament Area :-{{collegeListData.ParliamentAreaName}}</label>
                      </td>
                      <td>
                        <label>Assembly Area :-{{collegeListData.AssemblyAreaName}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>City/Town/Village :-{{collegeListData.CityTownVillage}}</label>
                      </td>

                      <td>
                        <label>Pincode :-{{collegeListData.Pincode}}</label>
                      </td>
                      <td>
                        <label>Address Line 1 :-{{collegeListData.AddressLine1}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Address Line 2 :-{{collegeListData.AddressLine2}}</label>
                      </td>

                      <td *ngIf="collegeListData.RuralUrbanArea=='Rural'">
                        <label>Distance from City(km) :-{{collegeListData.DistanceFromCity}}</label>
                      </td>
                      <td>
                        <label>Website Link :-{{collegeListData.WebsiteLink}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Mobile Number :-{{collegeListData.MobileNumber}}</label>
                      </td>
                      <td>
                        <label>Landline Number :-{{collegeListData.CollegeLandlineNumber}}</label>
                      </td>
                      <td>
                        <label>Email :-{{collegeListData.Email}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row" *ngIf="CollegeGeoTaggingList.length>0">
              <div class="col-md-12">
                <div class="card mb-0">
                  <!--<div class="card-header">
            <b><i class="bi bi-table"></i> Geo Tagging Status Details </b>
          </div>-->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped" id="CollegeGeoTagging" #content>
                        <thead>
                          <tr>
                            <td colspan="6" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Geo Tagging Status Details</b></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Sr.No.</th>
                            <th>Geo Tagging Status</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Image 1</th>
                            <th>Image 2</th>
                          </tr>
                          <tr *ngFor="let row of CollegeGeoTaggingList; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.IsGeoTagging}}</td>
                            <td>{{row.TGC_Latitude}}</td>
                            <td>{{row.TGC_Longitude}}</td>
                            <td>
                              <a *ngIf="row.Image1!='N/A'" data-fancybox="gallery" href="{{row.Image1}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.Image1}}" alt="Image 1" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="row.Image1=='N/A'">{{row.Image1}}</label>

                            </td>
                            <td>
                              <a *ngIf="row.Image2!='N/A'" data-fancybox="gallery" href="{{row.Image2}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.Image2}}" alt="Image 2" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <label *ngIf="row.Image1=='N/A'">{{row.Image2}}</label>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="collegeContactDetailsList.length>0">
              <div class="col-md-12">
                <div class="card mb-0">
                  <!--<div class="card-header">
            <b><i class="bi bi-table"></i> Contact Details </b>
          </div>-->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped" id="CollegeContactDetails" #content>
                        <thead>
                          <tr>
                            <td colspan="5" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Contact Details</b></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Sr.No.</th>
                            <th>Name Of Person</th>
                            <th>Designation</th>
                            <th>Mobile Number</th>
                            <th>Email Address</th>
                          </tr>
                          <tr *ngFor="let row of collegeContactDetailsList; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.NameOfPerson}}</td>
                            <td>{{row.DesignationName}}</td>
                            <td>{{row.MobileNumber}}</td>
                            <td>{{row.EmailAddress}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-0">
                  <!--<div class="card-header">
            <b><i class="bi bi-table"></i> General Contact Details </b>
          </div>-->
                  <div class="card-body">
                    <div class="row">
                      <div class="table-responsive">
                        <table class="table table-hover table-striped-columns text-left" id="CollegeGeneralContactDetails" #content>
                          <thead>
                            <tr>
                              <td colspan="3" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;General Contact Details</b></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <label>Designation :- {{collegeListData.DesignationName}}</label>
                              </td>
                              <td>
                                <label>Mobile Number :- {{collegeListData.GCD_MobileNumber}}</label>
                              </td>
                              <td>
                                <label>Landline Number :- {{collegeListData.GCD_LandlineNumber}}</label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="collegeNearestGovernmentHospitalsList.length>0">
              <div class="col-md-12">
                <div class="card mb-0">
                  <!--<div class="card-header">
            <b><i class="bi bi-table"></i> 10 Government hospitals nearest to the institution </b>
          </div>-->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped" id="CollegeHospitalDetails" #content>
                        <thead>
                          <tr>
                            <td colspan="6" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;10 Government hospitals nearest to the institution</b></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Hospital Reg. No.</th>
                            <th>Hospital Name</th>
                            <th>Hospital Address</th>
                            <th>Distance From Institute(KM)</th>
                            <th>Hospital Document</th>
                          </tr>
                          <tr *ngFor="let row of collegeNearestGovernmentHospitalsList; let indexOfelement=index;">
                            <td> {{indexOfelement+1}}</td>
                            <td>{{row.HospitalRegNo}}</td>
                            <td>{{row.HospitalName}}</td>
                            <td>
                              <p class="m-0"><b>Area : </b> {{row.RuralUrbanArea}}</p>
                              <p class="m-0"><b>Address Line 1 : </b> {{row.AddressLine1}}</p>
                              <p class="m-0"><b>Address Line 2 : </b>{{row.AddressLine2}}</p>
                              <p class="m-0"><b>Division : </b> {{row.Division_English}}</p>
                              <p class="m-0"><b>District : </b> {{row.District_Eng}}</p>
                              <p class="m-0"><b>Tehsil : </b>{{row.TehsilName}}</p>
                              <p *ngIf="row.RuralUrban==1" class="m-0"><b>PanchayatSamiti : </b>{{row.PanchyatSamitiName}}</p>
                              <p *ngIf="row.RuralUrban==2" class="m-0"><b>City : </b>{{row.CityName}}</p>
                              <p class="m-0"><b>City/Town/Village : </b>{{row.CityTownVillage}}</p>
                              <p class="m-0"><b>Pincode : </b>{{row.Pincode}}</p>
                            </td>
                            <td>{{row.HospitalDistance}}</td>
                            <td>
                              <a *ngIf="!row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom">
                                <img src="{{row.HospitalDocumentPath}}" alt="Hospital Document" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                              </a>
                              <a class="bi bi-file-earmark-pdf-fill" *ngIf="row.HospitalDocumentPath.includes('.pdf')" data-fancybox="gallery" href="{{row.HospitalDocumentPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px">
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->

          </div>
          <!--Course Details-->
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive" *ngIf="AllCourseList.length>0">
                  <table class="table table-hover table-striped-columns" id="CourseBasicDetails" #content>
                    <thead>
                      <tr>
                        <td colspan="8" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Course Details</b></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Sr.No.</th>
                        <th>Department</th>
                        <th>College Name</th>
                        <th>Course</th>
                        <th>Stream</th>
                        <th style="width:250px !important">Subject</th>
                        <th *ngIf="this.SelectedDepartmentID !=3">Seat</th>
                        <th *ngIf="this.SelectedDepartmentID ==3">No Of Enrolled Students</th>
                      </tr>
                      <tr *ngFor="let row of AllCourseList ; let idx=index;">
                        <td style="width:40px !important"> {{idx+1}}</td>
                        <td>{{row.DepartmentName}}</td>
                        <td>{{row.CollageName}}</td>
                        <td>{{row.CourseName}}</td>
                        <td>{{row.StreamName}}</td>
                        <td style="width:250px !important">{{row.SubjectDetails}}</td>
                        <td *ngIf="this.SelectedDepartmentID !=3">{{row.Dis_Sits}}</td>
                        <td *ngIf="this.SelectedDepartmentID ==3">{{row.NoOfEnrolledStudents}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover table-striped-columns table-sm" id="CollegeManagementSociety" #content>
                    <thead>
                      <tr>
                        <td colspan="8" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;College Management Society</b></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>S.No.</th>
                        <th>College</th>
                        <th>Personal Info</th>
                        <th>Post & Service </th>
                        <th>Other Details </th>
                      </tr>
                      <tr *ngFor="let row of SocietyAllList let idx=index;">
                        <td>{{idx+1}}</td>
                        <td>{{row.CollegeNameEn}}</td>
                        <td>
                          Name:- {{row.PersonName}}<br />
                          Father Name:- {{row.FatherName}}<br />
                          Email:- {{row.Email}}<br />
                          Gender:- {{row.Gender}}<br />
                          MobileNo:- {{row.MobileNo}}<br />
                        </td>

                        <td>
                          Designation:- {{row.DesignationName}}<br />
                          Occupation:- {{row.OccupationName}}<br />
                        </td>
                        <td>
                          Aadhaar No.:- {{row.AadhaarNo}}<br />
                          PAN No.:- {{row.PANNo}}<br />
                          IsPrimary.:- {{row.IsPrimary == false ? 'No' : 'Yes'}}<br />
                          IsAuthorized.:- {{row.IsAuthorized == false ? 'No' : 'Yes'}}<br />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="LandDetails" #content>
                  <thead>
                    <tr>
                      <td colspan="8" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Land Details</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Sr.No.</th>
                      <th>College</th>
                      <th>Land Convereted Type</th>
                      <th>Land Details</th>
                      <th>Land Area/KhasraNo</th>
                      <th>Order No/Date.</th>
                    </tr>
                    <tr *ngFor="let item of LandDetailList; let idx =index">
                      <td>{{idx+1}}</td>
                      <td>{{item.CollegeName}}</td>
                      <td>{{item.IsConvereted}}</td>
                      <td>
                        Owner Name:- {{item.LandOwnerName}}<br />
                        Land Area Situated:- {{item.LandAreaSituatedName}}<br />
                        Document Type Name:- {{item.LandDocumentTypeName}}<br />
                        Land Type Name:- {{item.LandTypeName}}<br />
                      </td>
                      <td>
                        Land Area:- {{item.LandArea}}<br />
                        Khasra No:- {{item.KhasraNo}}<br />
                      </td>
                      <td>
                        Land Conversion Order Date:- {{item.LandConversionOrderDate}}<br />
                        Land Conversion Order No:- {{item.LandConversionOrderNo}}<br />
                        Affidavit Date:- {{item.AffidavitDate}}<br />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover table-striped-columns" id="BuildingDetails" #content>
                  <thead>
                    <tr>
                      <td colspan="8" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Building Details</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Sr. No</th>
                      <th>Building Type</th>
                      <th>Personal Info</th>
                      <th>Own/Rent Order No. & Order Date </th>
                      <th>Fire NOC Validity</th>
                      <th>Building Safety Certificate Order No. & Order Date</th>
                    </tr>
                    <tr *ngFor="let item of lstBuildingDetails let idx=index;">
                      <td>{{idx+1}}</td>
                      <td>{{item.BuildingTypeName}}</td>
                      <td>
                        Owner Name:- {{item.OwnerName}}<br />
                        Rural/Urban:- {{item.RuralUrban}}<br />
                        Address:- {{item.AddressLine1}},{{item.AddressLine2}},{{item.Division_English}},{{item.District_Eng}},{{item.TehsilName}},{{item.PanchyatSamitiName}}<br />
                        ContactNo:- {{item.ContactNo}}<br />
                        Pincode:- {{item.Pincode}}<br />
                        Total Constructed Building Area:- {{item.BuildingHostelQuartersRoadArea}} Sq.Meter<br />
                        Rent Valid Up To:- {{item.Rentvaliditydate}}<br />
                      </td>
                      <td>
                        Order No:- {{item.OwnBuildingOrderNo}}<br />
                        Order Date:- {{item.OwnBuildingOrderDate}}<br />
                      </td>
                      <td>
                        Order No:- {{item.FireNOCOrderNumber}}<br />
                        From Date:- {{item.FromDate}}<br />
                        To Date:- {{item.ToDate}}<br />
                      </td>
                      <td>
                        Order No:- {{item.OrderNo}}<br />
                        Order Date:- {{item.OrderDate}}<br />
                        Expiring On:- {{item.ExpiringOn}}<br />
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="FacilityDetails" #content>
                  <thead>
                    <tr>
                      <td colspan="8" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Facility Details</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Facility Name</th>
                      <th>Is Available</th>
                      <th>No of </th>
                      <th>Minimum Size</th>
                      <th>Image/File</th>
                    </tr>
                    <tr *ngFor="let item of FacilitiesDataAllList ; let indexOfelement=index;">
                      <td> {{indexOfelement+1}}</td>
                      <td>{{item.FacilitiesName}}</td>
                      <td>{{item.IsAvailable}}</td>
                      <td>{{item.NoOf}}</td>
                      <td>
                        {{item.MinSize}}
                      </td>
                      <td>
                        <a *ngIf="!item.FacilitiesUrl.includes('.pdf')" data-fancybox="gallery" href="{{item.FacilitiesUrlPath}}" data-caption="Image 10" title="click here to zoom">
                          <img src="{{item.FacilitiesUrlPath}}" alt="Facilities" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                        </a>
                        <a class="bi bi-file-earmark-pdf-fill" *ngIf="item.FacilitiesUrl.includes('.pdf')" data-fancybox="gallery" href="{{item.FacilitiesUrlPath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="RoomDetails" #content>
                  <thead>
                    <tr>
                      <td colspan="8" style="font-weight:800; font-size:18px;"><b><i class="bi bi-table"></i>&nbsp;Rooms Details</b></td>
                    </tr>
                  </thead>
                 
                    <tr>
                      <th>Sr. No.</th>
                      <th>Course</th>
                      <th>Room No.</th>
                      <th>Width (In Feet) Size</th>
                      <th>Length (In Feet)</th>
                      <th>Room Size (sq. ft)</th>
                      <th>Student Capacity</th>
                      <th>Upload Image</th>
                    </tr>
                  
                  <tbody>
                    <tr *ngFor="let item of RoomDetails; let idx =index">
                      <td width="5%">
                        {{idx+1}}
                      </td>
                      <td>{{item.CourseName}}</td>
                      <td> {{item.NoOfRooms}}</td>
                      <td> {{item.Width}}</td>
                      <td>{{item.Length}}</td>
                      <td> {{item.Length*item.Width}}</td>
                      <td> {{item.StudentCapacity}}</td>
                      <td>
                        <a *ngIf="!item.ImageFilePath.includes('.pdf')" data-fancybox="gallery" href="{{item.ImageFilePath}}" data-caption="Image 10" title="click here to zoom">
                          <img src="{{item.ImageFilePath}}" alt="Image/File" style="width:50px !important;height:50px !important;" class="img-thumbnail" />
                        </a>
                        <a class="bi bi-file-earmark-pdf-fill" *ngIf="item.ImageFilePath.includes('.pdf')" data-fancybox="gallery" href="{{item.ImageFilePath}}" data-caption="Image 10" title="click here to zoom" style="font-size:25px"></a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <input type="button" value="Preview Download PDF" class="btn btn-sm btn-primary" (click)="btnSavePDF_Click()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>




