<app-loader></app-loader>
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<div class="container-fluid breadcrumbBox py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Draft Application Summary</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Application</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Summary</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mainContents" id="ApplicationSummary">
  <div class="row">
    <div class="col-md-12 text-end">
      <!--<input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="TestPDF()" />-->
      <!--<input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="btnViewPDfPreview(myApplicationSummery)" />-->
      <input type="button" value="Download PDF" class="btn btn-sm btn-primary pull-right mb-2" (click)="btnViewPDfPreview('com')" />
    </div>



    <div class="col-md-12" *ngIf="IsManagmentType && SelectedDepartmentID ==3">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Application Deficiency </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <span [innerHTML]="DCPendingPoint" style="color: red !important;"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="IsManagmentType">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Legal Entity </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-legal-entity></app-preview-legal-entity>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> College Detail </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-college></app-preview-college>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="IsManagmentType==true">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> College Management Society </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-college-management-society></app-college-management-society>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="this.SelectedDepartmentID!= 5">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Course Detail </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-course-detail></app-preview-course-detail>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="CollegeType_IsExisting">
      <div class="card mb-0">
        <div class="card-header">
          <b *ngIf="SelectedDepartmentID !=11"><i class="bi bi-table"></i>OLD NOC Details</b>
          <b *ngIf="SelectedDepartmentID ==11"><i class="bi bi-table"></i>First State NOC</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-old-nocdetail></app-preview-old-nocdetail>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Land Details </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-land-detail></app-preview-land-detail>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <!--*ngIf="IsAHDegreeCollege==false"-->
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>  Building Documents </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-building-detail></app-preview-building-detail>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="(this.SelectedDepartmentID!= 5 && this.SelectedDepartmentID!= 11 && IsAHDegreeCollege==false)">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Class Room Details </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-room-detail></app-preview-room-detail>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="SelectedDepartmentID==11">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Class Room Details </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-bed-course-room-detail></app-preview-bed-course-room-detail>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12" *ngIf="SelectedDepartmentID!=5">
      <div class="card mb-0">
        <div class="card-header" *ngIf="SelectedDepartmentID==6">
          <b><i class="bi bi-table"></i>  Clinical Details </b>
        </div>
        <div class="card-header" *ngIf="SelectedDepartmentID!=6">
          <b><i class="bi bi-table"></i>  Other Infrastucture </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-other-information></app-preview-other-information>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="SelectedDepartmentID!=5">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Facility </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-facility-detail></app-preview-facility-detail>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="SelectedDepartmentID==3">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Activity </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-activity-details></app-preview-activity-details>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i> Required Document </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-required-document></app-preview-required-document>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="SelectedDepartmentID!=5 && IsAHDegreeCollege==false">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Other Document</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-other-document></app-preview-other-document>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="(CollegeType_IsExisting && SelectedDepartmentID!=5 && IsAHDegreeCollege==false) || (SelectedDepartmentID==4)">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>  Staff Details </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-staff-detail></app-preview-staff-detail>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="(SelectedDepartmentID==2 && IsAHDegreeCollege)">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>  Staff Details </b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-staff-detail></app-preview-staff-detail>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="CollegeType_IsExisting && (SelectedDepartmentID!=5 && SelectedDepartmentID!=11) && IsAHDegreeCollege==false">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Academic Information</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-academic-information></app-preview-academic-information>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12" *ngIf="SelectedDepartmentID==6 || SelectedDepartmentID==3 || SelectedDepartmentID==4 || SelectedDepartmentID==11">
      <div class="card mb-0">
        <div class="card-header">
          <b><i class="bi bi-table"></i>Hostel Details</b>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <app-preview-hostel-details></app-preview-hostel-details>
          </div>
        </div>
      </div>
    </div>

  </div>





  <div class="col-md-12" *ngIf="SelectedDepartmentID==6 || SelectedDepartmentID==5">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Hospital Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-hospital-detail></app-preview-hospital-detail>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID==9">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Hospital Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-paramedical-hospital-detail></app-preview-paramedical-hospital-detail>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngIf="SelectedDepartmentID==3">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Class Wise Statistics </b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-classwise-static></app-preview-classwise-static>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID==3">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Subject Wise Statistics </b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-subjectwise-static></app-preview-subjectwise-static>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID==2 && IsAHDegreeCollege==false">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Veterinary Hospital</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-veterinary-hospital></app-preview-veterinary-hospital>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID==2 && IsAHDegreeCollege">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Department Wise Infrasturcture</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-ahinfra-department-wise></app-preview-ahinfra-department-wise>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID==1">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Farm Land Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-farm-land-details></app-preview-farm-land-details>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID !=11">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Apply Noc Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-apply-noc-detail></app-preview-apply-noc-detail>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="SelectedDepartmentID !=2 &&  SelectedDepartmentID !=11">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>FDR Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-fdr-detail></app-preview-fdr-detail>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="IsManagmentType &&  SelectedDepartmentID !=11">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Payment Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-payment-detail></app-preview-payment-detail>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngIf="SelectedDepartmentID==9">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Court Order Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-court-order></app-preview-court-order>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12" *ngIf="SelectedDepartmentID==9">
    <div class="card mb-0">
      <div class="card-header">
        <b><i class="bi bi-table"></i>Clinical Facility Details</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-preview-clinical-facility></app-preview-clinical-facility>
        </div>
      </div>
    </div>
  </div>
</div>

<!--// model pdf-->
<!--<app-application-pdf></app-application-pdf>-->
