<div style="text-align:center">
  <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i *ngIf="PaymentStatus == 'Success'" class="checkmark">✓</i>
      <i *ngIf="PaymentStatus != 'Success'" class="checkmarkFail" style="color:red">X</i>
    </div>
    <h1 [ngClass]="PaymentStatus == 'Success' ? 'divSuccess' : 'divFail'">{{PaymentStatus}}</h1>

    <p *ngIf="PaymentStatus == 'Success'">eSign Has Been Successfully </p>
    <p *ngIf="PaymentStatus != 'Success'">eSign Status {{PaymentStatus}}.!</p>

    <br />
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <label>Order Id</label>
          </td>
          <td>{{ApplyNocApplicationID}}</td>
        </tr>
        <tr *ngIf="PaymentStatus == 'Success'">
          <td>
            <label>esignUrl</label>
          </td>
          <td><button (click)="download(signedPDFUrl)">Download esign</button></td>
        </tr>
        <tr>
          <td>
            <label>Status</label>
          </td>
          <td>
            {{PaymentStatus}}
          </td>
        </tr>
        <tr>
          <td>
            <label>TransactionID</label>
          </td>
          <td>{{PRNNo}}</td>
        </tr>
        <tr>
          <td>
            <label>Transaction Message</label>
          </td>
          <td>{{PaymentStatus}}</td>
        </tr>
      </tbody>
    </table>

    <a routerLink="/applynocapplicationdetail" *ngIf="UDF2_PURPOSE !='BTER Affliation'" class="btn btn-success">Exit</a>
    <a routerLink="/btergenerateorderlist/ALL" *ngIf="UDF2_PURPOSE =='BTER Affliation'" class="btn btn-success">Exit</a>




  </div>
</div>
